
@import "./../../../shared/style/_variables"
@import "./../../../shared/style/typography/_typography"
@import "./../../../shared/style/_mediaQueryBlocks"
$speciesPopulation_sitedrawerWidth = 420px

.speciesPopulation {

    //map style
    .speciesPopulationMap {
        .mapboxgl-ctrl-group {
            display none
        }
        &.active {
            .mapboxgl-ctrl-group {
                display block
            }
        }
    }
    .mapboxgl-ctrl-group>button.active{
        background-color #e4e4e4
    }
    .mapboxgl-ctrl-group>button.active{
        background-color #e4e4e4
    }
    article {
        z-index 10
        position relative
        margin-left $speciesPopulation_sitedrawerWidth
    }
    .speciesPopulationMap {
        z-index 10
    }
    aside.site-drawer {
        max-width 100%
        width $speciesPopulation_sitedrawerWidth
    }
    &__mode {
        margin -5px
        >a {
            display inline-block
            width calc(33% - 15px)
            padding 5px
            margin 5px
            background darken($lightBackground, 10)
            text-align center
            transition background 200ms ease
            &.active {
                background #444
                color white
            }
        }
    }
    &__results {
        .card {
            margin-top vrBlock(1)
            table {
                font-size 12px
            }
        }
    }

    .time-slider__card {
        z-index 10
        position absolute
        bottom vrBlock(1)
        right vrBlock(1)
    }
    &__mapTools {
        position absolute
        z-index 20
        top 0
        left 0
        >ul {
            padding 0
            >li {
                position relative
                >a {
                    border-bottom 1px solid #3c3c3c
                    background #444
                    color #888
                    display inline-block
                    width $searchTabBar-height
                    height $searchTabBar-height
                    line-height $searchTabBar-height
                    font-size 30px
                    text-align center
                    &:hover {
                        color white
                    }
                }
                >div {
                    .title {
                        white-space nowrap
                        height $searchTabBar-height
                        line-height $searchTabBar-height
                        display block
                        padding 0 20px
                    }
                    display none
                    position absolute
                    top 0
                    left $searchTabBar-height
                    background #565656
                    color white
                }
                &.is-active {
                    a {
                        color white
                    }
                    >div {
                        display block
                    }
                }
            }
        }
        &__style {
            >div {
                width 300px
                max-width 100vw
                padding 10px
                .gb-select select, .search-box {
                    padding 6px 10px
                    color #444
                }
                input {
                    padding-right 0
                }
            }
        }
    }
    .ct-series-b .ct-line {
        stroke #3bb2d0
    }

    .ct-line {
        stroke-width 2px
    }

    .ct-series-a .ct-point {
        stroke #555
    }
    .ct-series-a .ct-area {
        fill #555//#4d94a5
        fill-opacity 0.5
    }

    .ct-point{
        stroke-width 5px
        stroke-linecap round
        transition all 0.2s linear
    }

    .error {
        color tomato
    }
}


.fillHeight {
    height "calc(100vh - %s)" % $navBar_height
}

.site-drawer {
    &__tabs {
        display flex
        overflow auto
        a {
            display inline-block
            flex 1 0 auto
            text-align center
            padding 5px
            div {
                font-size 20px
            }
            span {
                font-size 10px
            }
        }
    }

    &__section {
        &__content {
        }
    }
}


