.occurrenceKey__locationDescription {
	dd, dt {
		display inline
	}
	dt:after {
		content ':'
	}
}
.classificationList {
	span:after {
		font-style normal
		content ' \276f ' // ❯
		font-size 80%
	}
	span:last-of-type:after {
		display none
	}
}