.occurrenceKey__locationDescription {
	dd, dt {
		display inline
	}
	dt {
		text-transform capitalize
		&:after {
			content ':'
		}
	}
}
.classificationList {
	span:after {
		font-style normal
		content ' \276f ' // ❯
		font-size 80%
		color #ccc
	}
	span:last-of-type:after {
		display none
	}
}