<script type="text/ng-template" id="customTemplate.html">
    <a ng-href="../dataset/{{match.model.key}}">
        <span ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
    </a>
</script>

<aside class="site-drawer" id="filter" ng-class="{'is-active': cms.showDrawer}">

    <header class="site-drawer__header">
        <div>
            <h4 class="">Filter information</h4>
            <span>{{cms.count}} results</span>
        </div>
        <a href="" class="h5 site-drawer__header__action site-drawer__header__close gb-icon-close" ng-click="cms.showDrawer = false"></a>
    </header>

    <div class="site-drawer__section">
        <div class="site-drawer__actions clearfix">
            <a ui-sref="cmsSearchTable({q: cms.freeTextQuery})" ui-sref-opts="{inherit: false}" class="gb-icon-trash inherit discreet pull-right" tooltip-placement="left" uib-tooltip="Clear filters">
                <span class="count badge" ng-show="cms.appliedFilterCount > 0">{{cms.appliedFilterCount}}</span>
            </a>
        </div>
        

        <div ng-repeat="facet in cms.facets | orderBy: cms.sortFacets">
            <div class="site-drawer__facet-group" ng-if="facet.counts.length > 0">
                <h5 translate>{{facet.field | prettifyEnum}}</h5>
                <div ng-repeat="row in facet.counts">
                    <a href="" ng-click="cms.addFilter(facet.field, row.enum)" ng-if="!cms.isFacetInQuery(facet.field, row.enum)">
                        <span>
                            <span class="site-drawer__facet-group__facet">{{row.title}}</span>
                            <span class="site-drawer__facet-group__count">({{row.count}})</span>
                        </span>
                    </a>
                    <span ng-if="cms.isFacetInQuery(facet.field, row.enum)" class="chip">
                        <a href="" ng-click="cms.removeFilter(facet.field, row.name)" class="chip__content">
                            <span class="site-drawer__facet-group__facet">{{row.title}}</span>
                            <span class="close"></span>
                        </a>
                    </span>
                </div>
            </div>
        </div>

    </div>

</aside>

<div class="site-content">


    <div class="fab" fab>
        <div class="fab__trigger">
            <a href="" class="action-flow btn btn-lg btn-highlight btn-circle" tooltip="Filter" ng-click="cms.showDrawer = true"><i class="gb-icon-filter"></i></a>
        </div>
    </div>

    <div class="page">
        <div class="dataset-search-results">
            <div class="horizontal-stripe--paddingless white-background search-bar">
                <div class="drawer-padding">
                    <div class="container--narrow">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="search-bar__form">
                                    <form class="search-bar__term" ng-submit="cms.freeTextSearch()">
                                        <input type="text"
                                               id="siteSearch"
                                               autocomplete="off"
                                               class="fit-suggestions"
                                               ng-model="cms.freeTextQuery"
                                               placeholder="Search for datasets"
                                               uib-typeahead="suggestion.title for suggestion in cms.getSuggestions($viewValue)"
                                               typeahead-on-select="cms.typeaheadSelect($item, $model, $label, $event)"
                                               typeahead-focus-first="false"
                                               typeahead-template-url="customTemplate.html">
                                        <a href="" class="gb-icon-close search-bar__clear ng-cloak" ng-show="cms.freeTextQuery" ng-click="cms.clearFreetextAndSetFocus()"></a>
                                        <a href="" type="submit" class="gb-icon-search search-bar__search" ng-click="cms.freeTextSearch()">
                                            <span class="sr-only">{$ __('stdTerms.search') $}</span>
                                        </a>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <nav class="horizontal-stripe--paddingless light-background search-tabs">
                <div class="drawer-padding">
                    <div class="container--narrow">
                        <div class="row">
                            <div class="col-xs-12">
                                <ul class="tabs">
                                    <li>
                                        <a ui-sref="omniSearch({q:cms.freeTextQuery})" ng-click="occurrence.table.filter = undefined" translate="stdTerms.all">All</a>
                                    </li>
                                    <li>
                                        <a ui-sref="datasetSearchTable({q:cms.freeTextQuery})" ng-click="occurrence.table.filter = 'datasets'" translate="stdTerms.datasets">datasets</a>
                                    </li>
                                    <li>
                                        <a ui-sref="occurrenceSearchTable({q:cms.freeTextQuery})" ng-click="occurrence.table.filter = 'occurrences'" translate="stdTerms.occurrences">occurrences</a>
                                    </li>
                                    <li class="is-active">
                                        <a href="" ng-click="" translate="stdTerms.cms">Information</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>

            <div ui-view>

            </div>
        </div>
    </div>
</div>
