<script type="text/ng-template" id="customTemplate.html">
    <a ng-href="../dataset/{{match.model.key}}">
        <span ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
    </a>
</script>

<aside search-drawer query="{{cms.freeTextQuery}}" content-type="cms" ng-hide="cms.status == 500">

    <div class="site-drawer__section">
        <div class="search-bar">
            <form class="search-bar__term" ng-submit="cms.freeTextSearch()">
                <input type="text"
                       id="siteSearch"
                       autocomplete="off"
                       class="fit-suggestions"
                       ng-model="cms.freeTextQuery"
                       placeholder="Search for information"
                       uib-typeahead="suggestion.title for suggestion in cms.getSuggestions($viewValue)"
                       typeahead-on-select="cms.typeaheadSelect($item, $model, $label, $event)"
                       typeahead-focus-first="false"
                       typeahead-template-url="customTemplate.html">
                <!--<a href="" class="gb-icon-close search-bar__clear ng-cloak" ng-show="dataset.freeTextQuery" ng-click="dataset.clearFreetextAndSetFocus()"></a>-->
                <a href="" type="submit" class="gb-icon-search search-bar__search" ng-click="cms.freeTextSearch()">
                    <span class="sr-only">{$ __('stdTerms.search') $}</span>
                </a>
            </form>
        </div>

        <div ng-repeat="facet in cms.facets | orderBy: cms.sortFacets">
            <div class="site-drawer__facet-group" ng-if="facet.counts.length > 0">
                <h5 translate="cms.facet.{{facet.field}}"></h5>
                <div ng-repeat="row in facet.counts">
                    <a href="" ng-click="cms.addFilter(facet.field, row.key)"
                       ng-if="!cms.isFacetInQuery(facet.field, row.key)">
                        <span>
                            <span ng-if="facet.field == 'type'" class="site-drawer__facet-group__facet"
                                  translate="cms.type.{{row.enum}}"></span>
                            <span ng-if="facet.field == 'language'" class="site-drawer__facet-group__facet"
                                  translate="language.{{row.enum}}"></span>
                            <span ng-if="facet.field == 'category_country'" class="site-drawer__facet-group__facet"
                                  translate="country.{{row.enum}}"></span>
                            <span ng-if="facet.field != 'type' && facet.field != 'language' && facet.field != 'category_country'"
                                  class="site-drawer__facet-group__facet" translate="cms.filter.{{row.enum}}"></span>
                            <span class="site-drawer__facet-group__count">({{row.count}})</span>
                        </span>
                    </a>
                    <span ng-show="cms.isFacetInQuery(facet.field, row.key)" class="chip">
                        <a href="" ng-click="cms.removeFilter(facet.field, row.key)" class="chip__content">
                            <span ng-if="facet.field == 'type'" class="site-drawer__facet-group__facet"
                                  translate="cms.type.{{row.enum}}"></span>
                            <span ng-if="facet.field == 'language'" class="site-drawer__facet-group__facet"
                                  translate="language.{{row.enum}}"></span>
                            <span ng-if="facet.field == 'category_country'" class="site-drawer__facet-group__facet"
                                  translate="country.{{row.enum}}"></span>
                            <span ng-if="facet.field != 'type' && facet.field != 'language' && facet.field != 'category_country'"
                                  class="site-drawer__facet-group__facet" translate="cms.filter.{{row.enum}}"></span>
                            <span class="close"></span>
                        </a>
                    </span>
                </div>
            </div>
        </div>

    </div>

</aside>

<div class="site-content">

    <div class="page">
        <div class="dataset-search-results">
            <div ui-view>

            </div>
        </div>
    </div>
</div>
