.search-results__section {
	.card--info {
		@extends .card
		header {
			padding vr-block(0.5) vr-block(1)
			background none//#efefef
			h3 a {
				color deepskyblue
			}
		}
		.card__definitions {
			padding 0
			>div {
				//margin 0
			}
		}
	}
}