<div class="taxonomyBrowser">
    <div>
        <ul>
            <li ng-repeat="tax in vm.parents">
                <a class="taxonomyBrowser__parent noUnderline inherit" ui-sref=".({key:tax.key})" href="">
                    <div class="taxonomyBrowser__term taxonomyBrowser__rank" translate="taxonRank.{{ tax.rank }}"></div>
                    <div class="taxonomyBrowser__description">
                        <span class="sciname">{{tax.canonicalName}}</span>
                        <span class="small discreet">{{tax.authorship}}</span>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <div>
        <a ui-sref=".({key:vm.acceptedTaxon.key})" ng-if="vm.acceptedTaxon"
           class="taxonomyBrowser__accepted inherit noUnderline">
            <div class="taxonomyBrowser__subheadline">Accepted name</div>
            <span class="taxonomyBrowser__term" translate="taxonRank.{{ vm.acceptedTaxon.rank }}"></span>
            <span class="taxonomyBrowser__description sciname">
                {{vm.acceptedTaxon.canonicalName}}
                <span class="small discreet">{{vm.acceptedTaxon.authorship}}</span>
            </span>
        </a>
    </div>
    <div>
        <!--<div class="small text-center lighter-background seperator">Current</div>-->
        <div class="taxonomyBrowser__current" ng-if="vm.taxon.key">
            <div class="taxonomyBrowser__subheadline" ng-if="vm.taxon.synonym">Synonym</div>
            <span class="taxonomyBrowser__term" translate="taxonRank.{{ vm.taxon.rank }}"></span>
            <div class="taxonomyBrowser__description" ng-class="{taxonomyBrowser__synonym: vm.taxon.synonym}">
                <span ng-if="vm.taxon.synonym" class="synonymSymbol">{{vm.taxon.taxonomicStatus == "HOMOTYPIC_SYNONYM" ? '≡' : '='}}</span>
                <div>
                    <span class="sciname">{{vm.taxon.canonicalName}}</span>
                    <div class="small discreet">{{vm.taxon.authorship}}</div>
                </div>
            </div>

            <div class="taxonomyBrowser__synonyms" ng-if="vm.synonyms.length > 0">
                <!--<span class="taxonomyBrowser__term">Synonyms</span>-->
                <div class="taxonomyBrowser__subheadline">Synonyms</div>
                <ul>
                    <li ng-repeat="tax in vm.synonyms">
                        <div class="taxonomyBrowser__term" translate="taxonRank.{{ tax.rank }}"></div>
                        <div class="taxonomyBrowser__description taxonomyBrowser__synonym">
                            <span class="synonymSymbol">{{tax.taxonomicStatus == "HOMOTYPIC_SYNONYM" ? '≡' : '='}}</span>
                            <div>
                                <a ui-sref=".({key:tax.key})" href="" class="inherit">
                                    <span class="sciname">{{tax.canonicalName}}</span>
                                    <span class="small discreet">{{tax.authorship}}</span>
                                </a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div ng-if="vm.classifiedChildren.length > 0">
        <div class="taxonomyBrowser__headline">Immediate children</div>
        <ul>
            <li class="" ng-repeat="tax in vm.classifiedChildren">
                <a class="taxonomyBrowser__child noUnderline inherit" ui-sref=".({key:tax.key})" href="">
                    <div class="taxonomyBrowser__term" translate="taxonRank.{{ tax.rank }}"></div>
                    <div class="taxonomyBrowser__description">
                        <span>
                            {{tax.canonicalName}}
                            <span class="small discreet">{{tax.authorship}}</span>
                        </span>
                        <div>
                            <!--<a  ng-show="!vm.isOcc && tax.numDescendants > 0"-->
                            <!--href="/species/search?status=ACCEPTED&status=DOUBTFUL&advanced=1&dataset_key={{vm.datasetKey}}&highertaxon_key={{tax.key}}"-->
                            <!--class="inherit small discreet"-->
                            <!--tooltip-placement="right"-->
                            <!--uib-tooltip="{{ tax.numDescendants }} descendants">{{ tax.numDescendants | compactInteger }} decendants</a>-->
                           <span ng-show="!vm.isOcc && tax.numDescendants > 0"
                                 class="inherit small discreet--very">{{ tax.numDescendants | compactInteger }} decendants</span>
                        </div>
                    </div>

                    <span ng-show="vm.isOcc && tax.numOccurrences > 0">
                    <!--<a href="/occurrence/search?dataset_key={{vm.datasetKey}}&taxon_key={{tax.key}}">{{tax.numOccurrences}}</a>-->
                    </span>
                </a>
            </li>
        </ul>


        <!--<div ng-if="vm.unclassifiedChildren.length > 0">-->
        <!--<div class="taxonomyBrowser__unknown seperator clearfix">-->
        <!--<div class="switch-group pull-right">-->
        <!--<p class="small" ng-if="!vm.$sessionStorage.hideIncertaeSedis">Incertae sedis is visible</p>-->
        <!--<p class="small" ng-if="vm.$sessionStorage.hideIncertaeSedis">Incertae sedis is hidden</p>-->
        <!--<input id="speciesLookupDiscardInCsv" type="checkbox" ng-model="vm.$sessionStorage.hideIncertaeSedis"-->
        <!--aria-label="Include incertae sedis" />-->
        <!--<label for="speciesLookupDiscardInCsv" class="switch"></label>-->
        <!--</div>-->
        <!--</div>-->
        <!--<ul ng-if="!vm.$sessionStorage.hideIncertaeSedis">-->
        <!--<li class="taxonomyBrowser__child taxonchild" ng-repeat="tax in vm.unclassifiedChildren">-->
        <!--<span class="taxonomyBrowser__rank" translate="taxonRank.{{ tax.rank }}"></span>-->
        <!--<span class="sciname"><a ui-sref=".({key:tax.key})" href="">{{tax.scientificName}}</a></span>-->
        <!--&lt;!&ndash;<small class="rank">{{tax.rank}}</small>&ndash;&gt;-->
        <!--&lt;!&ndash;<span ng-show="vm.isOcc && tax.numOccurrences > 0">&ndash;&gt;-->
        <!--&lt;!&ndash;<a href="/occurrence/search?dataset_key={{vm.datasetKey}}&taxon_key={{tax.key}}">{{tax.numOccurrences}}</a>&ndash;&gt;-->
        <!--&lt;!&ndash;</span>&ndash;&gt;-->
        <!--&lt;!&ndash;<span ng-show="!vm.isOcc && tax.numDescendants > 0" class="search-link gb-icon-search">&ndash;&gt;-->
        <!--&lt;!&ndash;<a href="/species/search?advanced=1&dataset_key={{vm.datasetKey}}&highertaxon_key={{tax.key}}">{{tax.numDescendants}}</a>&ndash;&gt;-->
        <!--&lt;!&ndash;</span>&ndash;&gt;-->
        <!--</li>-->
        <!--</ul>-->
        <!--<div ng-if="!vm.endOfChildren && !vm.$sessionStorage.hideIncertaeSedis && !vm.loadingChildren" class="m-t-2 text-center">-->
        <!--<a href="" ng-click="vm.getChildren(100)" class="gb-button&#45;&#45;discreet">More</a>-->
        <!--</div>-->
        <!--</div>-->

        <div ng-if="!vm.endOfChildren && !vm.loadingChildren" class="m-t-2 text-center">
            <a href="" ng-click="vm.getChildren(100)" class="gb-button--discreet">More</a>
        </div>
    </div>
    <div ng-if="!vm.loadingChildren && vm.classifiedChildren.length == 0" class="emptyInfo">
        <h3>No children</h3>
    </div>
</div>