.taxonomyBrowser {
  font-size 14px
  a {
    color inherit
  }
  ul {
    padding 8px 0
  }
  &__parent, &__current, &__child, &__accepted {
    padding 8px 20px
  }
  &__current, &__accepted {
    padding 20px
    border 1px solid $stripeBorderColor
    border-width 1px 0
    margin 8px 0
  }
  &__current {
    background white
  }
  &__accepted {
    margin-bottom -9px
  }
  &__rank {
    text-transform capitalize
    font-size 12px
    color $discreetInk
    float right
    margin-left 5px
  }
  &__group {
    text-align right
    margin 0 20px
    >div {
      float none
    }
  }
  &__unknown {
    //text-align center
    //padding 20px
    margin-top 8px
    >span {

    }
  }
  .badge {
    color #66666f
    background #dedede
    font-weight 300
    float right
    margin-left 5px
    //display: inline-block;
    //min-width: 10px;
    //padding: 3px 7px;
    //font-size: 12px;
    //color: #fff;
    //vertical-align: middle;
    //background-color: #777;
    //border-radius: 10px;
  }
}