$secondaryInk = #9cabb3;
.taxonomyBrowser {
    .discreet--very {
        color $secondaryInk
    }
    font-size 14px
    ul {
        padding 0
    }
    &__parent, &__current, &__child {
        padding 8px 10px
        position relative
        display block
    }
    &__child, &__parent, &__accepted {
        background-color transparent
        transition background-color 200ms ease
    }
    &__child:hover, &__parent:hover, &__accepted:hover {
        background-color #e5ebef
    }
    &__current {
        border 1px solid $stripeBorderColor
        border-width 1px 0 0 0
    }
    &__current {
        background white
        padding 15px 10px
        border-width 1px 0
    }
    &__rank {
        font-size 12px
        color $discreetInk
    }
    &__term {
        font-size 12px
        color $secondaryInk//$discreetInk
        width 65px
        display inline-block
        position absolute
        text-overflow ellipsis
        overflow hidden
    }
    &__type {
        font-size 12px
        color $discreetInk
        display block
    }
    &__headline, &__subheadline {
        color $discreetInk//$secondaryInk
        font-size 12px
        margin-left 70px
    }
    &__headline {
        padding 10px
    }
    &__description {
        margin-left 70px
        display block
    }
    &__synonyms {
        margin-top 8px,
        
    }
    &__synonym {
        position relative
        margin-bottom 4px
        > span {
            position absolute
        }
        > div {
            padding-left 15px
            
        }
        &__bordered {
            border-left 2px solid $orangePeel
        
        }
        
    }

    &__basionyms {
        position relative
        margin-top 4px
        margin-left -70px !important
        > span {
            position absolute
        }
        > div {
            padding-left 0px
        }

    }
    &__group {
        text-align right
        margin 0 20px
        > div {
            float none
        }
    }
    &__parent, &__current {
        position relative
    }
    &__action {
        position absolute
        z-index 2
        top 0
        right 0
        display block
        border-radius 50%
        margin 10px
        width 30px
        height 30px
        text-align center
        line-height 30px
        &:hover {
            background rgba(0,0,0,.1)
        }
    }
}

.rtl {
    .taxonomyBrowser {
        &__headline, &__subheadline {
            margin-left 0
            margin-right 70px
        }
        &__description {
            margin-left 0
            margin-right 70px
        }
        &__synonym {
            > div {
                padding-left 0
                padding-right 15px
            }
            &__bordered {
                border-left none
                border-right 2px solid $orangePeel
            }
        }

        &__basionyms {
            margin-left 0 !important
            margin-right -70px !important
            > div {
                padding-right 0
            }
        }
        &__group {
            text-align right
            text-align left
        }
        &__action {
            right auto
            left 0
        }
    }
}