<div class="taxonomyBrowser">
    <div ng-if="vm.hasCriticalError" class="emptyInfo" translate="phrases.criticalErrorMsg">
    </div>
    <div ng-if="!vm.hasCriticalError">
        <div>
            <ul>
                <li ng-repeat="tax in vm.parents" class="taxonomyBrowser__parent">
                    <a href="" class="gb-icon-more2 inherit noUnderline taxonomyBrowser__action"
                       ng-if="$index==0 && vm.rootOptions.results.length > 1" ng-click="vm.showRoot()"></a>
                    <a class="taxonomyBrowser__parent noUnderline inherit" ng-click="vm.$state.go(vm.$state.current, {speciesKey:tax.key}, {reload: true})"  href="">
                        <div class="taxonomyBrowser__term taxonomyBrowser__rank"
                             translate="taxonRank.{{ tax.rank || 'UNRANKED'}}"></div>
                        <div class="taxonomyBrowser__description">
                            <span dir="auto" ng-bind-html="tax._parsedName || tax.scientificName" class="sciname"></span>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div>
            <div class="taxonomyBrowser__current" ng-if="vm.taxon.key">
                <a href="" class="gb-icon-more2 inherit noUnderline taxonomyBrowser__action"
                   ng-if="vm.parents.length == 0 && vm.rootOptions.results.length > 1" ng-click="vm.showRoot()"></a>
                <a ng-click="vm.$state.go(vm.$state.current, {speciesKey:vm.acceptedTaxon.key}, {reload: true})" ng-if="vm.acceptedTaxon"
                   class="taxonomyBrowser__accepted inherit ">
                    <div class="taxonomyBrowser__subheadline" translate="species.acceptedName"></div>
                    <span class="taxonomyBrowser__term"
                          translate="taxonRank.{{ vm.acceptedTaxon.rank || 'UNRANKED'}}"></span>
                    <span dir="auto" ng-bind-html="vm.acceptedTaxon._parsedName || vm.acceptedTaxon.scientificName"
                          class="taxonomyBrowser__description sciname"></span>
                </a>
                <div class="taxonomyBrowser__subheadline m-t-1" ng-if="vm.taxon.synonym" translate="species.synonym"></div>
                <div class="taxonomyBrowser__synonym__bordered" ng-if="vm.taxon.synonym">
                    <div class="taxonomyBrowser__description" ng-class="{taxonomyBrowser__synonym: vm.taxon.synonym}">
                        <span ng-if="vm.taxon.synonym" class="synonymSymbol">{{vm.taxon.taxonomicStatus == "HOMOTYPIC_SYNONYM" ? '≡' : '='}}</span>
                        <div>
                            <span dir="auto" ng-bind-html="vm.taxon._parsedName || vm.taxon.scientificName"
                                  class="sciname"></span>
                        </div>
                        <div class="taxonomyBrowser__basionyms" ng-if="vm.taxon.synonym && vm.combinations.length > 0">
                            <div class="taxonomyBrowser__subheadline" translate="species.basionymOf"></div>
                            <ul>
                                <li ng-repeat="tax in vm.combinations">
                                    <div class="taxonomyBrowser__description taxonomyBrowser__synonym">
                                        <span class="synonymSymbol">≡</span>
                                        <div>
                                            <a ng-click="vm.$state.go(vm.$state.current, {speciesKey:tax.key}, {reload: true})" href="" class="inherit">
                                                <span dir="auto" ng-bind-html="tax._parsedName || tax.scientificName"
                                                      class="sciname"></span>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <span class="taxonomyBrowser__term taxonomyBrowser__rank"
                      translate="taxonRank.{{ vm.taxon.rank || 'UNRANKED'}}" ng-if="!vm.taxon.synonym"></span>
                <div ng-if="!vm.taxon.synonym" class="taxonomyBrowser__description">
                    <span dir="auto" ng-bind-html="vm.taxon._parsedName || vm.taxon.scientificName"
                          class="sciname"></span>
                </div>

                <div class="taxonomyBrowser__synonyms" ng-if="vm.synonyms.length > 0">
                    <div class="taxonomyBrowser__subheadline m-t-1" trasnlate="species.synonyms"></div>
                    <div class="taxonomyBrowser__synonym__bordered">
                        <ul>
                            <li ng-repeat="tax in vm.synonyms">
                                <div class="taxonomyBrowser__description taxonomyBrowser__synonym">
                                    <span class="synonymSymbol">{{tax.taxonomicStatus == "HOMOTYPIC_SYNONYM" ? '≡' : '='}}</span>
                                    <div>
                                        <a ng-click="vm.$state.go(vm.$state.current, {speciesKey:tax.key}, {reload: true})" href=""  class="inherit">
                                            <span dir="auto" ng-bind-html="tax._parsedName || tax.scientificName"
                                                  class="sciname"></span>
                                        </a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div ng-if="vm.classifiedChildren.length > 0">
            <div class="taxonomyBrowser__headline" translate="species.immediateChildren"></div>
            <ul>
                <li class="" ng-repeat="tax in vm.classifiedChildren">
                    <a class="taxonomyBrowser__child noUnderline inherit" ng-click="vm.$state.go(vm.$state.current, {speciesKey:tax.key}, {reload: true})" href="">
                        <div class="taxonomyBrowser__term" translate="taxonRank.{{ tax.rank || 'UNRANKED'}}"></div>
                        <div class="taxonomyBrowser__description">
                            <span dir="auto" ng-bind-html="tax._parsedName || tax.scientificName" class="sciname"></span>
                            <div>
                               <span ng-show="!vm.isOcc && tax.numDescendants > 0"
                                     class="inherit small discreet--very">{{ tax.numDescendants | compactInteger }} {{species.descendants | translate}}</span>
                            </div>
                        </div>

                        <span ng-show="vm.isOcc && tax.numOccurrences > 0">
                        </span>
                    </a>
                </li>
            </ul>

            <div ng-if="!vm.endOfChildren && !vm.loadingChildren" class="m-t-2 text-center">
                <a href="" ng-click="vm.getChildren(100)" class="gb-button--discreet" translate="species.loadMore"></a>
            </div>
        </div>
        <div ng-if="!vm.loadingChildren && vm.classifiedChildren.length == 0" class="emptyInfo">
            <h3 translate="species.noChildren"></h3>
        </div>
    </div>
</div>

<div class="page__overlay" ng-if="vm.showRootSelector" ng-click="vm.noRootSelector()">
    <div class="content__overlay__card">
        <div class="content__overlay__card__header seperator--b" translate="species.selectRoot"></div>
        <div class="content__overlay__card__list">
            <div class="text-center m-t-2 m-b-2" ng-if="!vm.rootOptions.$resolved"><span class="loading"></span></div>
            <ul ng-if="vm.rootOptions.$resolved">
                <li ng-repeat="option in vm.rootOptions.results">
                    <a ng-click="vm.gotoSpecies(option.key)"class="inherit noUnderline">
                        <span dir="auto">{{ option.scientificName }}</span>
                        <div class="small discreet--very">
                            <span>{{ 'taxonRank.' + option.rank | translate }}</span><span>{{ option.numDescendants | localNumber }} {{species.descendants | translate}}</span>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

