
    <div class="stepper-wrapper">
      <div class="stepper-item" ng-class="{'completed' : step.status === 'FINISHED', 'active': step.status === 'RUNNING' || step.status === 'QUEUED', 'failed': step.status === 'FAILED'}" ng-repeat="step in vm.sortedSteps">
        <div class="step-counter">
        <span ng-if="step.status && step.status === 'FINISHED'" class="gb-icon-solid-check step-finished"></span>
        <span ng-if="step.status === 'PENDING' || step.status === 'QUEUED'" class="gb-icon-clock step-waiting"></span>
        <span ng-if="step.status === 'FAILED'" class="gb-icon-close_L step-failed"></span>
        <md-progress-circular ng-if="step.status && step.status === 'RUNNING'" md-diameter="14px">
        </div>
        <div class="step-name" translate="validation.steps.{{step.stepType}}.{{step.status}}"></div>
        <span class="step-name" ng-if="step.status === 'FAILED' && step.message">{{step.message}}</span>

      </div>
    </div>