<div search-drawer filter="occurrence.occurrenceState" content-type="occurrences">
    <div class="site-drawer__section">
        <div class="search-bar filter-group">
            <form class="search-bar__term" ng-submit="occurrence.search()">
                <input type="text"
                       id="siteSearch"
                       autocomplete="off"
                       ng-model="occurrence.occurrenceState.query.q"
                       placeholder="Search all fields">
                <!--<a href="" class="gb-icon-close search-bar__clear ng-cloak" ng-show="dataset.freeTextQuery" ng-click="dataset.clearFreetextAndSetFocus()"></a>-->
                <a href="" type="submit" class="gb-icon-search search-bar__search" ng-click="occurrence.search()">
                    <span class="sr-only">{$ __('stdTerms.search') $}</span>
                </a>
            </form>
        </div>


        <!-- <div filter-location filter-config="occurrence.filters.typeStatus" filter-state="occurrence.occurrenceState"></div> -->

        <div filter-taxon filter-config="occurrence.filters.scientificName" filter-state="occurrence.occurrenceState" filter-collapsed="true"></div>
        <div enum-filter filter-config="occurrence.filters.basisOfRecord" filter-state="occurrence.occurrenceState"></div>

        <div enum-filter filter-config="occurrence.filters.mediaType" filter-state="occurrence.occurrenceState"></div>
        <div filter-interval filter-config="occurrence.filters.year" filter-state="occurrence.occurrenceState"></div>
        <div enum-filter filter-config="occurrence.filters.month" filter-state="occurrence.occurrenceState"></div>
        <div filter-taxon filter-config="occurrence.filters.dataset" filter-state="occurrence.occurrenceState" filter-collapsed="true"></div>
        <div filter-suggest filter-config="occurrence.filters.recordedBy" filter-state="occurrence.occurrenceState"></div>
        <div filter-suggest filter-config="occurrence.filters.recordNumber" filter-state="occurrence.occurrenceState"></div>
        <div filter-suggest filter-config="occurrence.filters.occurrenceId" filter-state="occurrence.occurrenceState"></div>
        <div filter-suggest filter-config="occurrence.filters.catalogNumber" filter-state="occurrence.occurrenceState"></div>
        <div filter-suggest filter-config="occurrence.filters.institutionCode" filter-state="occurrence.occurrenceState"></div>
        <div filter-suggest filter-config="occurrence.filters.collectionCode" filter-state="occurrence.occurrenceState"></div>

        <div enum-filter filter-config="occurrence.filters.typeStatus" filter-state="occurrence.occurrenceState"></div>
        <div enum-filter filter-config="occurrence.filters.establishmentMeans" filter-state="occurrence.occurrenceState"></div>

    </div>

</div>


<div class="site-content">

    <div class="page">
        <div class="occurrence-search-results">
            <div ui-view>

            </div>
        </div>
    </div>
</div>
