.viewContentWrapper {
	height 100%
}
.Ocurrences {
	margin vr-block(1)
}
.Ocurrences > div {
	height 300px;
	background white
	margin-bottom vr-block(1)
	padding vr-block(1)
}


.Site__drawer {
	.Site__drawer__sub {
		color black
		background #aaa
		width $filterDrawerWidth
		height 100%
		position absolute
		top 0
		left 0
		transition: right 500ms ease;
	}
}
+isAbove($tablet) {
	.Site__drawer {
		.Site__drawer__sub {
			left $filterDrawerWidth
			.isActive {
				background pink
			}
		}
	}
}

.chip {
	background pink
	color white
}

.tabBar {
	background #fbfbfb
	border-bottom 1px solid #ddd
	.tabs {
		group()
		a {
			float left
			display inline-block
			padding .375rem .75rem
			&.isActive {
				border-bottom 2px solid deepskyblue
			}
		}
	}
}