.viewContentWrapper {
    height 100%
}

.Ocurrences {
    margin vrBlock(1)
}

.Ocurrences > div {
    height 300px;
    background white
    margin-bottom vrBlock(1)
    padding vrBlock(1)
}

.site-drawer {
    .site-drawer__sub {
        color black
        background #fff
        width ($filterDrawerWidth - 2em)
        height 100%
        position absolute
        top vrBlock(3)
        right ($filterDrawerWidth - 2em)
        transition right 500ms ease;
    }
}

+isAbove($tablet) {
    .site-drawer {
        .site-drawer__sub {
            box-shadow -1px 0 2px rgba(0, 0, 0, 0.3)
            right 0
            //right $filterDrawerWidth
            .is-active {
                background pink
            }
        }
    }
}

.tabBar {
    background #fbfbfb
    border-bottom 1px solid #ddd
    .tabs {
        group()
        a {
            float left
            display inline-block
            padding .375rem .75rem
            &.is-active {
                border-bottom 2px solid deepskyblue
            }
        }
    }
}

.taxon-group-select {
    margin-bottom : 10px
    margin-top : 0px
    margin-right : 8px
}

.occurrence-taxon-list {
    padding 0px 8px 0px 8px
}

.taxon-list-header {
    margin-top: 5px !important
    margin-left: 6px
}

.m-h-18 {
    min-height: 18px
}

.occurrenceGroup {
    border-bottom: 1px solid #dbe3e7;
    border-top: 1px solid #d2d8db;
    padding: 20px;
    font-weight: 600;
    font-size: 13px;
    margin: 0;
    background: #e7edf0;
    text-align: center;
}
