.card__header {
    padding 30px
    font-size 16px
}

downloadKey {
    &__storageTeaser {
        font-style italic
        margin-left 5px
    }
}

.storyline {
    &__chapter {
        position relative
    }
    &__block {
        padding-bottom 75px
        //padding-left 100px
    }
    &__bullet {
        display none
        position absolute
        top 0
        left 0
        width 50px
        height 50px
        border 2px solid #888
        border-radius 25px
        text-align center
        > span {
            color #888
            font-size 30px
            line-height 45px
        }
    }
    &__pipe {
        display none
        background-color gray
        padding-top 2px
        position absolute
        top 50px
        bottom 0
        left 24px
        width 2px
        margin-top -1px
    }
}

.empty-box {
    border 3px dashed $stripeBorderColor
    border-radius 8px
    padding 30px
    color $stripeBorderColor
    text-align center
}

.predicateContainer {
    //background-color $lightBackground
    position relative
    .toggle {
        position absolute
        top 0
        right 0
        margin vrBlock(.5)
        text-transform uppercase
        color #aaa
    }
    pre {
        border none
        background transparent
    }
}

.rtl {
    .toggle {
        right auto
        left 0
    }
}

.predicates {
    &.isSimplePredicate {
        .leaf {
            .node {
                min-width 170px
            }
        }
    }
    font-size 14px
    ul {
        padding 5px
        ul {
            transition background-color 300ms ease
            &:hover {
                background-color rgba(0, 0, 0, .02)
            }
        }
    }
    ul.not {
        padding 0
    }
    ul ul .join, ul .leaf {
        &:after {
            content: '';
            display: block;
            height: 2px;
            background: #aaa;
            width: 35px;
            position: absolute;
            top: 15px;
            left: 0px;
            z-index 1
        }
    }
    ul ul.not .join, ul .leaf {
        &:after {
            top: 9px;
        }
    }
    ul.not > li > ul {
        padding-top 0
    }

    ul {
        > .join {
            > .discreet {
                opacity 0
                transition opacity 300ms ease
            }
        }
        &:hover {
            > .join {
                > .discreet {
                    opacity 1
                }
            }
        }
    }
    .node {
        display inline-block
        background #666
        color white
        padding 0px 10px
        margin-right 10px
        z-index 2
        position: relative
    }
    .node-value {
        span {
            padding 0 3px
        }
    }
    .not .leaf .node {
        background tomato
    }
    .leaf {
        .node {
            background $navBar_background_color
        }
    }
    ul > li {
        position: relative;
        padding-left: 30px;
        margin-left: 10px;
        margin-top: 10px;
        &:before {
            content: '';
            display: block;
            border-radius: 50%;
            height: 10px;
            width: 10px;
            border: 2px solid #aaa;
            background: #fff;
            position: absolute;
            left: -4px;
            top: 5px;
            z-index 2
        }
        &.hasChildren {
            &:before {
                top 11px
            }
        }
        .pipe {
            width: 2px;
            background: #aaa;
            position: absolute;
            left: 0;
            top: 15px;
            bottom: -22px;
        }
        &:first-of-type {
            > .pipe {
                top: -10px;
            }
        }
        &:last-of-type {
            > .pipe {
                display: none;
            }
        }
        &:only-of-type > .pipe {
            display block
            bottom initial
            height 20px
        }
    }
}

.rtl {
    .predicates {
        ul ul .join, ul .leaf {
            &:after {
                right: 0px;
                left: auto;
            }
        }
        .node {
            margin-right 0
            margin-left 10px
        }
        ul > li {
            padding-left: 0;
            padding-right: 30px;
            margin-right: 10px;
            margin-left: 0;
            &:before {
                right: -4px;
                left auto
            }
            .pipe {
                left: auto;
                right: 0;
            }
        }
    }
}

.stripeList {
    ul {
        padding 0
        li {
            > a {
                display block
                color $bodyTextColor
                text-decoration none
                padding vrBlock(1.5)
                position relative
                .title {
                    white-space nowrap
                    text-overflow ellipsis
                    overflow hidden
                    max-width calc(100% - 80px)
                }
                &:hover {
                    .title {
                        text-decoration underline
                    }
                    .meta--hoverOnly {
                        display block
                    }
                }
                .meta, .meta--right {
                    position absolute
                    bottom 5px
                    color #888
                    font-size 12px
                }
                .meta--right {
                    right vrBlock(1.5)
                }
                .meta--hoverOnly {
                    display none
                }
            }
            border-bottom 1px solid $stripeBorderColor
        }
    }
}

.rtl {
    .stripeList ul li>a:hover .meta--right {
        right auto
        left vrBlock(1.5)
    }
}

.numberBadge {
    display inline-block
    padding 3px
    width 60px
    background $navBar_background_color
    color white
    text-align center
}

.gb-button--loader {
    .loader {
        width 20px
        top 5px
        display inline-block
        margin-right 5px
        .path {
            stroke rgba(0, 0, 0, 0.3)
        }
    }
}
