<div>
    <h4 class="card-header text-center inline-block" ng-if="!vm.options.dimension">Occurrences breakdown per field</h4>
    <div class="inline-block" ng-if="vm.options.dimension">
        <h4 class="card-header text-center inline-block" ng-if="!vm.options.secondDimension">Occurrences per {{ ('ocurrenceFieldNames.' + vm.options.dimension ) | translate }}</h4>
        <h4 class="card-header text-center inline-block" ng-if="vm.options.secondDimension">Occurrences per {{ ('ocurrenceFieldNames.' + vm.options.dimension ) | translate }} per {{ ('ocurrenceFieldNames.' + vm.options.secondDimension ) | translate }}</h4>
    </div>
    <div class="chart-header-options inline-block pull-right">
        <!--<a href="" class="gb-icon-pie-chart inherit noUnderline" ng-click="vm.options.type = vm.config.enum.type.PIE" ng-if="vm.isSupported('PIE')"></a>-->
        <!--<a href="" class="gb-icon-bar-chart inherit noUnderline" ng-click="vm.options.type = vm.config.enum.type.BAR" ng-if="vm.isSupported('BAR')"></a>-->
        <!--<a href="" class="gb-icon-view-list inherit noUnderline" ng-click="vm.options.type = vm.config.enum.type.TABLE" ng-if="vm.isSupported('TABLE')"></a>-->
        <!--<a href="" class="gb-icon-column-chart inherit noUnderline" ng-click="vm.options.type = vm.config.enum.type.COLUMN" ng-if="vm.isSupported('COLUMN')"></a>-->
        <!--<md-menu>-->
            <!--<a href="" class="gb-icon-file-download inherit noUnderline"-->
               <!--ng-click="$mdMenu.open($event)"-->
            <!--&gt;</a>-->
            <!--<md-menu-content width="2" ng-mouseleave="$mdMenu.close()">-->
                <!--<md-menu-item>-->
                    <!--<md-button ng-click="vm.api.png()">-->
                        <!--PNG-->
                    <!--</md-button>-->
                <!--</md-menu-item>-->

                <!--<md-menu-item>-->
                    <!--<md-button  ng-click="vm.api.svg()">SVG-->
                    <!--</md-button>-->
                <!--</md-menu-item>-->
            <!--</md-menu-content>-->
        <!--</md-menu>-->
        <a href="" class="gb-icon-more2 inherit noUnderline" ng-click="vm.display.showSettings = !vm.display.showSettings"></a>
    </div>
</div>
