<div class="m-t-1">
    <div ng-if="vm.state === 'SUCCESS'" class="text-center">
      <div style="font-size: 18px; margin-bottom: 24px;">
        <p>Thank you for submitting your application.</p>
        <p>You can expect to hear back in the next 2 weeks.</p>
        <button ng-click="vm.restart()" class="gb-button--brand">Create a new application</button>
        <div style="width: 100%; padding: 12px 24px; margin: auto;">
          <img src="/img/misc/success.png" style="width: 100%"/>
        </div>
      </div>
    </div>
    <div ng-if="vm.state !== 'SUCCESS'">
        <form name="vm.hpform">
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">
                            1. Primary contact for this application
                        </span>
                    </md-card-title-text>
                </md-card-title>

                <md-card-content>
                    <div layout="row">
                        <md-input-container flex="50">
                            <label>Name</label>
                            <input
                                type="text"
                                required
                                name="name"
                                ng-model="vm.form.person_name"
                            />
                            <div ng-messages="vm.hpform.name.$error">
                                <div ng-message="required">
                                    This is required.
                                </div>
                            </div>
                        </md-input-container>
                        <md-input-container flex="50">
                            <label>Email</label>
                            <input
                                type="email"
                                required
                                name="email"
                                ng-model="vm.form.email"
                            />
                            <div ng-messages="vm.hpform.email.$error">
                                <div ng-message="email">
                                    Please provide a valid email
                                </div>
                                <div ng-message="required">
                                    This is required.
                                </div>
                            </div>
                        </md-input-container>
                    </div>
                </md-card-content>
            </md-card>
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">2. Hosted portal name </span>
                    </md-card-title-text>
                </md-card-title>

                <md-card-content>
                    <div layout="row">
                        <md-input-container flex="50">
                            <label>Name</label>
                            <input
                                type="text"
                                required
                                name="name"
                                ng-model="vm.form.portal_name"
                            />
                            <div ng-messages="vm.hpform.name.$error">
                                <div ng-message="required">
                                    This is required.
                                </div>
                            </div>
                        </md-input-container>
                    </div>
                </md-card-content>
            </md-card>

            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">3. Type of application</span>
                        <span class="md-subhead">What best describes your proposed portal?
                        </span>
                    </md-card-title-text>
                </md-card-title>

                <md-card-content>
                  <md-radio-group ng-model="vm.form.type" ng-change="vm.typeChanged(vm.for.type)" required>
                    <md-radio-button value="National_portal" class="md-primary" ><span>A national biodiversity portal.</span></md-radio-button>
                    <div style="margin-left: 25px" ng-if="vm.form.type == 'National_portal'">
                      <p>
                        Note that national portals will exclusively be offered to countries participating in GBIF. 
                      </p>
                      <p>Please select which participant country this application relates to. Please see the <a href="/the-gbif-network">list of participants</a> for contact information</p>
                      <div layout="row">
                        <md-input-container flex="50">
                            <label>Click to select</label>
                            <md-select name="participantNode" ng-model="vm.form.participant" required>
                              <md-option ng-repeat="participant in vm.participantCountries" ng-value="participant.key">
                                  {{participant.participantTitle}}
                              </md-option>
                            </md-select>
                        </md-input-container>
                      </div>
                    </div>
                    <md-radio-button value="Other_type_of_portal" class="md-primary" ><span>Another type of portal to showcase data available in GBIF</span></md-radio-button>
                    <div style="margin-left: 25px" ng-if="vm.form.type == 'Other_type_of_portal'">
                      <div layout="row">
                        <md-input-container flex="100">
                          <label>Please describe which data publisher(s) and/or GBIF participants will be involved</label>
                          <textarea required ng-model="vm.form.publisher_description" rows="5" md-select-on-focus name="publisher_description"></textarea>
                      </md-input-container>
                  </div>
                    </div>
                  </md-radio-group>
                </md-card-content>
            </md-card>

            <md-card>
              <md-card-title>
                  <md-card-title-text>
                      <span class="md-headline">4. Are you in contact with a GBIF Participant Node Manager about this application?</span>
                      </span>
                  </md-card-title-text>
              </md-card-title>

              <md-card-content>
                <md-radio-group ng-model="vm.form.node_contact">
                  <md-radio-button value="I_am_the_node_manager" class="md-primary" ><span>I am the Node Manager</span></md-radio-button>
                  <md-radio-button value="Node_manager_contacted" class="md-primary" ><span>Yes, I am in contact with a Node Manager about this application</span></md-radio-button>
                  <div style="margin-left: 25px" ng-if="vm.form.node_contact == 'Node_manager_contacted'">
                    <div layout="row">
                      <md-input-container flex="50">
                        <label>Please state which Node Manager</label>
                        <input
                          type="text"
                          required
                          name="node_manager"
                          ng-model="vm.form.node_manager"
                        />
                        <div ng-messages="vm.hpform.node_manager.$error">
                          <div ng-message="required">
                              This is required.
                          </div>
                        </div>
                      </md-input-container>
                    </div>
                  </div>
                  <md-radio-button value="No_contact_to_node_manager" class="md-primary" ><span>I have not yet contacted a Node Manager about this application</span></md-radio-button>
                </md-radio-group>
              </md-card-content>
          </md-card>

            <div>
                <md-card>
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">5. Description of the data scope for the proposed portal</span>
                            <span class="md-subhead">
                              Note that hosted portals can only display occurrence records that are already shared on GBIF.org and organized to the GBIF backbone taxonomy.<br />
                              Briefly describe the scope of the occurrence data that you would like to display on a GBIF hosted portal, including, for example, the geographic, taxonomic and temporal scope or other parameters. Approximately how many datasets and records currently available from GBIF.org meet this scope? Please include links to GBIF.org searches as appropriate.
                            </span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                        <div layout="row">
                              <md-input-container flex="100">
                                <label>Description of the data scope for the proposed portal</label>
                                <textarea required ng-model="vm.form.data_scope" rows="5" md-select-on-focus name="organizationDescription"></textarea>
                            </md-input-container>
                        </div>
                    </md-card-content>
                </md-card>
                <md-card>
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">6. User group and needs</span>
                            <span class="md-subhead">
                              Have you identified a group of users for the portal? How would you describe their needs? Please also explain how you have identified the user group and their needs. If the portal is replacing an existing website, please provide a link if available and explain why you think a hosted portal would be a better solution. 
                            </span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                        <div layout="row">
                              <md-input-container flex="100">
                                <label>Description of the user group</label>
                                <textarea required ng-model="vm.form.user_group" rows="5" md-select-on-focus name="organizationDescription"></textarea>
                            </md-input-container>
                        </div>
                    </md-card-content>
                </md-card>
                <md-card>
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">7. Timelines</span>
                            <span class="md-subhead">
                              Are there any timelines you need to keep with regards to the deployment, promotion and ongoing use of the portal?
                            </span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                        <div layout="row">
                              <md-input-container flex="100">
                                <label>Description of timelines</label>
                                <textarea ng-model="vm.form.timelines" rows="5" md-select-on-focus name="organizationDescription"></textarea>
                            </md-input-container>
                        </div>
                    </md-card-content>
                </md-card>
                <md-card>
                  <md-card-title>
                      <md-card-title-text>
                          <span class="md-headline">8. Languages</span>
                          <span class="md-subhead">
                            What languages would you like your hosted portal to be available in? Please note that you will need to translate your own content and menu, and may need to contribute translations for common elements such as data search components for languages other than English if they are not already available.
                          </span>
                      </md-card-title-text>
                  </md-card-title>
                  <md-card-content>
                      <div layout="row">
                            <md-input-container flex="100">
                              <label>Languages</label>
                              <textarea required ng-model="vm.form.languages" rows="5" md-select-on-focus name="organizationDescription"></textarea>
                          </md-input-container>
                      </div>
                  </md-card-content>
              </md-card>
              <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">9. Level of experience with related tools and languages</span>
                        <span class="md-subhead">
                          We will be managing the hosted portals in GitHub. You will need to author content using Markdown and YAML. This is not difficult and we can direct you to documentation and provide support in getting started if needed. Please state your level of experience with these:
                        </span>
                    </md-card-title-text>
                </md-card-title>

                <md-card-content>
                  <md-radio-group ng-model="vm.form.experience" required>
                    <md-radio-button value="has_plenty_experience" class="md-primary" ><span>I am comfortable with using GitHub, Markdown and YAML to author web content</span></md-radio-button>
                    <md-radio-button value="has_limited_experience" class="md-primary" ><span>I have some experience but would like some help to get started</span></md-radio-button>
                    <md-radio-button value="has_no_experience" class="md-primary" ><span>I have never used GitHub, Markdown or YAML to author web content</span></md-radio-button>
                  </md-radio-group>
                </md-card-content>
            </md-card>
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Terms</span>
                    </md-card-title-text>
                </md-card-title>

                <md-card-content>
                  <md-checkbox ng-model="vm.form.terms_accepted" class="md-primary m-b-0" required><span>
                    I have read the service agreement and data processor agreement and I accept these terms and conditions for the hosted portal I plan to launch.
                  </span></md-checkbox>
                </md-card-content>
            </md-card>
            </div>

            <button ng-disabled="!vm.hpform.$valid || vm.state == 'PENDING'" type="submit"
                    ng-click="vm.createSuggestion(vm.form)"
                    class="btn btn-default flat">
                Submit
            </button>
            <div class="text-error" ng-if="vm.state == 'FAILED'">
                <div>
                  This isn't good. We weren't able to save your application. Please try again later. You are also welcome to send it to helpdesk@gbif.org and include the data below. It saves you having to write it all again.
                </div>
                <code>
                  <pre>
                    {{vm.form}}
                  </pre>
                </code>
            </div>
        </form>
    </div>
</div>
