<div class="filter-group" ng-mouseover="vm.isHovered = true">
    <a href="" class="inherit rtl-bootstrap" ng-click="vm.collapsed = !vm.collapsed">
        <h4>
            <span translate="{{vm.filterConfig.titleTranslation}}">Translation missing</span>
            <span class="gb-icon-angle-down pull-right" ng-if="vm.collapsed"></span>
            <span class="gb-icon-angle-up pull-right" ng-if="!vm.collapsed"></span>
        </h4>
    </a>

    <div class="filter-group__filter" ng-class="{'filter-group__filter--collapsed': vm.collapsed}">
        <div ng-repeat="q in vm.intervalQuery" class="is-padded"
             ng-if="!vm.collapsed">
            <div interval-slider interval-options="q">
            </div>
        </div>
        <div class="is-padded rtl-bootstrap">
            <div class="checkbox" ng-repeat="q in vm.intervalQuery" ng-if="vm.collapsed && q.queryString">
                <label>
                    <input type="checkbox" checked="true" ng-click="vm.remove(q)">
                    <span>
                        <!--<span>{{ vm.getParsedQuery(q.queryString) }}</span>-->
                        <span   translate="{{vm.filterConfig.intervalTranslation}}{{ vm.getParsedQuery(q.queryString).type }}" 
                                translate-values="{ from: vm.getParsedQuery(q.queryString).values[0], to: vm.getParsedQuery(q.queryString).values[1]}"></span>
                    </span>
                </label>
            </div>
        </div>
        <div class="site-drawer__bar" ng-if="!vm.collapsed && !vm.filterConfig.singleSelect">
            <a href="" class="site-drawer__bar__action" ng-click="vm.uncheckAll()"
               ng-class="{invisible: vm.query.length == 0}"><span translate="filters.clear">Clear</span></a>
            <a href="" class="site-drawer__bar__action" ng-click="vm.add()"
               ng-if="vm.query.length == vm.intervalQuery.length"><span translate="filters.add">Add</span></a>
        </div>
    </div>
</div>

