<div class="filter-group" ng-mouseover="vm.isHovered = true">
    <a href="" class="inherit" ng-click="vm.collapsed = !vm.collapsed">
        <h5>
            <span class="text-capitalize">Year</span>
            <span class="gb-icon-angle-down pull-right" ng-if="vm.collapsed"></span>
            <span class="gb-icon-angle-up pull-right" ng-if="!vm.collapsed"></span>
        </h5>
    </a>

    <div class="filter-group__filter">
        <div class="is-padded">
            <div class="filter-group__filter__interval">
                <div uib-dropdown on-toggle="toggled(open)" class="filter-group__filter__interval__option-trigger">
                    <a href="" uib-dropdown-toggle>
                        {{vm.selected}}
                        <span></span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                        <li ng-repeat="choice in vm.options">
                            <a href="" ng-click="vm.selectType(choice)" class="small">{{choice}}</a>
                        </li>
                    </ul>
                </div>
                <form class="filter-group__filter__interval__input" name="vm.form">
                    <input required type="text" ng-blur="vm.blurFrom()" ng-keyup="vm.changeFrom()" placeholder="1700" ng-model="vm.from" ng-pattern="/^[0-9]{4}$/" name="from">
                    <input required type="text" ng-blur="vm.blurTo" ng-keyup="vm.changeTo()" placeholder="2016" ng-if="vm.selected == 'between'" ng-model="vm.to" ng-pattern="/^[0-9]{4}$/" name="to" class="pull-right text-right">
                    <div ya-no-ui-slider='vm.sliderOptions'
                         ya-no-ui-slider-events='vm.eventHandlers'
                         ng-class="{'is-active': vm.isActive}">
                    </div>
                </form>
            </div>
        </div>


        <div class="site-drawer__bar seperator">
            <a href="" class="site-drawer__bar__action" ng-click="vm.uncheckAll()"><span translate="stdTerms.clear">Clear</span></a>
        </div>
    </div>
</div>

