.filter-group__filter__interval {
	input {
		background 0 0 //$stripeBorderColor
		border none
		width 80px
		// border 1px solid $stripeBorderColor
		padding 5px 0
		outline 0
		&.ng-invalid-pattern {
			color tomato
		}
	}
	&__option-trigger {
		a {
			color inherit
			display block
			padding 5px 0
			>span {
				display inline-block
				bottom 1px
				margin 0 3px
				position relative
				triangle 'down' 4px $bodyTextColor
			}
		}
	}
	&__input {
		>span, a {
			padding 5px 20px 5px 0
		}
		>a {
			padding 5px
		}
		padding-bottom 10px
	}
}