<div class="filter-group__filter__interval">
    <div uib-dropdown on-toggle="toggled(open)" class="filter-group__filter__interval__option-trigger">
        <a href="" uib-dropdown-toggle>
            <span ng-if="vm.intervalOptions.inActive" translate="intervals.noFilter"></span>
            <span ng-if="!vm.intervalOptions.inActive" translate="{{vm.intervalOptions.intervalTranslation}}select.{{vm.selected}}">{{vm.selected}}</span>
            <i></i>
        </a>
        <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
            <li ng-repeat="choice in vm.options">
                <a href="" ng-click="vm.selectType(choice)" class="small" translate="{{vm.intervalOptions.intervalTranslation}}select.{{choice}}">{{choice}}</a>
            </li>
        </ul>
        <a href="" ng-click="vm.remove()" class="gb-icon-close pull-right"></a>
        <!--<input required type="text" ng-blur="vm.blurFrom()" ng-keyup="vm.changeFrom()" placeholder="1700" ng-model="vm.from" ng-pattern="/^[0-9]{4}$/" name="from">-->
        <!--and-->
        <!--<input required type="text" ng-blur="vm.blurTo" ng-keyup="vm.changeTo()" placeholder="2016" ng-if="vm.selected == 'between'" ng-model="vm.to" ng-pattern="/^[0-9]{4}$/" name="to" class="">-->
    </div>
    <form class="filter-group__filter__interval__input" name="vm.form" dir="ltr">
        <input required type="text" ng-blur="vm.blurFrom()" ng-keyup="vm.changeFrom()" placeholder="{{vm.intervalOptions.range.min[0]}}"
               ng-model="vm.from" ng-pattern="/^[0-9]{0,4}$/" name="from">
        <input required type="text" ng-blur="vm.blurTo()" ng-keyup="vm.changeTo()" placeholder="{{vm.intervalOptions.range.max[0]}}"
               ng-if="vm.selected == 'between'" ng-model="vm.to" ng-pattern="/^[0-9]{0,4}$/" name="to"
               class="pull-right text-right">
        <div ya-no-ui-slider='vm.sliderOptions'
             ya-no-ui-slider-events='vm.eventHandlers'
             ng-class="{'is-active': !vm.intervalOptions.inActive}">
        </div>
    </form>
</div>