<div class="horizontal-stripe--paddingless white-background">
    <div class="container--desktop">
        <nav class="discreetTabs">
            <ul>
                <li class="isActive">
                    <a href="" class="inherit noUnderline">Activity</a>
                </li>
                <li>
                    <a href="" class="inherit noUnderline" ui-sref="countryTrends()">Trends</a>
                </li>
                <li ng-if="countryKey.isParticipant">
                    <a href="" class="inherit noUnderline" ui-sref="countryParticipant()">Participant</a>
                </li>
                <li>
                    <a class="inherit noUnderline" ng-href="http://www.gbif.org/sites/default/files/gbif_analytics/country/{{ countryKey.countryCode }}/GBIF_CountryReport_{{ countryKey.countryCode }}.pdf">
                        <span class="gb-icon-file-download"></span>
                        <span>
                            Download report
                        </span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>

<div class="horizontal-stripe--paddingless country-key white-background">

    <div ng-if="!countryActivity.loaded" class="discreet text-center m-t-2">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
            </svg>
        </div>
    </div>

    <div class="container--desktop country-key">
        <div ng-include="'/api/country/' + countryActivity.countryCode + '/breakdown'" onload="countryActivity.loaded = true" class="card-container--stats m-b-2"></div>
    </div>

</div>

<div class="horizontal-stripe light-background" ng-if="countryKey.isParticipant">
    <div class="container--desktop country-key">
        <div class="card-container--stats">
            <ng-include src="'/api/country/' + countryActivity.countryCode + '/news'"></ng-include>
        </div>
    </div>
</div>
