<div class="wrapper-horizontal-stripes occurrence-search__table">

    <section class="horizontal-stripe--paddingless white-background search-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <nav class="article-header__category article-header__category--deep">
                        <span class="article-header__category__upper">Search occurrences</span>
                        <span class="article-header__category__lower" ng-if="occCharts.hasData()">
                            {{occCharts.state.table.count | localNumber:occCharts.state.query.locale }} results
                        </span>

                        <span class="article-header__category__lower" ng-if="!occCharts.hasData()">
                            Loading ...
                        </span>

                    </nav>
                </div>
            </div>
        </div>
    </section>

    <section class="horizontal-stripe--paddingless white-background p-hidden">
        <div class="container-fluid">
            <div class="row">
                <nav class="tabs">
                    <ul>
                        <li class="tab">
                            <a href="" ui-sref="occurrenceSearchTable()">
                                Table
                            </a>
                        </li>

                        <li class="tab">
                            <a href="" ui-sref="occurrenceSearchGallery()">
                                Gallery
                            </a>
                        </li>

                        <li class="tab">
                            <a href="" ui-sref="occurrenceSearchMap()">
                                Map
                            </a>
                        </li>

                        <li class="tab">
                            <a href="" ui-sref="occurrenceSearchSpecies()">
                                Taxonomy
                            </a>
                        </li>

                        <li class="tab isActive" >
                            <span>
                                Charts
                            </span>
                        </li>

                        <li class="tab">
                            <a href="" ui-sref="occurrenceSearchDownload()">
                                <span class="gb-icon-file-download"></span>
                                <span>
                                    Download
                                </span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </section>

    <section class="horizontal-stripe--paddingless lighter-background m-b-1" >

        <div class="text-center small seperator--b p-hidden">
            <div class="gb-btn-group">
                <label ng-model="occCharts.$sessionStorage.occurrenceChartsShowDefaults" uib-btn-radio="true">Defaults</label>
                <label ng-model="occCharts.$sessionStorage.occurrenceChartsShowDefaults" uib-btn-radio="false">Custom</label>
            </div>
        </div>

        <div class="text-center" style="margin-bottom: -20px;">
            <span style="display: inline-block; margin-top: 10px; background:tomato; color: white; padding: 10px;">We are still testing, but feel free to click around</span>
        </div>

        <div class="container-fluid">
            <div ng-if="occCharts.$sessionStorage.occurrenceChartsShowDefaults">
                <div ng-if="occCharts.getSerializedQuery() !== ''" ng-show="occCharts.predicateLoaded" class="m-t-1">
                    <h4 class="card-header inline-block">Current filter</h4>
                    <div class="card">
                        <div class="card__stripe">
                            <div class="card__content predicateContainer">
                                <div class="predicates isSimplePredicate">
                                    <ng-include src="'/api/occurrence/search/predicate.html?' + occCharts.getSerializedQuery()" onload="occCharts.predicateLoaded = true"></ng-include>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <section class="occChart-col m-t-1">
                    <div ng-repeat="chart in occCharts.defaultCharts">
                        <occurrence-breakdown-card api="chart.api" config="chart.config" filter="chart.filter" chart-change="occCharts.chartChange" custom-filter="chart.customFilter"></occurrence-breakdown-card>
                    </div>
                </section>
            </div>
            <section ng-if="!occCharts.$sessionStorage.occurrenceChartsShowDefaults">
                <div class="m-t-1">
                    <occurrence-breakdown-card api="occCharts.customChart.api" config="occCharts.customChart.config" filter="occCharts.customChart.filter" chart-change="occCharts.chartChange"></occurrence-breakdown-card>
                </div>
            </section>
        </div>
        <!--<button ng-click="occCharts.getStates()">get states</button>-->

        <!--<div>-->
            <!--<div style="border:2px solid deepskyblue; margin:10px;padding:10px;">-->
                <!--{{occCharts.api2}}-->
            <!--</div>-->
            <!--<occurrence-breakdown-header api="occCharts.api2"></occurrence-breakdown-header>-->
            <!--<occurrence-breakdown options="{dimension: 'country', type: 'COLUMN', filter: occCharts.state.query }" api="occCharts.api2"></occurrence-breakdown>-->
        <!--</div>-->
    </section>
</div>
