.list-links--data-use-resources {
    display inline
    padding 0
    li {
        display inline
        padding 0
        &:after {
            content: ","
        }
        &:last-of-type:after {
            content none
        }
    }
}

.chip {
    padding 0
    display inline
    >a {
        display inline-block
        padding 0 vrBlock(0.125)
        background #f1f1f1
        border 1px solid #ddd
        color inherit
        text-decoration none
        font-size 12px
        &:hover {
            background darken(#f1f1f1, 10)
        }
    }
}
.list-chips {
    display inline
    padding 0
    li {
        @extends .chip
    }
    &__category {
        font-weight bold
        margin-right 5px
    }
    
}

.list-citations {
    display inline
    padding 0
    li {
        padding-top 5px
        &:first-of-type {
            display inline
        }
        > * {
            margin 0 !important // @todo Burke will clean up the api so there is no inline styling. If not we should strip it server side
            padding 0 !important
            &:first-of-type {
                display inline
            }
        }
    }
    img {
        max-width 10px
        max-height 14px
        margin 0 5px
    }
}

+isAbove($tablet) {
    .container--related-stories {
        max-width $laptop
        .h4 {
            a {
                line-height 1.3em
            }
        }
    }
}