    .countryShapeMap {
        height: 150px
        width: 300px
        &__zoomButtons {
        position absolute
        z-index 20
        right 0.5rem
        bottom 0.5rem
        background #aaa
        >a {
            background #fff
            font-size 16px
            display block
            text-decoration none
            text-align center
            height 18px
            width 18px
            line-height 16px
            background-color rgba(0,60,136,.5)
            border 1px solid #aaa
            background white
            color #444
            &:hover {
                background #efefef
            }
            &.smallIcon {
                font-size 14px
            }
        }
    }
}
