span.doi {
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    color: white;
    background: black;
    font-size: 13px;
    text-decoration: none;
    padding: 2px 0px 2px 4px;
    border-radius: 5px;
    border-color: black;

    a {
        color: white;
        background: #0099cc;
        text-decoration: none;
        text-transform: lowercase;
        margin-left: 4px;
        padding: 2px 5px 2px 4px;
        border-radius: 0px 5px 5px 0px;
    }
}