span.doi {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color $gray80
    background: #FEE288;
    font-size: 13px;
    text-decoration: none;
    padding: 3px 0px 3px 4px;
    border-radius: 5px;
    border-color: black;
    margin-right 10px

    a {
        color $gray80
        font-weight bold
        background: #D4EAC2;
        text-decoration: none;
        text-transform: lowercase;
        margin-left: 4px;
        padding: 3px 5px 3px 4px;
        border-radius: 0px 5px 5px 0px;
    }
}