.example {
	margin 25px
	background white
	border 1px solid #ccc
	header {
		background #eee
		padding vrBlock(0.5)
		h1 {
			cursor pointer
			font-size 16px
			line-height 27px
			font-weight normal
			color #555
			>span {
				float right
			}
		}
	}
	&.is-expanded {
		.example__comments {
			display block
		}
	}
	.example__live {
		margin vrBlock(0.5)
	}
	.example__comments {
		lost-utility clearfix
		display none
		background #eee
		margin vrBlock(0.5)
		>div {
			max-height 300px
			overflow auto
		}
		.example__code {
			lost-column 2/3
			border 1px solid #ddd
		}
		.example__usage {
			lost-column 1/3
			>h3 {
				border 1px dotted #bbb
				border-width 1px 0
			}
		}
	}
}