.p-only {
    display none !important;
}
@media print {
    // bootstrap adds annoying urls to all links. don't do that
    a[href]:after {
        content none !important;
    }

    // remove menues, drawers and footer
    body {
        padding-top 0 !important;
    }
    .site-wrapper {
        display block !important;
        > main {
            display block !important;
        }
    }
    .site-content__page, .viewContentWrapper {
        height auto !important;
    }
    .stickyNav, .site-footer, .site-drawer {
        display none !important;
    }
    .site-content {
        padding-left 0 !important;
    }

    .fab {
        display none !important;
    }

    .overflow-auto {
        overflow hidden !important;
    }

    // utility class to avoid page preaks within elements that shouldn't be cut
    .p-avoid-pb {
        page-break-inside avoid
    }
    .p-bg {
        -webkit-print-color-adjust exact !important
    }
    .p-hidden {
        display none !important;
    }
    .p-only {
        display initial !important;
    }
}
