.chart {
    &__empty {
        text-align center
    }
    &__empty, &__singleValue {
        >* {
            color lighten($discreetInk, 20)
            display inline-block
            padding 10px 30px
        }
    }
    &-field-issue .chart__empty {
        >* {
            background $navBar_background_color
            color white
        }
    }
    &-header-options {
        margin-top: 6px;
    }
    
    &-field-issue {
        //.chart__singleValue {
        //    >* {
        //        background tomato
        //        color white
        //    }
        //}
        .highcharts-color-0 {
            fill tomato
        }
    }
}