<div>
    <h4 class="card-header text-center inline-block">{{vm.api.getTitle()}}</h4>
    <div class="chart-header-options inline-block pull-right">
        <a href="" class="gb-icon-pie-chart inherit noUnderline" ng-click="vm.api.asPieChart()" ng-if="vm.options.showHeader"></a>
        <a href="" class="gb-icon-bar-chart inherit noUnderline" ng-click="vm.api.asBarChart()" ng-if="vm.options.showHeader"></a>
        <a href="" class="gb-icon-file-download inherit noUnderline" ng-click="vm.api.png()"></a>
    </div>
</div>
