<div class="chart chart-field-{{vm.options.dimension}}">
    <occurrence-chart-header api="vm.api" ng-if="vm.options.showHeader"></occurrence-chart-header>
    <div ng-show="vm.data.categories.length > 1">
        <div class="chartArea" style="width:100%;"></div>

        <div class="text-right small" ng-if="vm.options.type == 'BAR'">
            <div class="gb-btn-group">
                <label ng-model="vm.logScale" uib-btn-radio="false"
                       ng-change="vm.toggleBarChart()">Linear</label>
                <label ng-model="vm.logScale" uib-btn-radio="true"
                       ng-change="vm.toggleBarChart()">Logarithmic</label>
            </div>
        </div>
    </div>
    <div ng-if="vm.data.categories.length == 1" class="chart__singleValue">
        <a href="" ng-click="vm.occurrenceSearch(vm.data.categoryKeys[0])" class="gb-button--error" ng-if="vm.options.dimension == 'issue'">
            {{ vm.data.series[0].data[0] | localNumber }} <span class="gb-button--error__label">{{ vm.data.categories[0] }}</span>
        </a>
        <a href="" ng-click="vm.occurrenceSearch(vm.data.categoryKeys[0])" class="gb-button--brand" ng-if="vm.options.dimension != 'issue'">
            {{ vm.data.series[0].data[0] | localNumber }} <span class="gb-button--brand__label">{{ vm.data.categories[0] }}</span>
        </a>
    </div>
    <div ng-if="vm.data.categories.length == 0" class="chart__empty">
        <div>No occurrences with {{vm.options.dimension}}</div>
    </div>
    <ng-transclude></ng-transclude>
</div>
