//$iucnStatusSize = 30px
//$iucnRed = #d81e05
.iucn {
    &__status {
        &__img {
            padding 10px
            text-align center
            img {
                width 409px
            }
        }
        &__desc {
            //color white
            padding 5px 10px
            background #eee
            //&.EX {
            //    background black
            //    color #cc3333
            //}
            //&.CR {
            //    background #cc3333
            //}
            //&.EN {
            //    background #cc6633
            //}
            //&.VU {
            //    background #cc9900
            //}
            //&.NT {
            //    background #006666
            //}
            //&.LC {
            //    background #006666
            //}
            //&.DD {
            //    background #c6c6c6
            //}
            //&.NE {
            //    background #c6c6c6
            //}
        }
        &__source {
            font-size 12px
            float right
            opacity 0.5
        }
        //font-size 12px
        //padding 10px
        //> ul {
        //    padding 0 0 10px 0
        //    display inline-block
        //    white-space nowrap
        //    > li {
        //        width ($iucnStatusSize* 0.85)
        //        text-align center
        //        display inline-block
        //        border 1px solid #888
        //        border-width 1px 0
        //        &.isActive {
        //            position relative
        //            &:before {
        //                display block
        //                content ' '
        //                border-radius 50% 0 50% 50%
        //                width $iucnStatusSize
        //                height $iucnStatusSize
        //                background $iucnRed
        //                border 1px solid darken($iucnRed, 10)
        //                position absolute
        //                top -6px
        //                left -2px
        //            }
        //            &.iucn__status__missingData {
        //                > span {
        //                    color inherit
        //                }
        //                &:before {
        //                    background #ddd
        //                    border 1px solid #888
        //                }
        //            }
        //            span {
        //                position relative
        //                color white
        //            }
        //        }
        //    }
        //}
        //&__missingData {
        //    background #ddd
        //}
    }
}