


<div class="m-t-1" ng-if="vm.category && vm.category !== 'NE'">
    <h4 class="card-header">{{'species.iucnStatus' | translate}}</h4>
    <div class="card">
        <div class="iucn__status">
            <div class="iucn__status__img">
                <img ng-src="/img/iucnStatus/{{vm.category}}.png">
            </div>
            <div class="iucn__status__desc {{vm.category}}">
                <span ng-if="!vm.loading" translate="threatStatus.{{vm.category}}"></span>
                <span ng-if="vm.loading">Loading</span>
                <a ng-href="{{vm.sourceLink}}" class="iucn__status__source inherit">Source: IUCN</a>
            </div>
        </div>
    </div>
</div>