html, body, .site-wrapper {
    min-height 100%
    width 100%
    background $content_background
    touch-action manipulation
}
body {
    padding-top 50px
}

+isAbove($laptop) {
    html, body, .site-wrapper {
        min-height 100%
    }
}

.site-wrapper {
    display flex
    flex-direction column
    >main {
        flex 1 1 auto
    }
}
.site-content__page {
    min-height "calc(100vh - %s)" % $navBar_height
}
//.site-canvas {
//    height 100%
//    width 100%
//}

ul, ol {
    margin 0
    list-style none
}

.page__fixed-width {
    max-width $desktop
    margin 0 auto
}

//TODO don't seem used
//.page__tabs {
//    width 100%
//    background rgba(255, 255, 255, 0.5)
//    position absolute
//    bottom 20px
//    left 20px
//    z-index 10
//    width 50px
//    height 50px
//    overflow hidden
//    ol {
//        max-width 100%
//    }
//    li {
//        display inline-block
//        width 50px
//        height 50px
//        border-radius 25px
//        margin 0 10px 10px 0
//        background deepskyblue
//        float left
//    }
//    &:hover {
//        width auto
//        height auto
//    }
//}

//TABS
/*+isBelow($laptop) {*/
/*.page__tabs {*/
/*width 100%*/
/*background rgba(255,255,255,0.5)*/
/*position absolute*/
/*bottom 20px*/
/*left 20px*/
/*z-index 50*/
/*width 50px*/
/*height 50px*/
/*overflow hidden*/
/*ol {*/
/*max-width 100%*/
/*}*/
/*li {*/
/*display inline-block*/
/*width 50px*/
/*height 50px*/
/*border-radius 25px*/
/*margin 0 10px 10px 0*/
/*background deepskyblue*/
/*float left*/
/*}*/
/*&:hover {*/
/*width auto*/
/*height auto*/
/*}*/
/*}*/
/*}*/

//+isAbove($laptop) {
//    .page__tabs {
//        position fixed
//        top 150px
//    }
//}

//SIMILUATE IE11 SCROLLBARS
//.site-wrapper * {
//	&::-webkit-scrollbar
//	{
//		width: 18px;  /* for vertical scrollbars */
//		height: 18px; /* for horizontal scrollbars */
//	}
//
//	&::-webkit-scrollbar-track {
//		background: rgba(220,220,220,1)
//	}
//
//	&::-webkit-scrollbar-thumb {
//		background: rgba(180,180,180,1)
//	}
//}

//ANCHOR FOX OFFSET FOR FIXED HEADER HEIGHT
+isAbove($laptop) {
    .anchor:before { //compensate for the fixed header on desktop
        display: block
        content: " "
        height: $navBar_height
        margin-top: -($navBar_height)
        visibility: hidden
    }
}

//Safari hack to prevent flicker. At mobile breakpoint it removes scrollbar and then thinks it is larger, leading to the laptop view. Where there is a scrollbar that makes the window smaller etc.
+isBetween(($laptop - 15px), $laptop) {
    html {
        overflow-y scroll
    }
}

//util classes should go where? TODO replaced by bootstraps sr-only . the difference is that this is more aggresive with !important the places where it is used should be tested with tabbing
//.sr-only {
//    position absolute
//    width 1px !important
//    height 1px !important
//    padding 0
//    margin -1px
//    overflow hidden
//    clip rect(0, 0, 0, 0)
//    border 0
//}
