html.ie {
    body {
        display block !important
    }
    .ie-splash {
        display block !important
        width 100%
        position fixed
        top 0
        left 0
        height 100%
        background-color rgba(120, 181, 120, 0.99)
        color #fff
        z-index 9999
        text-align center
    }
    .ie-splash span {
        width 500px
        max-width 100%
        position relative
        top 50%
        -ms-transform translateY(-50%)
        transform translateY(-50%)
        display inline-block
    }
}