.cms-list-item {
    img {
        float right
        height vrBlock(5)
        margin-right 15px
        margin-left 15px
    }
    &--cms-search {
        img {
            float right
            height vrBlock(5)
            margin-left 15px
        }
    }
}