.cms-list-item {
    img {
        float right
        height vrBlock(5)
        margin-right 15px
        margin-left 15px
    }
    &--cms-search {
        img {
            float right
            height vrBlock(5)
            margin-left 15px
        }
        h4 {
            line-height 22px
            margin-bottom 0
        }
    }
}

.search-results {
    &__list__item__title {
        font-size 18px
    }
    &__list__item__keywords {
        margin-top 10px
        font-size 0.9em
        color $gray40
    }
    &__list__item__time {
        margin-top 10px
    }
    &__list__item__citation {
        font-size 0.9em
        margin-bottom 5px
    }
    &__list__item__type {
        text-transform capitalize
    }
}

.citation__journal-title {
    font-style italic
}