$_linkColor = #009FD4
.card {
	box-shadow 0 1px 3px rgba(0,0,0,0.3)
	background white
}

.card__content {
	padding vr-block(0.5) vr-block(1)
}

.card .card__header {
	background #efefef
	font-size 15px
	font-weight normal
	padding vr-block(0.25) vr-block(1)
	line-height 2rem
	border-bottom 1px solid #ddd
}

.descr-content, .card__actions, .card__definitions {
	a {
		color inherit
		&:hover {
			text-decoration underline
		}
	}
}

.card {
	h3 {
		font-size 1.2rem
		font-weight normal
	}
}

.card__title {
	background #efefef
	border-bottom 1px solid #ddd
	h2 {
		font-size 15px
		font-weight 400
		padding .375rem 1.5rem
		line-height 2rem
	}
}

.card__banner {
	background #02393D
	color white
	h2 {
		font-size 1rem
	}
	a {
		&:hover {
			text-decoration underline
		}
	}
}
.card__banner {
	background #02393D
	display flex
	.tile {
		width 128px
		flex 0 0 auto
	}
	
	.descr {
		height 128px
		flex 1 1 auto
	}
	.descr-content {
		padding vr-block(0.5)
		>div {
			vertically-align()
			text-align center
		}
		color white
		a {
			color white
		}
		p {
			margin 0
		}
	}
}

.card__actions {
	ul {
		display flex
	}
	li {
		display inline-block
		flex 1 1 auto
		text-align center
		transition background 300ms ease
		a {
			text-transform uppercase
			color $_linkColor
			padding vr-block(0.25)
			display inline-block
			width 100%
			&:hover {
				background #eee
			}
		}
	}
	border-bottom 1px solid #ddd
}

.card__definitions {
	padding vr-block(0.25) vr-block(1)
	>p {
		margin 0
	}
	>div {
		margin vr-block(0.25) 0
		.term {
			font-weight bold
			margin-right vr-block(0.25)
		}
		.taxa {
			i:after {
				font-style normal
				//content '\2022' // •
				content '\276f' // ❯
				//content '\203a' // ›
				//color #888
				font-size 80%
			}
		}
		.type {
			a {
				color $_linkColor
			}
		}
	}
	a.more {
		color $_linkColor
	}
}

.card__images {
	background #F7F7F7
	>div {
		white-space nowrap
		overflow hidden
		overflow-x auto
		overflow-x overlay
		padding 10px
		img {
			height 128px
			flex 0 0 auto
			display inline-block
			margin-right 5px
			box-shadow 0 1px 3px rgba(0,0,0,0.3)
		}
		.more {
			display inline-block
			height 120px
			background rgba(0,0,0,0.5)
			color white
		}
	}
}

.card__tabs {
	background #efefef
	.card__content {
		background #fbfbfb
	}
	.tabs {
		display none
		overflow auto
		>a {
			cursor pointer
			flex 1 0 auto
			display inline-block
			border-bottom 2px solid transparent
			float left
			padding vr-block(.25) vr-block(.5)
			color inherit
			text-decoration none
			text-align center
			&:hover {
				text-decoration none
			}
			&.isActive {
				border-color deepskyblue
				background #fbfbfb
				>[class^="gb-icon-"] {
					color #02393D
				}
			}
			span {
				color #aaa
				margin vr-block(0.25)
			}
			>[class^="gb-icon-"] {
				font-size 2rem
				position relative
				top 0.25rem
				display inline-block
				margin 0
				margin-top -5px
			}
		}
	}
}
+isAbove($laptop) {
	.card__tabs {
		.select {
			display none
		}
		.tabs {
			display flex
		}
		.card__content {
			display none
		}
	}
}

.card__expand {
	display none

	$_buttonSize = vr-block(1.5)
	position relative
	background #eee
	margin-top ( $_buttonSize/2 )
	padding-bottom vr-block(0.25)
	a {
		text-decoration none
	}
	>a {
		margin auto
		display block
		font-size $_buttonSize
		color white
		top - ( $_buttonSize/2 )
		width $_buttonSize
		height $_buttonSize
		line-height $_buttonSize
		text-align center
		border-radius 50%
		background #02393D
		position relative
		margin-bottom - ( $_buttonSize/2 )
		&:before {
			font-weight bold
		}
	}
	>span {
		display block
		margin auto
		text-align center
		font-size 90%
		a:hover {
			text-decoration underline
		}
	}
}