<aside class="site-drawer is-locked" id="site-search" ng-class="{'is-active': omniSearch.showDrawer}">
    <div class="site-drawer__section">
        <div class="search-bar">
            <form class="search-bar__term" ng-submit="omniSearch.updateSearch()">
                <input type="text"
                       autocomplete="off"
                       id="siteSearch"
                       ng-model="omniSearch.freeTextQuery"
                       placeholder="Search">
                <a href="" type="submit" class="gb-icon-search search-bar__search" ng-click="omniSearch.updateSearch()">
                    <span class="sr-only">{$ __('stdTerms.search') $}</span>
                </a>
            </form>
        </div>
        <div>
            <div class="site-drawer__facet-group">
                <h5>Content type</h5>
                <div>
                    <a ui-sref="occurrenceSearchTable({q:omniSearch.freeTextQuery})">
                        <span>
                            <span class="site-drawer__facet-group__facet">Occurrences</span>
                        </span>
                    </a>
                    <a ui-sref="datasetSearchTable({q: omniSearch.query.q})" >
                        <span>
                            <span class="site-drawer__facet-group__facet" translate="stdTerms.datasets">Datasets</span>
                        </span>
                    </a>
                    <a href="/species/table">
                        <span>
                            <span class="site-drawer__facet-group__facet">Species</span>
                        </span>
                    </a>
                    <a ui-sref="cmsSearchTable({q: omniSearch.query.q, type: 'news'})">
                        <span>
                            <span class="site-drawer__facet-group__facet" translate="cms.type.news">News</span>
                        </span>
                    </a>
                    <a ui-sref="cmsSearchTable({q: omniSearch.query.q, type: 'data_use'})">
                        <span>
                            <span class="site-drawer__facet-group__facet" translate="cms.type.data_use">Data use</span>
                        </span>
                    </a>
                    <a ui-sref="cmsSearchTable({q: omniSearch.query.q, type: 'event'})">
                        <span>
                            <span class="site-drawer__facet-group__facet" translate="cms.type.event">Event</span>
                        </span>
                    </a>
                    <a ui-sref="cmsSearchTable({q: omniSearch.query.q, type: 'programme'})">
                        <span>
                            <span class="site-drawer__facet-group__facet" translate="cms.type.programme">Programme</span>
                        </span>
                    </a>
                    <a ui-sref="cmsSearchTable({q: omniSearch.query.q, type: 'project'})">
                        <span>
                            <span class="site-drawer__facet-group__facet" translate="cms.type.project">Project</span>
                        </span>
                    </a>
                    <a ui-sref="cmsSearchTable({q: omniSearch.query.q, type: 'resource', category_resource_type: 895})">
                        <span>
                            <span class="site-drawer__facet-group__facet" translate="cms.resourceType.document">Document</span>
                        </span>
                    </a>
                    <a ui-sref="cmsSearchTable({q: omniSearch.query.q, type: 'resource', category_resource_type: 987})">
                        <span>
                            <span class="site-drawer__facet-group__facet" translate="cms.resourceType.presentation">Presentation</span>
                        </span>
                    </a>
                    <a ui-sref="cmsSearchTable({q: omniSearch.query.q, type: 'resource', category_resource_type: 1010})">
                        <span>
                            <span class="site-drawer__facet-group__facet" translate="cms.resourceType.tool">Tool</span>
                        </span>
                    </a>
                </div>
            </div>
        </div>

    </div>

</aside>

<div class="site-content">

    <!--<div class="fab" fab>-->
        <!--<div class="fab__trigger">-->
            <!--<a href="" class="action-flow btn btn-lg btn-highlight btn-circle" tooltip="Filter" ng-click="omniSearch.showDrawer = true"><i class="gb-icon-filter"></i></a>-->
        <!--</div>-->
    <!--</div>-->

    <div class="page">
        <div class="dataset-search-results">

            <!--<nav class="horizontal-stripe&#45;&#45;paddingless light-background search-tabs">-->
                <!--<div>-->
                    <!--<div class="container&#45;&#45;narrow">-->
                        <!--<div class="row">-->
                            <!--<div class="col-xs-12">-->
                                <!--<ul class="tabs">-->
                                    <!--<li class="is-active">-->
                                        <!--<a ng-href="" translate="stdTerms.all">All</a>-->
                                    <!--</li>-->
                                    <!--<li>-->
                                        <!--<a ui-sref="datasetSearchTable({q: omniSearch.query.q})" translate="stdTerms.datasets">datasets</a>-->
                                    <!--</li>-->
                                    <!--<li>-->
                                        <!--<a ui-sref="occurrenceSearchTable({q: omniSearch.query.q})" translate="stdTerms.occurrences">occurrences</a>-->
                                    <!--</li>-->
                                    <!--<li>-->
                                        <!--<a ui-sref="cmsSearchTable({q: omniSearch.query.q})" translate="stdTerms.cms">information</a>-->
                                    <!--</li>-->
                                <!--</ul>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</nav>-->

            <div ui-view>

                <div class="container-fluid white-background search-header">
                    <div class="row">
                        <div class="col-xs-12">
                            <nav class="article-header__category">
                                <strong class="article-header__category__upper">Search</strong>
                            </nav>
                            <div class="small text-muted text-center" style="height:30px">Showing results for '{{omniSearch.query.q}}'</div>
                        </div>
                    </div>
                </div>

                <ng-include ng-if="omniSearch.query.q" src="'/search/partial?q=' + omniSearch.query.q + '&locale=' + omniSearch.locale"> </ng-include>
                <div ng-if="!omniSearch.query.q">
                    <div style="margin: 50px auto; padding: 0 10px; font-size: 24px; text-align: center; max-width: 500px">
                        <div>Try searching for something
                            <ul style="padding: 0">
                                <li><a ui-sref="omniSearch({q: 'argentina'})">argentina</a></li>
                                <li><a ui-sref="omniSearch({q: 'flabellina'})">flabellina</a></li>
                                <li><a ui-sref="omniSearch({q: 'demise'})">demise</a></li>
                                <li><a ui-sref="omniSearch({q: 'hobern'})">hobern</a></li>
                                <li><a ui-sref="omniSearch({q: 'ebird'})">ebird</a></li>
                                <li><a ui-sref="omniSearch({q: 'nørrebro'})">nørrebro</a></li>
                            </ul>
                        </div>
                        <p>When there is not results we could show links to contacts and about pages.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
