.search-bar {
	height vrBlock(3)
	padding 0
	&__term {
		margin-top 9px
		display inline-block
		position relative
		width 100%
		// max-width 500px
		>input {
			background $lightBackground
			padding 10px 15px
			border 1px solid $stripeBorderColor
			outline none
			width 100%
			box-sizing border-box
			padding-right vrBlock(65px)
			white-space nowrap
			overflow hidden
			text-overflow ellipsis
			background none
			font-size 16px
			line-height 1em
			&:focus {
				outline none
			}
		}
		>button {
			height 100%
			position absolute
			font-size vrBlock(1.2)
			text-align center
			display inline-block
			right 0
			top 0
			width 50px
			background #5a7888
			color white
			border none
			&:before {
				display block
				width 100%
				text-align center
			}
		}
	}
}
