.card {
	box-shadow 0 0 1px rgba(0,0,0,0.3)
	background white
	margin vr-block(1)
}

.species__map {
	width 256px
	max-width 100%
	div {
		height 0
		width 100%
		position relative
		padding-bottom 100%
		overflow hidden
		img {
			position absolute
			top 0
			width 100%
		}
	}
}