.search-bar {
	height 4.28571429rem
	&__form {
		display flex
		justify-content center
	}
	// >div {
	// 	display flex
	// }
	&__title {
		font-weight bold
		text-transform uppercase
		border-right 2px solid $orangePeel
		margin-right 5px
		padding-right 5px
		flex 0 0 auto
	}
	&__term {
		display inline-block
		border-bottom 1px dotted #bbb
		position relative
		width 90%
		max-width 350px
		>input {
			border none
			outline none
			width 100%
			border none
			box-sizing border-box
			padding-right vrBlock(1.2)
			white-space nowrap
			overflow hidden
			text-overflow ellipsis
			background none
			font-size 16px
			font-weight bold
			&:focus {
				outline none
			}
		}
		>button {
			outline none
			width vrBlock(1)
			height 100%
			background none
			position absolute
			font-size vrBlock(1.2)
			right vrBlock(0.5)
			top -5px
			float right
			border none
			&:before {
				display block
			}
		}
	}
}
