.search-header {
    .article-header__category {
        height vrBlock(3)
        padding 20px 0
    }
    .stripe-menu {
        padding 20px 0
        &__option {
            font-size 25px
            width vrBlock(1.8)
            height vrBlock(1.8)
            line-height vrBlock(1.8)
        }
    }
    &__description {
        height $searchTabBar-height
        padding 5px
        text-align center
        font-size 85%
        color #888
    }
}