+isBelow($laptop) {
	.l-only {
		display none
	}
}


.SearchResults__highlighted {
	max-width 800px
	margin 0 auto
}

//+isAbove($laptop) {
//	.SearchResults {
//		display flex
//	}
//	.SearchResults__highlighted {
//		order 2
//		flex 1 1 auto
//		width 400px
//		max-width 800px
//		margin 0 auto
//	}
//}


.Search__content {
	//max-width 1200px
	margin auto
}

.Search__content .searchBar, .tabBar {
	margin-bottom vr-block(1)
	overflow hidden
	background #fbfbfb
	border-bottom 1px solid #ddd
	.card__tabs {
		background #fbfbfb
		border-top 1px solid #ddd
		.tabs {
			max-width 800px
			margin auto
		}
		.tab {
			flex 0 0 auto
			&:first-of-type {
				margin-left vr-block(1)
				border-bottom 2px solid deepskyblue
			}
		}
	}

}

.SearchResults__other {
	max-width 800px
	flex 0 1 auto
	order 1
	margin 0 auto
}
.SearchResults__section {
	margin vr-block(1)
	margin-top 0
	.searchResults__list {
		h3 {
			a {
				color #009FD4
				&:hover {
					text-decoration underline
				}
			}
		}
	}
}

.SearchResults__section-comment {
	@extends .SearchResults__section
	// margin-bottom -(vr-block(0.75))
}

.searchResults__list >div {
	margin-bottom vr-block(1)
	&:last-of-type {
		margin 0
	}
	>div {
		a {
			color #aaa
			&:hover {
				text-decoration underline
			}
		}
		.searchResults__list__custom {
			color #aaa
			span {
				padding-right 5px
			}
		}
		p {
			margin 0
		}
	}
}

.SearchResults__section__more {
	border-top 1px solid #eee
	text-align center
	color #aaa
	padding vr-block(0.25)
	font-size 90%
	a {
		margin 0 vr-block(1)
		text-transform uppercase
	}
}