<div ng-controller="searchCtrl as rootSearch">

    <aside class="omnisearch-bar--static omnisearch-bar is-active">
        <div>
            <div>
                <form class="search-box" ng-submit="rootSearch.updateSearch()">
                    <input type="text"
                           id="siteSearch"
                           autocomplete="off"
                           ng-init="rootSearch.freeTextQuery == ''"
                           ng-model="rootSearch.freeTextQuery"
                           placeholder="Occurrences, species, news ..."
                           ng-keydown="rootSearch.closeOnEsc($event)">
                    <a href="" type="submit" style="cursor:pointer" class="search-box__submit gb-icon-search2"
                       ng-click="rootSearch.updateSearch()">
                        <span class="sr-only">{$ __('stdTerms.search') $}</span>
                    </a>
                </form>
            </div>
            <div class="omnisearch-bar__filters">
                <div>
                    <a href="" ui-sref="occurrenceSearchTable({q:rootSearch.freeTextQuery})" class="gb-button--brand">
                        Occurrences
                    </a>
                    <a href="" ui-sref="speciesSearchList({q:rootSearch.freeTextQuery})" class="gb-button--brand">
                        Species
                    </a>
                    <a href="" ui-sref="datasetSearchTable({q:rootSearch.freeTextQuery})" class="gb-button--brand">
                        Datasets
                    </a>
                    <a href="" ui-sref="publisherSearchTable({q:rootSearch.freeTextQuery})" class="gb-button--brand">
                        Publisher
                    </a>
                    <a ui-sref="resourceSearchList({q: rootSearch.query.q})" class="gb-button--brand">
                        Resources
                    </a>
                </div>
            </div>
        </div>
    </aside>

    <div class="site-content">


        <div class="site-content__page">
            <div class="dataset-search-results">

                <div ui-view>
                    <div style="margin:100px 0" ng-if="rootSearch.query.q && !rootSearch.loaded">
                        <ng-include src="'/templates/components/loader/loader.html'"></ng-include>
                    </div>
                    <ng-include src="'/search/partial?q=' + rootSearch.query.q + '&locale=' + rootSearch.locale"
                                onload="rootSearch.loaded = true" ng-show="rootSearch.query.q"></ng-include>


                    <div class="country-key">
                        <ng-include src="'/search/defaultsearch'"
                                    onload="loaded = true" ng-show="!rootSearch.query.q"></ng-include>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
<!--</div>-->