.card {
	box-shadow 0 0 1px rgba(0,0,0,0.3)
	background white
}

.card__content {
	padding vr-block(1)
}

.SearchResults__highlighted {
	max-width 800px
	margin 0 auto
}

+isAbove($laptop) {
	.SearchResults {
		display flex
	}
	.SearchResults__highlighted {
		order 2
		flex 1 1 auto
		width 400px
		max-width 800px
		margin 0 auto
	}
}


.Search__content {
	max-width 1200px
	margin auto
}

.SearchResults__other {
	max-width 800px
	flex 0 1 auto
	order 1
	margin 0 auto
}
.SearchResults section {
	margin vr-block(1)
	h2 {
		text-transform uppercase
		font-size 15px
		margin-left vr-block(1)
		line-height 2rem
	}
	h3 {
		font-size 18px
		font-weight normal
		a {
			color deepskyblue
		}
	}
}

.searchResults__list >div {
	margin-bottom vr-block(1)
	&:last-of-type {
		margin 0
	}
	>div {
		a {
			color #aaa
			&:hover {
				border-bottom 1px solid $OrangePeel
			}
		}
		.searchResults__list__custom {
			color #aaa
			span {
				padding-right 5px
			}
		}
		p {
			margin 0
		}
	}
}

.SearchResults__section__more {
	border-top 1px solid #eee
	text-align center
	color #aaa
	padding vr-block(0.25)
	font-size 90%
	a {
		margin 0 vr-block(1)
		text-transform uppercase
	}
}