<aside class="site-drawer is-locked" id="site-search" ng-class="{'is-active': omniSearch.showDrawer}">
    <div class="site-drawer__section">
        <div class="search-bar">
            <form class="search-bar__term" ng-submit="omniSearch.updateSearch()">
                <input type="text"
                       autocomplete="off"
                       id="siteSearch"
                       ng-model="omniSearch.freeTextQuery"
                       placeholder="Search">
                <a href="" type="submit" class="gb-icon-search search-bar__search" ng-click="omniSearch.updateSearch()">
                    <span class="sr-only">{$ __('stdTerms.search') $}</span>
                </a>
            </form>
        </div>


        <div class="filter-group filter-group--search seperator">
            <a href="" class="inherit">
                <h5>
                    Content type
                </h5>
            </a>
            <div class="filter-group__filter">
                <a href="" ui-sref="occurrenceSearchTable({q:omniSearch.freeTextQuery})" class="radio inherit is-padded">
                    <label>
                        <input type="radio" name="contentType"> Occurrences
                    </label>
                </a>
                <a href="" ui-sref="datasetSearchTable({q:omniSearch.freeTextQuery})" class="radio inherit is-padded">
                    <label>
                        <input type="radio" name="contentType"> Datasets
                    </label>
                </a>
                <a ui-sref="cmsSearchTable({q: omniSearch.query.q, type: 'news'})" class="radio inherit is-padded">
                        <span>
                            <label>
                                <input type="radio" name="contentType">
                                <span translate="cms.type.news"></span>
                            </label>
                        </span>
                </a>
                <a ui-sref="cmsSearchTable({q: omniSearch.query.q, type: 'data_use'})" class="radio inherit is-padded">
                        <span>
                            <label>
                                <input type="radio" name="contentType">
                                <span translate="cms.type.data_use"></span>
                            </label>
                        </span>
                </a>
                <a ui-sref="cmsSearchTable({q: omniSearch.query.q, type: 'event'})" class="radio inherit is-padded">
                        <span>
                            <label>
                                <input type="radio" name="contentType" translate="cms.type.event">
                                <span translate="cms.type.event"></span>
                            </label>
                        </span>
                </a>
                <a ui-sref="cmsSearchTable({q: omniSearch.query.q, type: 'resource'})" class="radio inherit is-padded">
                        <span>
                            <label>
                                <input type="radio" name="contentType">
                                <span translate="cms.type.resource"></span>
                            </label>
                        </span>
                </a>
                <a ui-sref="cmsSearchTable({q: omniSearch.query.q, type: 'programme'})" class="radio inherit is-padded">
                        <span>
                            <label>
                                <input type="radio" name="contentType">
                                <span translate="cms.type.programme"></span>
                            </label>
                        </span>
                </a>
                <a ui-sref="cmsSearchTable({q: omniSearch.query.q, type: 'project'})" class="radio inherit is-padded">
                    <span>
                        <label>
                            <input type="radio" name="contentType">
                            <span translate="cms.type.project"></span>
                        </label>
                    </span>
                </a>
            </div>
        </div>

    </div>

</aside>

<div class="site-content">

    <!--<div class="fab" fab>-->
        <!--<div class="fab__trigger">-->
            <!--<a href="" class="action-flow btn btn-lg btn-highlight btn-circle" tooltip="Filter" ng-click="omniSearch.showDrawer = true"><i class="gb-icon-filter"></i></a>-->
        <!--</div>-->
    <!--</div>-->

    <div class="page">
        <div class="dataset-search-results">

            <div ui-view>

                <div class="container-fluid white-background search-header">
                    <div class="row">
                        <div class="col-xs-12">
                            <nav class="article-header__category">
                                <strong class="article-header__category__upper">Search</strong>
                            </nav>
                            <div class="small text-muted text-center" style="height:30px">Showing results for '{{omniSearch.query.q}}'</div>
                        </div>
                    </div>
                </div>

                <ng-include ng-if="omniSearch.query.q" src="'/search/partial?q=' + omniSearch.query.q + '&locale=' + omniSearch.locale"> </ng-include>
                <div ng-if="!omniSearch.query.q">
                    <div style="margin: 50px auto; padding: 0 10px; font-size: 24px; text-align: center; max-width: 500px">
                        <p>Try searching for something
                            <ul style="padding: 0">
                                <li><a ui-sref="omniSearch({q: 'argentina'})">argentina</a></li>
                                <li><a ui-sref="omniSearch({q: 'flabellina'})">flabellina</a></li>
                                <li><a ui-sref="omniSearch({q: 'demise'})">demise</a></li>
                                <li><a ui-sref="omniSearch({q: 'hobern'})">hobern</a></li>
                                <li><a ui-sref="omniSearch({q: 'ebird'})">ebird</a></li>
                                <li><a ui-sref="omniSearch({q: 'nørrebro'})">nørrebro</a></li>
                            </ul>
                        </p>
                        <p>When there is not results we could show links to contacts and about pages.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
