
<div class="container-fluid card card--spaced m-b-1">
    <div class="menubox__header">
        <a href=""  ng-click="vm.showParticipantDetails = false" class="inherit noUnderline menubox__close gb-icon-close"></a>
        <div class="menubox__header__title text-center">
            <a ng-href="/country/{{vm.currentParticipantProps.countryCode}}" >


                <h3   translate="country.{{vm.currentParticipantProps.countryCode}}" ></h3>

            </a>
        </div>
    </div>

    <div ng-if="vm.participantApiError" class="emptyInfo--small">
        <h3  translate="phrases.nonCriticalErrorMsg"></h3>


    </div>
<section class="info-pane__content" ng-if="!vm.participantApiError">

    <ul class="info-pane__header participant-details-list m-b-1">
        <li ng-if="vm.currentParticipantProps.membershipType">
            <strong translate="gbifNetwork.{{vm.currentParticipantProps.membershipType}}.one"></strong>
        </li>
        <li ng-if="vm.currentParticipantProps.membershipStart">
            <span translate="gbifNetwork.memberSince"></span>
            <span ng-bind="vm.currentParticipantProps.membershipStart"></span>
        </li>
        <li ng-if="vm.digestLoaded === false">
            <ng-include src="'/templates/components/loader/loader.html'" ></ng-include>
        </li>
        <li ng-if="vm.heads.HEAD_OF_DELEGATION.firstName">
            <span translate="gbifNetwork.roles.HEAD_OF_DELEGATION"></span>
            <strong ng-bind="vm.heads.HEAD_OF_DELEGATION.firstName"></strong>
            <strong ng-bind="vm.heads.HEAD_OF_DELEGATION.surname"></strong>
        </li>
        <li ng-if="vm.heads.NODE_MANAGER.firstName">
            <span translate="gbifNetwork.roles.NODE_MANAGER"></span>
            <strong ng-bind="vm.heads.NODE_MANAGER.firstName"></strong>
            <strong ng-bind="vm.heads.NODE_MANAGER.surname"></strong>
        </li>
    </ul>
    <ul class="info-pane__digest participant-details-list m-b-1">
        <li ng-if="vm.endorsedPublisher > 0">
            <span translate="gbifNetwork.endorsedDataPublisher"
                  translate-values="{NUMBER_FORMATTED: (vm.endorsedPublisher | localNumber), NUMBER: vm.endorsedPublisher }"></span>
        </li>
        <li ng-if="vm.digest.counts.datasetFromCount">
            <a ui-sref="datasetSearchTable({type: 'OCCURRENCE', publishing_country: vm.digest.iso2})">
                <strong ng-bind="vm.digest.counts.datasetFromCount | localNumber:gb.locale"></strong>
            </a>
            <span translate="gbifNetwork.occurrenceDatasetWith"
                  translate-values="{ NUMBER: vm.digest.counts.datasetFromCount}"></span>
            <a ui-sref="occurrenceSearchTable({advanced: true, publishing_country: vm.digest.iso2})">
                <strong ng-bind="vm.digest.counts.occurrenceFromCount | localNumber:gb.locale"></strong>
            </a>
            <span translate="gbifNetwork.record"
                  translate-values="{ NUMBER: vm.digest.counts.occurrenceFromCount}"></span>
        </li>
    </ul>
    <footer>

    </footer>
</section>
</div>