#theNetworkMap {
    background-image linear-gradient(to bottom, #CFCFCF, #a8a6a6)
}

.participant-details {
    position: absolute;
    right: 0px;
    top: 0px;
    z-index 2;
}

+isAbove($mobile) {
    .participant-details {
        position: absolute;
        right: 30px;
        top: 30px;
        z-index 2;
    }
}

.participant-details-list {
    margin-left: -38px;
}

.theGbifNetWork {
    &__map {
        position relative
        z-index 20
      //  max-height "calc(100vh - 40px - %s)" % $navBar_height
    }

    &__legend {
            
            left: 8px;
            bottom: 10px;
            overflow: hidden;
            width: 230px;
            padding: 6px;
            max-width: 100%;
            background: #fff;
            box-shadow: 0 1px 3px rgba(0,0,0,.3);
          div.info-label {
            margin-bottom: 6px;
          }
         i {
            width: 18px;
            height: 18px;
            float: left;
            margin-right: 8px;
            opacity: .7;
        }
        +isAbove($mobile){
            position: absolute;
        }
        +isBelow($mobile){
            margin-bottom: 10px;
        }
    }

    &__badges {
         color: #fff;
        -webkit-transition: box-shadow .2s ease,background .2s ease;
         transition: box-shadow .2s ease,background .2s ease;
         box-shadow: 0 2px 2px 0 rgba(0,0,0,.16);
         border: none;
         font-weight: 400;
         font-size: 12px;
         text-transform: uppercase;
         background: #71b171;
         text-align: center;
         padding: 3px 10px;
         display: inline-block;
         text-decoration: none;
         margin-bottom 10px;
    }
}
