
<article class="wrapper-horizontal-stripes"  >
    <div class="horizontal-stripe article-header white-background">
        <div class="container">
            <div class="row">
                <header class="col-xs-12 text-center article-header">
                    <h1 translate="menu.GbifNetwork"></h1>
                </header>
            </div>
        </div>
    </div>
    <section id="region-nav" class="horizontal-stripe--paddingless white-background">
        <div class="container--desktop">
            <div class="row">
                <div class="col-xs-12">
                    <div class="tabs m-b-1">
                        <ul class="anchorTabs">

                            <li class="tab" ng-class="{'isActive': vm.currentRegion == region}" ng-repeat="region in vm.validRegions">
                                <a href ng-click="vm.selectRegion(region)" translate="region.{{ region }}">

                                </a>
                            </li>
                            <li class="tab" ng-class="{'isActive': vm.currentRegion == 'PARTICIPANT_ORGANISATIONS'}" >
                                <a href ng-click="vm.selectRegion('PARTICIPANT_ORGANISATIONS')" translate="gbifNetwork.participation.nonCountryParticipant.other">

                                </a>
                            </li>

                            <li class="tab" ng-class="{'isActive': vm.currentRegion == 'GBIF_AFFILIATES'}" >
                                <a href ng-click="vm.selectRegion('GBIF_AFFILIATES')" translate="gbifNetwork.participation.gbifAffiliate.other">

                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="white-background" ng-show="vm.currentRegion !== 'PARTICIPANT_ORGANISATIONS' && vm.currentRegion !== 'GBIF_AFFILIATES'">
        <div class="container--desktop">

            <div class="theGbifNetWork__map">
                <div id="theNetworkMap" class="m-b-1"></div>


                <ng-include ng-if="vm.showParticipantDetails === true" class="participant-details"
                            src="'/api/template/thegbifnetwork/participantDetails.html?v=' + vm.BUILD_VERSION" ></ng-include>
                <div class="theGbifNetWork__legend" ng-if="vm.mapIsLoaded">
                    <div class="outline" >
                        <i style="background:#4E9F37"></i>
                    </div>
                    <div class="info-label" translate="gbifNetwork.voting_participant.other"></div>
                    <div class="outline" >
                        <i style="background:#58BAE9"></i>
                    </div>
                    <div class="info-label" translate="gbifNetwork.associate_country_participant.other"></div>

                </div>

            </div>

        </div>
        <div class="container--normal" >

        <span ng-repeat="participantType in vm.participantTypes" ng-if="participantType !== 'gbif_affiliate'" >
                    <span class="theGbifNetWork__badges" ng-if="vm.tableLoaded && vm.count[participantType] > 1" ng-cloak>{{ vm.count[participantType] }} <span class="gb-button--brand__label" translate="gbifNetwork.{{ participantType }}.other"></span></span>
                    <span class="theGbifNetWork__badges" ng-if="vm.tableLoaded && vm.count[participantType] === 1" ng-cloak>{{ vm.count[participantType] }} <span class="gb-button--brand__label" translate="gbifNetwork.{{ participantType }}.one"></span></span>

                </span>

        <span>
                    <span ng-if="vm.currentRegion !== 'GLOBAL'" class="theGbifNetWork__badges" ng-if="vm.tableLoaded" ng-cloak>{{ vm.count.publisher | localNumber }} <span class="gb-button--brand__label" translate="counts.pPublishers" translate-values="{NUMBER: vm.count.publisher}"></span></span>
                    <span ng-if="vm.currentRegion === 'GLOBAL'" class="theGbifNetWork__badges"  ng-cloak><span count="//api.gbif.org/v1/organization" subtract="//api.gbif.org/v1/organization/nonPublishing"></span> <span class="gb-button--brand__label" translate="counts.pPublishers" translate-values="{NUMBER: vm.count.publisher}"></span></span>



                </span>

            <span ng-if="vm.tableLoaded && vm.currentRegion !== 'GLOBAL' && vm.currentRegion !== 'GBIF_AFFILIATES'">
                    <span class="theGbifNetWork__badges" ng-cloak>{{ vm.count.occurrence | localNumber }} <span class="gb-button--brand__label" translate="counts.pOccurrence"></span></span>

                </span>
        </div>

        <div ng-if="vm.participantApiError" class="emptyInfo--small">
            <h3  translate="phrases.nonCriticalErrorMsg"></h3>


        </div>

    </section>

    <section class="white-background" ng-if="vm.contentfulResourceUrl" ng-include="vm.contentfulResourceUrl">




    </section>
    <section  class="horizontal-stripe light-background">
        <div class="container--normal">
            <ng-include src="'/api/template/thegbifnetwork/regionalReps.html?v=' + vm.BUILD_VERSION"></ng-include>
            <ng-include src="'/api/template/thegbifnetwork/participantTable.html?v=' + vm.BUILD_VERSION"></ng-include>



        </div>
    </section>


</article>

