<div class="filter-group" ng-mouseover="vm.isHovered = true">
    <a href="" class="inherit" ng-click="vm.collapsed = !vm.collapsed">
        <h4>
            <span translate="ocurrenceFieldNames.{{vm.title}}">{{vm.title}}</span>
            <span class="gb-icon-angle-down pull-right" ng-if="vm.collapsed"></span>
            <span class="gb-icon-angle-up pull-right" ng-if="!vm.collapsed"></span>
        </h4>
    </a>

    <div class="filter-group__filter" ng-class="{'filter-group__filter--collapsed': vm.collapsed}">
        <div class="is-padded">
            <div class="checkbox" ng-repeat="enumName in vm.filterConfig.enumValues"
                 ng-if="vm.checkboxModel[enumName] || !vm.collapsed">
                <label>
                    <input type="checkbox" ng-model="vm.checkboxModel[enumName]"
                           ng-change="vm.apply(enumName, checked)">
                    <span class="filter-group__filter__name">
                        <div class="filter-group__filter__name__bar" ng-style="vm.getWidth(enumName)"
                             ng-if="vm.showFacetCount()"></div>
                        <span
                              translate="{{vm.translationPrefix}}.{{enumName}}">{{enumName}}</span>
                        <span class="filter-group__filter__name__count" ng-if="vm.showFacetCount()">{{vm.filterState.data.facets[vm.facetKey].counts[enumName].count | localNumber:vm.filterState.query.locale}}</span>
                    </span>
                </label>
            </div>
        </div>

        <div class="site-drawer__bar" ng-if="!vm.collapsed">
            <a href="" class="site-drawer__bar__action" ng-click="vm.uncheckAll()"
               ng-class="{invisible: vm.query.length == 0}"><span translate="filters.clear">Clear</span></a>
            <a href="" class="site-drawer__bar__action" ng-click="vm.reverse()"><span
                    translate="filters.invert">Invert</span></a>
        </div>
    </div>
</div>

