# IDE and OS dependent
.vscode
.DS_Store

# Application specific
node_modules/
bower_components/
public/
log/
build/
reports/
coverage/
app/views/shared/layout/html/angular/env.json
app/views/shared/layout/html/angular/constants.json
app/views/shared/layout/html/angular/gitCommit.json
app/views/shared/style/bootstrap/.build/
config/revision.json
locales/_build/
npm-debug.log
.ignore.js
