.ct-series-a .ct-bar, .ct-series-a .ct-line, .ct-series-a .ct-point, .ct-series-a .ct-slice-donut {
    stroke $color_accent
}
.ct-label {
    color $discreetInk
}
.ct-axis-title {
    fill lighten($discreetInk, 10)
}