<aside id="biodataSurvey" class="ng-cloak" ng-show="vm.show" data-nosnippet>
    <div class="card card--spaced termsPopup" ng-class="{'is-shown': vm.show}">
        <div class="card__stripe">
            <div class="card__content">
                <h4 >What is GBIF worth to you?</h4>
                <div >Are you already a user of biodiversity data? Help us estimate the value of GBIF by taking a brief survey.
                </div>
            </div>
        </div>
        <div class="card__stripe card__stripe--actions">
            <a ng-click="vm.accept()"  href="https://surveyapac.deloitte.com/jfe/form/SV_23JpuX4LK0ofHim" target="_blank">Yes</a>
            <a href="" ng-click="vm.maybeLater()">Maybe later</a>
            <a href="" ng-click="vm.reject()">No</a>
        </div>
    </div>
</aside>