.galleryBar {
    height 150px
    overflow hidden
    position relative
    >div {
        display flex
        overflow hidden
        overflow-x auto
        height 250px
        padding-bottom 100px
    }
    &__img {
        margin-right 10px
        flex 0 0 auto
        width 200px
        height 150px
        img {
            height 150px
        }
    }
    >a {
        position absolute
        margin 10px
        bottom 0
        right 0
        display none
    }
    .summary {
        background rgba(0, 0, 0, 0.3)
        color white
        position relative
        bottom 25px
        width 100%
        padding 5px
    }
}
.rtl {
    .galleryBar {
        &__img {
            margin-right 0
            margin-left 10px
        }
    }
}

+isAbove($tablet) {
    .galleryBar {
        >a {
            display block
        }
    }
}