.errorPage {
	max-width 800px
	margin auto
	padding 0 vr-block(1)
	>* {
		margin 0 auto vr-block(1) auto
		text-align center
	}
	.giant {
		font-size 5rem
		line-height 1
	}
	.errorPage__img {
		max-width 256px
		.responsiveImage {
			width 100%
			height 0
			padding-bottom 103%
		}
		img {
			width 100%
		}
	}
}

+isAbove($laptop) {
	.errorPage .giant {
		font-size 10rem
	}
}

