<div class="light-background p-t-05 seperator horizontal-stripe grscicollInstitution">
    <div class="container--normal">
        <section class="col-xs-12">
            <div class="card card--spaced m-b-1">
                <div class="card__content prose">
                    <h3 translate="institution.search.title"></h3>
                    <div ng-bind-html="'institution.search.description' | translate | md2html"></div>
                </div>
            </div>
        </section>
        <section class="col-xs-12">
            <div class="m-b-05">
                <div class="search-box">
                    <form ng-submit="grscicollInstitution.doSearch()">
                        <input type="text" placeholder="{{ 'search.search' | translate }}" autocomplete="off"
                                ng-model="grscicollInstitution.q">
                        <a href="" class="search-box__submit gb-icon-search2 inherit noUnderline" type="submit" ng-click="grscicollInstitution.pageChanged()">
                            <span class="sr-only">{$ __('search.search') $}</span>
                        </a>
                    </form>
                </div>
            </div>
        </section>
        <section class="col-xs-12">
            <ng-include src="'/templates/components/loader/loader.html'" ng-if="grscicollInstitution.loading"></ng-include>
            <div ng-if="!grscicollInstitution.loading">
                <h3 class="card-header--bold" tx="counts.nResults" tx-nr="grscicollInstitution.data.count"></h3>
                <div class="card card--spaced m-b-1">
                    <div class="scrollable-y">
                        <div>
                            <table class="table search-table smaller">
                                <thead>
                                    <tr>
                                        <th translate="collection.code"></th>
                                        <th translate="collection.name"></th>
                                        <th translate="grscicoll.contact.city"></th>
                                        <th translate="grscicoll.contact.province"></th>
                                        <th translate="grscicoll.contact.country"></th>
                                        <th translate="collection.status"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="row in grscicollInstitution.data.results">
                                    <td>
                                        {{ row.code }}
                                    </td>
                                    <td>
                                        <span><a href="" ui-sref="institutionKey({key: row.key})">{{ row.name }}</a></span>
                                    </td>
                                    <td>
                                        <span ng-if="row.mailingAddress.city">{{ row.mailingAddress.city }}</span>
                                    </td>
                                    <td>
                                        <span ng-if="row.mailingAddress.province">{{ row.mailingAddress.province }}</span>
                                    </td>
                                    <td>
                                        <span ng-if="row.mailingAddress.country" translate="country.{{row.mailingAddress.country}}"></span>
                                    </td>
                                    <td>
                                        <span translate="collection.isActive.{{row.active}}"></span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <uib-pagination
                        total-items="grscicollInstitution.data.count"
                        ng-model="grscicollInstitution.currentPage"
                        max-size="grscicollInstitution.maxSize"
                        items-per-page="grscicollInstitution.limit"
                        class="pagination-sm"
                        boundary-link-numbers="true"
                        rotate="false"
                        first-text="{{'pagination.first' | translate}}"
                        next-text="{{'pagination.next' | translate}}"
                        previous-text="{{'pagination.previous' | translate}}"
                        ng-change="grscicollInstitution.pageChanged()"
                        ng-show="grscicollInstitution.data.count > grscicollInstitution.limit">
                </uib-pagination>
            </div>
        </section>
    </div>
</div>