.list-links--programme-resources {
    list-style none
    padding-left vrBlock(1)
}

.funders {
    display inline-block
    img {
        height vrBlock(3)
        display inline-block
        margin 0
    }
    h5 {
        display inline-block
    }
}
.funders:nth-of-type(2) {
    img {
        margin-right 10px
        margin-left 10px
    }
}