.list-links--programme-resources {
    list-style none
    padding-left vrBlock(1)
}

.funders {
    display inline-block
    img {
        height vrBlock(2)
        display inline-block
        margin 0 5px
    }
    h5 {
        display inline-block
    }
}

+isAbove($tablet) {
    .funders-lead {
        display inline
    }
}

.projects-table {
    margin 0 auto
}