.article-card {
	display flex
	flex-direction column
	.card__stripe {
		flex 0 0 auto;
		&:last-child {
			flex 1 1 auto
			min-height vrBlock(5)
			background-position center
			background-size cover
		}
	}
}