<div class="wrapper-horizontal-stripes occurrence-search__table">

    <section class="horizontal-stripe--paddingless white-background search-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <nav class="article-header__category article-header__category--deep">
                        <span class="article-header__category__upper" translate="search.header.searchOccurrences"></span>
                        <span class="article-header__category__lower" ng-if="occSpecies.hasTableData()">
                            <span tx="search.nResults" tx-nr="occSpecies.state.table.count"></span>
                        </span>
                        <span class="article-header__category__lower" ng-if="!occSpecies.hasTableData()">
                            <span translate="phrases.loading"></span> ...
                        </span>
                    </nav>
                </div>
            </div>
        </div>
    </section>

    <section class="horizontal-stripe--paddingless white-background p-hidden">
        <div class="container-fluid">
            <div class="row">
                <nav class="tabs">
                    <ul>
                        <li class="tab">
                            <a href="" ui-sref="occurrenceSearchTable()" translate="occurrenceSearch.table">
                                Table
                            </a>
                        </li>

                        <li class="tab">
                            <a href="" ui-sref="occurrenceSearchGallery()" translate="occurrenceSearch.gallery">
                                Gallery
                            </a>
                        </li>

                        <li class="tab">
                            <a href="" ui-sref="occurrenceSearchMap()" translate="occurrenceSearch.map">
                                Map
                            </a>
                        </li>

                        <li class="tab isActive">
                            <span translate="occurrenceSearch.taxonomy">
                                Taxonomy
                            </span>
                        </li>

                        <li class="tab">
                            <a href="" ui-sref="occurrenceSearchCharts()" translate="occurrenceSearch.charts">
                                Charts
                            </a>
                        </li>

                        <li class="tab">
                            <a href="" ui-sref="occurrenceSearchDownload()">
                                <span class="gb-icon-file-download"></span>
                                <span translate="occurrenceSearch.download">
                                    Download
                                </span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </section>

    <section class="horizontal-stripe--paddingless lighter-background">
        <div ng-class="{'container-fluid' : occSpecies.mdMedia('gt-xs')}" layout="column">
            <div layout-gt-sm="row" layout-padding>
                <div flex-gt-sm="50" flex="100" >
                    <h4 class="card-header text-center inline-block" translate="metrics.taxonomicOccDistribution"></h4>
                    <div class="card " layout-fill layout-padding>
                        <occurrence-taxonomy-tree filter="occSpecies.state.query" options="{limit:10}"></occurrence-taxonomy-tree>
                    </div>
                </div>
                <div flex-gt-sm="50" flex="100">
                    <occurrence-taxonomy-stats filter="occSpecies.state.query" chart-type="'sunburst'"></occurrence-taxonomy-stats>
                </div>
            </div>

            <div class="occurrence-taxon-list m-t-1 m-b-1">
                <div class="m-b-0 m-h-18">
                <div ng-if="occSpecies.hasData()" layout="row" >
                    <div class="taxon-list-header" flex="30">
                        <h4 class="card-header" translate="metrics.majorRanksPlural.{{ occSpecies.type | uppercase }}"></h4>
                    </div>
                    <div layout-fill></div>
                    <div>
                        <md-select class="taxon-group-select"  ng-model="occSpecies.type" >
                            <md-option ng-repeat="type in occSpecies.types" ng-value="type">
                                {{ 'metrics.groupByX' | translate:({TYPE: ('taxonRank.' + (type | uppercase) | translate) }) }}
                            </md-option>
                        </md-select>
                    </div>
                </div>
                </div>
                <div class="occurrence-taxon-list">
                    <div class="occurrence-search__table__area card" layout-padding>
                        <ng-include src="'/templates/components/loader/loader.html'" ng-if="!occSpecies.hasData() && !occSpecies.state.failedRequest"></ng-include>
                        <div class="scrollable-y" ng-if="occSpecies.hasData()">
                            <div class="table-container">
                                <table class="table search-table smaller">
                                    <thead>
                                    <tr>
                                        <th>
                                            <span class="gb-icon-filters"></span>
                                        </th>
                                        <th translate="metrics.occurrences"></th>
                                        <th
                                            ng-repeat="field in ['taxonKey', 'kingdomKey', 'phylumKey', 'classKey', 'orderKey', 'familyKey', 'genusKey', 'speciesKey']">
                                            {{ ('filterNames.' + field) | translate }}
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="taxon in occSpecies.checklist.results">
                                        <td class="table-cell--narrow--very">
                                            <a ng-click="occSpecies.updateTaxonFilter(taxon._resolved.key)" class="cursor-pointer"><span class="gb-icon-add"></span></a>
                                        </td>
                                        <td class="table-cell--narrow">
                                            <a ui-sref="speciesKey({speciesKey:taxon._resolved.key})">{{taxon.count | localNumber:occSpecies.state.query.locale}}</a>
                                        </td>

                                        <td class="table-cell--wide">
                                            <a ui-sref="speciesKey({speciesKey:taxon._resolved.key})">{{taxon._resolved.scientificName}}</a>
                                        </td>
                                        <td class="table-cell--narrow"
                                            ng-repeat="t in ['kingdom', 'phylum', 'class', 'order', 'family', 'genus']">
                                            <a ui-sref="speciesKey({speciesKey:taxon._resolved.key})">{{taxon._resolved[t]}}</a>
                                        </td>
                                        <td class="table-cell--wide">
                                            <a ui-sref="speciesKey({speciesKey:taxon._resolved.key})">{{taxon.species}}</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="container-fluid" ng-if="occSpecies.hasData()">
                            <div class="row">
                                <div class="col-xs-12">
                                    <uib-pagination
                                            total-items="occSpecies.totalItems()"
                                            ng-model="occSpecies.currentPage"
                                            max-size="1"
                                            items-per-page="occSpecies.limit"
                                            class="pagination-sm"
                                            boundary-link-numbers="false"
                                            rotate="false"
                                            first-text="{{'pagination.first' | translate}}"
                                            next-text="{{'pagination.next' | translate}}"
                                            previous-text="{{'pagination.previous' | translate}}"
                                            ng-change="occSpecies.pageChanged()"
                                            ng-show="occSpecies.checklist.offset || occSpecies.checklist.results.length == occSpecies.limit">
                                    </uib-pagination>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>