.bbox-filter {
    input.ng-invalid {
        color tomato
    }
    &__latlng {
        margin-bottom 1rem
        input {
            padding 0.25em 1em
            text-align right
            width 100%
        }
        input:
        :-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance none
            margin 0
        }
        &__slider {
            margin-top 1rem
        }
    }
}