<div id="{{vm.filterConfig.facets.facetKey}}" class="filter-group filter-group--search" ng-show="vm.suggestions.counts.length > 0">
    <a href="" class="inherit" ng-click="vm.expanded = !vm.expanded">
        <h4>
            <span ng-bind="vm.facetTitle"></span>
            <span class="gb-icon-angle-down pull-right" ng-if="!vm.expanded"></span>
            <span class="gb-icon-angle-up pull-right" ng-if="vm.expanded"></span>
        </h4>
    </a>

    <div class="filter-group__filter" ng-class="{'filter-group__filter--collapsed': !vm.expanded}">

        <div ng-if="vm.query.length > 0 && vm.filterConfig.search.isSearchable" class="is-padded overflow-hidden">
            <div class="checkbox" ng-repeat="(index, key) in vm.query">
                <label>
                    <input type="checkbox" checklist-model="vm.query" checklist-value="key.toString()"
                           ng-change="vm.change(key.toString(), checked)">
                    <span class="filter-group__filter__name">
                        <span class="filter-group__filter__name__bar" ng-style="vm.getWidth(key)"
                              ng-if="vm.filterConfig.facets.hasFacets && !vm.filterConfig.facets.hideBar"></span>
                        <span translate="country.{{key}}"
                              ng-class="{'filter-group__filter__name__title' : vm.expanded}"></span>
                        <span class="filter-group__filter__name__count"
                              ng-if="vm.showFacetCount() && vm.filterState.data.facets">
                            {{vm.filterState.data.facets[vm.filterConfig.facets.facetKey].counts[index].count || 0 | localNumber:vm.filterState.query.locale}}
                        </span>
                    </span>
                </label>
            </div>
        </div>
        <div class="filter-group__filter__search"
             ng-if="vm.expanded && vm.filterConfig.search.isSearchable && vm.allowSelection()">
            <input type="text"
                   focus-me="vm.expanded"
                   autocomplete="off"
                   class="fit-suggestions"
                   ng-model="vm.selected"
                   placeholder="{{ 'stdTerms.search' | translate }}"
                   uib-typeahead="suggestion.title for suggestion in vm.searchSuggestions | filter:$viewValue | limitTo:8"
                   typeahead-on-select="vm.typeaheadSelect($item, $model, $label, $event)"
                   typeahead-focus-first="true"
                   ng-keyup="vm.searchOnEnter($event)">
        </div>

        <div class="is-padded overflow-hidden"
             ng-if="vm.expanded && vm.filterConfig.facets.hasFacets && vm.filterConfig.search.isSearchable && vm.allowSelection()">

            <div class="checkbox" ng-repeat="facet in vm.suggestions.counts" ng-if="!vm.inQuery(facet.key)">
                <label>
                    <input type="checkbox" checklist-model="vm.query" checklist-value="facet.key.toString()"
                           ng-change="vm.change(facet.key.toString(), checked)">
                        <span class="filter-group__filter__name">
                            <span class="filter-group__filter__name__title">{{ facet.translatedLabel }}</span>
                            <span class="filter-group__filter__name__count" ng-if="!vm.hideFacetCounts">{{ facet.count | localNumber:vm.filterState.query.locale }}</span>
                        </span>
                </label>
            </div>

        </div>

        <div class="is-padded overflow-hidden"
             ng-if="vm.filterConfig.facets.hasFacets && !vm.filterConfig.search.isSearchable && vm.expanded">

            <div class="checkbox" ng-repeat="facet in vm.suggestions.counts">
                <label>
                    <input type="checkbox" checklist-model="vm.query" checklist-value="facet.key.toString()"
                           ng-change="vm.change(facet.key.toString(), checked)">
                    <span class="filter-group__filter__name">
                        <span class="filter-group__filter__name__bar" ng-style="vm.getWidth(facet.key)"
                              ng-if="vm.filterConfig.facets.hasFacets && !vm.filterConfig.facets.hideBar"></span>
                        <span ng-bind="facet.translatedLabel"
                              class="filter-group__filter__name__title"></span>
                        <span class="filter-group__filter__name__count"
                              ng-if="vm.showFacetCount() && !vm.hideFacetCounts">
                            {{ facet.count || 0 | localNumber:vm.filterState.query.locale}}
                        </span>
                    </span>
                </label>
            </div>
            <div ng-if="vm.expanded && vm.suggestions.counts.length == 0">
                <p>None found – try to clear some filters</p>
            </div>

        </div>

        <div class="site-drawer__bar" ng-if="vm.expanded && vm.query.length > 0 && !vm.filterConfig.singleSelect">
            <a href="" class="site-drawer__bar__action" ng-click="vm.uncheckAll()">
                <span translate="filters.clear">Clear</span>
            </a>
        </div>

    </div>
</div>
