	    <script type="text/ng-template" id="gdprModal.html">
        <div class="gb-modal-header">
            <span class="modal-title body-text" id="modal-title">We have updated our privacy policy</span>
        </div>
        <div class="gb-modal-body" id="modal-body">
            <div class="gb-modal-body__content white-background">
            <p>
            As the <a ng-href="http://data.europa.eu/eli/reg/2016/679/oj" target="_blank">European General Data Protection Regulation</a>, or GDPR, came into force on 25 May 2018, GBIF remains committed to openness and transparency. 
            </p>
            <p>
            Registered users' login credentials enable them to access their accounts. They also enable us to support and contact them about important changes. GBIF does not barter or sell personal information or give it to advertisers.
            </p>
            <p >
                Our <a ng-href="/terms/privacy-policy" target="_blank">privacy policy</a>, which provides detailed information about how and where we use personal information, was prepared to align with the draft version of the GDPR. As we update our processes to comply with GDPR commitments, we have updated the policy to include:
                <ul>
                    <li>the use of ORCID-based login</li>
                    <li>the use of Instagram for social media</li>
                    <li>the use of MailChimp for opt-in email</li>
                 </ul>
            </p>    
            </div>
        </div>
        <div class="gb-modal-footer">
            <a href="" class="gb-button--flat pull-left" type="button" ng-click="$ctrl.cancel()">Log out</a>

            <a href="" class="gb-button--primary" type="button" ng-click="$ctrl.ok()">Understood, and don't show me this again</a>
        </div>
    </script>