	    <script type="text/ng-template" id="gdprModal.html">
        <div class="gb-modal-header">
            <span class="modal-title body-text" id="modal-title">We have updated our privacy policy</span>
        </div>
        <div class="gb-modal-body" id="modal-body">
            <div class="gb-modal-body__content white-background">
                <p >
                   Please read the updated privacy policy <a ng-href="/terms/privacy-policy" target="_blank">here</a> 
                </p>
         
            </div>
        </div>
        <div class="gb-modal-footer">
            <a href="" class="gb-button--flat pull-left" type="button" ng-click="$ctrl.cancel()">Log out</a>

            <a href="" class="gb-button--primary" type="button" ng-click="$ctrl.ok()">Understood, and don't show me this again</a>
        </div>
    </script>