<div class="ng-cloak directoryPerson">
    <div ng-if="vm.person.$resolved && !vm.error">
        <div class="directoryPerson__header seperator--b">
            <h4>{{vm.person.firstName}} {{vm.person.surname}}</h4>
        </div>
        <div class="card__content">
            <table>
                <tr>
                    <td translate="stdTerms.details"></td>
                    <td>
                        <div>
                            <div ng-if="vm.person.institutionName" class="text-italic discreet--very">{{vm.person.institutionName}}</div>
                            <div ng-if="vm.person.address" class="whiteSpace-preLine">{{vm.person.address}}</div>
                            <div ng-if="vm.person.countryCode" translate="country.{{vm.person.countryCode}}"></div>
                            <div ng-if="vm.person.phone"><a href="tel:{{vm.person.phone}}" class="inherit">{{vm.person.phone}}</a></div>
                            <div ng-if="vm.person.email"><a href="mailto:{{vm.person.email}}" class="inherit">{{vm.person.email}}</a></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td translate="stdTerms.roles" ></td>
                    <td>
                        <ul>
                            <li ng-repeat="role in vm.person.roles">
                                <div >{{ 'role.' + role.role | translate }}</div>
                                <div ng-if="role.role == 'GBIFS_STAFF_MEMBER'">{{ vm.person.jobTitle }}</div>
                                <div class="discreet small"><span translate="stdTerms.since" ></span> {{role.term.start | momentFormat:'D MMMM YYYY' }}</div>
                            </li>
                            <li ng-repeat="role in vm.person.participants">
                                <div >{{ 'role.' + role.role | translate }}</div>
                                <div class="discreet small">
                                    <a ng-href="{{portal.urlPrefix}}/country/{{role.participant.countryCode}}" ng-if="role.participant.type == 'COUNTRY'">{{ 'country.' + role.participant.countryCode | translate }}</a>
                                    <a ng-href="{{portal.urlPrefix}}/participant/{{role.participant.id}}" ng-if="role.participant.type != 'COUNTRY'">{{ role.participant.name }}</a>
                                </div>
                                <div class="discreet small"><span translate="stdTerms.since" ></span> {{role.term.start | momentFormat:'D MMMM YYYY' }}</div>
                            </li>
                            <li ng-repeat="role in vm.person.nodes">
                                <div >{{ 'role.' + role.role | translate }}</div>
                                <div ng-if="role.participant" class="discreet small">
                                    <a ng-href="{{portal.urlPrefix}}/country/{{role.participant.countryCode}}" ng-if="role.participant.type == 'COUNTRY'">{{ 'country.' + role.participant.countryCode | translate }}</a>
                                    <a ng-href="{{portal.urlPrefix}}/participant/{{role.participant.id}}" ng-if="role.participant.type != 'COUNTRY'">{{ role.participant.name }}</a>
                                </div>
                                <div ng-if="!role.participant">
                                    <a ng-href="{{portal.urlPrefix}}/node/{{role.nodeId}}">{{ role.node.name }}</a>
                                </div>
                            </li>
                        </ul>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div ng-if="!vm.person.$resolved" class="p-t-1 p-b-1 text-center">
        <div class="loading"></div>
    </div>
    <div ng-if="vm.person.$resolved && vm.error" class="emptyInfo">
        <h3 ng-if="vm.error.status == -1">No internet connection found</h3>
        <h3 ng-if="vm.error.status < 500 && vm.error.status > 0">Nothing to see here. The contact you are searching for might no longer be active in GBIF</h3>
        <h3 ng-if="vm.error.status >= 500">Hmm – something isn't working properly. Try refreshing and let us know if the problem continues.</h3>
    </div>
</div>