<div class="ng-cloak directoryPerson">
    <div class="directoryPerson__header seperator--b">
        <h4>{{vm.person.firstName}} {{vm.person.surname}}</h4>
    </div>
    <div class="card__content">
        <table>
            <tr>
                <td>Contact details</td>
                <td>
                    <div>
                        <div translate="country.{{vm.person.countryCode}}"></div>
                        <div>{{vm.person.address}}</div>
                        <div>{{vm.person.phone}}</div>
                        <div>{{vm.person.email}}</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Roles</td>
                <td>
                    <div>
                        <div ng-repeat="role in vm.person.roles">
                            <span class="text-capitalize">{{ 'role.' + role.role | translate }}</span> <span class="discreet small">since {{role.term.start | amDateFormat:'D MMMM YYYY' }}</span>
                        </div>
                        <div ng-repeat="role in vm.person.participants">
                            <a class="text-capitalize" ng-href="{{portal.urlPrefix}}/participant/{{role.participantId}}">{{ 'role.' + role.role | translate }}</a> <span class="discreet small">since {{role.term.start | amDateFormat:'D MMMM YYYY' }}</span>
                        </div>
                        <div ng-repeat="role in vm.person.nodes">
                            <a class="text-capitalize" ng-href="{{portal.urlPrefix}}/node/{{role.nodeId}}">{{ 'role.' + role.role | translate }}</a> since <span class="discreet small">since {{role.term.start | amDateFormat:'D MMMM YYYY' }}</span>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>