.directoryPerson {
    &__header {
        padding 10px
        text-align  center
    }
    .card__content {
        max-width 500px
        margin auto
    }
    tr {
        padding-bottom 20px
        >td:first-of-type {
            text-align right
            vertical-align top
            padding-right 10px
            color $discreetInk
            white-space nowrap
        }
    }
    td {
        padding 10px
    }
    ul {
        padding 0
        li {
            padding-bottom 10px
        }
    }
}