<div class="horizontal-stripe--paddingless">
    <div class="container--desktop">
        <nav class="discreetTabs">
            <ul>
                <li>
                    <a href="" class="inherit noUnderline" ui-sref="countryActivity()">Activity</a>
                </li>
                <li class="isActive">
                    <a href="" class="inherit noUnderline">Trends</a>
                </li>
                <li ng-if="countryKey.isParticipant">
                    <a href="" class="inherit noUnderline" ui-sref="countryParticipant()">Participant</a>
                </li>
                <li>
                    <a class="inherit noUnderline" ng-href="http://www.gbif.org/sites/default/files/gbif_analytics/country/{{ countryKey.countryCode }}/GBIF_CountryReport_{{ countryKey.countryCode }}.pdf">
                        <span class="gb-icon-file-download"></span>
                        <span>
                            Download report
                        </span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>

<div class="horizontal-stripe--paddingless white-background m-b-1">
    <div class="container--normal">
        <div class="row">
            <div class="col-xs-12">
                <h4 class="m0 inline-block" ng-if="countryTrends.showAbout">
                    Change over time in data about species from <span translate="country.{{countryTrends.countryCode}}"></span> available from
                    GBIF.org.
                </h4>
                <h4 class="m0 inline-block ng-cloak" ng-if="!countryTrends.showAbout && countryKey.countPublished">
                    Change over time in the data published by institutions within <span translate="country.{{countryTrends.countryCode}}"></span>
                    available from GBIF.org
                </h4>
                <div class="gb-btn-group inline-block pull-right" ng-if="countryKey.countPublished">
                    <label ng-model="countryTrends.showAbout" uib-btn-radio="true"
                    ><a ui-sref="countryTrends({direction:'about'})" class="inherit noUnderline">About</a></label>

                    <label ng-model="countryTrends.showAbout" uib-btn-radio="false"
                    ><a ui-sref="countryTrends({direction:'published'})" class="inherit noUnderline">Published</a></label>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="horizontal-stripe--paddingless white-background">
    <div class="container--desktop">

        <div ng-if="!countryTrends.loaded" class="discreet text-center m-t-2">
            <ng-include src="'/templates/components/loader/loader.html'"></ng-include>
            <div class="discreet">
                <em>Please hang on while we generate the country trends</em>
            </div>
        </div>

        <div ng-if="!countryTrends.showAbout && !countryKey.countPublished" class="blankNotification">
            <h2>There is no data published from <span translate="country.{{ countryKey.countryCode }}"></span></h2>
        </div>

        <div ng-include="'/api/country/' + countryTrends.countryCode + '/trends/about'" onload="countryTrends.loaded = true" ng-show="countryTrends.showAbout"></div>
        <div ng-include="'/api/country/' + countryTrends.countryCode + '/trends/published'" onload="countryTrends.loaded = true" ng-show="countryKey.countPublished && !countryTrends.showAbout"></div>
    </div>
</div>

