<div class="filter-group filter-group--search rtl-bootstrap">
    <a href="" class="inherit" ng-click="vm.filterConfig.expanded = !vm.filterConfig.expanded">
        <h4>
            <span translate="{{vm.filterConfig.titleTranslation}}">Translation missing</span>
            <span class="gb-icon-angle-down pull-right" ng-if="!vm.filterConfig.expanded"></span>
            <span class="gb-icon-angle-up pull-right" ng-if="vm.filterConfig.expanded"></span>
        </h4>
    </a>

    <div class="filter-group__filter" ng-class="{'filter-group__filter--collapsed': !vm.filterConfig.expanded}">

        <div ng-if="vm.query.length > 0" class="is-padded overflow-hidden">
            <div class="checkbox" ng-repeat="key in vm.query">
                <label>
                    <input type="checkbox" checklist-model="vm.query" checklist-value="key"
                           ng-change="vm.change(key, checked)">
                    <span class="filter-group__filter__name">
                        <div class="filter-group__filter__name__bar" ng-style="vm.getWidth(key)"
                             ng-if="vm.filterConfig.facets.hasFacets"></div>
                        <span dir="auto" ng-class="{'filter-group__filter__name__title' : vm.filterConfig.expanded}">{{key}}</span>
                        <span class="filter-group__filter__name__count"
                              ng-if="vm.showFacetCount() && vm.filterState.data.facets">
                            {{vm.filterState.data.facets[vm.filterConfig.facets.facetKey].counts[key].count || 0 | localNumber:vm.filterState.query.locale}}
                        </span>
                    </span>
                </label>
            </div>
        </div>
        {{vm.filterState.data.filters[vm.filterConfig.facets.facetKey]}}
        <div class="filter-group__filter__search"
             ng-if="vm.filterConfig.expanded && vm.filterConfig.search.isSearchable">
            <input type="text"
                   focus-me="vm.filterConfig.expanded"
                   autocomplete="off"
                   class="fit-suggestions"
                   ng-model="vm.selected"
                   placeholder="{{ 'filters.searchPlaceholder' | translate }}"
                   uib-typeahead="suggestion for suggestion in vm.getSuggestions($viewValue)"
                   typeahead-on-select="vm.typeaheadSelect($item, $model, $label, $event)"
                   typeahead-focus-first="true"
                   typeahead-template-url="dropdown.html" 
                   ng-keyup="vm.searchOnEnter($event)">
        </div>

        <div class="is-padded overflow-hidden"
             ng-if="vm.filterConfig.expanded && vm.filterConfig.facets.hasFacets && vm.allowSelection()">

            <div class="checkbox" ng-repeat="(key, facet) in vm.suggestions.counts" ng-if="!vm.inQuery(key)">
                <label>
                    <input type="checkbox" checklist-model="vm.query" checklist-value="key"
                           ng-change="vm.change(key, checked)">
                    <span class="filter-group__filter__name">
                        <span dir="auto" class="filter-group__filter__name__title">{{facet.title}}</span>
                        <span class="filter-group__filter__name__count" ng-if="!vm.hideFacetCounts">{{facet.count | localNumber:vm.filterState.query.locale}}</span>
                    </span>
                </label>
            </div>

        </div>

        <div class="site-drawer__bar"
             ng-if="vm.filterConfig.expanded && vm.query.length > 0 && !vm.filterConfig.singleSelect">
            <a href="" class="site-drawer__bar__action" ng-click="vm.uncheckAll()">
                <span translate="filters.clear">Clear</span>
            </a>
        </div>

    </div>
</div>

