<div class="filter-group filter-group--search">
    <a href="" class="inherit" ng-click="vm.collapsed = !vm.collapsed">
        <h5>
            <span class="text-capitalize" translate="{{vm.translationPrefix}}.{{vm.title}}">{{vm.title}}</span>
            <span class="gb-icon-angle-down pull-right" ng-if="vm.collapsed"></span>
            <span class="gb-icon-angle-up pull-right" ng-if="!vm.collapsed"></span>
        </h5>
    </a>

    <div class="filter-group__filter" ng-class="{'filter-group__filter--collapsed': vm.collapsed}">

        <div ng-if="vm.query.length > 0" class="is-padded">
            <div class="checkbox" ng-repeat="key in vm.query">
                <label>
                    <input type="checkbox" checklist-model="vm.query" checklist-value="key" ng-change="vm.change(key, checked)">
                    <span>
                        {{key}}
                    </span>
                </label>
            </div>
        </div>
        <div class="filter-group__filter__search seperator" ng-if="!vm.collapsed">
            <input type="text"
                   focus-me="!vm.collapsed"
                   autocomplete="off"
                   class="fit-suggestions"
                   ng-model="vm.selected"
                   placeholder="{{ 'search.placeholder' | translate }}"
                   uib-typeahead="suggestion for suggestion in vm.getSuggestions($viewValue)"
                   typeahead-on-select="vm.typeaheadSelect($item, $model, $label, $event)"
                   typeahead-focus-first="true"
                   ng-keyup="vm.searchOnEnter($event)">
        </div>
        <div class="is-padded overflow-hidden" ng-if="!vm.collapsed">
            <div class="checkbox" ng-repeat="(key, facet) in vm.facetSuggestions.counts" ng-if="!vm.inQuery(key)">
                <label>
                    <input type="checkbox" checklist-model="vm.query" checklist-value="key" ng-change="vm.change(key, checked)">
                    <span>
                        {{facet.title}}
                    </span>
                </label>
            </div>
        </div>

        <div class="site-drawer__bar seperator" ng-if="!vm.collapsed && vm.query.length > 0">
            <a href="" class="site-drawer__bar__action" ng-click="vm.uncheckAll()">
                <span translate="stdTerms.clear">Clear</span>
            </a>
        </div>

    </div>
</div>

