<div class="mapWidget fitSize" element-query="vm.styleBreaks" ng-style="vm.widgetContextStyle">
    <div class="mapWidget__mapWrapper">
        <div class="mapWidget__mapArea"></div>
        <div class="mapWidget__progress"></div>
        <div class="mapWidget__mapButtons">
            <a href="" ng-click="vm.zoomIn()">+</a>
            <a href="" ng-click="vm.zoomOut()">-</a>
            <a href="" class="gb-icon-select smallIcon" ng-click="vm.enableClickGeometry()"
               ng-class="{'is-active': vm.clickQueryActive }"></a>
        </div>
        <div class="mapWidget__drawButtons" ng-if="!vm.noDrawing">
            <a href="" class="gb-icon-rectangle smallIcon" ng-click="vm.enableRectangleDraw()"
               ng-class="{'is-active': vm.rectangleDrawActive }"></a>
            <a href="" class="gb-icon-polygon smallIcon" ng-click="vm.enablePolygonDraw()"
               ng-class="{'is-active': vm.polygonDrawActive }"></a>
            <a href="" class="gb-icon-trash smallIcon" ng-click="vm.enableDeleteMode()" ng-class="{'is-active': vm.deleteMode}"></a>
        </div>
        <div class="mapWidget__info">
            <span>© <a href="https://www.openstreetmap.org/copyright" class="inherit">OpenStreetMap</a> contributors, © <a href="https://openmaptiles.org/" class="inherit">OpenMapTiles</a>, <a href="/citation-guidelines" class="inherit">GBIF</a>.</span>
        </div>

    </div>

    <div class="mapWidget__controls clearfix">
        <div class="mapPopups">
            <div class="mapPopup fixedSize" ng-if="vm.hasError">
                <div class="card small">
                    <div class="card__stripe">
                        <div class="card__content card__content--warning">
                            <a href="" class="gb-icon-close_L inherit pull-right"
                               ng-click="vm.hasError=false"></a>
                                <h4 ng-if="vm.hasApiCriticalError" ><span translate="phrases.criticalErrorMsg"></span></h4>
                                <h4 ng-if="vm.hasApi413Error" ><span translate="map.errors.413"></span></h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mapPopup" ng-class="{isLoading: vm.mapMenu.isLoading}" ng-if="vm.activeControl == vm.controls.OCCURRENCES">
                <div class="mapPopup__header">
                    <h4>
                        <span ng-if="!vm.mapMenu.isLoading && vm.mapMenu.occurrences.count == 0">No occurrences</span>
                        <span ng-if="!vm.mapMenu.isLoading && vm.mapMenu.occurrences.count > 0">Occurrences in area</span>
                        <span ng-if="vm.mapMenu.isLoading">
                            Searching for occurrences in area <span class="loading"></span>
                        </span>
                        <a href="" class="gb-icon-close_L inherit pull-right"
                           ng-click="vm.activeControl = undefined;  vm.removeClickedQuery()"></a>
                    </h4>
                </div>
                <div class="mapPopup__results seperator" ng-if="!vm.mapMenu.isLoading">
                    <div class="emptyInfo" ng-if="vm.mapMenu.occurrences.count == 0">
                        <p>No occurrences found</p>
                    </div>
                    <ul ng-if="vm.mapMenu.occurrences.count > 0">
                        <li ng-repeat="occurrence in vm.mapMenu.occurrences.results"
                            class="occurrence-list-item seperator--b clearfix">

                            <div class="occurrence-list-item__header discreet">
                                <div class="imageGallery__img img-round-thumb"
                                     ng-if="occurrence._image">
                                    <img ng-src="{{ occurrence._image.identifier | imgCache:50:50 }}" gallery-image>
                                </div>
                                <a ng-href="/occurrence/{{occurrence.key}}" class="occurrence-list-item__name" ng-if="occurrence.scientificName">{{occurrence.scientificName}}</a>
                                <a ng-href="/occurrence/{{occurrence.key}}" class="occurrence-list-item__name text-error" ng-if="!occurrence.scientificName">Unkown species</a>
                                <!--<span class="small discreet" translate="taxonRank.{{occurrence.taxonRank}}">{{occurrence.taxonRank}}</span>-->
                                <div class="small discreet classification-list">
                                            <span ng-repeat="taxa in ['kingdom', 'phylum', 'class', 'order', 'family', 'genus', 'species']"
                                                  ng-if="occurrence[taxa] && taxa != occurrence.taxonRank.toLowerCase()">
                                                {{occurrence[taxa]}}
                                            </span>
                                </div>
                            </div>
                        </li>
                        <li class="occurrence-list-item text-center p-t-1 p-b-1 discreet" ng-if="vm.mapMenu.occurrences.results.length < vm.mapMenu.occurrences.count">
                            {{vm.mapMenu.occurrences.count - vm.mapMenu.occurrences.results.length}} more
                        </li>
                    </ul>
                </div>
                <div class="mapPopup__footer seperator" ng-if="!vm.mapMenu.isLoading && vm.mapMenu.occurrences.count > 0">
                    <a ng-href="/occurrence/search?{{vm.getClickedQuery()}}" class="gb-button--discreet">Use as location filter</a>
                </div>
            </div>
        </div>

    </div>
</div>
