adhoc-map {
  display block
  height 100%
}

&__mapButtons {
  position absolute
  z-index 20
  left 0.5rem
  top 0.5rem
  background #aaa
  >a, .mapButton {
    background #fff
    font-size 22px
    display block
    text-decoration none
    text-align center
    height 24px
    width 24px
    line-height 22px
    background-color rgba(0,60,136,.5)
    border 1px solid #aaa
    background white
    color #444
    &:hover {
      background #efefef
    }
  }
}