.SearchResults-occurrences {
	.card__banner {
		text-align center
		background #7173AB
		background #02393D //#8486CA
		color white
	}
	.table {
		margin 0
		tbody {
			tr:nth-of-type(odd) {
				background #efefef
			}
		}
	}
}