<div class="expandable-area is-collapsed" ng-class="{isCollapsed: !vm.isExpanded}">
    <ng-transclude></ng-transclude>
    <div class="card__expand">
        <a href="" class="gb-icon-angle-down" ng-class="{'gb-icon-angle-down': !vm.isExpanded, 'gb-icon-angle-up': vm.isExpanded}" ng-click="vm.toggle()"></a>
        <span class="ng-hide" ng-show="!vm.isExpanded">
            <a href="" ng-click="vm.toggle()">{{vm.expandText}}</a>
        </span>
        <span ng-show="vm.isExpanded">
            <a href="" ng-click="vm.toggle()">{{vm.collapseText}}</a>
        </span>
    </div>
</div>