.speciesKey2 {

}

//TODO where should this really go - is it a general thing or species specific
.article-header__source, .source {
    color darken($navBar_background_color, 15) //#4a8e4a
}

+isAbove($laptop) {
.descriptions--columns {
        columns 2 10px 30px
    }
    }

.verbatim-table--key{
width: 33%

}

.extension-header {
    margin-bottom: 1px
    margin-top: 20px
}

.extension-subheader {
    margin-bottom: 8px;
}