.dropArea {
    text-align center
    border-radius 5px
    border 3px dashed $stripeBorderColor
    color $stripeBorderColor
    padding 50px
    font-size 2em
    cursor pointer
    &--hasFiles {
        padding 20px 30px
    }
}
.dropArea--small {
    @extends .dropArea
    font-size 1.5em
    padding 0.5em
}

.fileList {
    margin 0
    padding 0
    &__item {
        display flex
        flex-wrap nowrap
        border-bottom 1px solid $stripeBorderColor
        &__field {
            flex 0 0 auto
            padding 15px
            &--main {
                flex 1 1 auto
                line-height 26px
            }
        }
        &__action, &__icon {
            font-size 18px
        }
        &__action {
            &:hover, &:focus {
                color $navBar_background_color
            }
            color inherit
        }
        input {
            border none
            width 100%
            border-bottom 1px solid $stripeBorderColor
            &:focus {
                outline none
                border-bottom-color $navBar_background_color
            }
            &::placeholder {
                color $stripeBorderColor
            }
            &.ng-invalid {
                border-bottom-color tomato
            }
        }
        &:last-child {
            border none
        }
    }
    .warning {
        background $orangePeel
        padding 3px
        color white
    }
}

.dataRepo-author {
    md-input-container {
        margin 18px 0 0 0
    }
}

.card--upload {
    max-width 400px
    margin auto
    //h3 {
    //    color $navBar_background_color
    //}
}