.search-results__section {
	.card--info {
		@extends .card
		header {
			padding vrBlock(0.5) vrBlock(1)
			background none//#efefef
			h3 a {
				color deepskyblue
			}
		}
		.card__definitions {
			padding 0
			>div {
				//margin 0
			}
		}
	}
}

.flag {
	max-width 128px
	float right
	margin 0 0 10px 10px
	img {
		filter drop-shadow( 1px 1px 2px rgba(0,0,0,0.3) )
		max-height 96px
	}
}