.speciesKey2 {

}

//TODO where should this really go - is it a general thing or species specific
.article-header__source, .source {
    color darken($navBar_background_color, 15) //#4a8e4a
}

+isAbove($laptop) {
    .descriptions--columns {
        columns 2 10px 30px
    }
}

.verbatim-table--key {
    width: 33%
}

.extension-header {
    margin-bottom: 1px
    margin-top: 20px
}

.extension-subheader {
    margin-bottom: 8px;
}

.jslghtbx {
    z-index: 31
}

.checklist-info {
    padding: 10px;
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
}

.text-transform__none {

text-transform none !important
}

.cursor-pointer {
    cursor pointer
    
}

.header-sources {
    margin-bottom 8px
}

.vernacular {
    font-weight bold
    display inline-block
    
}
.vernacular:first-letter {  
    text-transform: uppercase;  
}

.nameUsageChartContainer {
padding: 5px !important
height: 300px;
}
.species-tax-stats {
    padding-bottom: 20px   
}

div.treatment table, div.treatment td { 
    border 1px solid $stripeBorderColor

 }

 div.treatment table { 
    margin-bottom: 8px

 }

 div.treatment td { 
    padding: 5px

 }

