.occurrenceKey {
	font-weight 300
	
	.block.discreet {
		background #f7f9fa
	}
	.article {
		position relative
	}
	.article__header {
		.sub {
			&:first-of-type {
				margin-top -1rem
			}
			color #bbb
		}
		h1 {
			.error {
				color tomato
			}
			.small {
				margin-top vr-block(0.5)
			}
		}
	}
	.block-first {
		.blockContent {
			// max-width none
		}
	}
	.issues-high {
		background-color tomato
	}
	.block{
		position relative
	}
	.taxa {
		display inline
		color #ddd
		a {
			color #bbb
		}
		i:after {
			font-style normal
			content '\276f' // ❯
			font-size 80%
		}
	}
}


.blockComment {
	position absolute
	top 0
	right 0
	margin 0.5rem 1rem
	color #ccc
	text-align right
	font-size 0.85rem
}

.propertyPairs {
	padding 0
	li {
		>span:first-of-type {
			font-weight bold
		}
	}
}


.rowx {
	display flex
	justify-content space-around
	.col-sm-6x {
		flex 0 1 auto
	}
}


.allData {
	h2 {
		margin-top 2rem
		border-bottom 1px solid #ddd
	}
	dl>div {
		div>dt {
			display none
		}
	}
	dd {
		padding-left 1rem
	}
	dt {
		width 300px
	}
	
	.discreet {
		color #ccc
	}
}
+isAbove($tablet) {
	.allData {
		dl>div {
			padding 0.25rem 1.5rem
			&:hover {
				background #ECECEC
			}
			dd {
				padding-left 0
			}
			dt {
				font-weight normal
			}
			dt, dd{
				display inline-block
			}
			div>dt {
				display inline-block
				visibility hidden
			}
		}
		&.compare .isDifferent {
			position relative
			&:before {
				content ' '
				display block
				position absolute
				background yellow
				width 10px
				height 10px
				left 5px
				border-radius 50%
				line-height 1rem
				text-align center
				top 9px
			}
		}
	}
}

.headerImage {
	position relative
	z-index 20
}


