$floatActionSize = vr-block(2.5)
.occurrenceDetails {
	padding vr-block(1)
	header {
		h1 {
			font-size 25px
		}
		.license {
			span {
				font-size 30px
			}
		}
	}
}

.occurrenceDetails__summary {
	.card__banner {
		z-index 0
		position relative
		color #333
		background #dedede
		display block
		.marker {
			background white
			width 20px
			height 20px
			margin -10px
			border 6px solid #3B8CCF
			border-radius 50%
			position absolute
			display none
		}
		.occurrence__locationOverview {
			display flex
			background white
			.occurrence__locationOverview__descr {
				max-height 128px
				overflow auto
			}
		}
		.Occurrence__summary__map {
			height 350px
		}
	}
}
+isBelow($tablet) {
	.occurrence__locationOverview {
		border-bottom 1px solid #eee
		.occurrence__locationOverview__descr {
			order 2
		}
	}
}

+isAbove($tablet) {
	.occurrenceDetails__summary {
		.card__banner {
			position relative
			.occurrence__locationOverview{
				position absolute
				z-index 100
				top 10px
				right 10px
				box-shadow 0 0 2px rgba(0,0,0,0.3)

				>div {
					float left
				}
				.occurrence__locationOverview__descr {
					padding 10px
					max-width 350px
				}
				.tile {
					width 128px
				}
			}
		}
	}
}


.floatAction {
	position absolute
	bottom 25px
	right 25px
	color white
	border-radius 50%
	width $floatActionSize
	height $floatActionSize
	line-height $floatActionSize
	text-align center
	font-size vr-block(1)
	display block
	background $Plum
	box-shadow 1px 1px 2px 1px rgba(0,0,0,0.3)
}
.overlay {
	display none
	position fixed
	overflow auto
	top 0
	bottom 0
	left 0
	right 0
	background rgba(255,255,255,0.8)
	z-index 10000
}


.occurrenceDetails__details {
	background white
	.occurrenceDetails__details__table {
		padding 0 vr-block(2)
		.category {
			margin-top vr-block(1.5)
		}
		tr {
			border-bottom 1px solid #aaa
			td {
				padding vr-block(0.25)
			}
		}
		.field {
			width 150px
			margin-right vr-block(3)
		}
		&.compare {
			.row.isDifferent {
				background pink
			}
		}
		&.diffOnly {
			background red
		}
	}
}

.occurrenceDetails {
	&.showDrawer {
		.comments {
			right 0
		}
	}
	>.container {
		margin auto
		max-width 1200px
	}
}

+isAbove($laptop) {
	.occurrenceDetails {
		&.showDrawer {
			margin-right 200px
		}
	}
}

.comments {
	z-index 50
	width 200px
	max-width 100%
	height 100%
	position fixed
	background pink
	top $navbar_height
	right -200px
	transition right 300ms ease
}