<div class="occurrenceKey">
	<header>
	    <h1>{$ occurrence.data.scientificName $}</h1>
	    <p>{$ occurrence.subtitle $}</p>
	</header>

	<section class="Occurrence__summary">
		<div class="card">
			<header class="card__banner">
                <div class="tile species__map">
                    <div>
                        <img src="/img/world_tile.png">
                        <img ng-src="//cdn.gbif.org/v1/map/density/tile.png?x=0&y=0&z=0&palette=yellows_reds&key={{occurrence.data.speciesKey}}&type=TAXON&resolution=1">
                        <div class="marker" ng-style="occurrence.tilePosStyle"></div>
                    </div>
                </div>
                <div class="descr">
                    <leaflet 
                    id="occurrenceMap" 
                    defaults="occurrence.mapDefaults" 
                    markers="occurrence.markers" 
                    height="100%" 
                    width="100%" 
                    tiles="occurrence.tiles" 
                    lf-center="occurrence.center"
                    event-broadcast="occurrence.mapEvents"
                    ></leaflet>
                </div>
            </header>
			<div class="summary">
				
				<div class="card__definitions">
                    <div ng-repeat="term in occurrence.summaryFields">
                        <span class="term">{{term.title}}:</span>
                        <span class="desc taxa">{{occurrence.data[term.field]}}</span>
                    </div>
            	</div>

			</div>
		</div>
	</section>
    <section class="Occurrence__table">
        <table>
            <thead>
                <tr>
                    <th>Field</th>
                    <th>Record</th>
                    <th>Verbatim</th>
                </tr>
            </thead>
        </table>
    </section>
	<p ng-click="occurrence.go()">go to specific occurrence with router</p>
</div>