<div class="userLogin">
    <div class="userLogin__loader" ng-if="vm.waiting">
        <div class="text-center prose-body">
            <ng-include src="'/templates/components/loader/loader.html'"></ng-include>
            <div class="m-t-1 discreet" translate="phrases.loading"></div>
        </div>
    </div>
    <nav class="discreetTabs" ng-if="vm.loginState || vm.createState">
        <ul>
            <li ng-class="{isActive: vm.loginState}">
                <a href="" class="inherit noUnderline" ng-click="vm.changeState('LOGIN')" translate="profile.loginText"></a>
            </li>
            <li ng-class="{isActive: vm.createState}">
                <a href="" class="inherit noUnderline" ng-click="vm.changeState('CREATE')" translate="profile.register"></a>
            </li>
        </ul>
    </nav>

    <div ng-if="vm.loggedinState">
        <div>
            <div>
                <div class="body-text">{{vm.user.firstName}} {{vm.user.lastName}}</div>
                <div class="discreet">{{vm.user.userName}}</div>
            </div>
            <div class="m-t-1">
                <a href="" class="gb-button--flat text-uppercase small" ng-click="vm.logout()" translate="profile.logout"></a>
                <a href="/user/profile" class="gb-button--brand pull-right text-uppercase" translate="profile.profile"></a>
            </div>
        </div>
    </div>

    <form class="userLogin__form gb-form" name="vm.loginUserForm" ng-if="vm.loginState" ng-submit="vm.submitLogin()">
        <div class="gb-form__group">
            <label>
                <span translate="profile.usernameEmail"></span>
                <input type="text" name="username" required ng-model="vm.username" focus-me="true">
            </label>
        </div>
        <div class="gb-form__group">
            <label>
                <span translate="profile.password"></span>
                <input type="password" name="password" required ng-model="vm.password">
            </label>
        </div>
        <p ng-if="vm.invalidLogin" class="small text-error" translate="profile.unknownUser">
            
        </p>
        <p ng-if="vm.errorMessage" class="small text-error" translate="profile.error.{{vm.errorMessage}}"></p>
        <p class="m-t-1">
            <button class="gb-button--brand" type="submit" translate="profile.signIn"></button>
            <!-- <div class="text-uppercase text-center discreet" translate="profile.or"></div>
            <a href="/auth/google/login" class="gb-button--google center-block m-t-05"><i></i><span class="gb-button--google__label" translate="profile.continueWithProvider" translate-values="{PROVIDER: 'GOOGLE'}"></span></a>
            <a href="/auth/github/login" class="gb-button--github center-block m-t-05"><i></i><span class="gb-button--facebook__label" translate="profile.continueWithProvider" translate-values="{PROVIDER: 'Github'}"></span></a>
            <a href="/auth/orcid/login" class="gb-button--orcid center-block m-t-05"><i></i><span class="gb-button--facebook__label" translate="profile.continueWithProvider" translate-values="{PROVIDER: 'ORCiD'}"></span></a> -->
        </p>
        <div class="small discreet" ng-bind-html="profile.signInAgreement | translate | md2html"></div>
    </form>

    <div class="gb-form" ng-if="vm.createState">
        Please manage your profile via <a href="https://www.gbif.org" target="_blank">GBIF.org</a>.
    </div>


</div>
