.userLogin {
    padding vrBlock(1.5)
    background white
    position relative
    z-index 10
    &__loader {
        background white
        position absolute
        top 0
        bottom 0
        left 0
        right 0
        z-index 50
        > div {
            vertically-align()
        }
        .loader {
            width 30px
        }
    }
    &__back {
        font-size 20px
    }
    &__form {
        margin 10px auto
        input {
            width 100%
            padding 3px 0
            border none
            border-bottom 1px solid #ccc
            &:focus {
                outline none
                border-color #888
            }
            &.ng-invalid.ng-touched, &.isInvalid {
                border-color tomato
            }
        }
        label {
            > span {
                text-transform uppercase
                font-size 10px
                color #aaa
                margin-top 10px
            }
            font-weight normal
            width 100%
        }
        &__group {
            margin-bottom vrBlock(1)
        }
        .gb-button--brand {
            width 100%
        }
    }
    &__reset {
        .gb-button--brand {
            width auto
        }
    }
}

.discreetTabs {
    margin-bottom vrBlock(1)
    ul {
        padding 0
        display flex
        border-bottom 2px solid #ccc
    }
    li {
        max-width 200px
        margin-bottom -2px
        flex 1 1 auto
        display inline-block
        text-align center
        border-bottom 2px solid #ccc
        color #aaa
        &.isActive {
            border-color darken(darkseagreen, 10)
            color darken(darkseagreen, 10)
        }
        a {
            display inline-block
            text-transform uppercase
            width 100%
            padding 5px 10px
            font-size 12px
        }
    }
}

.verification {
    max-width 400px
    margin -2px
    &__description {
        flex 1 1 auto
        color $discreetInk
        > div {
            vertically-align()
        }
    }
    &__query {
        margin-bottom 10px;
    }
    &__query, &__options {
        display flex
        justify-content space-between
    }
    &__options {
        flex-wrap wrap
    }
    &__img {
        padding 2px
        flex 0 0 auto
        width 33%
        img {
            border 0px solid deepskyblue
        }
        &.isSelected {
            img {
                border-width 3px
            }
        }
    }
}