<aside id="feedback" class="feedback menubox ng-cloak" ng-class="{'is-active': feedback.isActive}"
       ng-controller="feedbackCtrl as feedback"
>
    <div class="menubox__wrapper">
        <div class="menubox__top">
            <a href="" ng-click="feedback.close()" class="inherit noUnderline menubox__close gb-icon-close"></a>
            <div class="menubox__header">
                <div class="menubox__header__title">
                    <span class="text-center">Feedback</span>
                </div>
                <div class="menubox__header__description text-center" ng-if="!feedback.selected">
                    <p>
                        Errors happen. Sometimes it's the content. Sometimes the functionality. And others still
                        information is missing.
                        You can help us solve the issue by chossing a feedback type.
                    </p>
                </div>
                <div class="menubox__header__description" ng-if="feedback.type.CONTENT == feedback.selected">
                    <div>
                        <strong>Content is wrong</strong>
                    </div>
                    <p>
                        Example: That species don't exist. This taxonomy is so '90s
                    </p>
                </div>
                <div class="menubox__header__description" ng-if="feedback.type.FUNCTIONALITY == feedback.selected">
                    <div>
                        <strong>It's broken</strong>
                    </div>
                    <p>
                        Examples: Search button don't work. The content is displayed in the wrong way. The Gopher site doesn't respond.
                    </p>
                </div>
                <div class="menubox__header__description" ng-if="feedback.type.IDEA == feedback.selected">
                    <div>
                        <strong>I have a wonderful idea</strong>
                    </div>
                    <p>
                        Example: I want GBIF for my smart watch.
                    </p>
                </div>
                <div class="menubox__header__description" ng-if="feedback.type.QUESTION == feedback.selected">
                    <div>
                        <strong>I have a question</strong>
                    </div>
                    <p>
                        Examples: How to download data? And what is GBIFs take on animals privacy?
                    </p>
                </div>
            </div>
            <div class="menubox__nav">
                <nav class="clearfix">
                    <ul>
                        <li ng-class="{isActive: feedback.type.CONTENT == feedback.selected}">
                            <a href="" ng-click="feedback.toggle(feedback.type.CONTENT)">
                                <span class="gb-icon-unicorn"></span>
                                <!-- <div>Content</div> -->
                            </a>
                        </li>
                        <li ng-class="{isActive: feedback.type.FUNCTIONALITY == feedback.selected}">
                            <a href="" ng-click="feedback.toggle(feedback.type.FUNCTIONALITY)">
                                <span class="gb-icon-bug"></span>
                                <!-- <div>It's broken</div> -->
                            </a>
                        </li>
                        <li ng-class="{isActive: feedback.type.IDEA == feedback.selected}">
                            <a href="" ng-click="feedback.toggle(feedback.type.IDEA)">
                                <span class="gb-icon-idea"></span>
                                <!-- <div>Idea</div> -->
                            </a>
                        </li>
                        <li ng-class="{isActive: feedback.type.QUESTION == feedback.selected}">
                            <a href="" ng-click="feedback.toggle(feedback.type.QUESTION)">
                                <span class="gb-icon-unknown"></span>
                                <!-- <div>Question</div> -->
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="menubox__content">
            <div class="menubox__section menubox__section--select" ng-if="!feedback.selected">
                <ul>
                    <li>
                        <a href="" class="inherit nuUnderline" ng-click="feedback.toggle(feedback.type.CONTENT)">
                            <h4>
                                Content
                            </h4>
                            <p class="small">
                                Example: That species don't exist. This taxonomy is so '90s
                            </p>
                        </a>
                    </li>
                    <li>
                        <a href="" class="inherit nuUnderline" ng-click="feedback.toggle(feedback.type.FUNCTIONALITY)">
                            <h4>
                                It's broken
                            </h4>
                            <p class="small">
                                Examples: Search button don't work. The Gopher site doesn't respond.
                            </p>
                        </a>
                    </li>
                    <li>
                        <a href="" class="inherit nuUnderline" ng-click="feedback.toggle(feedback.type.IDEA)">
                            <h4>
                                Idea
                            </h4>
                            <p class="small">
                                Example: I want GBIF for my smart watch.
                            </p>
                        </a>
                    </li>
                    <li>
                        <a href="" class="inherit nuUnderline" ng-click="feedback.toggle(feedback.type.QUESTION)">
                            <h4>
                                Question
                            </h4>
                            <p class="small">
                                Examples: How to download data? And what is GBIFs take on animals privacy?
                            </p>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="menubox__section menubox__section--content" ng-if="feedback.type.CONTENT == feedback.selected">
                <div>
                    <p>
                        This is the complicated one. Where to direct feedback depdends on the page. TODO create a
                        service that returns the info about what and where depdening on page type, publisher,
                        modification date etc.
                    </p>

                </div>
            </div>
            <div class="menubox__section menubox__section--issue"
                 ng-if="feedback.type.FUNCTIONALITY == feedback.selected || feedback.type.IDEA == feedback.selected || feedback.type.CONTENT == feedback.selected">
                <form name="feedback.functionalityForm" novalidate>
                    <div class="feedback-input">
                        <label>
                            <span>Title</span>
                            <input ng-if="feedback.type.FUNCTIONALITY == feedback.selected"
                                   type="text"
                                   ng-model="feedback.issue.title"
                                   placeholder="Summary"
                                   focus-me="true">
                            <input ng-if="feedback.type.IDEA == feedback.selected"
                                   type="text"
                                   ng-model="feedback.issue.title"
                                   placeholder="Summary"
                                   focus-me="true">
                            <input ng-if="feedback.type.CONTENT == feedback.selected"
                                   type="text"
                                   ng-model="feedback.issue.title"
                                   placeholder="Summary"
                                   focus-me="true">
                        </label>
                    </div>

                    <div class="feedback__textarea">
                        <label>
                            <span>Description</span>
                            <textarea rows="3"
                                      ng-model="feedback.issue.description"
                                      placeholder="Describe the {{feedback.selected}}" ng->
                            </textarea>
                            <div class="feedback-input__info" ng-if="!(feedback.issue.description.length > 200)">
                                <a href="https://guides.github.com/features/mastering-markdown/" target="_blank" class="inherit">Markdown</a> support</div>
                        </label>
                    </div>

                    <div class="feedback-input">
                        <label>
                            <span>Contact</span>
                            <input type="text"
                                   ng-model="feedback.issue.contact"
                                   placeholder="Your email or Github username (optional)">
                        </label>
                    </div>

                    <div class="feedback__send">
                        <div class="small discreet">All issues are visible to the public at <a class="inherit" target="_blank" href="https://github.com/gbif/portal-feedback/issues"><u>Github</a></u></div>
                        <div class="clearfix">
                            <button ng-disabled="!feedback.functionalityForm.$valid" type="submit"
                                    ng-click="feedback.createIssue(feedback.issue)"
                                    class="btn btn-default flat pull-right">{$
                                __('tools.suggestDataset.form.submit') $}
                            </button>
                        </div>
                        <div ng-if="feedback.state == 'FAILED'">
                            We couldn't create the issue. Please send as mail or go straight to Github. Sorry for
                            the trouble.
                        </div>
                    </div>


                </form>
            </div>
            <div class="menubox__section menubox__section--content menubox__section--question" ng-if="feedback.type.QUESTION == feedback.selected">
                <div>
                    <p>
                        All questions are answered by our helpdesk at <a href="mailto:helpdesk@gbif.org">helpdesk@gbif.org</a>
                    </p>
                    <div class="small discreet">
                        If your question is about lorem ipsum dolorem then you can help expediate the process by reaching us at <a href="mailto:info@gbif.org">info@gbif.org</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</aside>