$feedbackPrimaryColor = #6599a2 //#1f8ceb //#398194
$feedbackPrimaryInk = white
$menuboxBorderRadius = 4px;

.menubox {
    display none
    &.is-active {
        display block
        animation menuboxSlideIn .8s
    }
    position fixed
    top 0
    bottom 0
    left 0
    right 0
    z-index 1000

    &__wrapper {
        display flex
        height 100%
        flex-direction column
        overflow auto
        overflow-x hidden
        box-shadow 0 5px 40px rgba(0, 0, 0, .16)
        position relative
    }
    &__top {
        flex 0 0 auto
        background $feedbackPrimaryColor
        color white
        font-weight 300
    }
    &__close {
        position absolute
        top 0
        right 0
        font-size 30px
        margin 0 5px
    }
    &__header {
        &__title {
            text-align center
            font-weight 400
            padding vrBlock(1)
        }
        &__description {
            height vrBlock(5)
            padding 0 vrBlock(2.5)
            font-size 12px
            color rgba(255, 255, 255, 0.85)
        }
    }
    nav {
        ul {
            padding 0
        }
        li {
            display inline-block
            float left
            width 25%
            &:first-of-type {
                padding-left 10px
            }
            &:last-of-type {
                padding-right 10px
            }
            a {
                line-height 1
                text-align center
                display block
                color darken($feedbackPrimaryColor, 20)
                border-bottom 3px solid transparent
                span {
                    font-size 30px
                }
                div {
                    font-size 12px
                    padding-bottom 5px
                }
            }
            &.isActive {
                a {
                    color $feedbackPrimaryInk
                    border-bottom 3px solid lighten($feedbackPrimaryColor, 25)
                }
            }
        }
    }
    &__content {
        flex 1 1 auto
        background #f7f7f7
    }
    &__section {
        > div {
            padding 20px
        }
        &--select {
            ul {
                padding 0
                li {
                    display block
                    border-bottom 1px solid $stripeBorderColor
                    a {
                        display block
                        padding 10px 15px
                        border-left 5px solid transparent
                        transition border 300ms ease
                    }
                    &:hover {
                        a {
                            border-color lighten($feedbackPrimaryColor, 15)
                        }
                    }
                }
            }
        }
        &--question {
            >div {
                p {
                    margin-bottom vrBlock(1)
                }
            }
        }
        &--issue {
            form {
                padding 0
                label {
                    display block
                    margin 0
                    width 100%
                    font-weight normal
                    border-bottom 1px solid $stripeBorderColor
                    > span {
                        display none
                    }
                }

                input, textarea {
                    width 100%
                    display block
                    border none
                    padding 20px
                    font-size 12px
                    background transparent
                    transition background 200ms ease
                    &:focus {
                        outline none
                        background white
                        + .feedback-input__info {
                            display block
                        }
                    }
                }
                textarea {
                    height 200px
                    resize none
                }
                .feedback__textarea {
                    position relative
                    >label>div {
                        display none
                        position absolute
                        bottom 5px
                        right 5px
                        font-size 10px
                        text-transform uppercase
                        color $discreetInk
                        a {
                            text-decoration underline
                        }
                        &:hover {
                            display block
                        }
                    }
                }
                .feedback__send {
                    padding 5px 20px
                }
            }
        }
    }
    &__card {
        margin vrBlock(0.5) 0
    }
}

+isAbove($mobile) {
    .menubox {
        top vrBlock(2)
        right vrBlock(1)
        left initial
        bottom initial
        width 370px
        min-height 250px
        max-height calc(100% - 100px)
        border-radius $menuboxBorderRadius
        box-shadow 0 5px 150px 20px rgba(0, 0, 0, 0.15)
        &__wrapper {
            border-radius $menuboxBorderRadius
        }
    }
}

@keyframes menuboxSlideIn {
    0% {
        top vrBlock(1)
        opacity: 0;
    }
    50% {
        top vrBlock(2)
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}