<aside id="feedback" class="site-drawer site-drawer--wide" ng-class="{'is-active': feedback.isActive}" ng-controller="feedbackCtrl as feedback">
    <div class="site-drawer__content">
        <div class="site-drawer__header">
            <div class="site-drawer__header__title">
                <span class="text-center">Feedback</span>
            </div>
        </div>
    </div>
    <div class="site-drawer__section">
        <div class="site-drawer__section__content">
            <p>
            {{ feedback.test }}
                This is an early access release under active development and with many known issues.
            </p>
            <p>
                We value your feedback, but comments are premature at this stage as development has not stabilised enough yet.
            </p>
            <p>
                Please be aware that downloading and account creation are not currently possible through this site.  Please use <a href="http://gbif.org">GBIF.org</a>
            </p>
            <div style="font-size:100px; color:#eee" class="gb-icon-tools text-center"></div>
        </div>
    </div>
</aside>