.extensions {
	.card-table {
		overflow auto
	}
}
.table-extensions {
	margin-bottom 0
	th {
		min-width 200px
		white-space nowrap
	}
	//td {
	//	max-height 100px
	//	overflow hidden
	//	text-overflow ellipsis
	//}
}
