.site-footer {
    .site-footer__upper {
        border-top 1px solid #dbe3e7
        //color $discreetInk
        color darken($navBar_background_color, 15)
        padding vrBlock(4) 0 vrBlock(2) 0
        //margin-top vrBlock(8)
        h4 {
            font-weight normal
            font-size 16px
            margin-bottom 20px
        }
    }
    &__menu {
        >li {
            float left
            margin-right 100px
            li {
                font-weight 300
                a {
                    color inherit
                }
            }
        }
    }
    &__lower {
        color white
        border-top $navBar_borderWidth solid $navBar_borderColor
        background $navBar_background
    }
    ul {
        padding 0
    }
    .newsletterButton {
        background white
        > a {
            padding 15px 30px
            display inline-block
        }
        color $navBar_background_color
        font-size 16px
        display inline-block
        margin auto
        border-radius 3px
        margin 20px
        margin-bottom 50px
    }
}
