.site-footer {
    .site-footer__upper {
        background $navBar_background
        border-top 1px solid $stripeBorderColor
    }
    &__menu {
        text-align center
        color white
        font-weight 300
        a {
            color inherit
            &:hover {
                text-decoration none
            }
        }
        a, span>span {
            &:after {
                content '|'
                margin 0 5px
            }
            &:last-child:after {
                content none
            }
        }
        span>span>span {
            font-weight 500
        }
        div {
            margin-bottom vrBlock(0.5)
        }
    }
    &__lower {
        color white
        border-top $navBar_borderWidth solid $navBar_borderColor
        background black
        text-align center
        img {
            width 300px
            max-width 100%
            padding 20px
        }
    }
    &__social {
        display inline-block
        >a {
            display inline-block
            background white
            color black
            margin 10px
        }
    }
}

+isAbove($laptop) {
    .hasDrawer {
        .site-footer {
            //display none
            padding-left $filterDrawerWidth;
        }
    }
    .site-footer {
        img {
            padding 0 50px
        }
    }
    .rtl {
        &.hasDrawer {    
            .site-footer {
                padding-right $filterDrawerWidth;
                padding-left 0
            }
        }
    }
}