.dataValidator {
    &__dropArea {
        width 200px
        height 200px
        background #ddd
        border-radius 50%
        margin auto
        line-height 200px
        text-align center
        color white
        &.over {
            background tomato
        }
    }
    &__input-file {
        position relative
        width 250px
        overflow hidden
        margin auto
        a {
            // background $speciesLookupActiveColor
            padding 5px 20px
            // color #fff
            transition all .4s
            width 100%
            text-align center
            text-transform uppercase
        }
        input {
            position absolute
            display inline-block
            left 0
            top 0
            right 0
            bottom 0
            opacity 0.01
            cursor pointer
            padding 5px 20px
            width 100%
        }
    }
    
    &__tabWrapper {
    margin-right: 13px
    }
    
    &__fileLocationText {
        margin-left : 40px
    }
    
    &__logoImg > img {
        max-height: 128px
        margin-top : 45px
    }
    
    
    &__hasIssues {
        border-left 2px solid $orangePeel
        
    }
    &__isIndexeabale {
        border-left 2px solid $olivine
        
    }
    &__isNotIndexeabale {
        border-left 2px solid tomato
    }
    &__unknownTerm {
        border-left: 2px solid #fdb002 !important;
    }
    
    &__summaryTable {
        margin-left: 32px
        tbody>tr>td {
            border-top 0px !important;
            padding-left 0px
            padding-bottom 0px
            padding-top 5px
            
        }
        
       
        

        
    }
    &__summaryTableTitle {
        margin-left: 32px
    }
    &__categoryTitle {
        font-weight: 700;
    }
    &__termFrequency_progress_container{
     max-height 24px;
    }
    
    &__idField {
     font-weight 700
    }
    &__bottomSpacer {
        min-height: "calc(100vh - %s)" % $navBar_height
    }
    
    &__clickable-links > a {
        pointer-events:all;
        cursor:pointer;
    }
    
        &__issueQuestion {
            background #75b3a3
            color white
            display inline-block
            width 1em
            height 1em
            border-radius 50%
            line-height 1em
            text-align center
        }
    
}



.termFrequencyStats {
    &__circle {
        width: 24px;
        height: 24px;
        line-height: 24px;
        font-size: 24px;
        margin: auto;
        display: inline-block;
        float: left;
        color: #c4cfd5;
        text-decoration: none;
    }
    &__percentage {
        margin-left 6px;
    }

}