
<article class="wrapper-horizontal-stripes page--data">

    <div class="container-fluid white-background search-header">
        <div class="row">
            <div class="col-xs-12">
                <nav class="article-header__category article-header__category--deep">
                    <span class="article-header__category__upper">Tools</span>
                    <span class="article-header__category__lower">Data validator</span>
                </nav>
            </div>
        </div>
    </div>
    <div ng-if="!vm.jobid">
        <div class="text-center">
            <div class="dataValidator__input-file">
                <input type="file" name="myfile" file-upload on-file-change="vm.handleUploadFile">
                <a href="">Select file</a>
            </div>
        </div>

        <div class="text-center">
            <form name="fileUrlForm" novalidate>
                <label for="fileurl">URL:</label>
                <input type="text" name="fileurl" ng-model="vm.resourceToValidate.fileUrl"/><br/>
                <br/>
                <button type="submit"
                        ng-click="vm.handleFileUrl(vm.resourceToValidate)">Submit
                </button>

            </form>
        </div>
    </div>

    <ng-include ng-if="vm.jobid"
            src="'/api/template/tools/dataValidator/validationResults.html?v=' + vm.BUILD_VERSION" ></ng-include>


</article>


