<div class="occurrenceCard">
    sdfælkj
    <div class="wrapper-horizontal-stripes nodeKey">
        <div class="horizontal-stripe bare-background ng-cloak">
            <!--<canvas class="chart chart-line" chart-data="vm.data" chart-labels="vm.labels"-->
                    <!--chart-series="nodeKey.series" chart-click="vm.onClick" chart-options="vm.options"></canvas>-->

            <canvas id="line" class="chart chart-line" chart-data="vm.data"
                    chart-labels="vm.labels" chart-series="vm.series" chart-options="vm.options"
                    chart-dataset-override="vm.datasetOverride" chart-click="vm.onClick">
            </canvas>
        </div>
    </div>
</div>