<div search-drawer filter="resource.state" content-type="resources" ng-class="{'is-active': resource.showFilters}">
    <div class="site-drawer__section">
        <div class="search-bar filter-group">

            <form class="search-bar__term" ng-submit="resource.search()">
                <input type="text"
                       id="siteSearch"
                       autocomplete="off"
                       class="fit-suggestions"
                       ng-model="resource.state.query.q"
                       placeholder="{{'search.search' | translate}}"
                       uib-typeahead="suggestion.title for suggestion in resource.getSuggestions($viewValue)"
                       typeahead-on-select="resource.typeaheadSelect($item, $model, $label, $event)"
                       typeahead-focus-first="false">
                <a href="" type="submit" class="gb-icon-search search-bar__search" ng-click="resource.search()">
                    <span class="sr-only" translate="search.search"></span>
                </a>
            </form>

        </div>

        <div ng-if="resource.state.query.contentType == 'dataUse' || resource.state.query.contentType == 'literature'">
            <div filter-enum filter-config="resource.filters.countriesOfResearcher" filter-state="resource.state"></div>
        </div>

        <div ng-if="resource.state.query.contentType == 'news' || resource.state.query.contentType == 'dataUse' || resource.state.query.contentType == 'literature'">
            <div filter-enum filter-config="resource.filters.countriesOfCoverage" filter-state="resource.state"></div>
        </div>

        <div ng-if="resource.state.query.contentType == 'literature'">
            <div filter-enum filter-config="resource.filters.literatureType" filter-state="resource.state"></div>
            <div filter-enum filter-config="resource.filters.relevance" filter-state="resource.state"></div>
            <div filter-interval filter-config="resource.filters.year" filter-state="resource.state"></div>
        </div>

        <div ng-if="resource.state.query.topics || resource.state.query.contentType == 'dataUse' || resource.state.query.contentType == 'news' || resource.state.query.contentType == 'literature'">
            <div filter-enum filter-config="resource.filters.topics" filter-state="resource.state"></div>
        </div>

        <div ng-if="resource.state.query.audiences">
            <div filter-enum filter-config="resource.filters.audiences" filter-state="resource.state"></div>
        </div>

        <div ng-if="resource.state.query.contentType == 'project'" filter-enum filter-config="resource.filters.contractCountry" filter-state="resource.state"></div>

        <div ng-if="resource.state.query.contentType == 'literature'" filter-taxon filter-config="resource.filters.dataset" filter-state="resource.state"></div>

        <div ng-if="resource.state.query.contentType == 'literature'" filter-taxon filter-config="resource.filters.publisher" filter-state="resource.state"></div>

        <div ng-if="resource.state.query.contentType == 'literature'" filter-ternary filter-config="resource.filters.peerReview" filter-state="resource.state"></div>

        <div ng-if="resource.state.query.contentType == 'literature'" filter-ternary filter-config="resource.filters.openAccess" filter-state="resource.state"></div>

        <div ng-if="resource.state.query.contentType == 'literature'" filter-suggest filter-config="resource.filters.gbifDownloadKey" filter-state="resource.state"></div>

<!--{{angular.equals({}, resource.state.data.facets.PURPOSES.count)}}-->
        <div ng-if="resource.state.query.purposes || resource.state.query.contentType == 'project'">
            <div filter-enum filter-config="resource.filters.purposes" filter-state="resource.state"></div>
        </div>

        <!--<div ng-if="resource.state.query.contentType == 'event'">-->
            <!--<a ui-sref="resourceSearchList({_showPastEvents:true})" ui-sref-opts="{inherit: true}" ng-if="!resource.state.query._showPastEvents">Show past events</a>-->
            <!--<a ui-sref="resourceSearchList({_showPastEvents:undefined})" ui-sref-opts="{inherit: true}" ng-if="resource.state.query._showPastEvents">Show upcoming events</a>-->
        <!--</div>-->

        <div class="filter-group text-center" ng-if="resource.state.query.contentType == 'event'">
            <div class="gb-btn-group">
                <a ui-sref="resourceSearchList({_showPastEvents:undefined})" ui-sref-opts="{inherit: true}" ng-class="{active: !resource.state.query._showPastEvents}" translate="resourceSearch.upcoming">Upcoming</a>
                <a ui-sref="resourceSearchList({_showPastEvents:true})" ui-sref-opts="{inherit: true}" ng-class="{active: resource.state.query._showPastEvents}" translate="resourceSearch.past">Past</a>
            </div>
        </div>

        <div class="site-drawer__comment">
            <p translate="resourceSearch.searchForNewsEventsDocuments"></p>
            <p>
                <a class="gb-button--flat text-uppercase" ui-sref="occurrenceSearchTable()" translate="resourceSearch.occurrenceSearch"></a> 
            </p>
            
        </div>
    </div>
</div>

<div class="content__overlay hide-on-laptop" ng-click="resource.showFilters = false" ng-if="resource.showFilters"></div>

<div class="site-content">

    <div class="site-content__page">
        <div class="resource-search-results light-background">


            <div class="wrapper-horizontal-stripes">


                <div class="horizontal-stripe--paddingless white-background search-header">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-12">
                                <nav class="article-header__category article-header__category--deep">
                                    <span class="article-header__category__upper" translate="search.header.searchResources"></span>
                                    <span class="article-header__category__lower" ng-if="resource.hasData()" tx="search.nResults" tx-nr="resource.state.data.count"></span>
                                    <span class="article-header__category__lower" ng-if="!resource.hasData() && !resource.state.failedRequest" translate="stdTerms.loading"></span>
                                    <span class="article-header__category__lower" ng-if="resource.state.failedRequest" translate="stdTerms.failed"></span>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>

                <section class="horizontal-stripe--paddingless white-background">
                    <div class="container-fluid">
                        <div class="row">
                            <nav class="tabs">
                                <ul>
                                    <li class="tab" ng-class="{isActive: !resource.state.query.contentType}">
                                        <a href="" ui-sref="resourceSearchList({contentType:[], q: resource.state.query.q, locale: resource.state.query.locale})" ui-sref-opts="{inherit: false}" translate="search.allResultTypes">
                                            All
                                        </a>
                                    </li>

                                    <li class="tab" ng-if="resource.isTabShown('news')" ng-class="{isActive: resource.state.query.contentType == 'news'}">
                                        <a href="" ui-sref="resourceSearchList({contentType:['news'], _showPastEvents:undefined, offset:undefined})" translate="resourceSearch.types.news">
                                            News
                                        </a>
                                    </li>

                                    <li class="tab" ng-if="resource.isTabShown('dataUse')" ng-class="{isActive: resource.state.query.contentType == 'dataUse'}">
                                        <a href="" ui-sref="resourceSearchList({contentType:['dataUse'], _showPastEvents:undefined, offset:undefined})" translate="resourceSearch.types.dataUse">
                                            Data use
                                        </a>
                                    </li>

                                    <li class="tab" ng-if="resource.isTabShown('event')" ng-class="{isActive: resource.state.query.contentType == 'event'}">
                                        <a href="" ui-sref="resourceSearchList({contentType:['event'], _showPastEvents:undefined, offset:undefined})" translate="resourceSearch.types.events">
                                            Events
                                        </a>
                                    </li>

                                    <li class="tab" ng-if="resource.isTabShown('project')" ng-class="{isActive: resource.state.query.contentType == 'project'}">
                                        <a href="" ui-sref="resourceSearchList({contentType:['project'], _showPastEvents:undefined, offset:undefined})" translate="resourceSearch.types.projects">
                                            Projects
                                        </a>
                                    </li>

                                    <li class="tab" ng-if="resource.isTabShown('programme')" ng-class="{isActive: resource.state.query.contentType == 'programme'}">
                                        <a href="" ui-sref="resourceSearchList({contentType:['programme'], _showPastEvents:undefined, offset:undefined})" translate="resourceSearch.types.programmes">
                                            Programmes
                                        </a>
                                    </li>

                                    <li class="tab" ng-if="resource.isTabShown('tool')" ng-class="{isActive: resource.state.query.contentType == 'tool'}">
                                        <a href="" ui-sref="resourceSearchList({contentType:['tool'], _showPastEvents:undefined, offset:undefined})" translate="resourceSearch.types.tools">
                                            Tools
                                        </a>
                                    </li>

                                    <li class="tab" ng-if="resource.isTabShown('document')" ng-class="{isActive: resource.state.query.contentType == 'document'}">
                                        <a href="" ui-sref="resourceSearchList({contentType:['document'], _showPastEvents:undefined, offset:undefined})" translate="resourceSearch.types.documents">
                                            Documents
                                        </a>
                                    </li>

                                    <li class="tab" ng-if="resource.isTabShown('literature')" ng-class="{isActive: resource.state.query.contentType == 'literature'}">
                                        <a href="" ui-sref="resourceSearchList({contentType:['literature'], _showPastEvents:undefined, offset:undefined})" translate="resourceSearch.types.literature">
                                            Literature
                                        </a>
                                    </li>

                                    <!--<li class="tab" ng-if="resource.getExtraTabContentType()" ng-class="{isActive: resource.state.query.contentType == resource.getExtraTabContentType()}">-->
                                        <!--<a href="" ui-sref="resourceSearchList({contentType:[resource.getExtraTabContentType()], _showPastEvents:undefined, offset:undefined})">-->
                                            <!--{{resource.getExtraTabContentType()}}-->
                                        <!--</a>-->
                                    <!--</li>-->

                                    <!--<li class="tab" uib-dropdown dropdown-append-to-body ng-if="resource.getMoreOptions().length > 0">-->
                                        <!--<a href="" id="btn-append-to-body" type="button" uib-dropdown-toggle>-->
                                            <!--More-->
                                        <!--</a>-->
                                        <!--<ul class="dropdown-menu dropdown-menu-right ng-cloak" uib-dropdown-menu role="menu"-->
                                            <!--aria-labelledby="btn-append-to-body">-->
                                            <!--<li ng-repeat="option in resource.getMoreOptions()" role="menuitem">-->
                                                <!--<a href="" ui-sref="resourceSearchList({contentType:[option], _showPastEvents:undefined, offset:undefined})">{{option}}</a>-->
                                            <!--</li>-->
                                        <!--</ul>-->
                                    <!--</li>-->
                                </ul>
                            </nav>
                        </div>
                    </div>
                </section>


                <div class="horizontal-stripe light-background">
                    <ng-include src="'/templates/components/loader/loader.html'" ng-if="!resource.hasData() && !resource.state.failedRequest"></ng-include>
                    <div ng-if="resource.hasData()">
                        <div ui-view ng-if="resource.state.data.count > 0">

                        </div>
                        <div class="emptyInfo" ng-if="resource.state.data.count === 0">
                            <h3 translate="phrases.noResultsMessage"></h3>
                        </div>
                    </div>
                    <div class="emptyInfo" ng-if="resource.state.failedRequest">
                        <h3 translate="phrases.criticalErrorMsg"></h3>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="fab hide-on-laptop">
        <a href="" class="gb-button--brand" ng-click="resource.showFilters = !resource.showFilters" ng-if="!resource.showFilters">
            <span><span class="gb-icon-filters"></span><span translate="search.filters"></span></span>
        </a>
    </div>
</div>
