.SearchResults-occurrences-species {
	a {
		text-decoration none
		color inherit
		&:hover {
			text-decoration underline
		}
	}
	.species__map {
		width 128px
		flex 0 0 auto
	}
	.card__banner {
		display flex
		.descr {
			height 128px
			flex 1 1 auto
			padding vr-block(0.5)
			>div {
				vertically-align()
				text-align center
			}
		}
	}

	.card__actions {
		ul {
			display flex
		}
		li {
			display inline-block
			flex 1 1 auto
			text-align center
			transition background 300ms ease
			a {
				text-transform uppercase
				color deepskyblue
				padding vr-block(0.25)
				display inline-block
				width 100%
				&:hover {
					background #eee
				}
			}
		}
		border-bottom 1px solid #ddd
	}

	.card__definitions {
		padding vr-block(0.25) vr-block(1)
		>div {
			margin vr-block(0.25) 0
			.term {
				font-weight bold
				margin-right vr-block(0.25)
			}
			.taxa {
				i:after {
					content '\2022'
					margin vr-block(0.125)
				}
			}
			.type {
				a {
					color deepskyblue
				}
			}
			.lower {
				a {
					margin-right vr-block(0.25)
					color deepskyblue
				}
			}
		}
	}

	.card__occurrences {
		background #F5F5F5
		border 1px solid #ddd
		border-width 1px 0 1px 0
		padding vr-block(0.25) vr-block(1)
		span {
			font-weight normal
		}
		>div {
			padding vr-block(0.25) 0
			margin 0 (- vr-block(0.5) )
		}
		table {
			margin 0
		}
		.table__content {
			overflow auto
			border-bottom 1px solid #ddd
		}
		.table {
			background white
			box-shadow 0 1px 3px rgba(0,0,0,0.3)
			th {
				color #666
				font-weight normal
			}
			th, td {
				padding vr-block(0.125) vr-block(0.25)
				white-space nowrap
				&:first-of-type {
					padding-left vr-block(0.5)
				}
				&:last-of-type {
					padding-right vr-block(0.5)
				}
			}
			tbody {
				tr:nth-of-type(even) {
					//background #ddd
				}
				tr:nth-of-type(odd) {
					background #efefef
				}
			}
		}
		.SearchResults__section__more {
			background white
		}
	}

	.card__images {
		background #F7F7F7
		>div {
			white-space nowrap
			overflow hidden
			overflow-x auto
			overflow-x overlay
			padding 10px
			img {
				height 128px
				flex 0 0 auto
				display inline-block
				margin-right 5px
				box-shadow 0 1px 3px rgba(0,0,0,0.3)
			}
			.more {
				display inline-block
				height 120px
				background rgba(0,0,0,0.5)
				color white
			}
		}
	}
}
