.SearchResults-occurrences-species {
	.species__map {
		width 128px
		flex 0 0 auto
	}
	.overview {
		display flex
	}
	.overview__content {
		height 128px
		flex 1 1 auto
		padding vr-block(0.5)
		>div {
			vertically-align()
			text-align center
		}
	}
}
