.species__map {
	width 256px
	max-width 100%
	div {
		height 0
		width 100%
		position relative
		padding-bottom 100%
		overflow hidden
		img {
			position absolute
			top 0
			width 100%
		}
	}
}

	ul.taxonomic_placement {
		li {
			display inline-block
			:after {
				content ' > '
			}
		}
	}

.species__gallery {
	img {
		display inline-block
	}
}

.responsiveImg {
	// width 100%
	// height 0
	// overflow hidden
	// padding-bottom 60%
	// position relative
	// img {
	// 	position absolute
	// 	top 0
	// 	width 100%
	// }
}

.img {
	// width 200px
	display inline-block
}