.curated-card-developer {
    .card__stripe {
        display flex
        flex-direction column
        > div:first-of-type {
            height 150px
            background-position center
            background-size cover
        }
        > div {
            width 100%
        }
    }
}