$home_overlay_opacity = 0.3
$home_overlay_color = rgba(0, 0, 0, $home_overlay_opacity)

.home {
    .hero {
        background-color $color_main
        text-align center
        padding 0 vrBlock(1)
        transition padding-bottom 200ms ease
        background-image linear-gradient(to right, $home_overlay_color, $home_overlay_color), url('http://api.gbif.org/v1/image/unsafe/http://static.inaturalist.org/photos/2883643/original.jpg')
        background-size cover
        background-position top
        width 100%
        color white
        h1 {
            max-width 500px
            margin auto
            margin-top 0
            margin-bottom 0
            padding vrBlock(.5) 0 vrBlock(.5) 0
            font-weight bold
        }
        h4 {
            setType(1)
        }
        input {
            border 1px solid rgba(255, 255, 255, 0.5)
            &::placeholder {
                color #ddd
                font-weight light
            }
        }
    }
}

//LAPTOPS
+isAbove($laptop) {
    .home .hero {
        height 0
        padding-bottom 30%
        h1 {
            font-size 50px
        }
    }
}

+isAbove($desktop) {
    .home .hero {
        padding-bottom 25%
        h1 {
            margin-top 1vw
        }
    }
}