<div class="occurrenceBreakdownCard p-avoid-pb">
    <occurrence-breakdown-header api="vm.chartApi" options="vm.options" display="vm.display"></occurrence-breakdown-header>
    <div class="card">
        <div class="card__loader text-center" ng-if="vm.chartApi.isLoading()"></div>
        <div class="card__stripe card__stripe--light p-hidden" ng-if="vm.display.showSettings">
            <div class="card__content">
                <occurrence-breakdown-settings api="vm.chartApi" options="vm.options"></occurrence-breakdown-settings>
            </div>
        </div>
        <div class="card__stripe" ng-if="vm.customFilter">
            <div class="card__content card__content--warning">
                <span translate="metrics.customFilters"></span>
                <a href="" class="inherit noUnderline pull-right gb-icon-more2" ng-click="vm.showCustomFilters = !vm.showCustomFilters"></a>
            </div>
        </div>

        <div class="card__stripe" ng-if="vm.showCustomFilters && vm.customFilter">
            <div class="card__content predicateContainer">
                <div class="predicates isSimplePredicate">
                    <ng-include src="'/api/occurrence/search/predicate.html?' + (vm.customFilter | httpParamSerializer)"></ng-include>
                </div>
            </div>
        </div>
        <div class="card__stripe" ng-show="vm.options.dimension">
            <div>
                <occurrence-breakdown options="vm.options" api="vm.chartApi" filter="vm.mergedFilter" display="vm.display"></occurrence-breakdown>
            </div>
        </div>
        <div class="card__stripe card__stripe--light text-right p-hidden" ng-if="vm.options.dimension && (vm.chartApi.data().endOfRecords === false || vm.options.offset > 0)">
            <div class="card__content p-t-05 p-b-05">
                <div>
                    <a href="" class="gb-button--discreet small" ng-click="vm.options.offset = 0;" ng-if="vm.options.offset > vm.options.limit" translate="pagination.first"></a>
                    <a href="" class="gb-button--discreet small" ng-click="vm.prevPage()" ng-if="vm.options.offset > 0" translate="pagination.previous"></a>
                    <a href="" class="gb-button--discreet small" ng-click="vm.nextPage()" ng-if="vm.chartApi.data().endOfRecords === false" translate="pagination.next"></a>
                </div>
            </div>
        </div>
    </div>
</div>
