@font-face {
	font-family: 'gbificons';
	src:url('/iconfont/gbificons.eot');
	src:url('/iconfont/gbificons.eot#iefix') format('embedded-opentype'),
	url('/iconfont/gbificons.ttf') format('truetype'),
	url('/iconfont/gbificons.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

[class^="gb-icon-"]:before, [class*=" gb-icon-"]:before {
	font-family: 'gbificons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}



$icon-string-config = "\EA01"

.gb-icon-config:before {
	content: "\EA01";
}



$icon-string-leaf = "\EA02"

.gb-icon-leaf:before {
	content: "\EA02";
}



$icon-string-menu = "\EA03"

.gb-icon-menu:before {
	content: "\EA03";
}



$icon-string-search = "\EA04"

.gb-icon-search:before {
	content: "\EA04";
}



$icon-string-user-female = "\EA05"

.gb-icon-user-female:before {
	content: "\EA05";
}



$icon-string-cloud-upload = "\EA06"

.gb-icon-cloud-upload:before {
	content: "\EA06";
}



$icon-string-home = "\EA07"

.gb-icon-home:before {
	content: "\EA07";
}



$icon-string-info = "\EA08"

.gb-icon-info:before {
	content: "\EA08";
}



$icon-string-map = "\EA09"

.gb-icon-map:before {
	content: "\EA09";
}



$icon-string-close = "\EA0A"

.gb-icon-close:before {
	content: "\EA0A";
}



$icon-string-close_L = "\EA0B"

.gb-icon-close_L:before {
	content: "\EA0B";
}



$icon-string-logo-L = "\EA0C"

.gb-icon-logo-L:before {
	content: "\EA0C";
}



$icon-string-logo = "\EA0D"

.gb-icon-logo:before {
	content: "\EA0D";
}



$icon-string-global = "\EA0E"

.gb-icon-global:before {
	content: "\EA0E";
}



$icon-string-left-arrow = "\EA0F"

.gb-icon-left-arrow:before {
	content: "\EA0F";
}



$icon-string-right-arrow = "\EA10"

.gb-icon-right-arrow:before {
	content: "\EA10";
}



$icon-string-bid = "\EA11"

.gb-icon-bid:before {
	content: "\EA11";
}

