/*The icon font stylus file is templated. Changes to the compiled file will be overwritten. Make sure to edit on the nunjucks file /app/assets/icons/fontteplate.nunjucks.styl*/
@font-face {
    font-family: 'gbificons';
    src:url('/iconfont/gbificons.eot?v=1530710913');
    src:url('/iconfont/gbificons.eot?v=1530710913#iefix') format('embedded-opentype'),
    url('/iconfont/gbificons.ttf?v=1530710913') format('truetype'),
    url('/iconfont/gbificons.woff?v=1530710913') format('woff');
    font-weight: normal;
    font-style: normal;
}

[class^="gb-icon-"]:before, [class*=" gb-icon-"]:before, .iconFont {
    font-family: 'gbificons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}



$icon-string-config = "\EA01"

.gb-icon-config:before {
                           content: "\EA01";
                       }



$icon-string-leaf = "\EA02"

.gb-icon-leaf:before {
                           content: "\EA02";
                       }



$icon-string-menu = "\EA03"

.gb-icon-menu:before {
                           content: "\EA03";
                       }



$icon-string-search = "\EA04"

.gb-icon-search:before {
                           content: "\EA04";
                       }



$icon-string-user-female = "\EA05"

.gb-icon-user-female:before {
                           content: "\EA05";
                       }



$icon-string-cloud-upload = "\EA06"

.gb-icon-cloud-upload:before {
                           content: "\EA06";
                       }



$icon-string-home = "\EA07"

.gb-icon-home:before {
                           content: "\EA07";
                       }



$icon-string-info = "\EA08"

.gb-icon-info:before {
                           content: "\EA08";
                       }



$icon-string-map = "\EA09"

.gb-icon-map:before {
                           content: "\EA09";
                       }



$icon-string-close = "\EA0A"

.gb-icon-close:before {
                           content: "\EA0A";
                       }



$icon-string-close_L = "\EA0B"

.gb-icon-close_L:before {
                           content: "\EA0B";
                       }



$icon-string-logo-L = "\EA0C"

.gb-icon-logo-L:before {
                           content: "\EA0C";
                       }



$icon-string-logo = "\EA0D"

.gb-icon-logo:before {
                           content: "\EA0D";
                       }



$icon-string-global = "\EA0E"

.gb-icon-global:before {
                           content: "\EA0E";
                       }



$icon-string-left-arrow = "\EA0F"

.gb-icon-left-arrow:before {
                           content: "\EA0F";
                       }



$icon-string-right-arrow = "\EA10"

.gb-icon-right-arrow:before {
                           content: "\EA10";
                       }



$icon-string-angle-left = "\EA11"

.gb-icon-angle-left:before {
                           content: "\EA11";
                       }



$icon-string-filter = "\EA12"

.gb-icon-filter:before {
                           content: "\EA12";
                       }



$icon-string-photo = "\EA13"

.gb-icon-photo:before {
                           content: "\EA13";
                       }



$icon-string-animalia = "\EA14"

.gb-icon-animalia:before {
                           content: "\EA14";
                       }



$icon-string-archaea = "\EA15"

.gb-icon-archaea:before {
                           content: "\EA15";
                       }



$icon-string-bacteria = "\EA16"

.gb-icon-bacteria:before {
                           content: "\EA16";
                       }



$icon-string-chromista = "\EA17"

.gb-icon-chromista:before {
                           content: "\EA17";
                       }



$icon-string-fungi = "\EA18"

.gb-icon-fungi:before {
                           content: "\EA18";
                       }



$icon-string-plantae = "\EA19"

.gb-icon-plantae:before {
                           content: "\EA19";
                       }



$icon-string-protozoa = "\EA1A"

.gb-icon-protozoa:before {
                           content: "\EA1A";
                       }



$icon-string-unknown = "\EA1B"

.gb-icon-unknown:before {
                           content: "\EA1B";
                       }



$icon-string-viruses = "\EA1C"

.gb-icon-viruses:before {
                           content: "\EA1C";
                       }



$icon-string-pen = "\EA1D"

.gb-icon-pen:before {
                           content: "\EA1D";
                       }



$icon-string-ccby = "\EA1E"

.gb-icon-ccby:before {
                           content: "\EA1E";
                       }



$icon-string-share = "\EA1F"

.gb-icon-share:before {
                           content: "\EA1F";
                       }



$icon-string-ccnc = "\EA20"

.gb-icon-ccnc:before {
                           content: "\EA20";
                       }



$icon-string-ccsa = "\EA21"

.gb-icon-ccsa:before {
                           content: "\EA21";
                       }



$icon-string-facebook = "\EA22"

.gb-icon-facebook:before {
                           content: "\EA22";
                       }



$icon-string-cclogo3 = "\EA23"

.gb-icon-cclogo3:before {
                           content: "\EA23";
                       }



$icon-string-google = "\EA24"

.gb-icon-google:before {
                           content: "\EA24";
                       }



$icon-string-linkedin = "\EA25"

.gb-icon-linkedin:before {
                           content: "\EA25";
                       }



$icon-string-twitter = "\EA26"

.gb-icon-twitter:before {
                           content: "\EA26";
                       }



$icon-string-mail = "\EA27"

.gb-icon-mail:before {
                           content: "\EA27";
                       }



$icon-string-comment = "\EA28"

.gb-icon-comment:before {
                           content: "\EA28";
                       }



$icon-string-more2 = "\EA29"

.gb-icon-more2:before {
                           content: "\EA29";
                       }



$icon-string-compare-fat = "\EA2A"

.gb-icon-compare-fat:before {
                           content: "\EA2A";
                       }



$icon-string-compare-fat-reverse = "\EA2B"

.gb-icon-compare-fat-reverse:before {
                           content: "\EA2B";
                       }



$icon-string-wood = "\EA2C"

.gb-icon-wood:before {
                           content: "\EA2C";
                       }



$icon-string-angle-down = "\EA2D"

.gb-icon-angle-down:before {
                           content: "\EA2D";
                       }



$icon-string-angle-right = "\EA2E"

.gb-icon-angle-right:before {
                           content: "\EA2E";
                       }



$icon-string-trash = "\EA2F"

.gb-icon-trash:before {
                           content: "\EA2F";
                       }



$icon-string-angle-up = "\EA30"

.gb-icon-angle-up:before {
                           content: "\EA30";
                       }



$icon-string-map-marker = "\EA31"

.gb-icon-map-marker:before {
                           content: "\EA31";
                       }



$icon-string-shuffle = "\EA32"

.gb-icon-shuffle:before {
                           content: "\EA32";
                       }



$icon-string-table = "\EA33"

.gb-icon-table:before {
                           content: "\EA33";
                       }



$icon-string-institution = "\EA34"

.gb-icon-institution:before {
                           content: "\EA34";
                       }



$icon-string-cloud-download = "\EA35"

.gb-icon-cloud-download:before {
                           content: "\EA35";
                       }



$icon-string-phone2 = "\EA36"

.gb-icon-phone2:before {
                           content: "\EA36";
                       }



$icon-string-test = "\EA37"

.gb-icon-test:before {
                           content: "\EA37";
                       }



$icon-string-link = "\EA38"

.gb-icon-link:before {
                           content: "\EA38";
                       }



$icon-string-more-vertical = "\EA39"

.gb-icon-more-vertical:before {
                           content: "\EA39";
                       }



$icon-string-tools = "\EA3A"

.gb-icon-tools:before {
                           content: "\EA3A";
                       }



$icon-string-rss = "\EA3B"

.gb-icon-rss:before {
                           content: "\EA3B";
                       }



$icon-string-butterfly = "\EA3C"

.gb-icon-butterfly:before {
                           content: "\EA3C";
                       }



$icon-string-drop = "\EA3D"

.gb-icon-drop:before {
                           content: "\EA3D";
                       }



$icon-string-funnel = "\EA3E"

.gb-icon-funnel:before {
                           content: "\EA3E";
                       }



$icon-string-file-download = "\EA3F"

.gb-icon-file-download:before {
                           content: "\EA3F";
                       }



$icon-string-microscope = "\EA40"

.gb-icon-microscope:before {
                           content: "\EA40";
                       }



$icon-string-quote = "\EA41"

.gb-icon-quote:before {
                           content: "\EA41";
                       }



$icon-string-bubble = "\EA42"

.gb-icon-bubble:before {
                           content: "\EA42";
                       }



$icon-string-search2 = "\EA43"

.gb-icon-search2:before {
                           content: "\EA43";
                       }



$icon-string-account = "\EA44"

.gb-icon-account:before {
                           content: "\EA44";
                       }



$icon-string-bug = "\EA45"

.gb-icon-bug:before {
                           content: "\EA45";
                       }



$icon-string-idea = "\EA46"

.gb-icon-idea:before {
                           content: "\EA46";
                       }



$icon-string-unicorn = "\EA47"

.gb-icon-unicorn:before {
                           content: "\EA47";
                       }



$icon-string-user = "\EA48"

.gb-icon-user:before {
                           content: "\EA48";
                       }



$icon-string-notifications-none = "\EA49"

.gb-icon-notifications-none:before {
                           content: "\EA49";
                       }



$icon-string-notifications = "\EA4A"

.gb-icon-notifications:before {
                           content: "\EA4A";
                       }



$icon-string-mistletoe = "\EA4B"

.gb-icon-mistletoe:before {
                           content: "\EA4B";
                       }



$icon-string-clock = "\EA4C"

.gb-icon-clock:before {
                           content: "\EA4C";
                       }



$icon-string-marker = "\EA4D"

.gb-icon-marker:before {
                           content: "\EA4D";
                       }



$icon-string-calendar = "\EA4E"

.gb-icon-calendar:before {
                           content: "\EA4E";
                       }



$icon-string-euro = "\EA4F"

.gb-icon-euro:before {
                           content: "\EA4F";
                       }



$icon-string-open_in_new = "\EA50"

.gb-icon-open_in_new:before {
                           content: "\EA50";
                       }



$icon-string-menu-down = "\EA51"

.gb-icon-menu-down:before {
                           content: "\EA51";
                       }



$icon-string-menu-up = "\EA52"

.gb-icon-menu-up:before {
                           content: "\EA52";
                       }



$icon-string-email = "\EA53"

.gb-icon-email:before {
                           content: "\EA53";
                       }



$icon-string-logout = "\EA54"

.gb-icon-logout:before {
                           content: "\EA54";
                       }



$icon-string-fullscreen-exit = "\EA55"

.gb-icon-fullscreen-exit:before {
                           content: "\EA55";
                       }



$icon-string-fullscreen = "\EA56"

.gb-icon-fullscreen:before {
                           content: "\EA56";
                       }



$icon-string-filters = "\EA57"

.gb-icon-filters:before {
                           content: "\EA57";
                       }



$icon-string-arrow-left-bold-circle-outline = "\EA58"

.gb-icon-arrow-left-bold-circle-outline:before {
                           content: "\EA58";
                       }



$icon-string-taxonomy = "\EA59"

.gb-icon-taxonomy:before {
                           content: "\EA59";
                       }



$icon-string-select = "\EA5A"

.gb-icon-select:before {
                           content: "\EA5A";
                       }



$icon-string-format-paint = "\EA5B"

.gb-icon-format-paint:before {
                           content: "\EA5B";
                       }



$icon-string-antarctic = "\EA5C"

.gb-icon-antarctic:before {
                           content: "\EA5C";
                       }



$icon-string-arctic = "\EA5D"

.gb-icon-arctic:before {
                           content: "\EA5D";
                       }



$icon-string-earth = "\EA5E"

.gb-icon-earth:before {
                           content: "\EA5E";
                       }



$icon-string-vimeo = "\EA5F"

.gb-icon-vimeo:before {
                           content: "\EA5F";
                       }



$icon-string-youtube = "\EA60"

.gb-icon-youtube:before {
                           content: "\EA60";
                       }



$icon-string-file = "\EA61"

.gb-icon-file:before {
                           content: "\EA61";
                       }



$icon-string-dataset = "\EA62"

.gb-icon-dataset:before {
                           content: "\EA62";
                       }



$icon-string-publisher = "\EA63"

.gb-icon-publisher:before {
                           content: "\EA63";
                       }



$icon-string-server = "\EA64"

.gb-icon-server:before {
                           content: "\EA64";
                       }



$icon-string-add = "\EA65"

.gb-icon-add:before {
                           content: "\EA65";
                       }



$icon-string-heartbeat = "\EA66"

.gb-icon-heartbeat:before {
                           content: "\EA66";
                       }



$icon-string-unfold-less-horizontal = "\EA67"

.gb-icon-unfold-less-horizontal:before {
                           content: "\EA67";
                       }



$icon-string-unfold-more-horizontal = "\EA68"

.gb-icon-unfold-more-horizontal:before {
                           content: "\EA68";
                       }



$icon-string-bar-chart = "\EA69"

.gb-icon-bar-chart:before {
                           content: "\EA69";
                       }



$icon-string-pie-chart = "\EA6A"

.gb-icon-pie-chart:before {
                           content: "\EA6A";
                       }



$icon-string-sunburst = "\EA6B"

.gb-icon-sunburst:before {
                           content: "\EA6B";
                       }



$icon-string-taxonomy-tree = "\EA6C"

.gb-icon-taxonomy-tree:before {
                           content: "\EA6C";
                       }



$icon-string-donought-chart = "\EA6D"

.gb-icon-donought-chart:before {
                           content: "\EA6D";
                       }



$icon-string-treemap = "\EA6E"

.gb-icon-treemap:before {
                           content: "\EA6E";
                       }



$icon-string-col-chart = "\EA6F"

.gb-icon-col-chart:before {
                           content: "\EA6F";
                       }



$icon-string-view-list = "\EA70"

.gb-icon-view-list:before {
                           content: "\EA70";
                       }



$icon-string-rectangle = "\EA71"

.gb-icon-rectangle:before {
                           content: "\EA71";
                       }



$icon-string-polygon = "\EA72"

.gb-icon-polygon:before {
                           content: "\EA72";
                       }



$icon-string-line-chart = "\EA73"

.gb-icon-line-chart:before {
                           content: "\EA73";
                       }



$icon-string-translate = "\EA74"

.gb-icon-translate:before {
                           content: "\EA74";
                       }



$icon-string-instagram = "\EA75"

.gb-icon-instagram:before {
                           content: "\EA75";
                       }

