.country {
    &__headerFlag {
        height 40px
        border 1px solid #efefef
        margin-left 20px
        margin-bottom 8px
        display inline
    }
}

.countryKey__normalCards {
    .card__content {
        max-width 1000px
        margin auto
    }
    section {
        margin-bottom 1rem
    }
}