$taxonIconSizeL = 60px
.taxon-icon {
    background $navBar_background_color
    color white
    font-size $taxonIconSizeL
    line-height $taxonIconSizeL
    width $taxonIconSizeL
    height $taxonIconSizeL
    border-radius 50%
    transition background 300ms ease
    &:hover {
        background darken($navBar_background_color, 20)
    }
}

.taxonBreakdown {
    padding vrBlock(1)
    > div {
        display flex
        justify-content center
        flex-wrap wrap
    }
    &__taxon {
        flex 0 0 200px
        margin 10px 0
        > div {
            display inline-block
            &:last-of-type {
                //vertically-align()
            }
        }
    }
    &__linkButtons {
        margin-top vrBlock(1)
        >div {
            margin vrBlock(1)
        }
    }
}
