<div>
    <div layout="row">
        <md-input-container>
            <label>Dimension</label>
            <md-select ng-model="vm.options.dimension">
                <md-option ng-value=""><em>None</em></md-option>
                <md-option ng-repeat="item in vm.config.dimensions" ng-value="item" Xng-disabled="$index === 0">
                    {{item}}
                </md-option>
            </md-select>
        </md-input-container>
        <md-input-container>
            <label>2nd dimension</label>
            <md-select ng-model="vm.options.secondDimension">
                <md-option ng-value=""><em>None</em></md-option>
                <md-option ng-repeat="item in vm.config.secondaryDimensions" ng-value="item" ng-disabled="item === vm.options.dimension">
                    {{item}}
                </md-option>
            </md-select>
        </md-input-container>
    </div>
</div>
