<div>
    <div layout='row' layout-fill layout-margin layout-align='start center'>
        <span translate="metrics.showOccPer"></span>
        <md-input-container md-no-float>
            <md-select ng-model="vm.options.dimension" ng-change="vm.options.secondDimension = undefined; vm.options.offset = 0; vm.api.chartChange();" placeholder="{{ 'metrics.chooseDimension' | translate }}">
                <md-option ng-value=""><em translate="metrics.nothingSelected"></em></md-option>
                <md-option ng-repeat="item in vm.config.dimensions" ng-value="item" translate="filterNames.{{item | camelCase}}">
                    {{item}}
                </md-option>
            </md-select>
        </md-input-container>
    </div>
    <div layout='row' layout-fill layout-margin layout-align='start center' ng-if="vm.options.dimension">
        <span translate="metrics.andBreakdownPer"></span>
        <md-input-container md-no-float>
            <md-select ng-model="vm.options.secondDimension" placeholder="choose dimension" ng-change="vm.api.chartChange();">
                <md-option ng-value=""><em>None</em></md-option>
                <md-option ng-repeat="item in vm.config.secondaryDimensions" ng-value="item" translate="filterNames.{{item | camelCase}}">
                    {{item}}
                </md-option>
            </md-select>
        </md-input-container>
    </div>
</div>
