<div class="horizontal-stripe--paddingless white-background">
    <div class="container--desktop">
        <nav class="discreetTabs">
            <ul>
                <li>
                    <a href="" class="inherit noUnderline" ui-sref="countryActivity()">Activity</a>
                </li>
                <li>
                    <a href="" class="inherit noUnderline" ui-sref="countryTrends()">Trends</a>
                </li>
                <li class="isActive">
                    <a href="" class="inherit noUnderline">Participant</a>
                </li>
                <li>
                    <a class="inherit noUnderline" ng-href="http://www.gbif.org/sites/default/files/gbif_analytics/country/{{ countryKey.countryCode }}/GBIF_CountryReport_{{ countryKey.countryCode }}.pdf">
                        <span class="gb-icon-file-download"></span>
                        <span>
                            Download report
                        </span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>

<div class="horizontal-stripe--paddingless white-background">
    <!--<div ng-if="countryKey.isParticipant">-->

        <!--<div ng-if="!countryParticipant.loaded" class="discreet text-center m-t-2">-->
            <!--<ng-include src="'/templates/components/loader/loader.html'"></ng-include>-->
            <!--<div class="discreet">-->
                <!--<em>Please hang on while we generate the country trends</em>-->
            <!--</div>-->
        <!--</div>-->

        <!--&lt;!&ndash;<div ng-include="'/node/' + countryParticipant.nodeKey + '/content'" onload="countryParticipant.loaded = true"></div>&ndash;&gt;-->

    <!--</div>-->
    <!--<div ng-if="!countryKey.isParticipant" class="blankNotification">-->
        <!--<h2><span translate="country.{{ countryKey.countryCode }}"></span> is not a participant</h2>-->
    <!--</div>-->
    <div class="emptyInfo">
        <h3>Participant info coming soon</h3>
    </div>
</div>

<!--<div ng-if="countryKey.isParticipant">-->
    <!--<div ng-controller="nodeKeyCtrl as nodeKey" ng-init="nodeKey.init('{$ country.code $}')">-->
        <!--<ng-include src="'/templates/pages/node/key/node.html'"></ng-include>-->
        <!--<div ng-include="'/node/' + countryParticipant.nodeKey + '/contacts'"></div>-->
    <!--</div>-->
<!--</div>-->