<div class="wrapper-horizontal-stripes occurrence-search__download">

    <section class="horizontal-stripe--paddingless white-background search-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <nav class="article-header__category article-header__category--deep">
                        <span class="article-header__category__upper">Search occurrences</span>
                        <span class="article-header__category__lower" ng-if="occDownload.hasData()">
                            {{occDownload.state.table.count | localNumber:occDownload.state.query.locale }} results
                        </span>
                        <span class="article-header__category__lower" ng-if="!occDownload.hasData()">
                            Loading ...
                        </span>
                    </nav>
                </div>
            </div>
        </div>
    </section>

    <section class="horizontal-stripe--paddingless white-background">
        <div class="container-fluid">
            <div class="row">
                <nav class="tabs">
                    <ul>
                        <li class="tab">
                            <a href="" ui-sref="occurrenceSearchTable()">
                                Table
                            </a>
                        </li>

                        <li class="tab">
                            <a href="" ui-sref="occurrenceSearchGallery()">
                                Gallery
                            </a>
                        </li>

                        <li class="tab">
                            <a href="" ui-sref="occurrenceSearchMap()">
                                Map
                            </a>
                        </li>

                        <li class="tab tab-right isActive">
                            <span>
                                <span class="gb-icon-file-download"></span>
                                <span>
                                    Download
                                </span>
                            </span>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </section>

    <section class="horizontal-stripe--paddingless lighter-background">
        <div class="container--narrow">
            <div class="row">
                <div class="col-xs-12">

                    <div class="download-report m-t-2">
                        <div class="download-report__summary">
                            <div class="card">
                                <div style="width:256px;height:128px;overflow: hidden;background-color:#28282d;background-image:url('https://cartocdn-ashbu.global.ssl.fastly.net/timrobertson100/api/v1/map/3a222bf37b6c105e0c7c6e3a2a1d6ecc:1467147536105/0/0/0/0.png?cache_policy=persist');background-position: center; background-size: cover;">
                                    <img ng-src="{{occDownload.thumbnail}}"
                                         style="width:256px;height:256px; float:left; margin-top:-64px" />
                                </div>
                                <div class="card__content">
                                    <dl class="inline">
                                        <div>
                                            <dt class="text-capitalize">Total</dt>
                                            <dd>
                                                <span ng-if="!occDownload.hasData()" class="loading"></span>
                                                <span ng-if="occDownload.hasData()">{{occDownload.state.table.count | localNumber:occDownload.state.query.locale }}</span>
                                            </dd>
                                        </div>
                                        <div>
                                            <dt class="text-capitalize">License</dt>
                                            <dd>
                                                <span ng-if="!occDownload.hasData()" class="loading"></span>
                                                <span ng-if="occDownload.hasData()">{{occDownload.getMostRestrictiveLicense(occDownload.state.data.facets.LICENSE.counts) | translate }}</span>
                                            </dd>
                                        </div>
                                        <div>
                                            <dt class="text-capitalize">Year range</dt>
                                            <dd>
                                                <span ng-if="!occDownload.showRange" class="loading"></span>
                                                <span ng-if="occDownload.showRange">{{occDownload.minYear}} - {{occDownload.maxYear}}</span>
                                            </dd>
                                        </div>
                                        <div>
                                            <dt class="text-capitalize">With year</dt>
                                            <dd>
                                                <span ng-if="!occDownload.showYears" class="loading"></span>
                                                <span ng-if="occDownload.showYears">{{ occDownload.withDate | formatAsPercentage }} %</span>
                                            </dd>
                                        </div>
                                        <div>
                                            <dt class="text-capitalize">with coordinates</dt>
                                            <dd>
                                                <span ng-if="!occDownload.showCoordinates" class="loading"></span>
                                                <span ng-if="occDownload.showCoordinates">{{ occDownload.hasCoordinates | formatAsPercentage }} %</span>
                                            </dd>
                                        </div>
                                        <div>
                                            <dt class="text-capitalize">with taxon match</dt>
                                            <dd>
                                                <span ng-if="!occDownload.showTaxonMatch" class="loading"></span>
                                                <span ng-if="occDownload.showTaxonMatch">{{ occDownload.withTaxonMatch | formatAsPercentage }} %</span>
                                            </dd>
                                        </div>
                                    </dl>
                                </div>
                            </div>

                            <div class="download-report__summary__download" ng-if="occDownload.hasData()">
                                <div>
                                    <p>
                                        <a href="" class="gb-button--primary">DOWNLOAD .CSV</a>
                                    </p>
                                    <div class="text-center discreet">
                                        <div>
                                            Estimated size: {{ occDownload.estKbCsv*occDownload.state.table.count*1024 |
                                            formatBytes:occDownload.state.query.locale }}
                                        </div>

                                    </div>
                                </div>
                                <div>
                                    <p>
                                        <a href="" class="gb-button--primary">DOWNLOAD .DwCA</a>
                                    </p>
                                    <div class="text-center discreet">
                                        <div>
                                            Estimated size: {{ occDownload.estKbDwcA*occDownload.state.table.count*1024 |
                                            formatBytes:occDownload.state.query.locale }}
                                        </div>
                                    </div>
                                </div>
                                <div class="discreet">
                                    <p>
                                        If you are unfamiliar with these file formats you might want to read <a href="">about
                                        download formats</a>
                                    </p>
                                </div>
                            </div>

                        </div>
                        <div class="download-report__notifications">
                            <div ng-if="!occDownload.showTaxonMatch" class="discreet text-center">
                                <div class="m-b-1">
                                    Hang on while we analyze your download for issues
                                </div>
                                <ng-include src="'/templates/components/loader/loader.html'" ng-if="!occTable.hasData() && !occTable.occurrenceState.failedRequest"></ng-include>
                            </div>
                            <div class="card" ng-if="occDownload.showTaxonMatch">
                                <div class="card__content">
                                    <h4>Known issues</h4>
                                    <div>
                                        <!--<div ng-if="!occDownload.showIssueDetails">-->
                                            <!--<p>-->
                                                <!--<a href="" class="pull-right"-->
                                                   <!--ng-click="occDownload.showIssueDetails = true">Show warnings</a>-->
                                            <!--</p>-->
                                        <!--</div>-->
                                        <div xng-if="occDownload.showIssueDetails">
                                            <span class="badge-composite--{{issue.severity | lowercase }}" ng-repeat="issue in occDownload.issues | limitTo:occDownload.issueLimit">
                                                <span class="badge">{{issue.count | localNumber:occDownload.state.query.locale }}</span>
                                                <span class="badge">{{'occurrenceIssue.' + issue.title | translate}}</span>
                                            </span>
                                            <span class="badge-composite--{{issue.severity | lowercase }}" ng-repeat="issue in occDownload.issues | limitTo:100:occDownload.issueLimit" ng-if="occDownload.showAllIssues">
                                                <span class="badge">{{issue.count | localNumber:occDownload.state.query.locale }}</span>
                                                <span class="badge">{{'occurrenceIssue.' + issue.title | translate}}</span>
                                            </span>
                                        </div>
                                        <div ng-if="occDownload.issues.length > occDownload.issueLimit">
                                            <a href="" class="pull-right" ng-click="occDownload.showAllIssues = true" ng-if="!occDownload.showAllIssues">Show all</a>
                                            <a href="" class="pull-right" ng-click="occDownload.showAllIssues = false" ng-if="occDownload.showAllIssues">Show fewer</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card m-t-1" ng-if="occDownload.showFossilWarning()">
                                <div class="card__content">
                                    <h4>Fossils</h4>
                                    There are fossils among you results. That can mean species occurrences at unexpected
                                    locations. Be aware that publishers label fossil dates differently. Some use
                                    discovery date
                                    while others use estimated living period.
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>


