<div class="wrapper-horizontal-stripes occurrence-search__download">

    <section class="horizontal-stripe--paddingless white-background search-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <nav class="article-header__category article-header__category--deep">
                        <span class="article-header__category__upper" translate="search.header.searchOccurrences"></span>
                        <span class="article-header__category__lower" ng-if="occDownload.hasData()">
                            <span tx="search.nResults" tx-nr="occDownload.state.table.count"></span>
                        </span>
                        <span class="article-header__category__lower" ng-if="!occDownload.hasData()">
                            <span translate="phrases.loading"></span> ...
                        </span>
                    </nav>
                </div>
            </div>
        </div>
    </section>

    <section class="horizontal-stripe--paddingless white-background">
        <div class="container-fluid">
            <div class="row">
                <nav class="tabs">
                    <ul>
                        <li class="tab">
                            <a href="" ui-sref="occurrenceSearchTable()" translate="occurrenceSearch.table">
                                Table
                            </a>
                        </li>

                        <li class="tab">
                            <a href="" ui-sref="occurrenceSearchGallery()" translate="occurrenceSearch.gallery">
                                Gallery
                            </a>
                        </li>

                        <li class="tab">
                            <a href="" ui-sref="occurrenceSearchMap()" translate="occurrenceSearch.map">
                                Map
                            </a>
                        </li>

                        <li class="tab">
                            <a href="" ui-sref="occurrenceSearchSpecies()" translate="occurrenceSearch.taxonomy">
                                Taxonomy
                            </a>
                        </li>

                        <li class="tab">
                            <a href="" ui-sref="occurrenceSearchCharts()" translate="occurrenceSearch.charts">
                                Charts
                            </a>
                        </li>

                        <li class="tab isActive">
                            <span>
                                <span class="gb-icon-file-download"></span>
                                <span translate="occurrenceSearch.download">
                                    Download
                                </span>
                            </span>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </section>


    <section class="horizontal-stripe--paddingless lighter-background rtl-supported rtl-bootstrap">
        <div class="container--normal">
            <div class="m-t-1" ng-if="occDownload.hasUser && occDownload.state.table.count > 0 && !occDownload.stateParams.params.q">
                <!-- download table -->


                <div style="border: 5px solid #000">
                    <a href="" class="gb-icon-close_L inherit pull-right m-t-05 m-r-05" type="button" ng-click="$ctrl.cancel()"></a>
                    <div class="gb-modal-header">
                        <span class="modal-title body-text" id="modal-title" x_translate="downloadReport.freeOfCost">Simple SQL download</span>
                    </div>
                    <div class="gb-modal-body">
                        <div class="gb-modal-body__content horizontal-stripe white-background" id="modal-body">
                            description
                        </div>
                        <div class="horizontal-stripe light-background">
                            <form name="sampleForm" novalidate>
                                <h3>Dimensions</h3>
                                <!-- Taxonomy Dropdown -->
                                <div>
                                    <label for="taxonomy">Taxonomic dimension</label><br/>
                                    <select id="taxonomy" ng-change="occDownload.setHigherCounts()" ng-model="occDownload.taxonomy" ng-options="rank for rank in occDownload.TAXONOMIC_GROUP" required>
                                        <option value="">None selected</option>
                                    </select>
                                </div>
                                <div>
                                    <!-- Temporal Dropdown -->
                                    <label for="temporal">Temporal dimension</label><br/>
                                    <select id="temporal" ng-model="occDownload.temporal" ng-options="time for time in occDownload.TEMPORAL_GROUP" required>
                                        <option value="">None selected</option>
                                    </select>
                                </div>
                                <div>
                                    <!-- Spatial Dropdowns -->
                                    <label for="spatial1">Spatial dimension</label><br/>
                                    <select id="spatial1" ng-model="occDownload.spatial" ng-options="location for location in occDownload.SPATIAL_GROUP" required>
                                        <option value="">None selected</option>
                                    </select>
                                </div>
                                <div>
                                    <label for="spatial2">Spatial resolution</label><br/>
                                    <select ng-disabled="!occDownload.spatial" id="spatial2" ng-model="occDownload.resolution" ng-options="location for location in occDownload.resolutionOptions[occDownload.spatial]" required>
                                        <option value="">None selected</option>
                                    </select>
                                </div>
                                <h3>Measurements</h3>
                                <div>
                                    <!-- Measurement Types (Multi-select) -->
                                    <label for="measurements">Measurement Types</label><br/>
                                    <div ng-repeat="type in occDownload.higherTaxonomicGroups">
                                        <label>
                                            <input type="checkbox" checklist-model="occDownload.selectedHigherTaxonomyGroups" checklist-value="type">
                                            {{ type }}
                                        </label>
                                    </div>
                                </div>
                                <div>
                                    <!-- Randomize Points within Uncertainty Circle -->
                                    <label>Randomize Points within Uncertainty Circle</label><br/>
                                    <label><input type="radio" ng-model="occDownload.randomize" value="yes">Yes</label>
                                    <label><input type="radio" ng-model="occDownload.randomize" value="no">No</label>
                                </div>
                                <div>
                                    <div class="text-error" ng-if="!occDownload.isValid">At least one dimension must be selected</div>
                                    <button class="gb-button gb-button--brand" type="submit" ng-disabled="!occDownload.isFormValid()" ng-click="occDownload.generateSql()">Download</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <h3 class="card-header" translate="downloadOptions.title">Download options</h3>
                <div class="card card--spaced">
                    <div class="card__content">
                        <div class="scrollable-y">
                            <div class="table-container rtl-bootstrap">
                                <table class="table search-table smaller">
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th translate="downloadOptions.content.rawData">Raw data</th>
                                        <th translate="downloadOptions.content.interpretedData">Interpreted data</th>
                                        <th translate="downloadOptions.content.images">Images</th>
                                        <th translate="downloadOptions.content.coordinates">Coordinates</th>
                                        <th translate="downloadOptions.content.fileFormat">Format</th>
                                        <th translate="downloadOptions.content.estimatedSize">Estimated data size</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div>
                                                    <a href="" class="center-block gb-button--brand" ng-click="occDownload.open('SIMPLE_CSV')">
                                                        <span class="gb-icon-file-download"></span>
                                                        <span translate="downloadFormat.SIMPLE_CSV"></span>
                                                    </a>
                                                </div>
                                            </td>
                                            <td translate="downloadOptions.tableValues.no"></td>
                                            <td translate="downloadOptions.tableValues.yes">✓</td>
                                            <td translate="downloadOptions.tableValues.no"></td>
                                            <td translate="downloadOptions.tableValues.yesIfAvailable">✓ (if available)</td>
                                            <td>
                                                <span gb-help="opening-gbif-csv-in-excel">
                                                <span translate="downloadOptions.fileFormats.tabCsv">Tab-delimited CSV</span>
                                            </td>
                                        </span>
                                            <td>
                                                <strong>{{
                                                    occDownload.estKbCsv*occDownload.state.table.count*occDownload.unzipFactor*1024 |
                                                    formatBytes:0:occDownload.state.query.locale }}</strong>
                                                <span dir="ltr">(<span translate="downloadReport.sizeZippedForDownload" translate-values="{SIZE_FORMATTED: (occDownload.estKbCsv*occDownload.state.table.count*1024 | formatBytes:0:occDownload.state.query.locale) }"></span>)</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div>
                                                    <a href="" class="center-block gb-button--brand" ng-click="occDownload.open('DWCA')">
                                                        <span class="gb-icon-file-download"></span>
                                                        <span translate="downloadFormat.DWCA"></span>
                                                    </a>
                                                </div>
                                            </td>
                                            <td translate="downloadOptions.tableValues.yes"></td>
                                            <td translate="downloadOptions.tableValues.yes">✓</td>
                                            <td translate="downloadOptions.tableValues.yesLinks"></td>
                                            <td translate="downloadOptions.tableValues.yesIfAvailable">✓ (if available)</td>
                                            <td>
                                                <span gb-help="opening-gbif-csv-in-excel">
                                                <span translate="downloadOptions.fileFormats.tabCsv">Tab-delimited CSV</span>
                                            </td>
                                            <td>
                                                <strong>{{
                                                occDownload.estKbDwcA*occDownload.state.table.count*occDownload.unzipFactor*1024 |
                                                formatBytes:0:occDownload.state.query.locale }}</strong>
                                                <span dir="ltr">(<span translate="downloadReport.sizeZippedForDownload" translate-values="{SIZE_FORMATTED: (occDownload.estKbDwcA*occDownload.state.table.count*1024 | formatBytes:0:occDownload.state.query.locale) }"></span>)</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div>
                                                    <a href="" class="center-block gb-button--brand" ng-click="occDownload.open('SPECIES_LIST')">
                                                        <span class="gb-icon-file-download"></span>
                                                        <span translate="downloadFormat.SPECIES_LIST"></span>
                                                    </a>
                                                </div>
                                            </td>
                                            <td translate="downloadOptions.tableValues.no"></td>
                                            <td translate="downloadOptions.tableValues.yes">✓</td>
                                            <td translate="downloadOptions.tableValues.no"></td>
                                            <td translate="downloadOptions.tableValues.no">No</td>
                                            <td>
                                                <span gb-help="opening-gbif-csv-in-excel">
                                                <span translate="downloadOptions.fileFormats.tabCsv">Tab-delimited CSV</span>
                                            </td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div>
                                                    <a href="" class="center-block gb-button--brand" ng-click="occDownload.open('SQL_CUBE')">
                                                        <span class="gb-icon-file-download"></span>
                                                        <span sx_translate="downloadFormat.SPECIES_LIST">SQL cube</span>
                                                    </a>
                                                </div>
                                            </td>
                                            <td translate="downloadOptions.tableValues.no"></td>
                                            <td translate="downloadOptions.tableValues.yes">✓</td>
                                            <td translate="downloadOptions.tableValues.no"></td>
                                            <td translate="downloadOptions.tableValues.no">No</td>
                                            <td>
                                                <span gb-help="opening-gbif-csv-in-excel">
                                                <span x_translate="downloadOptions.fileFormats.tabCsv">Tab-delimited CSV</span>
                                            </td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- download report -->
                <h3 class="card-header m-t-1" translate="downloadReport.title">Download report</h3>
                <div class="card card--spaced">
                    <div class="card__content">
                        <dl class="inline">
                            <div>
                                <dt translate="downloadReport.total">Total</dt>
                                <dd dir="auto">
                                    <span ng-if="!occDownload.hasData()" class="loading"></span>
                                    <span ng-if="occDownload.hasData()">{{occDownload.state.table.count | localNumber:occDownload.state.query.locale }}</span>
                                </dd>
                            </div>
                            <div>
                                <dt translate="downloadReport.license">License</dt>
                                <dd dir="auto">
                                    <span ng-if="!occDownload.hasData()" class="loading"></span>
                                    <span ng-if="occDownload.hasData()">{{occDownload.getMostRestrictiveLicense(occDownload.state.data.facets.LICENSE.counts) | translate }}</span>
                                </dd>
                            </div>
                            <div>
                                <dt translate="downloadReport.yearRange">Year range</dt>
                                <dd dir="auto">
                                    <span ng-if="!occDownload.showRange" class="loading"></span>
                                    <span ng-if="occDownload.showRange">{{occDownload.minYear}}–{{occDownload.maxYear}}</span>
                                </dd>
                            </div>
                            <div>
                                <dt translate="downloadReport.withYear">With year</dt>
                                <dd dir="auto">
                                    <span ng-if="!occDownload.showYears" class="loading"></span>
                                    <span ng-if="occDownload.showYears">{{ occDownload.withDate | formatAsPercentage }} %</span>
                                </dd>
                            </div>
                            <div>
                                <dt translate="downloadReport.withCoordinates">With coordinates</dt>
                                <dd dir="auto">
                                    <span ng-if="!occDownload.showCoordinates" class="loading"></span>
                                    <span ng-if="occDownload.showCoordinates">{{ occDownload.hasCoordinates | formatAsPercentage }} %</span>
                                </dd>
                            </div>
                            <div>
                                <dt translate="downloadReport.withTaxonMatch"></dt>
                                <dd dir="auto">
                                    <span ng-if="!occDownload.showTaxonMatch" class="loading"></span>
                                    <span ng-if="occDownload.showTaxonMatch">{{ occDownload.withTaxonMatch | formatAsPercentage }} %</span>
                                </dd>
                            </div>
                        </dl>
                        <div class="download-report__notifications" ng-show="occDownload.state.table.count > 0 && !occDownload.stateParams.params.q">
                            <div ng-if="!occDownload.showTaxonMatch" class="discreet text-center">
                                <ng-include src="'/templates/components/loader/loader.html'"
                                            ng-if="!occTable.hasData() && !occTable.occurrenceState.failedRequest"></ng-include>
                            </div>
                            <div class="m-t-1" ng-if="occDownload.showTaxonMatch && occDownload.issues.length > 0">
                                <div>
                                    <h4 translate="downloadReport.knownIssues"></h4>
                                    <p class="discreet" translate="downloadReport.knownIssuesDescription"></p>
                                    <div>
                                        <div>
                                            <span class="badge-composite--{{issue.severity | lowercase }}"
                                                  ng-repeat="issue in occDownload.issues | limitTo:occDownload.issueLimit">
                                                <span class="badge">{{issue.count | localNumber:occDownload.state.query.locale }}</span>
                                                <span class="badge">{{'occurrenceIssue.' + issue.title | translate}}</span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="m-t-1" ng-if="occDownload.showFossilWarning()">
                                <div>
                                    <h4 translate="downloadReport.FossilsIncluded"></h4>
                                    <p class="discreet" translate="downloadReport.FossilsIncludedDescription">
                                    </p>
                                </div>
                            </div>

                            <div class="m-t-1" ng-if="occDownload.showLivingWarning()">
                                <div>
                                    <h4 translate="downloadReport.livingSpecimensIncluded"></h4>
                                    <p class="discreet" translate="downloadReport.livingSpecimensIncludedDescription">
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--If user is logged in, but the query isn't eligible for download, then inform the user-->
            <div class="row">
                <div class="col-xs-12">
                    <div class="download-report m-t-2" ng-if="occDownload.hasUser">
                        <div ng-if="!occDownload.stateParams.params.q && !occDownload.hasData()" class="discreet text-center">
                            <ng-include src="'/templates/components/loader/loader.html'"></ng-include>
                        </div>

                        <div ng-show="occDownload.stateParams.params.q" class="download-report__empty">
                            <h2>
                                Download is only supported for structured search – not for free text queries.
                            </h2>
                            <p class="m-t-2">
                                <a href="" class="gb-button--primary" ng-click="occDownload.clearFreeText()">Remove "{{occDownload.stateParams.params.q}}" from query</a>
                            </p>
                        </div>
                        <div ng-if="occDownload.state.table.count === 0 && !occDownload.stateParams.params.q" class="download-report__empty">
                            <h2>
                                Nothing to download
                            </h2>
                        </div>
                    </div>

                    <div class="card card--login m-t-1" ng-if="!occDownload.hasUser">
                        <div user-login></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script type="text/ng-template" id="myModalContent.html">
        <a href="" class="gb-icon-close_L inherit pull-right m-t-05 m-r-05" type="button" ng-click="$ctrl.cancel()"></a>
        <div class="gb-modal-header">
            <span class="modal-title body-text" id="modal-title" translate="downloadReport.freeOfCost"></span>
        </div>
        <div class="gb-modal-body" id="modal-body">
            <div class="gb-modal-body__content horizontal-stripe white-background">
                <div ng-bind-html="'downloadReport.promoteTransperant' | translate | md2html"></div>
            </div>
        </div>
        <div class="gb-modal-footer">
            <a href="" class="gb-button--flat pull-left" type="button" ng-click="$ctrl.cancel()" translate="downloadReport.cancel"></a>
            <a href="" class="gb-button--primary" type="button" ng-click="$ctrl.ok()" id="occurrenceDownloadUnderstoodTerms" translate="downloadReport.understood"></a>
        </div>
    </script>

    <script type="text/ng-template" id="largeDownloadWarning.html">
        <a href="" class="gb-icon-close_L inherit pull-right m-t-05 m-r-05" type="button" ng-click="$ctrl.cancel()"></a>
        <div class="gb-modal-header" dir="auto">
            <span class="modal-title body-text" id="modal-title" translate="downloadReport.largeDownload"></span>
        </div>
        <div class="gb-modal-body rtl-supported" id="modal-body">
            <div class="gb-modal-body__content horizontal-stripe white-background">
                <div ng-if="$ctrl.options.filterCount === 0">
                   <strong dir="auto" translate="downloadReport.requestingFullDownload"></strong>
                   <div dir="auto" ng-bind-html="'downloadReport.occFiltersExplainedHere' | translate | md2html"></div>
                </div>
                <p dir="auto" translate="downloadReport.estSizeIs" translate-values="{SIZE_FORMATTED: ($ctrl.options.downloadSize | formatBytes:0:occDownload.state.query.locale), CONNECTION_SPEED: (50 | localNumber:occDownload.state.query.locale),DOWNLOAD_TIME: $ctrl.options.downloadSpeed,  DOWNLOAD_TIME_FORMATTED: ($ctrl.options.downloadSpeed | localNumber:occDownload.state.query.locale) }"></p>
                <p dir="auto" translate="downloadReport.onceDownloaded" translate-values="{SIZE_FORMATTED: ($ctrl.options.spaceRequiredForUnzip | formatBytes:0:occDownload.state.query.locale) }"></p>
                <p dir="auto" translate="downloadReport.datasetHasNumRows" translate-values="{NUMBER_FORMATTED: ($ctrl.options.rowCount | localNumber:occDownload.state.query.locale)}"></p>
                <p dir="auto" ng-if="$ctrl.options.fileSizeType ==='LARGE' " translate="downloadReport.youWillNotBeAble"></p>
                <p dir="auto" ng-if="$ctrl.options.fileSizeType ==='VERY_LARGE' " translate="downloadReport.difficultToAnalyse"></p>
            </div>
        </div>
        <div class="gb-modal-footer">
            <a href="" class="gb-button--flat pull-left" type="button" ng-click="$ctrl.cancel()" translate="downloadReport.cancel"></a>
            <a href="" class="gb-button--primary" type="button" ng-click="$ctrl.ok()" id="occurrenceDownloadWarningProceed" translate="downloadReport.proceed"></a>
        </div>
    </script>

    <script type="text/ng-template" id="simpleSqlDownload.html">
        <a href="" class="gb-icon-close_L inherit pull-right m-t-05 m-r-05" type="button" ng-click="$ctrl.cancel()"></a>
        <div class="gb-modal-header">
            <span class="modal-title body-text" id="modal-title" x_translate="downloadReport.freeOfCost">Simple SQL download</span>
        </div>
        <div class="gb-modal-body">
            <div class="gb-modal-body__content horizontal-stripe white-background" id="modal-body">
                <!-- <div ng-bind-html="'downloadReport.promoteTransperant' | translate | md2html"></div> -->
                 Some short introduction text that can be closed? sdkfhj
            </div>
            <div class="horizontal-stripe light-background">
                form here
            </div>
        </div>
        <div class="gb-modal-footer">
            <a href="" class="gb-button--flat pull-left" type="button" ng-click="$ctrl.cancel()" translate="downloadReport.cancel"></a>
            <a href="" class="gb-button--primary" type="button" ng-click="$ctrl.ok()" id="occurrenceDownloadUnderstoodTerms" translate="downloadReport.understood"></a>
        </div>
    </script>

</div>


