<div class="wrapper-horizontal-stripes occurrence-search__table">

    <section class="horizontal-stripe--paddingless white-background search-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <nav class="article-header__category article-header__category--deep">
                        <span class="article-header__category__upper">Search occurrences</span>
                        <span class="article-header__category__lower" ng-if="occDownload.hasData()">
                            {{occDownload.occurrenceState.table.count | localNumber:occDownload.occurrenceState.query.locale }} results
                        </span>

                        <span class="article-header__category__lower" ng-if="!occDownload.hasData()">
                            Loading ...
                        </span>

                    </nav>
                    <!--<div class="search-header__description">-->
                    <!--<span ng-if="occDownload.hasData()">-->
                    <!--{{occDownload.occurrenceState.data.count | localNumber:occDownload.occurrenceState.query.locale }} results-->
                    <!--</span>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
    </section>

    <section class="horizontal-stripe--paddingless white-background">
        <div class="container-fluid">
            <div class="row">
                <nav class="tabs">
                    <ul>
                        <li class="tab">
                            <a href="" ui-sref="occurrenceSearchTable()">
                                Table
                            </a>
                        </li>

                        <li class="tab">
                            <a href="" ui-sref="occurrenceSearchGallery()">
                                Gallery
                            </a>
                        </li>

                        <li class="tab">
                            <a href="" ui-sref="occurrenceSearchMap()">
                                Map
                            </a>
                        </li>

                        <li class="tab tab-right isActive">
                            <span>
                                <span class="gb-icon-file-download"></span>
                                <span>
                                    Download
                                </span>
                            </span>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </section>

    <section class="horizontal-stripe--paddingless lighter-background">
        <!--<ng-include src="'/templates/components/loader/loader.html'" ng-if="!occDownload.hasData() && !occDownload.occurrenceState.failedRequest"></ng-include>-->
        <div class="container--narrow">
            <div class="row">
                <div class="col-xs-12">
                    <div class="card m-t-2">
                        <div class="card__stripe">
                            <div class="card__content">
                                <h4>Download report</h4>
                            </div>
                        </div>
                        <div class="card__stripe">
                            <div class="card__content">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6">
                                            Occurrences in total: {{occDownload.state.data.count | localNumber:occDownload.state.query.locale }}
                                            <div ng-if="occDownload.state.data.facets.LICENSE.counts">
                                                {{ occDownload.getMostRestrictiveLicense(occDownload.state.data.facets.LICENSE.counts) | translate }}
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-6">
                                            <div style="width:256px;height:128px;overflow: hidden;background-color:#28282d;background-image:url('https://cartocdn-ashbu.global.ssl.fastly.net/timrobertson100/api/v1/map/3a222bf37b6c105e0c7c6e3a2a1d6ecc:1467147536105/0/0/0/0.png?cache_policy=persist');background-position: center; background-size: cover;">
                                                <img ng-src="{{occDownload.getTile('/0/0/0')}}" style="width:256px;height:256px; float:left; margin-top:-64px"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card__stripe">
                            <div class="card__content">
                                <h4>Known issues</h4>
                                <div>
                                    <span class="badge-composite--error" ng-repeat="issue in occDownload.state.data.facets.ISSUE.counts" ng-if="issue.count > 0 && occDownload.remarks[issue.title].severity === 'ERROR'">
                                        <span class="badge">{{issue.count | localNumber:occDownload.state.query.locale }}</span>
                                        <span class="badge">{{'occurrenceIssue.' + issue.title | translate}}</span>
                                    </span>
                                </div>
                                <div ng-if="!occDownload.showIssueDetails">
                                    <p>
                                        <a href="" ng-click="occDownload.showIssueDetails = true">Show warnings</a>
                                    </p>
                                </div>
                                <div ng-if="occDownload.showIssueDetails">
                                    <span class="badge-composite--warning" ng-repeat="issue in occDownload.state.data.facets.ISSUE.counts" ng-if="issue.count > 0 && occDownload.remarks[issue.title].severity === 'WARNING'">
                                        <span class="badge">{{issue.count | localNumber:occDownload.state.query.locale }}</span>
                                        <span class="badge">{{'occurrenceIssue.' + issue.title | translate}}</span>
                                    </span>
                                    <p>
                                        <a href="" ng-click="occDownload.showIssueDetails = false">Hide warnings</a>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="card__stripe">
                            <div class="card__content">
                                <h4>Notifications</h4>
                                <div ng-if="occDownload.showFossilWarning()">
                                    <h4>Fossils</h4>
                                    There are fossils among you results. That can mean species occurrences at unexpected locations. Be aware that publishers label fossil dates differently. Some use discovery date while others use estimated living period.
                                </div>
                            </div>
                        </div>
                        <div class="card__stripe">
                            <div class="card__content text-center">
                            how to cite
                                <a href="" class="gb-button--primary">DOWNLOAD AS .CSV</a>
                                <a href="" class="gb-button--primary">DOWNLOAD AS .DrwC</a>
                            </div>
                            <div>
                                {{ occDownload.estKbDwcA*occDownload.state.data.count*1024 | formatBytes:occDownload.state.query.locale }} DwcA
                            </div>
                            <div>
                                {{ occDownload.estKbCsv*occDownload.state.data.count*1024 | formatBytes:occDownload.state.query.locale }} CSV
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>
