<div class="site-content">
    <div class="site-content__page">
        <div class="light-background">
            <div class="wrapper-horizontal-stripes">

                <div class="horizontal-stripe article-header white-background">
                    <div class="container">
                        <div class="row">
                            <header class="col-xs-12">
                                <h1>
                                    Health status
                                </h1>
                            </header>
                        </div>
                    </div>
                </div>

                <div class="horizontal-stripe light-background">
                    <div class="container--narrow">
                        <section>
                            <div class="card card--spaced summaryStatus summaryStatus--{{ health.status.status | lowercase }}">
                                <div class="card__stripe">
                                    <div class="card__content">
                                        <span class="summaryStatus__message" translate="health.statusSummary.{{health.status.status}}"></span>
                                        <span class="pull-right summaryStatus__updatedAt">Updated <time am-time-ago="health.status.updatedAt"></time></span>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <section class="m-t-2" ng-if="health.status.messages.list.length > 0">
                            <h3 class="card-header">Messages</h3>
                            <div class="card card--spaced">
                                <div class="card__stripe status--{{ message.notificationType | lowercase }}" ng-repeat="message in health.status.messages.list">
                                    <div class="card__content">
                                        <h4 class="card-header statusLabel">{{ message.title }}</h4>
                                        <div>
                                            <div ng-bind-html="message.body | md2html" class="statusBody"></div>
                                            <div class="small discreet--very">
                                                Updated <time am-time-ago="message.updatedAt"></time>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <section class="m-t-2">
                            <h3 class="card-header">Services</h3>
                            <div class="card card--spaced">
                                <div class="card__stripe status--{{ component.status | lowercase }}" ng-repeat="(name, component) in health.status.health.components">
                                    <div class="card__content">
                                        <span style="max-width:50%" translate="health.components.{{ name }}.name"></span>
                                        <span class="circle-char">? <md-tooltip md-direction="top">{{ 'health.components.' + name + '.tooltip' | translate }}</md-tooltip> </span>
                                        <span class="pull-right statusLabel" translate="health.status.{{component.status}}"></span>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <!--<section class="m-t-1">-->
                            <!--<h3 class="card-header">Past messages</h3>-->
                            <!--<div>-->
                                <!--Planned outage 12. May 2017-->
                            <!--</div>-->
                        <!--</section>-->

                    </div>
                </div>


            </div>
            <!--<div class="wrapper-horizontal-stripes" ng-if="!health.installation.$resolved">-->
                <!--<div class="emptyInfo">-->
                    <!--<h3>Hang on while we find the installation</h3>-->
                <!--</div>-->
            <!--</div>-->
        </div>
    </div>
</div>


