<div class="site-content">
    <div class="site-content__page">
        <div class="light-background">
            <div class="wrapper-horizontal-stripes">

                <div class="horizontal-stripe article-header white-background">
                    <div class="container">
                        <div class="row">
                            <header class="col-xs-12">
                                <h1>
                                    Health status
                                </h1>
                            </header>
                        </div>
                    </div>
                </div>

                <div class="horizontal-stripe light-background">
                    <div class="container--narrow" ng-if="health.loaded && !health.failed">
                        <section>
                            <div class="card card--spaced summaryStatus summaryStatus--{{ health.status.severity | lowercase }}">
                                <div class="card__stripe">
                                    <div class="card__content">
                                        <span class="summaryStatus__message" translate="health.statusSummary.{{health.status.severity}}"></span>
                                        <span class="pull-right summaryStatus__updatedAt">Updated <time am-time-ago="health.status.updatedAt"></time></span>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <section class="m-t-2" ng-if="health.status.messages.list.length > 0">
                            <h3 class="card-header">Messages</h3>
                            <div class="card card--spaced">
                                <div class="card__stripe status--{{ message.severity | lowercase }}" ng-repeat="message in health.status.messages.list">
                                    <div class="card__content">
                                        <h4 class="card-header statusLabel">{{ message.title }}</h4>
                                        <div>
                                            <div ng-bind-html="message.body | md2html" class="prose"></div>
                                            <div class="small discreet--very m-t-05">
                                                Updated <time am-time-ago="message.updatedAt"></time>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <section class="m-t-2">
                            <h3 class="card-header">Automated monitoring</h3>
                            <div class="card card--spaced">
                                <div class="card__stripe status--{{ component.severity | lowercase }}" ng-repeat="component in health.status.health.components">
                                    <div class="card__content">
                                        <span translate="health.components.{{ component.component }}.name"></span>
                                        <span class="circle-char">? <md-tooltip md-direction="top">{{ 'health.components.' + component.component + '.tooltip' | translate }}</md-tooltip> </span>
                                        <span class="pull-right statusLabel" translate="health.status.{{component.severity}}"></span>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <section class="m-t-2">
                            <h3 class="card-header">System Load</h3>
                            <div class="card card--spaced">
                                <div class="card__stripe status--{{ health.status.load.components.CLUSTER.severity | lowercase }}">
                                    <div class="card__content">
                                        <span translate="health.components.CLUSTER.name"></span>
                                        <span class="pull-right statusLabel">{{ health.status.load.components.CLUSTER.load | formatAsPercentage }}%</span>
                                    </div>
                                </div>

                                <div class="card__stripe status--{{ health.status.load.components.CRAWLER.severity | lowercase }}">
                                    <div class="card__content">
                                        <span translate="health.components.CRAWLER.name"></span>
                                        <span class="pull-right statusLabel">{{ health.status.load.components.CRAWLER.load }} in queue</span>
                                    </div>
                                </div>

                                <div class="card__stripe status--{{ health.status.load.components.DOWNLOAD.severity | lowercase }}">
                                    <div class="card__content">
                                        <span translate="health.components.DOWNLOAD.name"></span>
                                        <span class="pull-right statusLabel">{{ health.status.load.components.DOWNLOAD.load }} in queue</span>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <section class="m-t-2" ng-if="health.status.health.severity !== 'OPERATIONAL' && health.isSecretariatUser">
                            <h3 class="card-header">Because you are a secretariat contact</h3>
                            <div class="card card--spaced">
                                <div class="card__stripe status--{{ component.severity | lowercase }}" ng-repeat="component in health.status.health.components" ng-if="component.severity !== 'OPERATIONAL'">
                                    <div class="card__content">
                                        <p translate="health.components.{{ component.component }}.name" class="discreet"></p>
                                        <div class="statusLabel" ng-repeat="error in component.errors">{{error.message}}</div>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <!--<section class="m-t-1">-->
                            <!--<h3 class="card-header">Past messages</h3>-->
                            <!--<div>-->
                                <!--Planned outage 12. May 2017-->
                            <!--</div>-->
                        <!--</section>-->

                    </div>
                    <div class="wrapper-horizontal-stripes" ng-if="!health.loaded && !health.failed">
                        <div class="emptyInfo">
                            <h3>Hang on while we analyze system health</h3>
                        </div>
                    </div>
                    <div class="wrapper-horizontal-stripes" ng-if="health.failed">
                        <div class="emptyInfo">
                            <h3>This is ironic - the status page failed. That isn't a good sign.</h3>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>


