<div class="occurrenceBreakdownChart">
    <div ng-if="vm.resultType() === 'EMPTY'" class="emptyInfo--small">
        <h3 translate="phrases.noData">No data</h3>
    </div>
    <div class="occurrenceBreakdownChart__single" ng-if="vm.resultType() === 'SINGLE_BUCKET'">
        <div class="occurrenceBreakdownChart__single__value">
            <span translate="metrics.singleTypeResults" translate-values="{NUMBER: (vm.chartdata.results[0].count | localNumber), FIELD: ('filterNames.' + (vm.chartdata.field | camelCase) | translate )}"></span>
            <div ng-switch on="vm.chartdata.field">
                <a ng-switch-when="dataset_key" ui-sref="datasetKey({key:vm.chartdata.results[0].filter.dataset_key})" class="inherit">
                    {{vm.chartdata.results[0].displayName | truncate:50}}
                </a>
                <a ng-switch-when="publishing_org" ui-sref="publisherKey({key:vm.chartdata.results[0].filter.publishing_org})" class="inherit">
                    {{vm.chartdata.results[0].displayName | truncate:50}}
                </a>
                <a ng-switch-when="event_id" ui-sref="datasetEvent({eventKey:vm.chartdata.results[0].filter.event_id, datasetKey: vm.filter.dataset_key})" class="inherit">
                    {{vm.chartdata.results[0].displayName | truncate:50}}
                </a>
                <span ng-switch-default>{{vm.chartdata.results[0].displayName | truncate:50}}</span>
            </div>
        </div>
        <div class="occurrenceBreakdownChart__single__value" ng-if="vm.chartdata.categories">
            <span>and '<span translate="filterNames.{{vm.chartdata.secondField | camelCase}}"></span>'</span>
            <div ng-switch on="vm.chartdata.secondField">
                <a ng-switch-when="dataset_key" ui-sref="datasetKey({key:vm.chartdata.categories[0].filter.dataset_key})" class="inherit">
                    {{vm.chartdata.categories[0].displayName | truncate:50}}
                </a>
                <a ng-switch-when="publishing_org" ui-sref="publisherKey({key:vm.chartdata.categories[0].filter.publishing_org})" class="inherit">
                    {{vm.chartdata.categories[0].displayName | truncate:50}}
                </a>
                <a ng-switch-when="event_id" ui-sref="datasetEvent({eventKey:vm.chartdata.results[0].filter.event_id, datasetKey: vm.filter.dataset_key})" class="inherit">
                    {{vm.chartdata.results[0].displayName | truncate:50}}
                </a>
                <span ng-switch-default>{{vm.chartdata.categories[0].displayName | truncate:50}}</span>
            </div>
        </div>
    </div>
    <div ng-if="vm.resultType() === 'MULTIPLE_BUCKETS'">
        <div class="tableArea" ng-if="vm.chartdata.$resolved && vm.display.type == 'TABLE'">
            <div><!--table-->
                <div class="scrollable-y">
                    <div class="table-container">
                        <table class="table search-table chart-table smaller" ng-class="{'table-fixed': !vm.chartdata.categories}">
                            <thead ng-if="vm.chartdata.categories">
                            <tr>
                                <th class="p-0"></th>
                                <th translate="filterNames.{{vm.chartdata.field | camelCase}}">{{vm.chartdata.field}}</th>
                                <th ng-repeat="category in vm.chartdata.categories">
                                    <span>
                                        <a href="" ng-click="vm.occurrenceSearch(category.filter)" class="inherit">{{category.displayName}}</a>
                                        <span ng-if="$last && vm.chartdata.secondDimension.bucketSizeVaries" class="badge badge--warning">!
                                            <md-tooltip md-direction="right"><span translate="metrics.intervalDiffers"></span></md-tooltip>
                                        </span>
                                    </span>
                                </th>
                            </tr>
                            </thead>
                            <thead ng-if="!vm.chartdata.categories">
                                <tr>
                                    <th class="p-0 table-cell--50px"></th>
                                    <th translate="filterNames.{{vm.chartdata.field | camelCase}}"></th>
                                    <th translate="metrics.count"></th>
                                    <th class="table-cell--100"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="result in vm.chartdata.results">
                                    <td class="p-0">
                                        <a ng-if="vm.chartdata.field == 'dataset_key'" ui-sref="datasetKey({key:result.filter.dataset_key})" class="inherit gb-icon-link table__symbol"></a>
                                        <a ng-if="vm.chartdata.field == 'publishing_org'" ui-sref="publisherKey({key:result.filter.publishing_org})" class="inherit gb-icon-link table__symbol"></a>
                                        <a ng-if="vm.chartdata.field == 'event_id'" ui-sref="datasetEvent({eventKey:result.filter.event_id, datasetKey:vm.filter.dataset_key})" class="inherit gb-icon-link table__symbol"></a>
                                    </td>
                                    <td>
                                    <span>
                                        <span>
                                            <a href="" ng-click="vm.occurrenceSearch(result.filter)" class="inherit">
                                                {{result.displayName | truncate:50 }}
                                                <md-tooltip md-direction="top" ng-if="vm.chartdata.categories">{{result.count | localNumber}} <span translate="metrics.occurrences"></span></md-tooltip>
                                            </a>
                                        </span>
                                        <span ng-if="$last && vm.chartdata.bucketSizeVaries" class="badge badge--warning">!
                                            <md-tooltip md-direction="right"><span translate="metrics.intervalDiffers"></span></md-tooltip>
                                        </span>
                                    </span>
                                    </td>
                                    <td ng-if="!vm.chartdata.categories">
                                    <span>
                                        <a class="inherit" href="" ng-click="vm.occurrenceSearch(result.filter)">{{ result.count | localNumber }}</a>
                                    </span>
                                    </td>
                                    <td ng-if="!vm.chartdata.categories">
                                        <div style="width:100%;min-width:100px">
                                            <div style="width:{{result._relativeCount}}%;height:10px;border-radius:2px;" class="brand-background p-bg"></div>
                                        </div>
                                    </td>
                                    <td ng-if="vm.chartdata.categories" ng-repeat="value in result.values track by $index" class="shadeLevel-{{vm.level(value)}}">
                                        <a class="inherit" href="" ng-click="vm.occurrenceSearch(vm.getTableFilter(vm.chartdata.categories[$index].filter, result.filter))">{{ value | localNumber }}</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="chart" ng-show="vm.chartdata.$resolved && vm.display.type != 'TABLE'">
            <div class="overflow-gradient">
                <div class="text-right small m-r-1 m-t-05 p-hidden" ng-if="vm.display.type == 'COLUMN'">
                    <div class="gb-btn-group">
                        <label ng-model="vm.logarithmic" uib-btn-radio="false"
                               ng-change="vm.toggleLogarithmic()" translate="metrics.linear"></label>
                        <label ng-model="vm.logarithmic" uib-btn-radio="true"
                               ng-change="vm.toggleLogarithmic()" translate="metrics.logarithmic"></label>
                    </div>
                </div>
                <div class="overflow-auto">
                    <highchart config="vm.chartConfig" ng-if="vm.chartConfig" style="min-width:100%; height:300px;" ></highchart>
                </div>
            </div>
        </div>

        <div class="seperator p-05 discreet--very small" ng-show="vm.chartdata.$resolved && vm.display.type != 'PIE' && vm.chartdata.diff > 0 && vm.chartdata.offset==0 && vm.chartdata.endOfRecords" tx="metrics.pOtherOrUknown" tx-nr="vm.chartdata.diff"></div>
        <div class="seperator p-05 discreet--very small" ng-show="vm.chartdata.$resolved && vm.chartdata.bucketSize || vm.chartdata.secondDimension.bucketSize">
            <div ng-if="vm.chartdata.bucketSize">
                <span translate="filterNames.{{vm.chartdata.field | camelCase}}"></span>: <span translate="metrics.intervalSize"></span> {{vm.chartdata.bucketSize}}
            </div>
            <div ng-if="vm.chartdata.secondDimension.bucketSize">
                <span translate="filterNames.{{vm.chartdata.secondField | camelCase}}"></span>: <span translate="metrics.intervalSize"></span> {{vm.chartdata.secondDimension.bucketSize}}
            </div>
        </div>
    </div>
</div>
