//Exlusive above
contrastColor($bgColor) {
	if light($bgColor) {
		color black
	} else {
		color white
	}
}

// steps #fff7f3, #fcc1bf, #f766a1, #b90d84, #480069
// using https://gka.github.io/palettes/#colors=#fff7f3,#fcc1bf,#f766a1,#b90d84,#480069|steps=10|bez=1|coL=1
$bgColors = #fff, #fff7f3, #fff4f0, #fff1ed, #ffeeea, #ffeae7, #ffe8e5, #ffe4e2, #ffe2e0, #ffdedd, #ffdcdb, #ffd8d9, #ffd6d6, #ffd2d4, #ffcfd1, #ffcbcf, #ffc9cd, #ffc6cb, #fec3ca, #febfc7, #febbc5, #feb8c3, #feb4c1, #feb1c0, #fdaebe, #fdacbc, #fda8ba, #fda4b9, #fca1b7, #fc9db5, #fc9ab4, #fc97b2, #fb93b1, #fb8faf, #fb8cae, #fa88ac, #fa84ab, #fa81a9, #f97da8, #f979a7, #f875a5, #f871a4, #f86ca3, #f769a2, #f665a0, #f3629f, #f1609e, #ef5d9d, #ec5a9c, #ea589b, #e7569a, #e45399, #e25098, #df4e97, #dd4c96, #da4995, #d74794, #d54493, #d24292, #cf4091, #cd3e90, #c93b8f, #c6398d, #c4378c, #c1358c, #be338b, #bb308a, #b92e89, #b52c88, #b22a87, #af2886, #ac2684, #a92484, #a62183, #a32082, #a01d81, #9d1c80, #991a7f, #96187e, #93167d, #90147c, #8c127b, #8a107a, #850e79, #820d78, #7f0b77, #7b0976, #780775, #740674, #720573, #6d0472, #6a0371, #660270, #630170, #5f016f, #5b006e, #58006d, #53006c, #50006b, #4c006a, #480069;
for level in (1..100){
	.shadeLevel-{level} {
		background-color: $bgColors[level];
		contrastColor($bgColors[level]);
	}
}

.textMaxWidth {
	white-space nowrap
	text-overflow ellipsis
	display inline-block
	overflow hidden
}
for w in 150 200 250 300 {
	.textMaxWidth--{w} {
		@extends .textMaxWidth
		max-width (w)px
	}
}

.table.chart-table {
	width auto
	max-width none
	min-width 100%
	margin-bottom 0
	>tbody, >thead, >tfoot {
		>tr {
			>td, >th {
				padding: 8px;
			}
		}
	}
	.table__symbol {
		padding 0 8px
	}
}

.table-fixed {
	table-layout fixed
}

.table-cell--100 {
	width 100%
}

.table-cell--50px {
	width 50px
}

.occurrenceBreakdownCard {
	.card {
		position relative
	}
	.card__loader {
		position absolute;
		z-index 2
		top 0
		left 0
		right 0
		bottom 0
		background rgba(255,255,255,0.65)
	}
	//.occurrenceBreakdownChart {
	//	z-index 1
	//}
}

.test {
	position: relative;
	&:before, &:after {
		display: block;
		content: '';
		width: 15px;
		top: 0;
		bottom: 20px;
		z-index: 1;
		position: absolute;
	}
	&:after {
		right: 0;
		background: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1));
	}
	&:before {
		left 0
		background: linear-gradient(to left, rgba(255,255,255,0), rgba(255,255,255,1));
	}
}

.occurrenceBreakdownChart__single {
	text-align center
	margin 30px 0
	&__number {
		font-size 5em
		font-weight 300
		line-height 1em
		margin-bottom 10px
	}
	&__description {
		div {
			color $discreetInk
		}
	}
}