//Exlusive above
contrastColor($bgColor) {
	if light($bgColor) {
		color black
	} else {
		color white
	}
}

// steps #fff7f3, #fcc1bf, #f766a1, #b90d84, #480069
// using https://gka.github.io/palettes/#colors=#fff7f3,#fcc1bf,#f766a1,#b90d84,#480069|steps=10|bez=1|coL=1
// $bgColors = #fff, #fff7f3, #fff4f0, #fff1ed, #ffeeea, #ffeae7, #ffe8e5, #ffe4e2, #ffe2e0, #ffdedd, #ffdcdb, #ffd8d9, #ffd6d6, #ffd2d4, #ffcfd1, #ffcbcf, #ffc9cd, #ffc6cb, #fec3ca, #febfc7, #febbc5, #feb8c3, #feb4c1, #feb1c0, #fdaebe, #fdacbc, #fda8ba, #fda4b9, #fca1b7, #fc9db5, #fc9ab4, #fc97b2, #fb93b1, #fb8faf, #fb8cae, #fa88ac, #fa84ab, #fa81a9, #f97da8, #f979a7, #f875a5, #f871a4, #f86ca3, #f769a2, #f665a0, #f3629f, #f1609e, #ef5d9d, #ec5a9c, #ea589b, #e7569a, #e45399, #e25098, #df4e97, #dd4c96, #da4995, #d74794, #d54493, #d24292, #cf4091, #cd3e90, #c93b8f, #c6398d, #c4378c, #c1358c, #be338b, #bb308a, #b92e89, #b52c88, #b22a87, #af2886, #ac2684, #a92484, #a62183, #a32082, #a01d81, #9d1c80, #991a7f, #96187e, #93167d, #90147c, #8c127b, #8a107a, #850e79, #820d78, #7f0b77, #7b0976, #780775, #740674, #720573, #6d0472, #6a0371, #660270, #630170, #5f016f, #5b006e, #58006d, #53006c, #50006b, #4c006a, #480069;

// using https://gka.github.io/palettes/#colors=#fcfee0,#d9f0c1,#81c9c8,#4f97c0,#4b599e|steps=100|bez=1|coL=1
//$bgColors = #fff, #fcfee0, #f8fddd, #f6fbdb, #f3fad9, #eff9d7, #ecf8d5, #eaf6d4, #e6f5d2, #e3f4d1, #e0f2d0, #ddf1cf, #daefce, #d6eecd, #d4eccc, #d2ebcb, #cdeacb, #cbe8ca, #c7e7c9, #c4e6c9, #c0e4c9, #bee3c8, #bbe1c8, #b7dfc8, #b5dec8, #b0dcc7, #aedcc7, #aad9c7, #a7d9c7, #a3d7c7, #a0d6c7, #9dd4c7, #99d2c7, #96d1c7, #92d0c7, #8fcec7, #8acdc8, #88cbc8, #82cac8, #81c8c8, #7fc7c8, #7dc5c7, #7cc2c7, #7ac0c7, #79bfc6, #78bdc6, #76bbc6, #75bac5, #73b7c5, #72b6c4, #71b5c4, #70b2c4, #6eb1c3, #6daec3, #6badc2, #6aabc2, #6aaac1, #68a7c1, #67a5c0, #66a4bf, #65a1bf, #64a0be, #639fbe, #629dbd, #619bbc, #6099bc, #5f97bb, #5e96bb, #5d94ba, #5c92b9, #5c90b8, #5b8eb7, #5a8db7, #598bb6, #5888b5, #5886b5, #5785b4, #5683b3, #5682b2, #557fb1, #547db1, #547cb0, #537aaf, #5378ae, #5277ad, #5274ac, #5172ab, #5071aa, #506faa, #506da9, #4f6ba8, #4f6aa7, #4e67a6, #4e65a5, #4d64a4, #4d63a3, #4d61a2, #4c5ea1, #4c5da0, #4b5a9f, #4b599e;

//using https://gka.github.io/palettes/#colors=#fcfee0,#daefce,#b7dfc8,#92d0c7,#78bdc6,#6aaac1,#5e96bb,#5682b2,#506da9,#4b599e,#47387f|steps=100|bez=0|coL=1
$bgColors = #fff, #fcfee0, #f9fdde, #f4fbdc, #f2f9da, #edf8d8, #eaf6d6, #e6f4d5, #e2f3d2, #e0f1d1, #dbefcf, #d8eece, #d5eccd, #d0ebcc, #cce8cc, #c9e7cb, #c5e5ca, #c1e4ca, #bde2c9, #bae0c9, #b6dfc8, #b1ddc8, #afdbc8, #aadac8, #a5d7c8, #a3d6c7, #9ed5c7, #98d2c7, #95d1c7, #91cfc7, #8fcdc7, #8ccbc7, #89c9c7, #86c7c7, #84c5c6, #81c4c6, #7ec1c6, #7cbfc6, #79bdc6, #77bbc5, #75b8c5, #73b7c4, #72b4c4, #70b2c3, #6fb1c3, #6dafc2, #6bacc2, #6aa9c1, #69a7c0, #67a6c0, #66a3bf, #65a2be, #639fbe, #629cbd, #619bbc, #6098bc, #5e97bb, #5d95ba, #5d92b9, #5b8fb8, #5b8eb7, #5a8bb6, #598ab5, #5887b4, #5786b4, #5683b3, #5681b1, #557eb1, #557db0, #547aaf, #5379ae, #5376ad, #5273ac, #5172ab, #5170aa, #506da9, #506ba8, #4f69a7, #4f67a5, #4e65a4, #4e63a3, #4d60a2, #4c5ea1, #4c5c9f, #4b5a9e, #4b579d, #4b569b, #4b5499, #4b5197, #4a4f95, #4a4d93, #4a4b90, #4a498e, #49478c, #49458b, #494289, #484187, #483f85, #483d83, #473a81, #47387f;
for level in (1..100){
	.shadeLevel-{level} {
		background-color: $bgColors[level];
		contrastColor($bgColors[level]);
	}
}

.textMaxWidth {
	white-space nowrap
	text-overflow ellipsis
	display inline-block
	overflow hidden
}
for w in 150 200 250 300 {
	.textMaxWidth--{w} {
		@extends .textMaxWidth
		max-width (w)px
	}
}

.table.chart-table {
	width auto
	max-width none
	min-width 100%
	margin-bottom 0
	>tbody, >thead, >tfoot {
		>tr {
			>td, >th {
				padding: 8px;
			}
		}
	}
	.table__symbol {
		padding 0 8px
	}
}

.table-fixed {
	table-layout fixed
}

.table-cell--100 {
	width 100%
}

.table-cell--50px {
	width 50px
}

.occurrenceBreakdownCard {
	.card {
		position relative
	}
	.card__loader {
		position absolute;
		z-index 2
		top 0
		left 0
		right 0
		bottom 0
		background rgba(255,255,255,0.65)
	}
	//.occurrenceBreakdownChart {
	//	z-index 1
	//}
}

.test {
	position: relative;
	&:before, &:after {
		display: block;
		content: '';
		width: 15px;
		top: 0;
		bottom: 20px;
		z-index: 1;
		position: absolute;
	}
	&:after {
		right: 0;
		background: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1));
	}
	&:before {
		left 0
		background: linear-gradient(to left, rgba(255,255,255,0), rgba(255,255,255,1));
	}
}

.occurrenceBreakdownChart__single {
	text-align center
	margin 30px 0
	&__number {
		font-size 5em
		font-weight 300
		line-height 1em
		margin-bottom 10px
	}
	&__description {
		div {
			color $discreetInk
		}
	}
}