.contactsCard {
    position relative
    &__header {

    }
    &__subheader {
        background $lightBackground
        //color white
    }
    &__contact {
        display flex
        flex-wrap none
        border-left 2px solid transparent
        &:hover {
            border-color deepskyblue
        }
    }
    &__name {
        flex 1 1 auto
        white-space no-wrap
        >div {
            display inline-block
        }
    }
    &__link {
        flex 0 0 auto
        white-space nowrap
        font-size 18px
        margin-top 5px
        color #d0d5d8
        &:hover {
            color darken(#d0d5d8, 15)
        }
    }
}
