$termsPosition = vrBlock(0.5);
@keyframes fadeIn {
    0% {
        opacity: 0;
        right $termsPosition
    }
    20% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        right $termsPosition
    }
}

.termsPopup {
    //display none
    opacity 0
    right -9999px;
    &.is-shown {
        display block
        animation fadeIn 5s
        right $termsPosition
        opacity 1
        box-shadow 0 0 100px 10000px rgba(0,0,0,0.5)
    }
    position fixed
    bottom 0
    margin 10px
    width 350px
    max-width 90%
    min-height 100px
    z-index $zSiteOverlay
    p {
        font-weight 300
    }
    a {
        text-transform uppercase
    }
}