$navBar_background = linear-gradient(lighten(red, 2), red) //DELETE CHRISTMAS THEME
$navBar_background_color = red //DELETE CHRISTMAS THEME
$searchBar_backgroundColor = url('https://c866088.ssl.cf3.rackcdn.com/assets/snowflake_1.jpg') //DELETE CHRISTMAS THEME
$searchBar_color = #fff  //DELETE CHRISTMAS THEME

.gb-icon-logo.gb-icon-logo.gb-icon-logo {
    &:before {
        content $icon-string-mistletoe
    }
}

.snow {
	position fixed
	top 0
	bottom 0
	left 0
	right 0
	background url('/img/snow-transparent.gif')
	z-index 100000
	pointer-events none
	opacity 0.7
}