//Exlusive above
isAbove($mediaSize)
	@media screen and (min-width: ($mediaSize+1px))
		{block}

//Inclusive below
isBelow($mediaSize)
	@media screen and (max-width: $mediaSize)
		{block}

isBetween($mediaSizeMin, $mediaSizeMax)
	@media screen and (min-width: $mediaSizeMin+1px) and (max-width: $mediaSizeMax)
		{block}
