/* BREAK POINTS*/
// mobile : 0px; //mobile first, no support for wearables
// $tablet = 768px
/*$tabletLandscape = 906px*/
$laptop = 700px//1024px
$desktop = 1600px




/* DRAWERS */
$drawer-width = 17em
$nav_drawer_bg = #444
$nav_drawer_color = #ccc


/* BRAND COLORS */
$Green = rgb(80,158,47);  		// Green
$Black = rgb(35, 31, 32) 		// Black
$Azure = rgb(23,92,161);  		// Azure
$Aqua = rgb(64,191,255); 		// Aqua
$purple = rgb(99,111,180);   	// purple
$SkyBlue = rgb(229, 255, 255)	// sky blue
$OrangePeel = rgb(253, 176, 2)	// orange peel
$Plum = rgb(126,70,106);  		// plum
$Terracotta = rgb(214,111,39);   // Terracotta
$Mist = rgb(232, 232, 232) 		// mist

/* SITE SPECIFIC COLORS */
$c_main = $Mist//#67A05D
$c_sec = #F5CC27
$_accent = $purple
$c_body = $Mist


/*Navigation-bar variables*/
$navbar_height = 3em;
$navbar_borderWidth = 0.5em;
$c_navbar_text = $Green//$Mist
$navbar_dropdown_bg = White
$navbar_dropdown_color = #333
