/* BREAK POINTS */
// mobile : 0px; //mobile first, no support for wearables
$tablet := 500px
/* $tabletLandscape := 906px */
$laptop := 600px //1024px
$desktop := 900px


/* BRAND COLORS */
$Green = rgb(80,158,47);  		// Green
$Black = rgb(35, 31, 32) 		// Black
$Azure = rgb(23,92,161);  		// Azure
$Aqua = rgb(64,191,255); 		// Aqua
$purple = rgb(99,111,180);   	// purple
$SkyBlue = rgb(229, 255, 255)	// sky blue
$OrangePeel = rgb(253, 176, 2)	// orange peel
$Plum = rgb(126,70,106);  		// plum
$Terracotta = rgb(214,111,39);  // Terracotta
$Mist = rgb(232, 232, 232) 		// mist


/* SITE SPECIFIC COLORS */
$c_main := $Mist//#67A05D
$c_sec := #F5CC27
$_accent := $purple
$content_bg := $Mist


/* Navigation-bar variables */
$navbar_height := vr-block(3)
$navbar_borderWidth := vr-block(0.25)
$navbar_bg := #6FAF5C //$Mist
$navbar_BorderColor := #f5cc27
$navbar_textColor := #fafafa //$Green//$Mist
$navbar_dropdown_bg := white
$navbar_dropdown_color := #333
$navbar_horizontal_color := $c_main


/* DRAWERS */
$drawer-width := 20em
$nav_drawer_bg := #444
$nav_drawer_color := #ddd

/* Grey shades */
$horizantalStripeGrey = #f9f9f9
$headerGrey = #333333