.gb-button {
    border 1px solid #888
    line-height vrBlock(1)
    text-align center
    padding 3px 10px
    display inline-block
    text-decoration none
    color inherit
    &:hover {
        text-decoration none
    }
}
.gb-button--round {
    @extends .gb-button
    border-radius vrBlock(1)
}
.gb-button--flat {
    @extends .gb-button
    border none
    color $linkColor
}
