.gb-button {
    border 1px solid #888
    line-height vrBlock(1)
    text-align center
    padding 3px 10px
    display inline-block
    text-decoration none
    color inherit
    &:hover {
        text-decoration none
    }
    &:disabled {
        background #dddddd
    }
}
.gb-button--round {
    @extends .gb-button
    border-radius vrBlock(1)
}

.gb-button--flat {
    @extends .gb-button
    border none
    color $linkColor
    background-color transparent
    font-weight 400
    font-size 12px
}
.gb-button--colored, a.gb-button--colored[href=""], a.gb-button--colored[href=""]:focus, a.gb-button--colored[href=""]:hover {
    @extends .gb-button
    color white
    transition box-shadow 200ms ease, background 200ms ease
    box-shadow 0 2px 2px 0 rgba(0, 0, 0, 0.16)
    border none
    font-weight 400
    font-size 12px
    text-transform uppercase
    &:hover, &:focus {
        box-shadow 0 3px 8px 0 rgba(0, 0, 0, 0.16)
        color white
    }
}
.gb-button--primary {
    @extends .gb-button--colored
    background #82b1b9
    &__label {
        color darken(#82b1b9, 30)
    }
}

.gb-button--dark {
    @extends .gb-button--colored
    background #555
}

.gb-button--brand {
    @extends .gb-button--colored
    background $navBar_background_color
    &__label {
        color darken($navBar_background_color, 30)
    }
}

.gb-button--logo {
    @extends .gb-button--colored
    background-color #4267b2
    &__label {
        color white
        vertical-align text-bottom
    }
    i {
        background-image url("/img/social/FB-f-Logo__white_29.png")
        background-repeat no-repeat
        background-size contain
        width 20px
        height 20px
        margin-right 10px
        display inline-block
        position relative
        bottom -3px
    }
}

.gb-button--facebook {
    @extends .gb-button--logo
    background-color #4267b2
    i {
        background-image url("/img/social/FB-f-Logo__white_29.png")
    }
}

.gb-button--github{
    @extends .gb-button--logo
    background-color #555
    i {
        background-image url("/img/social/GitHub-Mark-Light-32px.png")
    }
}

.gb-button--orcid{
    @extends .gb-button--logo
    background-color #a6ce39
    i {
        background-image url("/img/social/orcid_40x40.png")
    }
}

.gb-button--google{
    @extends .gb-button--logo
    border 1px solid #eee
    background-color white
    i {
        background-image url("/img/social/google.png")
    }
    &__label {
        color $bodyTextColor
    }
}

.gb-button--error {
    @extends .gb-button--colored
    background tomato
    &__label {
        color darken(tomato, 30)
    }
}

.gb-button--brand--transparent {
    @extends .gb-button--brand
    background alpha(darken($navBar_background_color, 20), 0.4)
}

.gb-button--discreet {
    @extends .gb-button--colored
    background #eee
    color #666
    &:hover, &:focus {
        background #ddd
        color #666
    }
}

.gb-icon-button {
    background $linkColor
    box-shadow 0 1px 1px 1px rgba(0, 0, 0, 0.2)
    border-radius 50%
    height 30px
    width 30px
    line-height 30px
    display inline-block
    margin 0
    position relative
    top 4px
    color white
    font-size 20px
    transition background 300ms ease
    &:before {
        position relative
        top -1px;
    }
}

a:hover .gb-icon-button, .gb-icon-button:hover {
    background darken($linkColor, 20)
}

.gb-select {
    @extends .hoverBox
    position relative
    background white
    color $bodyTextColor
    label {
        width 100%
        font-weight normal
        display block
        outline none
    }
    span {
        position absolute
        right 0
        top 0
        pointer-events none
        margin 6px
        font-size 18px
    }
    select {
        outline none
        border none
        background transparent
        padding 12px 20px
        appearance none
        width 100%
    }
}

.filter-buttons {
    >a {
        margin 0 5px 5px 0
    }
}