.wrapper-horizontal-stripes {
    /*
     * Page level modifiers
     */
    .centered-text {
        text-align center
    }


    /*
     * Section level styles
     */
    .horizontal-stripe {
        padding 20px 0
    }
    .horizontal-stripe:nth-child(even) {
        background-color #f9f9f9
    }
    .horizontal-stripe:nth-child(odd) {
        background-color #ffffff
    }
    .horizontal-stripe--no-padding {
        padding 0 0
    }
    .horizontal-stripe.white-background {
        background-color $white
    }
    .technical-information {
        background-color #ffffdf
    }


    /*
     * Header area styles
     */
    .article-header {
        .container {
            max-width 1000px
        }
        h1 {
            margin-bottom vr-block(1)
        }
    }
    .article-header__intro {
        font-size 1.2rem
        font-style italic
        font-family $didot
        max-width 700px
        margin 0 auto vr-block(0.5)
    }
    .article-header__meta {
        p {
            margin-bottom 0
        }
    }


    /*
     * Header - page level navigation
     */
    $articleCategorySeparatorSpacing = 6px
    .article-header__category {
        margin vr-block(0.5) auto -(vr-block(0.5)) auto
        text-align center
        text-transform uppercase
        font-weight bold
        >span:last-of-type {
            font-weight normal
        }
        .article-header__category__lower {
            border-left 2px solid $OrangePeel
            margin-left $articleCategorySeparatorSpacing
            padding-left ($articleCategorySeparatorSpacing + 1)
        }
        &.article-header__category--deep {
            text-align left
            .article-header__category__upper {
                display inline-block
                width s('calc(50% - %s)', $articleCategorySeparatorSpacing)
                text-align right
            }
        }
    }

    .article-header__inline-block {
        display inline-block
        padding 10px 20px
        text-align center
        font-size 1.3rem
        margin 10px 0
        vertical-align middle
        div {
            display inline-block
            vertical-align middle
        }
        img {
            height 60px
            margin-right 8px
        }
        p {
            margin-bottom 0
        }
    }
    .publisher-block--long-title {
        .container {
            max-width none
        }
    }
    .publisher-modifier {
        margin 0 0
        .published-by {
            max-width none
        }
    }
    .published-by {
        max-width 400px
    }
    .record-count {
        font-size 4rem
        line-height 60px
        font-weight 300
        padding-right 8px
        padding-left 3px
    }
    .download-block {
        border 2px solid $OrangePeelLight
        border-radius 10px
    }


    .header-contacts {
        margin-bottom 20px
    }
    .header-contact {
        display inline-block
        font-size 1.2rem
        padding 0 20px
        address {
            margin-bottom 0
        }
    }

    .header-citation {
        max-width 800px
        margin 0 auto
    }

    .paragraph-label {
        font-weight bold
        color $gray-60
    }

    .cc {
        font-size 30px
        vertical-align middle
    }

    .section-map {
        z-index 1000
        height 350px
        padding 0 0
        a {
            color @gray-base
        }
    }

    .block-map {
        height 100%
        >div:last-child:after {
            content: '';
            position: absolute;
            -webkit-box-shadow: inset 0 6px 6px -6px rgba(0, 0, 0, 0.3), inset 0 -6px 6px -6px rgba(0, 0, 0, 0.3);
            -moz-box-shadow: inset 0 6px 6px -6px rgba(0, 0, 0, 0.3), inset 0 -6px 6px -6px rgba(0, 0, 0, 0.3);
            box-shadow: inset 0 6px 6px -6px rgba(0, 0, 0, 0.3), inset 0 -6px 6px -6px rgba(0, 0, 0, 0.3);
            width:100%;
            height:100%;
            display:block;
            pointer-events:none;
        }
    }

    > section.related-news {
        background-color #2D3C44
        color $gray-lighter
        padding-top 0px
        padding-bottom 0px

        >div>div>div:nth-child(2) {
            padding-top 20px
            padding-bottom 20px
        }
    }

    ul, ol {
        margin-bottom 1.5rem
    }
    .licences {
        text-align right
    }
    .three-col {
        -moz-column-count 3
        -moz-column-gap 30px
        -webkit-column-count 3
        -webkit-column-gap 30px
    }
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.body-text--data-use {
    font-size 1.2rem
    overflow-wrap break-word
    word-wrap break-word
    -ms-hyphens auto
    -moz-hyphens auto
    -webkit-hyphens auto
    hyphens auto
    margin-bottom 20px

    p:first-child:first-letter {
        float left
        color $gray-70
        font-size 75px
        line-height 60px
        padding-top 4px
        padding-right 8px
        padding-left 3px
        font-family Georgia
    }
}

.article-auxiliary {
    padding 20px 0 0 0
    margin-bottom 20px
    border-top 1px solid #ddd
    font-size 1rem

    section {
        border-bottom solid 10px transparent //to imitate paragraphs without margin leakage to next column
    }

    h5 {
        font-weight bold
        display inline
        &:after {
            content: ":"
        }
        margin-right 0.5em
    }

    .no-break {
        break-inside avoid-column
    }
}

.related-stories {
    h2 {
        line-height 1.7rem
    }
}

+isAbove($laptop) {
    .body-text--data-use {
        columns 2 30px
    }
}

+isBelow($tablet) {
    .publisher {
        overflow-wrap break-word
    }
    .count-text {
        text-align center
    }
    .related-stories {
        article {
            display inline-block
            vertical-align middle
            img {
                width 100px
                margin-right 8px
            }
            div {
                display inline-block
                vertical-align middle
                max-width 69%
            }
            h2 {
                font-size 1.1rem
                line-height 1.4rem
            }
        }
    }
}

+isAbove($tablet) {
    .count-text {
        text-align left
    }
}