.container--normal {
    padding-left 15px
    padding-right 15px
    margin-right auto
    margin-left auto
    max-width $contentWidth--normal
}
.container--wide {
    @extend .container--normal
    width $contentWidth--wide
}

.container--narrow {
    @extend .container--normal
    width $contentWidth--narrow
}

.horizontal-stripe {
    padding vrBlock(1) 0
    border 1px solid $stripeBorderColor
    border-width 0 0 1px
    >*:last-child {
        margin-bottom 0
    }
    &--paddingless {
        padding 0
    }
}

/*
 * Header area styles
 */
.article-header {
    h1 {
        margin-top vrBlock(0.4)
    }
    &__intro {
        font-size 1.2rem
        font-style italic
        font-family $caslon
        max-width 700px
        margin 0 auto vrBlock(0.5)
    }
    &__meta {
        font-weight bold
        >* {
            margin 0 //necessary because the drupal api sometimes returns a paragraph tag
        }
    }
    &__sub {
        margin-top vrBlock(0.5)
    }
}



/*
 * Header - page level navigation
 */
$articleCategorySeparatorSpacing = 6px
.article-header__category {
    overflow hidden
    white-space nowrap
    text-overflow ellipsis
    margin vrBlock(0.5) auto -vrBlock(0.5) auto
    text-align center
    text-transform uppercase
    font-weight bold
    >span:last-of-type {
        font-weight normal
    }
    .article-header__category__lower {
        border-left 2px solid $orangePeel
        margin-left $articleCategorySeparatorSpacing
        padding-left ($articleCategorySeparatorSpacing + 2)
    }
    &.article-header__category--deep {
        text-align left
        .article-header__category__upper {
            display inline-block
            width s('calc(50% - %s)', $articleCategorySeparatorSpacing)
            text-align right
        }
    }
}

.article-header__field {
    display inline-block
    padding 10px 20px
    text-align center
    font-size 1.3rem
    margin 10px 0
    vertical-align middle
    div {
        display inline-block
        vertical-align middle
    }
    img {
        height 60px
        margin-right 8px
    }
}

.header-short-text {
    max-width 800px
    margin 0 auto
}

.paragraph-label {
    font-weight bold
    color $gray60
}

.section-map {
    position relative
    z-index 10
    height 350px
    padding 0 0
    a {
        color @gray-base
    }
}

.block-map {
    height 100%
    >div:last-child:after {
        content ''
        position absolute
        box-shadow inset 0 6px 6px -6px rgba(0, 0, 0, 0.3), inset 0 -6px 6px -6px rgba(0, 0, 0, 0.3)
        width 100%
        height 100%
        display block
        pointer-events none
    }
}

.white-background {
    background-color $paper
}
.bare-background {
    background-color $content_background
}
.light-background {
    background-color $lightBackground
}
.alert-background {
    background-color $alertBackground
}
.horizontal-stripe--alternating-background {
    background-color $lightBackground
    &:nth-of-type(even) {
        background-color $paper
    }

}

.col-centered {
    float none
    margin 0 auto
}

.container--prose {
    max-width $contentWidth--narrow
    margin-left auto
    margin-right auto
    .prose-columns {
        overflow-wrap break-word
        word-wrap break-word
        hyphens auto
        figure {
            overflow hidden
            break-inside avoid-column
            figcaption {
                font-size 0.9rem
                font-weight 300
                color $citationTextColor
            }
        }
    }
}

+isAbove($contentWidth--normal) {
    .container--prose {
        max-width $contentWidth--normal
        .prose-columns {
            columns 2 30px
            &.body-text {
                //text-align justify
            }
            &--justified {
                text-align justify
            }
        }
    }
}

.body-text {
    font-size 16px
    font-weight normal
}

.article-auxiliary {
    padding-top vrBlock(1)
    margin-top vrBlock(2)
    margin-bottom -10px //to compensate for the bottom border on the sections.
    border-top 1px solid #ddd
    font-size 1rem
    color $gray63

    section {
        border-bottom solid 10px transparent //to imitate paragraphs without margin leakage to next column
    }

    h5 {
        font-weight bold
        display inline
        &:after {
            content: ":"
        }
        margin-right 0.5em
    }
}

$headerImageMaxFullWidth = 1400px
.heading-image {
    max-width $headerImageMaxFullWidth
    margin 20px auto
    figcaption {
        font-size 0.9rem
        font-weight 300
        color $citationTextColor
        >* {
            margin 0
        }
    }
}

+isAbove($headerImageMaxFullWidth) {
    .heading-image {
        max-width $laptop
        .cover-image {
            padding-bottom 40%
        }
    }
}
.cover-image {
    height 0
    padding-bottom 50%
    background #f7f9fa
    overflow hidden
    background-size cover
    background-position center
    img {
        display none
    }
}
+isAbove($tablet){
    .cover-image {
        padding-bottom 30%
    }
}
.taxon-classification {
    i:after {
        font-style normal
        content '\276f' // ❯
        font-size 80%
    }
    &--discreet {
        color #ddd
        a {
            color #666
        }
    }
}

.page--data {
    font-weight 300
}

.article-image {
    padding-bottom 60%
}

.no-break {
    break-inside avoid-column
}

+isAbove($tablet) {
    .count-text {
        text-align left
    }
    .card {
        margin 0 0
    }
}

+isBelow($tablet) {
    .publisher {
        overflow-wrap break-word
    }
    .count-text {
        text-align center
    }
    .card {
        margin-bottom vrBlock(0.5)
    }
}