@import "bootstrap/.build/bootstrap.css"

@import "_variables"
// userVariablesInjectHere
@import "bootstrap/overwrite/bootstrap.styl"
/*global-reset()*/
//normalize-css()
//border-box-html()
//fluid-media()
//print-styles()

@import "typography/_typography"
@import "_mediaQueryBlocks"
typographic()

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  stylus dependencies when defined in the bower.json of your dependencies
 */
// bower:styl
// endbower

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  your stylus files automatically. To see which filters that are applied see the build script 'style' task
 */
// injector
// endinjector

/**
 *  Add a style that might be helpful while creating the layout and composition.
 */
$develop_vertical_rythm = true
$develop_pink = true
//@import "_develop"

.this-is-a-stub {
    width 100%
    max-width 400px
    margin vrBlock(1) auto
    font-weight normal
}