//Print definition inline with colon between term and definition. dt and dd should be wrapped in a div
dl.inline, dl.inline--discreet {
    margin 0
    > div {
        dd, dt {
            display inline
            word-break break-all
            word-break break-word
            hyphens auto
        }
        dt {
            text-transform capitalize
        }
        dt:after {
            content ':'
        }
    }
}

dl.inline--discreet {
    dt {
        font-weight normal
    }
}

img {
    max-width 100%
}
/*for discreet links on buttons and in*/
a.inherit {
    color inherit
    &:hover, &:focus {
        color inherit
    }
}

blockquote {
    background-color rgba(0,0,0,.05)
    padding 20px
    margin 20px 0
    border 1px solid rgba(0,0,0,.1)
    border-left-width 5px
    font-size inherit
}