//Print definition inline with colon between term and definition. dt and dd should be wrapped in a div
dl.inline, dl.inline--discreet {
    margin 0
    > div {
        margin-bottom 5px
        dd, dt {
            display inline
            word-break break-all
            word-break break-word
            hyphens auto
        }
        dt:after {
            content ':'
        }
    }
}

dl.inline--discreet {
    dt {
        font-weight normal
    }
}

img {
    max-width 100%
}

/*for discreet links on buttons and in*/
a.inherit {
    color inherit
    &:hover, &:focus {
        color inherit
    }
    &.noUnderline {
        text-decoration none
        &:hover, &:focus {
            text-decoration none
        }
    }
}
.noUnderline {
    text-decoration none
    &:hover, &:focus {
        text-decoration none
    }
}

a {
    -webkit-tap-highlight-color transparent
}

a.button {
    color inherit
    text-decoration none
    &:hover {
        color inherit
        text-decoration none
    }
}

.discreet {
    color $discreetInk
    &--very {
        color lighten($discreetInk, 15)
    }
}

blockquote {
    background-color rgba(0, 0, 0, .005)
    padding 20px
    margin 20px 0
    border 1px solid rgba(0, 0, 0, .08)
    border-left-width 3px
    border-left-color $navBar_background_color
    font-size inherit
}

table {
    font-size 14px
}

textarea { resize:both; } /* none|horizontal|vertical|both */
textarea.vert { resize:vertical; }
textarea.noResize { resize:none; }
