.scrollable-y {
    overflow-y auto
}

.fillHeight {
    height "calc(100vh - %s)" % $navBar_height
}

.center-block {
    display block
    margin-right auto
    margin-left auto
}

.whiteSpace-preLine {
    white-space pre-line
}

.uppercase-first::first-letter {
    text-transform uppercase
}

.overflow-hidden {
    overflow hidden
}

.no-break {
    break-inside avoid-column
}

.inline-block {
    display inline-block
}

//Hardly utilities, but created as such instead of modifiers - @Burke wouldn't it make better sense as modifiers?
.white-background {
    background-color $paper
}

.bare-background {
    background-color $greyBackground
}

.light-background {
    background-color $lightBackground
}

.lighter-background {
    background-color $lighterBackground
}
.brand-background {
    background-color $navBar_background_color
}

.alert-background {
    background-color $alertBackground
}

.horizontal-stripe--alternating-background {
    background-color $lightBackground
    &:nth-of-type(even) {
        background-color $paper
    }
}

.text-light {
    font-weight 300
}
.discreet {
    color $discreetInk
}
.text-error {
    color tomato
}

for amount in 0 1 2 3 {
    .p-{amount} {
        padding vrBlock(amount) !important
    }
    .p-t-{amount} {
        padding-top vrBlock(amount) !important
    }
    .p-b-{amount} {
        padding-bottom vrBlock(amount) !important
    }
    .p-l-{amount} {
        padding-left vrBlock(amount) !important
    }
    .p-r-{amount} {
        padding-right vrBlock(amount) !important
    }
}

.p-05 {
    padding vrBlock(0.5) !important
}

.p-t-05 {
    padding-top vrBlock(0.5) !important
}

.p-b-05 {
    padding-bottom vrBlock(0.5) !important
}

.p-l-05 {
    padding-left vrBlock(0.5) !important
}

.m-0 {
    margin 0 !important
}

.m-05 {
    margin vrBlock(.5) !important
}

.m-t-05 {
    margin-top vrBlock(.5) !important
}
.m-r-05 {
    margin-right vrBlock(.5) !important
}

.m-b-05 {
    margin-bottom vrBlock(.5) !important
}

.m-b-5 {
    margin-bottom vrBlock(5) !important
}

.invisible {
    visibility hidden
}

.underline {
    text-decoration underline
}

.hoverBox {
    transition box-shadow 200ms ease
    box-shadow 0 2px 2px 0 rgba(0, 0, 0, 0.16)
    &:hover {
        box-shadow 0 3px 8px 0 rgba(0, 0, 0, 0.16)
    }
}

.breakAll {
    word-break break-all
}

.overflow-auto {
    overflow auto
}

for num in 0 1 2 3 {
    .m-t-{num} {
        margin-top vrBlock(num) !important
    }
    .m-r-{num} {
        margin-right vrBlock(num) !important
    }
    .m-b-{num} {
        margin-bottom vrBlock(num) !important
    }
    .m-l-{num} {
        margin-left vrBlock(num) !important
    }
}

+isAbove($laptop) {
    .hide-on-laptop {
        display none !important
    }
}

.circle {
    border-radius 50%
    border 1px solid $stripeBorderColor
}

.rtl {
    dd {
        margin-right 0
    }
}
.rtl .rtl-supported {
    direction rtl
    text-align right
}
// bootstrap overwrites
.rtl .rtl-bootstrap {
    caption, th {
        text-align right
    }
    .pull-right {
        float left!important;
    }
    .pull-left {
        float right!important;
    }
    .radio label,
    .checkbox label {
        padding-left: 0;
        padding-right: 20px;
    }
    .radio input[type="radio"],
    .radio-inline input[type="radio"],
    .checkbox input[type="checkbox"],
    .checkbox-inline input[type="checkbox"] {
        margin-left: 0;
        margin-right: -20px;
    }
}
.rtl {
    .dropdown-menu {
        left auto 
        right 0
        text-align right
    }
    .gb-icon-angle-left:before {
        content: $icon-string-angle-right
    }
    .gb-icon-angle-right:before {
        content: $icon-string-angle-left
    }
}

@media (min-width: 1200px) {
    .rtl .rtl-bootstrap {
        .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9 {
            float: right;
        }
    }
}

@media (min-width: 992px) {
    .rtl .rtl-bootstrap {
        .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
            float: right;
        }
    }
}

@media (min-width: 768px) {
    .rtl .rtl-bootstrap {
        .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
            float: right;
        }
    }
}

.rtl .rtl-bootstrap {
    .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
        float: right;
    }
}



.rtl {
    // transform scaleX(-1) //TODO temporary
    .pull-right-rtl {
        float left
    }
    .pull-left-rtl {
        float right
    }
}

.rtl-text {
    direction rtl!important
}
.ltr-text {
    direction ltr!important
}

.no-decimals li {
    list-style none!important
}

.is-rtl {
    direction rtl
}

.rtl {
    .rtl_false {
        direction ltr
        unicode-bidi isolate
    }
    .rtl_true {
        direction rtl
    }
}