.scrollable-y {
    overflow-y auto
}

.uppercase-first::first-letter {
    text-transform uppercase
}

.overflow-hidden {
    overflow hidden
}

.no-break {
    break-inside avoid-column
}

.inline-block {
    display inline-block
}

//Hardly utilities, but created as such instead of modifiers - @Burke wouldn't it make better sense as modifiers?
.white-background {
    background-color $paper
}

.bare-background {
    background-color $greyBackground
}

.light-background {
    background-color $lightBackground
}

.alert-background {
    background-color $alertBackground
}

.horizontal-stripe--alternating-background {
    background-color $lightBackground
    &:nth-of-type(even) {
        background-color $paper
    }
}

.p-t-1 {
    padding-top vrBlock(1) !important
}

.p-t-05 {
    padding-top vrBlock(0.5) !important
}

.m-0 {
    margin 0 !important
}
.m-t-0 {
    margin-top 0 !important
}

.m-t-05 {
    margin-top vrBlock(0.5) !important
}
.m-t-1 {
    margin-top vrBlock(1) !important
}

+isAbove($laptop) {
    .hide-on-laptop {
        display none
    }
}