$_linkColor = #009FD4
.card {
    //overflow hidden
    max-width 100%
    background white
    //box-shadow 0 1px 3px rgba(0, 0, 0, 0.3)
    //replace shadow with border for performance reasons. Small thing, but a start
    border: 1px solid $stripeBorderColor;
    border-bottom-width: 2px;
    &--flexible {
        display flex
        flex-direction column
        .card__stripe {
            flex 0 0 auto
            &--flexible {
                flex 1 1 auto
                height 155px
            }
            &--expandable {
                flex 1 0 auto
            }
        }
    }
}

.card__stripe {
    border-bottom 1px solid $stripeBorderColor
    //overflow hidden
    display block
    color inherit
    &:last-child {
        border none
    }
    &--actions {
        display flex
        flex-wrap wrap
        justify-content space-around
        > a {
            display inline-block
            text-align center
            flex 1 0 33%
            text-transform uppercase
            white-space nowrap
            padding 5px
        }
    }
}

.card--padded{
    padding-top 10px
    padding-bottom 10px
}

a.card__stripe {
    &:hover {
        text-decoration inherit
    }
}

.card__content {
    padding vrBlock(0.5)
    //overflow hidden
    &:last-child {
        margin-bottom 0
    }
    &--error, &--error--large {
        border-left 2px solid tomato
    }
    &--error--large {
        padding vrBlock(1.5)
    }
    &--warning, &--warning--large {
        border-left 2px solid $orangePeel
    }
    &--warning--large {
        padding vrBlock(1.5)
    }
}
.card--spaced {
    .card__content {
        padding vrBlock(1)
    }
}
.card--spaced--very {
    .card__content {
        padding vrBlock(2)
    }
}
.card--compact {
    .card__content {
        padding vrBlock(0.5)
    }
}

.card__content__title {
    margin 4px 0
    max-width 100%
    a {
        font-size 16px
        //color inherit
        //&:hover {
        //    color #337ab7
        //    text-decoration none
        //}
    }
}

.card__stripe--light {
    background lighten($lightBackground, 2)
}

.card__stripe--dark {
    background #666
    color white
}

.card--supplemental {
    padding-top 5px
    padding-bottom 10px
    ul {
        list-style none
        padding-left 10px
    }
}

.card-header {
    text-transform uppercase
    font-size 12px
    font-weight normal
    color $discreetInk
    margin-top vrBlock(0.5)
    margin-bottom vrBlock(0.5)
}
.card-header--bold {
    @extends .card-header
    font-weight 600
    color #777
}

.card-head {
    position relative
    .card-header, .card-header--bold {
        display inline-block
    }
    .card-menu {
        margin-top vrBlock(0.5)
        margin-bottom vrBlock(0.5)
        color $discreetInk
        position absolute
        top 0
        right 0
        &__option {
            display inline-block
            margin 0 5px
        }
    }
}

.rtl {
    .card-head {
        .card-menu {
            right auto
            left 0
        }
    }
}

@import "cardFigure"
