.card--nav {
    a.row {
        display block
    }
    a {
        color inherit
    }
    &:hover {
        h3 {
            text-decoration underline
        }
    }
    span {
        font-weight normal
    }
}