$flexCardMarginTopBottom  = 20px
$flexCardSpacing  = 15px
$maxFlexCardWidth = ($laptop/3)
.card-flex-columns {
	display flex
	flex-wrap wrap
	justify-content center
	margin-bottom $flexCardMarginTopBottom
	>div {
		flex 1 1 auto
		padding 0 $flexCardSpacing
		margin-top $flexCardMarginTopBottom
		width 100%
		display none
		&:nth-of-type(1), &:nth-of-type(2), &:nth-of-type(3) {
			display block
		}
	}
	.card-flex-columns__block-double {
		max-width ($maxFlexCardWidth*3)
	}
	.card-flex-columns__block-aligned {
		max-width 768px
	}
}

+isAbove($mobile) {
	.card-flex-columns {
		>div {
			max-width $maxFlexCardWidth
		}
		.card-flex-columns__block-double {
			width $maxFlexCardWidth
		}
	}
}