<div ng-if="vm.references.results.length > 0">
    <!--<span class="discreet text-uppercase small">References</span>-->
    <section id="references" class="card--references card">
        <div class="tableList discreet" ng-style="{height: vm.getHeight()}">
            <ul>
                <li ng-repeat="result in vm.references.results" class="card--references__item">
                    <div>
                        <div dir="auto" ng-bind-html="result.citation" class="max2Lines">{{ result.citation }}</div>
                        <div class="small">
                            <span dir="auto" class="source" ng-if="result.type">{{ result.type}} – </span>
                            <span dir="auto" class="source" ng-if="result.source">{{ result.source }} </span>
                            <a dir="ltr" class="" ng-href="{{result.doi}}" ng-if="result.doi">
                                {{result.doi}}
                            </a>
                            <a dir="auto" class="" ng-href="https://scholar.google.com/scholar?q={{result.citation}}" ng-if="!result.doi">
                                Google Scholar
                            </a>
                        </div>
                    </div>
                </li>
                <li ng-if="vm.references.offset > 0 && vm.references.results.length < 5" ng-repeat="ref in [1,2,3,4,5] | limitTo:(5-vm.references.results.length)"></li>
            </ul>
        </div>
        <div ng-if="vm.hasPages">
            <div class="clearfix m-05">
                <a href="" class="gb-button--discreet m-b-1" ng-click="vm.prev()" ng-class="{invisible: vm.references.offset==0}" translate="pagination.previous"></a>
                <a href="" class="pull-right gb-button--discreet m-b-1" ng-click="vm.next()" ng-class="{invisible: vm.references.endOfRecords}" translate="pagination.next"></a>
            </div>
        </div>
    </section>
</div>