.sequence {
    font-family: courier, sans-serif;
    width: 80%
    word-break: break-all
    span.a {
        color: green;
    }
    span.c {
        color: blue;
    }
    span.t {
        color: red;
    }
    span.g {
        color: black;
    }

}