<ul id="taxonomy-browser" class="list-unstyled">
    <li ng-repeat="tax in vm.parents">
        <span class="sciname"><a href="{{vm.linkPrefix}}{{tax.key}}">{{tax.canonicalName}}</a></span>
        <small class="rank">{{tax.rank}}</small>
        <span ng-show="vm.isOcc && tax.numOccurrences > 0" class="search-link gb-icon-microscope">
            <a href="/occurrence/search?dataset_key={{vm.datasetKey}}&taxon_key={{tax.key}}">{{tax.numOccurrences}}</a>
        </span>
        <span ng-show="!vm.isOcc && tax.numDescendants > 0" class="search-link gb-icon-search">
            <a href="/species/search?advanced=1&dataset_key={{vm.datasetKey}}&highertaxon_key={{tax.key}}">{{tax.numDescendants}}</a>
        </span>
    </li>
    <li class="current-name">
        <span ng-show="vm.taxon.synonym" class="synonymSymbol">{{vm.taxon.taxonomicStatus == "HOMOTYPIC_SYNONYM" ? '≡' : '='}}</span>
        <span class="sciname">{{vm.taxon.scientificName}}</span>
        <small class="rank">{{vm.taxon.rank}}</small>
    </li>
    <li class="synonym" ng-repeat="tax in vm.synonyms">
        <span class="synonymSymbol">{{tax.taxonomicStatus == "HOMOTYPIC_SYNONYM" ? '≡' : '='}}</span>
        <span class="sciname"><a href="{{vm.linkPrefix}}{{tax.key}}">{{tax.scientificName}}</a></span>
        <small class="rank">{{tax.rank}}</small>
        <span ng-show="vm.isOcc && tax.numOccurrences > 0" class="search-link gb-icon-microscope">
            <a href="/occurrence/search?dataset_key={{vm.datasetKey}}&taxon_key={{tax.key}}">{{tax.numOccurrences}}</a>
        </span>
        <span ng-show="!vm.isOcc && tax.numDescendants > 0" class="search-link gb-icon-search">
            <a href="/species/search?advanced=1&dataset_key={{vm.datasetKey}}&highertaxon_key={{tax.key}}">{{tax.numDescendants}}</a>
        </span>
    </li>
    <li class="taxonchild" ng-repeat="tax in vm.children">
        <span class="sciname"><a href="{{vm.linkPrefix}}{{tax.key}}">{{tax.scientificName}}</a></span>
        <small class="rank">{{tax.rank}}</small>
        <span ng-show="vm.isOcc && tax.numOccurrences > 0" class="search-link gb-icon-microscope">
            <a href="/occurrence/search?dataset_key={{vm.datasetKey}}&taxon_key={{tax.key}}">{{tax.numOccurrences}}</a>
        </span>
        <span ng-show="!vm.isOcc && tax.numDescendants > 0" class="search-link gb-icon-search">
            <a href="/species/search?advanced=1&dataset_key={{vm.datasetKey}}&highertaxon_key={{tax.key}}">{{tax.numDescendants}}</a>
        </span>
    </li>
</ul>
