.wrapper-data-use {
    lost-center: 960px;
    background-color: white;

    .header {
        h1 {
            text-align center;
        }
        nav {
            text-align: center;
        }
    }

    .body-text {
        text-align: left;
        overflow: hidden;
    }

    .masthead-image {
        figcaption {
            font-size: 0.8em;
        }
    }

    code {
        font-size: 80%;
    }

    img {
        max-width: 100%;
    }

}

.wrapper-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;

    > section {
        margin-left: 6%;
    }
    > .sidebar {
        margin-right: 6%;
    }
}

.wrapper-data-use > * {
    padding: 10px;
    flex: 1 auto;
}

+isAbove($tablet) {
    .sidebar { flex: 1 auto; lost-column: 1/3; }
    .body-text { }
    .footer  { }
}

@media all and (min-width: 800px) {
    .body-text    { flex: 3 0px; }
    .sidebar { lost-column: 1/3; }
}
