//@bko do you have plans for this. It seems not to be used, but you know bettter. if not please delete the file :)
.wrapper-pre-style-discussion {
    lost-center: 980px;
    background-color: white;

    .header {
        h1 {
            text-align center;
        }
        nav {
            text-align: center;
        }
    }

    .body-text {
        text-align: left;
        overflow: hidden;
    }

    .masthead-image {
        figcaption {
            font-size: 0.8em;
        }
    }

    code {
        font-size: 80%;
    }

    img {
        max-width: 100%;
    }

    a {
        color: #09c;
    }

}

.wrapper-container {

    > section {
        margin-left: 6%;
    }
    > .sidebar {
        margin-right: 6%;
    }
}

.wrapper-data-use > * {
    padding: 10px;
}

+isAbove($tablet) {
}

@media all and (min-width: 800px) {
}