.tabs {
    height $searchTabBar-height
    border-bottom 2px solid #ddd
    &--noBorder {
        border-bottom 0
    }
    ul {
        display block
        padding 0
        max-width 100%
        overflow auto
        white-space nowrap
    }
    li {
        display inline-block
    }
    .tab > a, .tab > span {
        display block
        border-bottom 2px solid transparent
        text-align center
        padding 0 1rem
        text-transform uppercase
        font-size 12px
        font-weight normal
        color lighten($blueTintedBlack, 20)
        text-decoration none
        line-height "calc(%s - 2px)" % $searchTabBar-height
        &:hover {
            text-decoration none
            color $bodyTextColor
        }
    }
    li.isActive {
        a, span {
            border-color $navBar_background_color
            color darken($navBar_background_color, 10)
        }
    }
    .tab--seperator {
        border-left 1px solid $stripeBorderColor
    }
}

+isAbove($laptop) {
    .tabs {
        ul {
            white-space normal
        }
        .tab--seperator {
            border-left none
        }
        .tab-right {
            float right
            > span {
                padding-right 0
            }
        }
    }
    .rtl {
        .tabs {
            .tab-right {
                float left
            }
        }
    }
}

.tabs-fixed-container {
    position fixed
    width 100%
    top $fixedNavOffset
    z-index 20
    display none
}

+isAbove($laptop) {
    .tabs-fixed-container {
        &.is-visible {
            display block
        }
    }
}

.tabs__wrapper {
    position relative
}

.tabs__actions {
    position static
    text-align center
    ul {
        padding 0
    }
    li {
        display inline-block
    }
    ul {
        padding 0
    }
    li {
        display inline-block
    }
}

+isAbove($laptop) {
    .tabs__actions {
        position absolute
        top 0
        right 0
        margin-top 10px
    }
    .rtl {
        .tabs__actions {
            right auto
            left 0
        }
    }
}