.country-key {
    .card {
        flex 1 1 auto
        width 400px
        position relative
        margin 10px
    }

    &__datasets {
        &__counts {
            display flex
            flex-wrap wrap
            > div {
                flex 1 1 auto
                min-width 100px
                padding vrBlock(1) 10px
            }
        }
    }
    &__occurrence-count {
        .h2 {
            font-weight 300
            margin vrBlock(1) 10px
        }
    }
    &__more-arrow {
        font-size 30px
        position absolute
        top 0
        line-height 55px
        right 20px
        color #888
    }
    .card-container--stats {
        display flex
        flex-wrap wrap
    }
}