$mobileGalleryHeight = 100px
.imageGallery {
    display flex
    flex-wrap wrap
    justify-content flex-start
    margin-left vrBlock(-0.5)
    > a {
        &:hover {
            box-shadow 0 0 1px 1px rgba(0, 0, 0, .3)
        }
        background #eee
        display block
        flex 1 1 auto
        position relative
        width $mobileGalleryHeight //asummed square
        for level in (1..30){
          ratio = '"ratio_' + level/10 + '"'
          cleanRatio = replace('\.', '_', ratio)
          &[data-width={cleanRatio}] {
            width $mobileGalleryHeight* (level/10)
          }
        }
        &[data-width="thin"] {
            width $mobileGalleryHeight* 0.75
        }
        &[data-width="wide"] {
            width $mobileGalleryHeight* 1.5
        }
        &[data-width="wider"] {
            width $mobileGalleryHeight* 1.8
        }
        &[data-width="widest"] {
            width $mobileGalleryHeight* 2
        }
        height $mobileGalleryHeight
        overflow hidden
        background-size contain
        background-position center
        background-repeat no-repeat
        img {
            display none
        }
        &.imageGallery__img {
            //display none
            display block
            margin 0 0 vrBlock(0.5) vrBlock(0.5)

            color inherit
            &.isValid {
                display block
                margin 0 0 vrBlock(0.5) vrBlock(0.5)
            }
            &.isInvalid {
                background-size initial
            }
        }
        .summary {
            background rgba(0, 0, 0, 0.3)
            color white
            position absolute
            bottom 0
            width 100%
            padding 5px
        }
    }
    > div {
        &.imageGallery__more {
            flex 100 1 auto // to make sure that images in the last row do not expand beyond what is natural for them
            display flex
            justify-content center
            text-align center
            flex-direction column
            color #888
            min-width 100px
            cursor pointer
            margin 0 0 vrBlock(0.5) vrBlock(0.5)
            padding vrBlock(1)
            border 1px solid #888
            background none
            transition background 300ms ease
            &:hover {
                background #ccc
            }
            &:focus {
                outline none
            }
            a {
                text-align center
            }
            &.imageGallery__more__filler {
                border none
                &:hover {
                    background transparent
                }
            }
        }
    }
}

$laptopGalleryHeight = 180px
+isAbove($laptop) {
    .imageGallery {
        > div, a {
            width $laptopGalleryHeight //asummed square
            for level in (1..30){
              ratio = '"ratio_' + level/10 + '"'
              cleanRatio = replace('\.', '_', ratio)
              &[data-width={cleanRatio}] {
                width $laptopGalleryHeight* (level/10)
              }
            }
            &[data-width="thinner"] {
                width $laptopGalleryHeight* 0.6
            }
            &[data-width="thin"] {
                width $laptopGalleryHeight* 0.75
            }
            &[data-width="wide"] {
                width $laptopGalleryHeight* 1.5
            }
            &[data-width="wider"] {
                width $laptopGalleryHeight* 1.8
            }
            &[data-width="widest"] {
                width $laptopGalleryHeight* 2
            }
            height $laptopGalleryHeight
        }
    }
}

@media print {
    .imageGallery>a>img {
        display block !important
    }
}