<div class="wrapper-horizontal-stripes occurrence-search__gallery">

    <section class="horizontal-stripe--paddingless white-background search-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <nav class="article-header__category article-header__category--deep">
                        <span class="article-header__category__upper" translate="search.header.searchOccurrences"></span>
                        <span class="article-header__category__lower" ng-if="occGallery.count >= 0">
                            <span tx="occurrenceSearch.nWithImages" tx-nr="occGallery.count"></span>
                        </span>

                        <span class="article-header__category__lower" ng-if="occGallery.count < 0">
                            <span translate="phrases.loading"></span> ...
                        </span>
                    </nav>
                </div>
            </div>
        </div>
    </section>

    <section class="horizontal-stripe--paddingless white-background p-hidden">
        <div class="container-fluid">
            <div class="row">
                <nav class="tabs">
                    <ul>
                        <li class="tab">
                            <a href="" ui-sref="occurrenceSearchTable()" translate="occurrenceSearch.table">
                                Table
                            </a>
                        </li>

                        <li class="tab isActive">
                            <span translate="occurrenceSearch.gallery">
                                Gallery
                            </span>
                        </li>

                        <li class="tab">
                            <a href="" ui-sref="occurrenceSearchMap()" translate="occurrenceSearch.map">
                                Map
                            </a>
                        </li>

                        <li class="tab">
                            <a href="" ui-sref="occurrenceSearchSpecies()" translate="occurrenceSearch.taxonomy">
                                Taxonomy
                            </a>
                        </li>

                        <li class="tab">
                            <a href="" ui-sref="occurrenceSearchCharts()" translate="occurrenceSearch.charts">
                                Charts
                            </a>
                        </li>

                        <li class="tab">
                            <a href="" ui-sref="occurrenceSearchDownload()">
                                <span class="gb-icon-file-download"></span>
                                <span translate="occurrenceSearch.download">
                                    Download
                                </span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </section>
    <div ng-if="occGallery.count === 0" class="emptyInfo">
        <h3 translate="occurrenceSearch.noImages"></h3>
    </div>
    <ng-include src="'/templates/components/loader/loader.html'" ng-if="occGallery.count < 0"></ng-include>
    <section class="horizontal-stripe light-background seperator" ng-if="occGallery.count > 0">
        <div class="container-fluid">
            <div class="small discreet" ng-if="occGallery.occurrenceState.query.license">
                <p translate="occurrenceSearch.imageLicenseInfo"></p>
            </div>
            <div class="imageGallery rtl-supported">
                <a class="imageGallery__img" ng-repeat="image in occGallery.results" ui-sref="occurrenceKey({key:image.key})" dir="auto">
                    <img ng-src="{{occGallery.imageCache}}x260/{{image._images[0].identifier | encodeURIComponent}}"
                         gallery-image on-img-error="occGallery.imageFailed">
                    <div class="summary smaller p-bg"  ng-if="(image.issues.indexOf('TAXON_MATCH_HIGHERRANK') > -1 || image.issues.indexOf('TAXON_MATCH_NONE') > -1) && image._verbatimRecord['http://rs.tdwg.org/dwc/terms/scientificName']"><span ng-class="(image.issues.indexOf('TAXON_MATCH_HIGHERRANK') > -1) ?  'issue-bullet__warn' : 'issue-bullet__error'">&#9679</span> {{image._verbatimRecord['http://rs.tdwg.org/dwc/terms/scientificName']}}</div>
                    <div class="summary smaller p-bg" ng-if="(image.issues.indexOf('TAXON_MATCH_HIGHERRANK') === -1 && image.issues.indexOf('TAXON_MATCH_NONE') === -1) || !image._verbatimRecord['http://rs.tdwg.org/dwc/terms/scientificName']">{{image.scientificName}}</div>

                </a>
                <div class="imageGallery__more p-hidden" ng-click="occGallery.loadMore()" ng-if="!occGallery.endOfRecords"><span translate="occurrenceSearch.showMoreImages"></span>
                </div>
                <div class="imageGallery__more imageGallery__more__filler" ng-if="occGallery.endOfRecords"></div>
            </div>
        </div>
    </section>
</div>