.occurrence-search-map {
	height "calc(100vh - %s)" % ($navBar_height + $searchTabBar-height + $searchBar-height + vrBlock(3) )
	min-height 200px
	position relative
	z-index 5
	.occurrenceMap {
		background #848A8E
	}
}