<div class="wrapper-horizontal-stripes occurrence-search__map">

    <section class="horizontal-stripe--paddingless white-background search-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <nav class="article-header__category article-header__category--deep">
                        <span class="article-header__category__upper" translate="search.header.searchOccurrences"></span>
                        <span class="article-header__category__lower" ng-if="occMap.count >= 0">
                            <span tx="occurrenceSearch.nWithCoordinates" tx-nr="occMap.count"></span>
                        </span>

                        <span class="article-header__category__lower" ng-if="occMap.count < 0">
                            <span translate="phrases.loading"></span> ...
                        </span>
                    </nav>
                </div>
            </div>
        </div>
    </section>

    <section class="horizontal-stripe--paddingless white-background">
        <div class="container-fluid">
            <div class="row">
                <nav class="tabs">
                    <ul>
                        <li class="tab">
                            <a href="" ui-sref="occurrenceSearchTable()" translate="occurrenceSearch.table">
                                Table
                            </a>
                        </li>

                        <li class="tab">
                            <a href="" ui-sref="occurrenceSearchGallery()" translate="occurrenceSearch.gallery">
                                Gallery
                            </a>
                        </li>

                        <li class="tab isActive">
                            <span translate="occurrenceSearch.map">
                                Map
                            </span>
                        </li>

                        <li class="tab">
                            <a href="" ui-sref="occurrenceSearchSpecies()" translate="occurrenceSearch.taxonomy">
                                Taxonomy
                            </a>
                        </li>

                        <li class="tab">
                            <a href="" ui-sref="occurrenceSearchCharts()" translate="occurrenceSearch.charts">
                                Charts
                            </a>
                        </li>

                        <li class="tab">
                            <a href="" ui-sref="occurrenceSearchDownload()">
                                <span class="gb-icon-file-download"></span>
                                <span translate="occurrenceSearch.download">
                                    Download
                                </span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </section>

    <section class="horizontal-stripe--paddingless light-background">
        <div>
            <div class="occurrence-search-map">
                <div class="occurrence-search-map__notification">
                    <div ng-if="occMap.suspiciousCount > 0"><span translate="occurrenceSearch.containsSuspicious"></span> <a href="" ui-sref="occurrenceSearchMap({has_coordinate: true, has_geospatial_issue: false})" translate="occurrenceSearch.hideSuspiciousCoordinates">Hide them</a></div>
                    <div ng-if="occMap.occurrenceState.query.has_coordinate === 'false' || occMap.count === 0" translate="occurrenceSearch.noOccurrencesWithCoordinates"></div>
                </div>
                <adhoc-map filter="occMap.occurrenceState.query" map-style="{suggested: 'SQUARE_DOTS'}" map-events="occMap.mapEvents" class="fitSize fitSize--noBar"></adhoc-map>
            </div>
        </div>
    </section>
</div>