<div class="wrapper-horizontal-stripes occurrence-search__map">

    <section class="horizontal-stripe--paddingless container-fluid white-background search-header">
        <div class="row">
            <div class="col-xs-12">
                <nav class="article-header__category article-header__category--deep">
                    <span class="article-header__category__upper">Search occurrences</span>
                    <span class="article-header__category__lower" ng-if="occMap.count >= 0">
                        {{occMap.count | localNumber:occMap.occurrenceState.query.locale }} with coordinates
                    </span>

                    <span class="article-header__category__lower" ng-if="occMap.count < 0">
                        Loading ...
                    </span>
                </nav>
                <!--<div class="search-header__description">-->
                <!--<span ng-if="occMap.count >= 0">{{occMap.occurrenceState.data.count | number}} occurrences. {{occMap.count | number}} with coordinates</span>-->
                <!--</div>-->
            </div>
        </div>
    </section>

    <section class="horizontal-stripe--paddingless white-background">
        <div class="container-fluid">
            <div class="row">
                <nav class="tabs">
                    <ul>
                        <li class="tab">
                            <a href="" ui-sref="occurrenceSearchTable()">
                                Table
                            </a>
                        </li>

                        <li class="tab">
                            <a href="" ui-sref="occurrenceSearchGallery()">
                                Gallery
                            </a>
                        </li>

                        <li class="tab isActive">
                            <span>
                                Map
                            </span>
                        </li>

                        <li class="tab">
                            <a href="" ui-sref="occurrenceSearchSpecies()">
                                Species
                            </a>
                        </li>

                        <li class="tab">
                            <a href="" ui-sref="occurrenceSearchDatasets()">
                                Datasets
                            </a>
                        </li>

                        <li class="tab tab-right">
                            <a href="" ui-sref="occurrenceSearchDownload()">
                                <span class="gb-icon-file-download"></span>
                                <span>
                                    Download
                                </span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </section>

    <section class="horizontal-stripe--paddingless light-background">
        <div>
            <div class="occurrence-search-map">
                <leaflet
                        leafletMap="leafletMap"
                        id="occurrenceMap"
                        class="occurrenceMap"
                        defaults="occMap.mapDefaults"
                        height="100%"
                        width="100%"
                        layers="occMap.layers"
                ></leaflet>

                <div class="search-overlay" ng-if="occMap.mapMenu.show">
                    <div class="search-overlay__header">
                        <h4 class="h5">Occurrences in area
                            <a href="" class="gb-icon-close_L inherit pull-right"
                               ng-click="occMap.mapMenu.show = false"></a>
                        </h4>
                    </div>
                    <div class="search-overlay__results">
                        <ng-include src="'/templates/components/loader/loader.html'"
                                    ng-if="occMap.mapMenu.isLoading"></ng-include>
                        <ul ng-if="!occMap.mapMenu.isLoading">
                            <li ng-repeat="occurrence in occMap.mapMenu.occurrences.results"
                                class="species-list-item seperator">

                                <a ng-href="/occurrence/{{occurrence.key}}" class="discreet">
                                    <span class="species-list-item__name" ng-if="occurrence.scientificName">{{occurrence.scientificName}}</span>
                                    <span class="species-list-item__name" ng-if="!occurrence.scientificName"
                                          style="color: tomato">Unkown species TODO</span>
                                    <!--<span class="small discreet text-capitalize" translate="taxonRank.{{occurrence.taxonRank}}">{{occurrence.taxonRank}}</span>-->
                                    <div class="small discreet classification-list">
										<span ng-repeat="taxa in ['kingdom', 'phylum', 'class', 'order', 'family', 'genus', 'species']"
                                              ng-if="occurrence[taxa] && taxa != occurrence.taxonRank.toLowerCase()">
											{{occurrence[taxa]}}
										</span>
                                    </div>
                                    <div class="imageGallery__img img-round-thumb"
                                         ng-if="occurrence.media[0].identifier && occurrence.media[0].type=='StillImage'">
                                        <img ng-src="//api.gbif-uat.org/v1/image?url={{occurrence.media[0].identifier | encodeURIComponent}}&size=S"
                                             gallery-image>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>