.occurrence-search-map {
    height "calc(100vh - %s + 3px)" % ($navBar_height + vrBlock(5.5) ) //parameterize this properly. 3px is border and tab border and vrBlock height of breadcrumb + tabs
    min-height 200px
    position relative
    z-index 5
    .occurrenceMap {
        background #848A8E
    }
    &__notification {
        position absolute
        bottom 0
        left 0
        right 0
        width 100%
        background #444
        color white
        z-index 10
        font-size 12px
        >div {
            padding 5px
        }
        &--error {
            border-left 3px solid tomato
        }
    }
}