header {
	z-index 100
}
header>.navbar_search_area {
	top vr-block(3)
	width 100%
	right 0
	min-height 100%
	position fixed
	background $navbar_horizontal_color
	/*z-index 100*/
	display none
	&.isActive {
		display block
	}
	> input {
		border none
		/*border-bottom 1px solid lighten($Plum, 50%)*/
		margin auto
		height vr-block(3)
		width 80%
		background none
		color $Plum
		font-size vr-block(1)
		&:focus {
			outline none
		}
	}
}

.site_navbar-search-toggle.isActive:before {
	@extends .icon-close
}

/* LAPTOPS */
+isAbove($laptop)
	.nav_search
		display none