<aside class="site-drawer" id="site-search" ng-class="{'is-active': omniSearch.showDrawer}">

    <div class="site-drawer__content">

        <div class="site-drawer__section">

            <div class="search-bar filter-group">

                <form class="search-bar__term" ng-submit="omniSearch.updateSearch()" ng-controller="searchCtrl as omniSearch">
                    <input type="text"
                           autocomplete="off"
                           id="siteSearch"
                           ng-model="omniSearch.freeTextQuery"
                           placeholder="Occurrences, species, news ...">
                    <a href="" type="submit" class="gb-icon-search search-bar__search" ng-click="omniSearch.updateSearch()">
                        <span class="sr-only">{$ __('stdTerms.search') $}</span>
                    </a>
                </form>

            </div>

            <div class="filter-group--links">
                <h5>
                    Filter by
                </h5>
                <div>
                    <a href="" ng-href="{{ $stateParams.locale }}/occurrence/search">
                        Occurrences reload?
                    </a>
                    <a href="" ui-sref="occurrenceSearchTable({q:omniSearch.freeTextQuery})" ui-sref-opts="{inherit: true, reload: true}" >
                        Occurrences
                    </a>
                    <a href="" ui-sref="speciesSearchTable({q:omniSearch.freeTextQuery})">
                        Species
                    </a>
                    <a href="" ui-sref="datasetSearchTable({q:omniSearch.freeTextQuery})">
                        Datasets
                    </a>
                    <a ui-sref="cmsSearchTable({q: omniSearch.query.q, type: 'news'})" translate="cms.type.news">
                        News
                    </a>
                    <a ui-sref="cmsSearchTable({q: omniSearch.query.q, type: 'data_use'})" translate="cms.type.data_use">
                        Data use
                    </a>
                    <a ui-sref="cmsSearchTable({q: omniSearch.query.q, type: 'programme'})" translate="cms.type.resource">
                        Resources
                    </a>
                    <a ui-sref="cmsSearchTable({q: omniSearch.query.q, type: 'programme'})" translate="cms.type.programme">
                        Programmes
                    </a>
                    <a ui-sref="cmsSearchTable({q: omniSearch.query.q, type: 'document'})" translate="cms.type.document">
                        Documents
                    </a>
                    <a ui-sref="cmsSearchTable({q: omniSearch.query.q, type: 'presentation'})" translate="cms.type.presentation">
                        Presentations
                    </a>
                    <a ui-sref="cmsSearchTable({q: omniSearch.query.q, type: 'tool'})"translate="cms.type.tool">
                        Tools
                    </a>
                </div>
            </div>

        </div>
    </div>

</aside>