//SEARCH



//layout
.Search {
	//position 0 simply to avoid reflows that could be expensive
	position absolute
	top $navbar_height
	z-index 50
	width 100%
	height "calc(100% - %s)" % $navbar_height
	display none
	background $content_bg
	overflow hidden
	&.isActive {
		display block
		+ .main {
			visibility hidden
		}
	}
	.Search__content {
		overflow hidden
		height 100%
		-webkit-overflow-scrolling touch
		overflow-y: auto;
	}
}


//content
.Search .Search__content{
	// background $navbar_horizontal_color
	>form {
		width 90%
		margin 0 auto
		position relative
		height vr-block(4)
		input {
			width 100%
			height 100%
			border none
			box-sizing border-box
			padding-right vr-block(3)
			white-space nowrap
			overflow hidden
			text-overflow ellipsis
			background none
			color $Plum
			font-size vr-block(1)
			&:focus {
				outline none
			}
		}
		button {
			height 100%
			background none
			position absolute
			font-size vr-block(1.5)
			right 0
			top 0%
			border none
			span {
				position absolute
				visibility hidden
			}
		}
	}
}

+isAbove($laptop) {
	.Search {
		overflow initial
		height auto
		/*min-height "calc(100% - %s)" % $navbar_height*/
		.Search__content {
			form {
				width 60%
			}
		}
	}
}