<div class="horizontal-stripe light-background seperator p-t-0">
    <!--section class="container--desktop ng-cloak" ng-if="collectionKeyMetrics.capabilities.total > 0">
        <h4 class="card-header">{{ collectionKeyMetrics.withCoordinates.count | localNumber }}  georeferenced records</h4>
        <div class="card">
            <div>
                <map-widget filter="{collection_key:collectionKey.key}" style="{suggested: 'DOTS'}" class="fixedSizes"></map-widget>
            </div>
        </div>
    </section-->

    <div class="container--desktop">
        <section class="networkMetrics-col m-t-1">
            <div class="ng-cloak" ng-if="collectionKeyMetrics.withCoordinates.count > 0">
                <h4 class="card-header">{{ collectionKeyMetrics.withCoordinates.count | localNumber }}  georeferenced records</h4>
                <div class="card">
                    <div>
                        <adhoc-map no-drawing="true" filter="{collection_key: collectionKey.key}" map-style="{suggested: 'SPOTTY'}" class="fitSize fitSize--noBar"></adhoc-map>
                        <!--map-widget filter="{collection_key:collectionKey.key}" style="{suggested: 'DOTS'}" class="fixedSizes"></map-widget-->
                    </div>
                </div>
            </div>
            <div>
              <h4 class="card-header text-center inline-block" translate="metrics.taxonomicOccDistribution"></h4>
              <div class="card m-b-1" style="padding:12px">
                  <occurrence-taxonomy-tree filter="{collection_key: collectionKey.key}" options="{limit:10, showFrequenyTree: true}"></occurrence-taxonomy-tree>
              </div>
            </div>
            <!--occurrence-taxonomy-stats filter="{collection_key: collectionKey.key}" chart-type="'treemap'"></occurrence-taxonomy-stats-->
            <div ng-repeat="chart in collectionKeyMetrics.defaultCharts">
                <occurrence-breakdown-card api="chart.api" config="chart.config" filter="chart.filter" chart-change="networkMetrics.chartChange" custom-filter="chart.customFilter"></occurrence-breakdown-card>
            </div>
        </section>
    </div>

</div>