var env = {
    dataApiV2: '{{DATA_URL_V2}}', //e.g //api.gbif.org/v2/
    dataApi: '{{DATA_URL}}', //e.g //api.gbif.org/v1/
    tileApi: '{{TILE_URL}}', //e.g. //cdn.gbif.org/v1/map/density/tile.png
    cmsApi: '{{CMS_URL}}',   //e.g. //cms.gbif-dev.org/api/
    cmsProxy: '/api/cmsproxy/',
    analyticsImg: '{{ANALYTICS_IMG}}', //e.g. //cms.gbif-dev.org/sites/default/files/gbif_analytics/
    imageCache: '{{DATA_URL}}image/unsafe/',
    mapCapabilities: '{{DATA_URL_V2}}map/occurrence/density/capabilities.json'
};

module.exports = env;
