(function () {
    'use strict';
    var angular = require('angular');
    
    angular
        .module('portal')
        .constant('env', {
            dataApi: '{{DATA_URL}}', //e.g //api.gbif.org/v1/
            tileApi: '{{TILE_URL}}' //e.g. //cdn.gbif.org/v1/map/density/tile.png
        })
        .constant('suggestEndpoints', {
            recordedBy: '{{DATA_URL}}occurrence/search/recordedBy',
            recordNumber: '{{DATA_URL}}occurrence/search/recordNumber',
            occurrenceId: '{{DATA_URL}}occurrence/search/occurrenceId',
            catalogNumber: '{{DATA_URL}}occurrence/search/catalogNumber',
            institutionCode: '{{DATA_URL}}occurrence/search/institutionCode',
            collectionCode: '{{DATA_URL}}occurrence/search/collectionCode',
            species: '{{DATA_URL}}species/suggest'
        })
})();