{
    "dataApiV2": "{{DATA_URL_V2}}",
    "dataApi": "{{DATA_URL}}",
    "tileApi": "{{TILE_URL}}",
    "analyticsImg": "{{ANALYTICS_IMG}}",
    "imageCache": "{{DATA_URL}}image/unsafe/",
    "mapCapabilities": "{{DATA_URL_V2}}map/occurrence/density/capabilities.json"
}