(function () {
    'use strict';
    var angular = require('angular');
    
    angular
        .module('portal')
        .constant('env', {
            dataApi: '{{DATA_URL}}', //e.g //api.gbif.org/v1/
            tileApi: '{{TILE_URL}}', //e.g. //cdn.gbif.org/v1/map/density/tile.png
            cmsApi: '{{CMS_URL}}' //e.g. //cms.gbif-dev.org/api/
        })
})();