(function () {
    'use strict';
    var angular = require('angular');

    angular
        .module('portal')
        .constant('env', {
            dataApi: '{{DATA_URL}}', //e.g //api.gbif.org/v1/
            tileApi: '{{TILE_URL}}', //e.g. //cdn.gbif.org/v1/map/density/tile.png
            cmsApi: '{{CMS_URL}}',   //e.g. //cms.gbif-dev.org/api/
            analyticsImg: '{{ANALYTICS_IMG}}', //e.g. //cms.gbif-dev.org/sites/default/files/gbif_analytics/
            imageCache: '{{DATA_URL}}image/unsafe/'
        })
        .constant('suggestEndpoints', {
            recordedBy: '{{DATA_URL}}occurrence/search/recordedBy',
            recordNumber: '{{DATA_URL}}occurrence/search/recordNumber',
            occurrenceId: '{{DATA_URL}}occurrence/search/occurrenceId',
            catalogNumber: '{{DATA_URL}}occurrence/search/catalogNumber',
            institutionCode: '{{DATA_URL}}occurrence/search/institutionCode',
            collectionCode: '{{DATA_URL}}occurrence/search/collectionCode',
            organismId: '{{DATA_URL}}occurrence/search/organismId',
            locality: '{{DATA_URL}}occurrence/search/locality',
            waterBody: '{{DATA_URL}}occurrence/search/waterBody',
            stateProvince: '{{DATA_URL}}occurrence/search/stateProvince',
            taxon: '{{DATA_URL}}species/suggest',
            dataset: '{{DATA_URL}}dataset/suggest'
        }).constant('speciesConstants', {
            backboneKey: 'd7dddbf4-2cf0-4f39-9b2a-bb099caae36c'
        }).constant('token', {
            iucn: '78526c57ac3a9ad8e9a8531d08bf8a453b0c3d6571dcdbe1e4b4e13700607755'
        })
})();
