
html, body, #page-wrapper {
	height 100%
	width 100%
	overflow-x hidden
}
.siteCanvas {
	height 100%
	width 100%
}
ul,ol {
	margin 0
}





//fixed toggle
.toggleDrawer {
	z-index 10
	width 50px
	height 50px
	background red
}
+isBelow($laptop) {
	.toggleDrawer {
		position absolute
		bottom 20px
		right 20px
	}
}
+isAbove($laptop) {
	.toggleDrawer {
		position fixed
		top 95px
		right initial
	}
}




.contentArea__tabs {
	width 100%
	background rgba(255,255,255,0.5)
	position absolute
	bottom 20px
	left 20px
	z-index 10
	width 50px
	height 50px
	overflow hidden
	ol {
		max-width 100%
	}
	li {
		display inline-block
		width 50px
		height 50px
		border-radius 25px
		margin 0 10px 10px 0
		background deepskyblue
		float left
	}
	&:hover {
		width auto
		height auto
	}
}

//TABS
/*+isBelow($laptop) {*/
	/*.contentArea__tabs {*/
		/*width 100%*/
		/*background rgba(255,255,255,0.5)*/
		/*position absolute*/
		/*bottom 20px*/
		/*left 20px*/
		/*z-index 50*/
		/*width 50px*/
		/*height 50px*/
		/*overflow hidden*/
		/*ol {*/
			/*max-width 100%*/
		/*}*/
		/*li {*/
			/*display inline-block*/
			/*width 50px*/
			/*height 50px*/
			/*border-radius 25px*/
			/*margin 0 10px 10px 0*/
			/*background deepskyblue*/
			/*float left*/
		/*}*/
		/*&:hover {*/
			/*width auto*/
			/*height auto*/
		/*}*/
	/*}*/
/*}*/

+isAbove($laptop) {
	.contentArea__tabs {
		position fixed
		top 150px
	}
}






//ie scrollbar styling
body {
	/*scrollbar-face-color: #b46868;*/

	/*scrollbar-base-color: #222;*/
	/*scrollbar-3dlight-color: #222;*/
	/*scrollbar-highlight-color: #222;*/
	/*scrollbar-track-color: #3e3e42;*/
	/*scrollbar-arrow-color: #111;*/
	/*scrollbar-shadow-color: #222;*/
	/*scrollbar-dark-shadow-color: #222;*/

	/*-ms-overflow-style: -ms-autohiding-scrollbar;*/
}

// ::-webkit-scrollbar
// {
// 	width: 17px;  /* for vertical scrollbars */
// 	height: 17px; /* for horizontal scrollbars */
// }

// ::-webkit-scrollbar-track
// {
// 	background: rgba(220, 220, 220, 1);
// 	border-radius: 0px;
// }

// ::-webkit-scrollbar-thumb
// {
// 	border-radius: 0px;
// 	background: rgba(150, 150, 150, 1);
// }

.page-wrapper * {
	&::-webkit-scrollbar
	{
		width: 8px;  /* for vertical scrollbars */
		height: 8px; /* for horizontal scrollbars */
	}

	&::-webkit-scrollbar-track {
	    // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	    // border-radius: 10px;
	    background: rgba(0,0,0,0)
	}

	&::-webkit-scrollbar-thumb {
	    // border-radius: 10px;
	    background: rgba(0,0,0,0.3)
	    // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
	}
}

//SIMILUATE IE11 SCROLLBARS
.page-wrapper * {
	&::-webkit-scrollbar
	{
		width: 18px;  /* for vertical scrollbars */
		height: 18px; /* for horizontal scrollbars */
	}

	&::-webkit-scrollbar-track {
		// -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
		// border-radius: 10px;
		background: rgba(220,220,220,1)
	}

	&::-webkit-scrollbar-thumb {
		// border-radius: 10px;
		background: rgba(180,180,180,1)
		// -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
	}
}



//ANCHOR FOX OFFSET FOR FIXED HEADER HEIGHT
+isAbove($laptop) {
	.anchor:before { //compensate for the fixed header on desktop
		display: block;
	    content: " ";
	    height: $navbar_height;
	    margin-top: -($navbar_height);
	    visibility: hidden;
	}	
}

//Safari hack to prevent flicker. At mobile breakpoint it removes scrollbar and then thinks it is larger, leading to the laptop view. Where there is a scrollbar that makes the window smaller etc.
+isBetween( ($laptop - 15px), $laptop) {
	html {
		overflow-y scroll
	}
}
