<article class="wrapper-horizontal-stripes">
    <span class="{{cms.actionMessageClass}}">Loading...</span>

    <div class="container-fluid white-background search-header" ng-show="cms.status == 500">
        <p>This page is currently unavailable. Please come back later. We are sorry for the inconvenience.</p>
    </div>

    <div class="container-fluid white-background search-header" ng-hide="cms.status == 500">
        <div class="row">
            <div class="col-xs-12">
                <nav class="article-header__category article-header__category--deep">
                    <span class="article-header__category__upper">Search</span>
                    <span class="article-header__category__lower">Information</span>
                </nav>
                <div class="small text-muted text-center" style="height:30px">{{cms.count}} results</div>
                <div class="stripe-menu">
                </div>
            </div>
        </div>
    </div>

    <div class="horizontal-stripe white-background" ng-hide="cms.status == 500">
        <div class="">
            <div class="container--narrow">
                <div class="search-results__list row">
                    <div class="col-xs-12">
                        <div class="search-results__list__overview">
                            <span>{{cmsTable.totalItems}} results</span><span ng-show="cmsTable.totalItems > 0">, showing {{cmsTable.resultStart}} - {{cmsTable.resultEnd}}</span>
                        </div>

                        <article class="search-results__list__item cms-list-item--cms-search"
                                 ng-repeat="row in cmsTable.results">
                            <span class="search-results__list__item__tag"><span>Information </span><span
                                    translate="cms.type.{{row.type}}">{{row.type}}</span></span>
                            <img ng-src="{{row.images[0].styles.square_thumbnail}}">
                            <h4 class="search-results__list__item__title">
                                <a href="/{{ row.targetUrl }}">{{ row.title | limitTo:150 }}</a>
                            </h4>
                            <div class="search-results__list__item__summary" ng-show="row.summary.value !== undefined"
                                 ng-bind-html="row.summary.value"></div>
                            <div class="search-results__list__item__summary" ng-show="row.summary.value == undefined"
                                 ng-bind-html="row.summary"></div>
                            <div class="search-results__list__item__time">{{ row.created * 1000 | date:'longDate' }}
                            </div>
                        </article>

                        <uib-pagination
                                total-items="cmsTable.totalItems"
                                ng-model="cmsTable.currentPage"
                                max-size="cmsTable.maxSize"
                                items-per-page="cmsTable.limit"
                                class="pagination-sm"
                                boundary-link-numbers="false"
                                rotate="false"
                                ng-change="cmsTable.pageChanged()"
                                ng-show="cmsTable.count > cmsTable.limit">
                        </uib-pagination>
                    </div>
                </div>


                <div>
                </div>
            </div>
</article>
