<div>
    <div id="map" class="svg-container"></div>
    <div id="mapLegend" ng-class="vm.expanded ? 'map-legend' : 'map-legend-folded'">
        <header ng-click="vm.expanded = !vm.expanded">
            <h4 translate="theGbifNetwork.legend"></h4>
            <span class="gb-icon-angle-up" ng-show="!vm.expanded"></span>
            <span class="gb-icon-angle-down" ng-show="vm.expanded"></span>
        </header>
        <ul>
            <li ng-click="vm.vpChecked = !vm.vpChecked; vm.toggleParticipant()">
                <div ng-class="vm.vpChecked ? 'square-vp--checked': 'square-vp--unchecked'"></div>
                <label translate="directory.voting_participant.one"></label>
            </li>
            <li ng-click="vm.acpChecked = !vm.acpChecked; vm.toggleParticipant()">
                <div ng-class="vm.acpChecked ? 'square-acp--checked':'square-acp--unchecked'"></div>
                <label translate="directory.associate_country_participant.one"></label>
            </li>
        </ul>
    </div>
</div>
