.event {
    &__subtitle {
        >span {
            margin 0 10px
        }
    }
    &--past {
        .searchCard__date {
            >div {
                background #b3ad75
            }
        }
    }
}

.article-header.horizontal-stripe {
    padding-bottom 2.142857142855rem
}

.article-header__button {
    margin 20px
}

.article-header__highlights {
    >div{
        >span {
            padding-right 5px
        }
        display inline-block
        margin 0 10px
    }
}

.inline-document-list {
    list-style none
    padding 0
    display flex
    flex-wrap wrap
    margin -10px
    >li {
        @extends .hoverBox
        flex 1 1 auto
        width 40%
        min-width 300px
        display inline-block
        box-shadow 0 2px 5px 3px rgba(0,0,0,.015)
        border 1px solid #eee
        margin 10px
        font-size 14px
        margin-bottom 20px
        border-radius 25px 0 0 0
        >a {
            display block
            position relative
            height 52px
            img {
                float left
                height 52px
                width 40px
                border none
            }
            >div {
                padding 5px
                margin-left 50px
                margin-right 5px
                height 52px
                >div {
                    /* only supported on webkit and doesn't look like it will be in firefox at anytime. fallback is hard cropping without the ellipsis */
                    display -webkit-box
                    -webkit-line-clamp 2
                    -webkit-box-orient vertical
                    overflow hidden
                    text-overflow ellipsis
                    max-height $lineHeightRatio*2rem /* important to choose a height that matches line height to crop between lines*/
                    vertically-align()
                }
            }
        }
    }
}

.article-secondary {
    >section {
        margin-bottom vrBlock(1)
    }
}
.body-text--markdown+.article-secondary {
    padding-top vrBlock(2)
    margin-top vrBlock(2)
    border-top 1px solid $stripeBorderColor
}

.associated-entities {
    color #738d9c
    li>a {
        color inherit
    }
    &__logos {
        display flex
        flex-wrap wrap
        margin 0 -($halfGutter)
        justify-content center
        padding 0
        > li {
            display inline-block
            text-align center
            margin $halfGutter
            width 250px
            float left
            img {
                max-height 75px
                //border 1px solid #ddd
                margin auto
                margin-bottom 10px
            }
            div {
                max-width 250px
                margin auto
            }
        }
    }
    &__titles {
        display block
        margin auto
        li {
            display inline-block
        }
        text-align center
    }
    &__titleBox {
        padding 10px
        background #d0d9de
        border-radius 3px
    }
}

.emptyInfo {
    text-align center
    color #9fb7c3
    padding 5rem 3rem 10rem 3rem
}
.emptyInfo--large {
    @extends .emptyInfo
    padding-bottom 30rem
}
.emptyInfo--small {
    @extends .emptyInfo
    padding 1rem 1rem 2rem 1rem
}



    //TEST
.grid {
    width:100%;
    min-height:500px;
}
.grid-item {
    width 400px
}