<div class="m-t-1">
    <div ng-if="vm.state === 'SUCCESS'" class="text-center">
      <div style="font-size: 18px; margin-bottom: 24px;">
        <p>Thank you for submitting your application.</p>
        <p>You can expect to hear back in the next 2 weeks.</p>
        <button ng-click="vm.restart()" class="gb-button--brand">Create a new application</button>
        <div style="width: 100%; padding: 12px 24px; margin: auto;">
          <img src="/img/misc/success.png" style="width: 100%"/>
        </div>
      </div>
    </div>
    <div ng-if="vm.state !== 'SUCCESS'">
        <form name="vm.ednaform">
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">
                            1. Primary contact for this application
                        </span>
                    </md-card-title-text>
                </md-card-title>

                <md-card-content>
                    <div layout="row">
                        <md-input-container flex="50">
                            <label>Name</label>
                            <input
                                type="text"
                                required
                                name="name"
                                ng-model="vm.form.person_name"
                            />
                            <div ng-messages="vm.ednaform.name.$error">
                                <div ng-message="required">
                                    This is required.
                                </div>
                            </div>
                        </md-input-container>
                        <md-input-container flex="50">
                            <label>Email</label>
                            <input
                                type="email"
                                required
                                name="email"
                                ng-model="vm.form.email"
                            />
                            <div ng-messages="vm.ednaform.email.$error">
                                <div ng-message="email">
                                    Please provide a valid email
                                </div>
                                <div ng-message="required">
                                    This is required.
                                </div>
                            </div>
                        </md-input-container>
                        
                    </div>
                    <div layout="row">
                      <div >
                       
                        <p>Please select which participant node this application relates to.</p>
                        <div layout="row">
                          <md-input-container flex="50">
                              <label>Click to select</label>
                              <md-select name="participantNode" ng-model="vm.form.participant" required>
                                <md-option ng-repeat="participant in vm.participantCountries" ng-value="participant.key">
                                    {{participant.participantTitle}}
                                </md-option>
                              </md-select>
                          </md-input-container>
                        </div>
                      </div>
                    </div>
                    
                </md-card-content>
            </md-card>
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">2. Name and description of the installation </span>
                    </md-card-title-text>
                </md-card-title>

                <md-card-content>
                  <div layout="row">
                    <p>Please let us know how this installation should be named; 
                      e.g. “GBIF.us Metabarcoding Datasets”, “GBIF Africa Metabarcoding Datasets”, “Acme Metabarcoding Converter”
                      </p>
                  </div>
                    <div layout="row">
                      

                        <md-input-container flex="50">
                            <label>Name</label>
                            <input
                                type="text"
                                required
                                name="name"
                                ng-model="vm.form.installation_name"
                            />
                            <div ng-messages="vm.ednaform.name.$error">
                                <div ng-message="required">
                                    This is required.
                                </div>
                            </div>
                        </md-input-container>
                    </div>
                    <div layout="row">
                      <p>Please give a short description of your installation. This will be visible on the "about" page.
                        </p>
                    </div>
                    <div layout="row">
                      <md-input-container flex="100">
                        <label>Description</label>
                        <textarea required ng-model="vm.form.installation_description" rows="5" md-select-on-focus name="installationDescription"></textarea>
                        <div ng-messages="vm.ednaform.installationDescription.$error">
                          <div ng-message="required">
                              This is required.
                          </div>
                      </div>
                    </md-input-container>
                </div>
                </md-card-content>
               
            </md-card>

            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">3. Type of application</span>
                        <span class="md-subhead">What best describes your application?
                        </span>
                    </md-card-title-text>
                </md-card-title>

                <md-card-content>
                  <md-radio-group ng-model="vm.form.type" ng-change="vm.typeChanged(vm.for.type)" required>
                    <md-radio-button value="National_installation" class="md-primary" ><span>A national installation.</span></md-radio-button>
                    <md-radio-button value="Thematic_node_installation" class="md-primary" ><span>An installation to support your thematic Node.</span></md-radio-button>
                    <md-radio-button value="Regional_installation" class="md-primary" ><span>An installation for a GBIF Region (application to be submitted only by the regional representative Node Manager).</span></md-radio-button>

                    
                    <md-radio-button value="Group_installation" class="md-primary" ><span>An installation for a group of publishers within our nodes network.</span></md-radio-button>
                    <div style="margin-left: 25px" ng-if="vm.form.type == 'Group_installation'">
                      <div layout="row">
                        <p>
                          The programme is intended primarily to support node and regional installations, rather than e.g. an installation for every publishing organization.  However, we know there may be cases where an alternative to a Node or regional installation may be more suitable to  bring significant amounts of data. Can you please justify why you feel this is needed? 
                        </p>
                      </div>
                      <div layout="row">
                        
                        <md-input-container flex="100">
                          <label>Please describe which data publisher(s) and/or GBIF participants will be involved</label>
                          <textarea required ng-model="vm.form.group_publisher_description" rows="5" md-select-on-focus name="group_description"></textarea>
                      </md-input-container>
                      </div>
                    </div>
                  </md-radio-group>
                </md-card-content>
            </md-card>

            <md-card>
              <md-card-title>
                  <md-card-title-text>
                      <span class="md-headline">4. Mode of operation
                      </span>
                      <span class="md-subhead">What best describes your application?
                      </span>
                  </md-card-title-text>
              </md-card-title>

              <md-card-content>
                <md-radio-group ng-model="vm.form.Mode_of_operation" required>
                  <md-radio-button value="publishing" class="md-primary" ><span>Publishing mode:</span></md-radio-button>
                  <div layout="row">
                    <p>
                      Users of the tool can be enabled to register datasets in GBIF on behalf of the organizations to which they have been associated. In this mode, the tool operates in a similar manner to an IPT, and is a publishing platform into GBIF where datasets become hosted by GBIF within the tool.
                    </p>
                  </div>
                  <md-radio-button value="conversion_only" class="md-primary" ><span>Conversion-only mode: 
                  </span></md-radio-button>
                  <div layout="row">
                    <p>
                      Users of the tool can use the tool to shape their dataset, but must download the resulting dataset and submit it to another repository, such as a GBIF IPT installation, in order to publish to GBIF. This may be appropriate in situations where there are concerns of having GBIF host datasets. A tool may be converted from conversion-only mode to publishing mode later.                    </p>
                  </div>

                  
                  
                </md-radio-group>
              </md-card-content>
          </md-card>


            <div>
                <md-card>
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">5. Description of the anticipated content providers</span>
                            
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                        <div layout="row">
                              <md-input-container flex="100">
                                <label>Please describe who you anticipate publishing data, and if you already have publishers ready to use the service.</label>
                                <textarea required ng-model="vm.form.content_providers" rows="5" md-select-on-focus name="organizationDescription"></textarea>
                            </md-input-container>
                        </div>
                    </md-card-content>
                </md-card>
               
                <md-card>
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">6. Timeline</span>
                            <span class="md-subhead">
                              Please let us know if there is a deadline for configuring this installation.
                            </span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                        <div layout="row">
                              <md-input-container flex="100">
                                <label>Description of timeline</label>
                                <textarea ng-model="vm.form.timelines" rows="5" md-select-on-focus name="organizationDescription"></textarea>
                            </md-input-container>
                        </div>
                    </md-card-content>
                </md-card>
                <md-card>
                  <md-card-title>
                      <md-card-title-text>
                          <span class="md-headline">7. Domain</span>
                          <span class="md-subhead">
                            If you have your own domain that you want to use for the installation, enter it here (e.g. mdt.gbif.xx)
                          </span>
                      </md-card-title-text>
                  </md-card-title>
                  <md-card-content>
                      <div layout="row">
                            <md-input-container flex="100">
                              <label>Domain</label>
                              <input
                              type="text"
                              name="domain"
                              ng-model="vm.form.domain"
                          />
                          </md-input-container>
                      </div>
                  </md-card-content>
              </md-card>
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Terms</span>
                    </md-card-title-text>
                </md-card-title>

                <md-card-content>
                  <md-checkbox ng-model="vm.form.have_read_the_service_agreement " class="md-primary" required><span>
                    I have read the <a href="https://www.gbif.org/terms/hosted-repository-service" target="_blank">service agreement</a> and I accept these terms and conditions for the hosted Metabarcoding Data Toolkit I will use.
                  </span></md-checkbox>
                  <md-checkbox ng-model="vm.form.commit_to_help_data_holders" class="md-primary" required><span></span>
                    I commit to ensuring that data holders engaging in data publishing get the appropriate help to be able to publish to GBIF.
                  </span></md-checkbox>
                  <md-checkbox ng-model="vm.form.will_provide_feedback" class="md-primary" required><span></span>
                    I will provide feedback to help improve and develop the tool and guidance material for easier and better use by Nodes and data holders.
                  </span></md-checkbox>
                  <md-checkbox ng-model="vm.form.will_participate_in_quarterly_webinars" class="md-primary" required><span></span>
                    I will participate in quarterly webinars and encourage users (data holders) to join to provide feedback.
                  </span></md-checkbox>
                  <md-checkbox ng-model="vm.form.will_ensure_atasets_published_will_remain_online" class="md-primary" required><span></span>
                    I agree to help ensure all datasets published to GBIF.org during the pilot will remain online at the end of the pilot, should the installations be moved or the programme terminated. 
                  </span></md-checkbox>
                  <div layout="row">Following submission we will check the eligibility, configure the installation and contact you to arrange an introduction session.</div>

                </md-card-content>

            </md-card>
            </div>

            <button ng-disabled="!vm.ednaform.$valid || vm.state == 'PENDING'" type="submit"
                    ng-click="vm.createSuggestion(vm.form)"
                    class="btn btn-default flat">
                Submit
            </button>
            <div class="text-error" ng-if="vm.state == 'FAILED'">
                <div>
                  This isn't good. We weren't able to save your application. Please try again later. You are also welcome to send it to helpdesk@gbif.org and include the data below. It saves you having to write it all again.
                </div>
                <code>
                  <pre>
                    {{vm.form}}
                  </pre>
                </code>
            </div>
        </form>
    </div>
</div>
