.gb-sqlInput {
  white-space: pre-wrap;
  font-family: monospace;
}

.sql-hl-keyword {
  color: tomato;
}
.sql-hl-function {
  color: blue;
}
.sql-hl-number {
  color: green;
}
.sql-hl-identifier {
  color: blue;
}
.sql-hl-string {
  color: black;
}
.sql-hl-special {
  color: #ab5656;
}
.sql-hl-bracket {
  color: blue;
}
.sql-hl-comment {
  color: rgb(113, 113, 113);
}
.sql-hl-clear {
  color: rgb(108, 108, 108);
}