.btn-highlight {
	color white
	background $Plum
	border-color darken($Plum, 10)
	box-shadow 0 2px 2px rgba(0,0,0,0.3)
	&:hover {
		background darken($Plum, 5)
		border-color darken($Plum, 10)
		color white
	}
}
.btn-circle {
	width 50px
	height 50px
	padding 0
	text-align center
	font-size 25px
	line-height 2
	border-radius 25px
}

.fab {
	//https://www.google.com/design/spec/components/buttons-floating-action-button.html#buttons-floating-action-button-transitions
	//http://codepen.io/anderuraga/pen/KdLVRj
	z-index 2000
	position fixed
	bottom vr-block(1)
	right vr-block(1)
	display flex
	flex-direction column-reverse
	.fab__options {
		height 0
		overflow hidden
		position relative
		padding 0
		display flex
		flex-direction column-reverse
		transition height .5s ease-out
		transition-delay 20ms
		li {
			padding vr-block(0.25)
			opacity 0
			transition opacity .1s ease-out
			a {
				background #fdfdfd
				border none
				color #888
			}
		}
	}
	&:hover {
		.fab__options {
			height auto
			overflow visible
			li {
				opacity 1
			}
		}
	}

	.fab__trigger {
		padding vr-block(0.25)
		a {
			background $Plum
			color white
		}
	}
	.fab__options li:nth-child(2) {
		transition-delay: 20ms;
	}
	.fab__options li:nth-child(3) {
		transition-delay: 40ms;
	}
	.fab__options li:nth-child(4) {
		transition-delay: 60ms;
	}
	.fab__options li:nth-child(5) {
		transition-delay: 80ms;
	}
	[tooltip]:before {
		border-radius: 2px;
		background-color: #585858;
		color: #fff;
		content: attr(tooltip);
		font-size: 12px;
		visibility: hidden;
		opacity: 0;
		padding: 5px 7px;
		margin: 7px;
		position: absolute;
		right: 100%;
		white-space: nowrap;
		z-index 1000
	}

	[tooltip]:hover:before,
	[tooltip]:hover:after {
		visibility: visible;
		opacity: 1;
	}
}