.nameParser {

    &__prose {
    width 850px
    margin-top 24px
    }
    &__author-badge {
        max-width : 134px
    }
    &__name-paste-form {
        width: 650px
    
        md-input-container {
            margin-bottom 0px !important;
        }
        
        textarea {
            min-height 300px !important;
            max-height 400px !important;
        }
        .md-errors-spacer {
            min-height 0px !important;
        }
    }
    &__parse-button {
        min-width 100px
        margin-top 12px
    }
    &__result-table {
        padding-top 24px
    }
    &__name-paste-area {
        background-color: white !important;
        line-height: 20px !important;
    }
    &__tabs-container {
        max-width 884px !important
    }
    &__input-file {
        position relative
        overflow hidden
        margin auto
        a {
        // background $speciesLookupActiveColor
            padding 5px 20px
        // color #fff
            transition all .4s
            width 100%
            text-align center
            text-transform uppercase
        }
        input {
            position absolute
            display inline-block
            left 0
            top 0
            right 0
            bottom 0
            opacity 0.01
            cursor pointer
            padding 5px 20px
            width 100%
        }
    }
   
    }


