.site-header {
    siteHeaderBar()
    a {
        height ($navBar_height - $navBar_borderWidth)
        text-decoration none
        color inherit
        menuTextShadow()
        display inline-block
        width 4rem
        relative()
    }

    .site-header__mobile-options {
        > div {
            display inline-block
        }
        .navbar-right-actions {
            float right
            > div {
                float right
                height ($navBar_height - $navBar_borderWidth)
            }
        }
    }
    .site-header__mobile__icon {
        position absolute
        font-size 28px
        width 4rem
        display block
        text-align center
        overflow hidden
        top 6px
        height 28px
        line-height 28px
    }
    .site-header__mobile__text {
        position absolute
        bottom 4px
        width 4rem
        display block
        text-align center
    }
    &__menu-toggle {
        .gb-icon-close {
            display none
        }
    }
}


.is-active .site-header__menu-toggle {
    .gb-icon-logo {
        display none
    }
    .gb-icon-close {
        display block
    }
}

.site-header__search-toggle, .site-header__menu-toggle {
    transition background-color 200ms ease
}
.is-active .site-header__menu-toggle, .site-header__menu-toggle:hover, .site-header__search-toggle:hover, .is-active.site-header__search-toggle {
    background-color #85a26c
}

//.is-active.site-header__search-toggle:before, .site-header.is-active .site-header__menu-toggle:before {
//    content $icon-string-close_L
//}

