.site-header {
    siteHeaderBar()
    a {
        text-decoration none
        color inherit
        menuTextShadow()
    }

    .site-header__mobile-options {
        > div {
            display inline-block
        }
        .navbar-right-actions {
            float right
            > div {
                float right
            }
        }
    }
}

.is-active.site-header__search-toggle:before, .site-header.is-active .site-header__menu-toggle:before {
    content $icon-string-close_L
}