.occurrenceKey__map {
	position relative
	z-index 20
	height 350px
	max-height "calc(100vh - 20px - %s)" % $navbar_height
}
.occurrenceKey__markerMessage {
	margin 0
	dt>span {
		padding 0 .5em
		font-weight 300
		color #bbb
	}
}
