.occurrenceKey {
    &__map {
        position relative
        z-index 20
        height 350px
        max-height "calc(100vh - 40px - %s)" % $navBar_height
    }

    &__markerMessage {
        margin 0
        dt > span {
            padding 0 .5em
            font-weight 300
            color #bbb
        }
    }
    .globe-context {
        position absolute
        top 0
        right 0
        z-index 10
        width 70px
        height 70px
    }
}


