.participants__table {
    table.table {
        tr {
            border-top 1px solid #ccc
        }
        tbody {
            tr {

                th {
                    font-weight bold
                }

            }
        }
    }
}


    .participants__table {

        .table-container--participant {
            max-width 960px
            margin 0 auto
        }

        table.table {
            font-size 13px
            display table
            thead {
                display table-header-group
            }
            tbody {
                display table-row-group
            }
            tr {
                display table-row
                border-top none
            }
            th {
                display table-cell
            }
            thead tr {
                th {
                    font-weight bold
                    position relative
                    white-space nowrap
                    top 0
                    left 0

                    a {
                        display inline-block
                        color inherit
                        padding-right 0
                        white-space normal
                    }
                    a:hover {
                        text-decoration none
                    }
                    div {
                        display inline-block
                        font-size 18px
                        width 18px
                        margin-top -8px
                        height 20px
                        vertical-align middle
                    }
                }
                th:nth-of-type(4) {
                }
                th:nth-of-type(5) {
                }
                th:nth-of-type(6) {
                }
                th:hover {
                    cursor pointer
                }

            }
            tbody {
                tr {
                    cursor pointer

                    td {
                        border-bottom none
                        display table-cell
                        width auto
                        vertical-align middle
                    }
                    td:nth-of-type(1) {
                        width 36%
                        padding-left 10px
                        background none
                    }
                    td:nth-of-type(2) {
                        width 20%
                        display table-cell
                    }
                    td:nth-of-type(3) {
                        width 12%
                        display table-cell
                    }
                    td:nth-of-type(4) {
                        width 10%
                        display table-cell
                        text-align right
                    }
                    td:nth-of-type(5) {
                        width 10%
                        display table-cell
                        text-align right
                    }
                    td:nth-of-type(6) {
                        width 12%
                        display table-cell
                        text-align right
                    }
                    th {
                        display none
                    }
                }

                tr:hover {
                    background darken($lightBackground, 5)
                }
            }
        }
    }


+isAbove(900px) {
    .participants__table {
        .table {
            thead tr {
                th:nth-of-type(4) {
                    a {
                    }
                }
                th:nth-of-type(5) {
                    a {
                    }
                }
            }
            tbody {
                tr {
                    td:nth-of-type(4) {
                        padding-right 22px
                    }
                    td:nth-of-type(5) {
                        padding-right 22px
                    }
                    td:nth-of-type(6) {
                        padding-right 22px
                    }

                }

                tr:hover {
                    background darken($lightBackground, 5)
                }

            }
        }
    }
}
