<ng-include src="'/templates/components/loader/loader.html'" ng-if="vm.tableLoaded === false && !vm.participantApiError"></ng-include>

<div ng-if="vm.participantApiError" class="emptyInfo--small">
    <h3  translate="phrases.nonCriticalErrorMsg"></h3>


</div>



<div class="participants__table scrollable-y  ng-cloak" ng-show="vm.tableLoaded === true && !vm.participantApiError && vm.activeParticipantsDigest.length > 0">
    <div class="table-container--participant"
        ng-init="sort = {field: 'name', reverse: false };">
        <h4 translate="gbifNetwork.nParticipants"
                  translate-values="{NUMBER: vm.activeParticipantsDigest.length, NUMBER_FORMATTED: (vm.activeParticipantsDigest.length | localNumber)}"></h4>

        <table class="table card">
            <thead>
            <tr>
                <th><a ng-click="sort.field = 'name'; sort.Reverse = !sort.Reverse"
                       translate="gbifNetwork.participant"></a>
                    <div ng-show="sort.field == 'name' && !sort.Reverse" class="gb-icon-angle-down"></div>
                    <div ng-show="sort.field == 'name' && sort.Reverse" class="gb-icon-angle-up"></div>
                </th>
                <th>
                    <a ng-click="sort.field = 'membershipType'; sort.Reverse = !sort.Reverse"
                       translate="gbifNetwork.membershipType"
                       translate-values="{NUMBER: 'one'}">
                    </a>
                    <div ng-show="sort.field == 'membershipType' && !sort.Reverse" class="gb-icon-angle-down"></div>
                    <div ng-show="sort.field == 'membershipType' && sort.Reverse" class="gb-icon-angle-up"></div>
                </th>
                <th>
                    <a ng-click="sort.field = 'memberSince'; sort.Reverse = !sort.Reverse">
                        <span translate="gbifNetwork.memberSince"></span>
                    </a>
                    <div ng-show="sort.field == 'memberSince' && !sort.Reverse" class="gb-icon-angle-down"></div>
                    <div ng-show="sort.field == 'memberSince' && sort.Reverse" class="gb-icon-angle-up"></div>
                </th>
                <th ng-if="vm.currentRegion !== 'GBIF_AFFILIATES'"><a ng-click="sort.field = 'datasetFromCountSort'; sort.Reverse = !sort.Reverse"
                       translate="gbifNetwork.datasets">
                    </a>
                    <div ng-show="sort.field == 'datasetFromCountSort' && !sort.Reverse" class="gb-icon-angle-down"></div>
                    <div ng-show="sort.field == 'datasetFromCountSort' && sort.Reverse" class="gb-icon-angle-up"></div>
                </th>
                <th ng-if="vm.currentRegion !== 'GBIF_AFFILIATES'"><a ng-click="sort.field = 'occurrenceFromCountSort'; sort.Reverse = !sort.Reverse"
                       translate="gbifNetwork.occurrences">
                    </a>
                    <div ng-show="sort.field == 'occurrenceFromCountSort' && !sort.Reverse" class="gb-icon-angle-down"></div>
                    <div ng-show="sort.field == 'occurrenceFromCountSort' && sort.Reverse" class="gb-icon-angle-up"></div>
                </th>

                <th ng-if="vm.currentRegion !== 'GBIF_AFFILIATES'"><a ng-click="sort.field = 'endorsedPublishersSort'; sort.Reverse = !sort.Reverse"
                       translate="gbifNetwork.publishers">

                    </a>
                    <div ng-show="sort.field == 'endorsedPublishersSort' && !sort.Reverse" class="gb-icon-angle-down"></div>
                    <div ng-show="sort.field == 'endorsedPublishersSort' && sort.Reverse" class="gb-icon-angle-up"></div>
                </th>
            </tr>
            </thead>

            <tbody ng-if="vm.activeParticipantsDigest.length > 0">
            <tr ng-repeat="(index, participant) in vm.activeParticipantsDigest | orderBy:sort.field:sort.Reverse">
                <td>
                    <a ng-bind="participant.name" ng-if="participant.type === 'COUNTRY'" href="/country/{{ participant.iso2 }}"></a>
                    <span ng-bind="participant.name" ng-if="participant.type === 'OTHER' && (!participant._nodes || participant._nodes.length === 0)"></span>
                    <a ng-if="participant.type === 'OTHER' && participant._nodes && participant._nodes.length > 0" ng-bind="participant.name" ng-href="/node/{{ participant._nodes[0].key }}"></a>



                </td>
                <td>
                <span ng-if="participant.membershipType" class="text-nowrap"
                      translate="gbifNetwork.{{ participant.membershipType}}.one"></span>
                </td>
                <td>
                    <span ng-if="participant.memberSince" ng-bind="participant.memberSince"></span>
                    <span ng-if="!participant.memberSince && participant.membershipStart"> {{participant.membershipStart.split('-')[0]}}</span>
                </td>

                <td ng-if="vm.currentRegion !== 'GBIF_AFFILIATES'">
                    <a ng-if="participant.type === 'COUNTRY'"
                       ng-bind="participant.datasetFromCountSort | localNumber:gb.locale"
                       ui-sref="datasetSearchTable({type: 'OCCURRENCE', publishing_country: participant.iso2})"
                       href=""></a>
                    <span ng-if="participant.type === 'OTHER'" ng-bind="participant.datasetFromCountSort | localNumber:gb.locale"></span>
                </td>

                <td ng-if="vm.currentRegion !== 'GBIF_AFFILIATES'">
                    <a ng-if="participant.type === 'COUNTRY'"
                       ng-bind="participant.occurrenceFromCountSort | localNumber:gb.locale"
                       ui-sref="occurrenceSearchTable({advanced: true, publishing_country: participant.iso2})"></a>
                    <span ng-if="participant.type === 'OTHER'" ng-bind="participant.occurrenceFromCountSort | localNumber:gb.locale"></span>
                </td>
                <td  ng-if="vm.currentRegion !== 'GBIF_AFFILIATES'" ng-bind="participant.endorsedPublishers | localNumber:gb.locale"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
