.reps__table {
    table.table {
        thead, tbody, tr, th, td {
            display block
            outline none
        }
        thead tr th {
            position absolute
            top -9999px
            left -9999px
        }
        tr {
            border-top 1px solid #ccc
        }
        tbody {
            tr {
                th, td {
                    position relative
                    display inline-block
                    width 49%
                }
                th {
                    font-weight bold
                }
                td:nth-of-type(1) {
                    padding-left 6px
                    width 100%
                    background $lightBackground
                }
                td:nth-of-type(2) {
                    width 100%
                    address {
                        margin-bottom 0
                    }
                }
                td:nth-of-type(3) {
                    display none
                }
            }
        }
    }
}

.contacts__item {
    position relative
    address {
        margin-bottom 5px
    }
    > address, > i {
        position relative
    }
    > i {
        font-size 60px
        margin-right 20px
        float none
        position absolute
        color #ededed
        top 0
        right 0
    }
    .contact__heading {
        cursor pointer
    }
    .contact__body {
        overflow-y hidden
        max-height 0 /* approximate max height */
        max-width 220px
        transition-property all
        transition-duration .5s
        transition-timing-function cubic-bezier(0, 1, 0.5, 1)
        margin-bottom 5px
    }
    .contact__body.contact--show {
        max-height 200px
    }
    .contact__body:focus {
        outline none
    }
    .stop-propagation:focus {
        outline none
    }
}

+isAbove($tablet) {
    .reps__table {

        .table-container--participant {
            max-width 960px
            margin 0 auto
        }

        table.table {
            font-size 13px
            display table
            thead {
                display table-header-group
            }
            tbody {
                display table-row-group
            }
            tr {
                display table-row
                border-top none
            }
            th {
                display table-cell
            }
            thead tr {
                th {
                    font-weight bold
                    position relative
                    white-space nowrap
                    top 0
                    left 0

                    a {
                        display inline-block
                        color inherit
                        padding-right 0
                        white-space normal
                    }
                    a:hover {
                        text-decoration none
                    }
                    div {
                        display inline-block
                        font-size 18px
                        width 18px
                        margin-top -8px
                        height 20px
                        vertical-align middle
                    }
                }
                th:hover {
                    cursor pointer
                }

            }
            tbody {
                tr {
                    cursor pointer

                    td {
                        border-bottom none
                        display table-cell
                        width auto
                        vertical-align middle
                    }
                    td:nth-of-type(1) {
                        width 40%
                        padding-left 10px
                        background none
                    }
                    td:nth-of-type(2) {
                        width 30%
                        display table-cell
                    }
                    td:nth-of-type(3) {
                        width 30%
                        display table-cell
                    }
                    th {
                        display none
                    }
                }

                tr:hover {
                    background darken($lightBackground, 5)
                }
            }
        }
    }
}

+isAbove(900px) {
    .reps__table {
    }
}
