.page--developer {
    font-weight: 300;
    .refine {
        clear: both;
        overflow: hidden;
        margin-bottom: 20px;
        margin-left: -40px;
        padding-bottom: 0px;
        
        h4 {
            margin-bottom: 6px;
            font-size: 11px;
            text-transform: uppercase;
            color: #999999;
        }
        a {
            position: relative;
            font-size: 15px;
            text-decoration: underline;
            text-decoration: none;
        }
        table.bor_time {
            border: 1px solid #f1f1f1;
            td {
                padding: 0px 5px 0px 5px;
                text-align: center;
                vertical-align: baseline;
            }
            tr.separator {
                border-top: 1px solid #f1f1f1;
            }
        }
    }

    table.api {
            hyphens: auto;
        }
    
    nav.developer-submenu {
        padding: 20px 15px !important;
    }
    
    &__anchor:target {
        &:before {
            display block
            content " "
            height $navBar_height
            margin-top -($navBar_height)
            visibility hidden
            z-index -999
            position relative
        }
    }

    p.map-layer-select {
        margin-top: 10px
    }
    


}
