.occPerCountry {
    &__mapWrapper, &__mapArea {
        min-height 300px
    }
    &.isLarge {
        position relative
        .occPerCountry__mapWrapper {
            margin-right 300px
        }
        .occPerCountry__panel {
            width 300px
            position absolute
            top 0
            right 0
            display block
        }
    }
}