.gbHelp {
    &__overlay {
        display block
        position fixed
        top 0
        bottom 0
        left 0
        right 0
        background rgba(0,0,0,.2)
        z-index $zSiteOverlay
    }
    &__close {
        background red
        position absolute
        top 0
        left 0
        right 0
        bottom 0
        z-index 1
    }
    &__content {
        z-index 2
        position relative
        margin auto
        nackground white
    }
}
