<!--<div ng-click="vm.interactionWithMap()">-->
    <!--<div class="map-area"></div>-->
<!--</div>-->

<div class="mapWidget" >
    <div class="mapWidget__mapWrapper">
        <div class="mapWidget__spacer"></div>
        <div class="mapWidget__mapArea"></div>
        <div class="mapWidget__progress"></div>
        <div class="mapWidget__mapButtons">
            <a href="" ng-click="vm.zoomIn()">+</a>
            <a href="" ng-click="vm.zoomOut()">-</a>
        </div>
        <div dir="auto" class="mapWidget__info">
            <span ng-if="!vm.baselayer">© <a href="https://www.openstreetmap.org/copyright" class="inherit">OpenStreetMap</a> contributors, © <a href="https://openmaptiles.org/" class="inherit">OpenMapTiles</a>, <a href="/citation-guidelines" class="inherit">GBIF</a>.</span>
            <span ng-if="vm.baselayer" ng-bind-html="vm.baselayer.attribution"></span>
        </div>
    </div>
</div>

<div id="popup" class="ol-popup" >
    <a href="#" id="popup-closer" class="ol-popup-closer inherit"></a>
    <div id="popup-content"></div>
</div>
