<ng-include src="'/api/template/search.html'"></ng-include>
<div class="site-content">
    <div class="site-content__page">
        <div class="user white-background">
            <article class="wrapper-horizontal-stripes" ng-if="user.profile">
                <div class="horizontal-stripe white-background">
                    <div class="container--narrow">
                        <div class="m-b-1">
                            <span class="body-text">{{user.profile.userName}}</span>
                            <div class="small">
                                {{user.profile.firstName}} {{user.profile.lastName}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="horizontal-stripe--paddingless white-background">
                    <div class="container--narrow">
                        <nav class="discreetTabs">
                            <ul>
                                <li class="tab" ng-class="{isActive: user.$state.is('userProfile') }">
                                    <a href="" class="tab inherit noUnderline" ui-sref="userProfile()">Profile</a>
                                </li>
                                <li class="tab" ng-class="{isActive: user.$state.is('userDownloads') }">
                                    <a href="" class="tab inherit noUnderline" ui-sref="userDownloads()">Downloads</a>
                                </li>
                                <li>
                                    <a href="" class="tab inherit noUnderline" ng-click="user.logout()">Logout <span class="gb-icon-logout"></span></a>
                                </li>
                                <!--<li ng-class="{isActive: vm.active=='SETTINGS'}">-->
                                <!--<a href="" class="inherit noUnderline" ui-sref="userSettings()" ng-click="vm.active='SETTINGS'">Settings</a>-->
                                <!--</li>-->
                            </ul>
                        </nav>
                    </div>
                </div>
                <div ui-view></div>
            </article>
            <div class="wrapper-horizontal-stripes" ng-if="!user.profile">
                <div class="horizontal-stripe white-background">
                    <div class="card card--login">
                        <div user-login></div>
                    </div>
                </div>
            </div>
        </div>
        <!--<ng-include src="'/api/template/site/footer.html?v=' + portal.BUILD_VERSION"></ng-include>-->
    </div>
</div>