.searchCard--publisher {
    .searchCard__type {
        @extends .hoverBox
        background-color #ff479c
        color white
    }
}
.searchCard__img--noCrop {
    width initial
    height initial
    max-height 64px
    border 1px solid #eee
}