.searchCard--publisher {
    .searchCard__img {
        width initial
        height initial
        max-height 64px
    }
    .searchCard__type {
        @extends .hoverBox
        background-color #ff479c
        color white
    }
}
