<div class="wrapper-horizontal-stripes occurrence-search__table">

    <div class="container-fluid white-background search-header">
        <div class="row">
            <div class="col-xs-12">
                <nav class="article-header__category article-header__category--deep">
                    <span class="article-header__category__upper">Search</span>
                    <span class="article-header__category__lower">Occurrences</span>
                </nav>
                <div class="small text-muted text-center" style="height:30px">{{occTable.count | number}} results</div>
                <div class="stripe-menu">
                    <a href="" ui-sref="occurrenceSearchTable()"
                       class="gb-icon-menu stripe-menu__option"
                       tooltip-placement="bottom"
                       uib-tooltip="Table"></a>
                    <a href="" ui-sref="occurrenceSearchGallery()"
                       class="gb-icon-photo stripe-menu__menu stripe-menu__option"
                       tooltip-placement="bottom"
                       uib-tooltip="Gallery"></a>
                    <a href="" ui-sref="occurrenceSearchMap()"
                       class="gb-icon-map-marker stripe-menu__menu stripe-menu__option"
                       tooltip-placement="bottom"
                       uib-tooltip="Map"></a>
                </div>
            </div>
        </div>
    </div>

    <!--<div>-->
        <!--<div class="horizontal-stripe white-background occurrence-search__summary">-->
            <!--<div class="container-fluid">-->


                <!--<div class="stripe-menu">-->
                    <!--<a href="" ui-sref="occurrenceSearchTable()"-->
                       <!--class="gb-icon-menu stripe-menu__option"-->
                       <!--tooltip-placement="top"-->
                       <!--uib-tooltip="Table"></a>-->
                    <!--<a href="" ui-sref="occurrenceSearchMap()"-->
                       <!--class="gb-icon-map stripe-menu__menu stripe-menu__option"-->
                       <!--tooltip-placement="top"-->
                       <!--uib-tooltip="Map"></a>-->
                   <!--<a href="" ui-sref="occurrenceSearchGallery()"-->
                       <!--class="gb-icon-photo stripe-menu__menu stripe-menu__option"-->
                       <!--tooltip-placement="top"-->
                       <!--uib-tooltip="Gallery"></a>-->
                <!--</div>-->

                <!--<div class="row">-->
                    <!--<div class="col-xs-12">-->
                        <!--{{occTable.count | number}} results-->
                    <!--</div>-->
                <!--</div>-->

                <!--<nav class="cms-header__category cms-header__category&#45;&#45;deep" style="position:absolute; top: 0; width:100%;">-->
                    <!--<span class="cms-header__category__upper">Search</span>-->
                    <!--<span class="cms-header__category__lower">Occurrences-->
                    <!--</span>-->
                <!--</nav>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <div class="horizontal-stripe white-background">
        <div class="occurrence-search__table__area">
            <div class="scrollable-y">
                <div class="table-container">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="text-capitalize" ng-repeat="field in ['scientificName', 'country', 'coordinates', 'basisOfRecord', 'month & year', 'dataset', 'issues', 'taxonRank', 'kingdom', 'phylum', 'class', 'order', 'family', 'genus', 'species']">{{field}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="result in occTable.results" >
                                <td class="table-cell--wide">
                                    <a ng-href="{{result.key}}">{{result.scientificName}}</a>
                                </td>
                                <td class="table-cell--normal">
                                    <a ng-href="{{result.key}}">{{result.country}}</a>
                                </td>
                                <td class="table-cell--normal">
                                    <a ng-href="{{result.key}}">
                                        {{occTable.formatCoordinates(result.decimalLatitude, result.decimalLongitude)}}
                                    </a>
                                </td>
                                <td class="table-cell--normal">
                                    <a ng-href="{{result.key}}" translate="bor.{{result.basisOfRecord}}"></a>
                                </td>
                                <td class="table-cell--narrow">
                                    <a ng-href="{{result.key}}">
                                        {{result.eventDate | amDateFormat:'MMMM YYYY'}}
                                    </a>
                                </td>
                                <td class="table-cell--wide">
                                    <a ng-href="{{result.key}}">{{result._dataset.title}}</a>
                                </td>
                                <td class="table-cell--narrow">
                                    <a ng-href="{{result.key}}">{{result.issues.length}}</a>
                                </td>

                                <td class="table-cell--narrow">
                                    <a ng-href="{{result.key}}" translate="taxonRank.{{result.taxonRank}}">{{result.taxonRank}}</a>
                                </td>

                                <td class="table-cell--narrow" ng-repeat="t in ['kingdom', 'phylum', 'class', 'order', 'family', 'genus']">
                                    <a ng-href="{{result.key}}">{{result[t]}}</a>
                                </td>

                                <td class="table-cell--wide">
                                    <a ng-href="{{result.key}}">{{result.species}}</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <uib-pagination
                                total-items="occTable.totalItems"
                                ng-model="occTable.currentPage"
                                max-size="occTable.maxSize"
                                items-per-page="occTable.limit"
                                class="pagination-sm"
                                boundary-link-numbers="false"
                                rotate="false"
                                ng-change="occTable.pageChanged()"
                                ng-show="occTable.count > occTable.limit">
                        </uib-pagination>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
