.occurrence-search__table {
    .occurrence-search__table__area {
        position relative
        overflow hidden
        width 100%
    }
    .table {
        tr, td, th {
            a, span {
                text-overflow ellipsis
                white-space nowrap
            }
        }
    }
}

.search-table {
    font-size 12px
    >tbody>tr>td {
        vertical-align middle
    }
    tr, td, th {
        overflow hidden
        > a, > span {
            color inherit
            //text-overflow ellipsis
            //white-space nowrap
            // padding-right 1em
            display block
            overflow hidden
            &:hover {
                text-decoration none
            }
            &.discreet {
                color lighten($discreetInk, 20)
            }
        }
    }
    th {
        //font-weight bold
        color $discreetInk
        white-space nowrap
    }
    tbody {
        //tr {
        //    cursor pointer
        //}
        tr:nth-of-type(even) {
            //background alpha($alternativeTableRow, 1)
        }
        tr:hover {
            background darken($lightBackground, 5)
        }
        >tr.lastCellFlexible>td:last-of-type{
            width auto !important
            > a, > span {
                width auto !important
            }
        }
    }
}

.table-container {
    max-width 100%
}

.table-cell {
    &--action {
        width 2em
        > a, > span {
            width 2em
        }
    }
    &--narrow {
        width 8em
        > a, > span {
            width 8em
        }
    }
    &--normal {
        width 12em
        > a, > span {
            width 12em
        }
    }
    &--wide {
        width 20em
        > a, > span {
            width 20em
        }
    }
    &--widder {
        width 30em
        > a, > span {
            width 30em
        }
    }
}

.table-container {
    position relative
    &__overlay {
        position absolute
        top 0
        left 0
        right 0
        bottom 0
        background rgba(255,255,255,.9)
    }
}

.issue-bullet {
    &__warn {
    color : #fdb002
    }
    &__error {
        color: tomato
    }
    &__approved {
        color: $olivine
    }
    &__no-indent {
        margin-left -12px
    }

}

//.gradient--right {
//	z-index 10
//	position absolute
//	right 0
//	top 0
//	bottom 0
//	width 20px
//	background linear-gradient(90deg, rgba(255,255,255,0), white)
//}

//.occurrence-search__summary {
//	>div {
//		position relative
//	}
//
//}