<div class="wrapper-horizontal-stripes occurrence-search__table">

    <div class="container-fluid white-background search-header">
        <div class="row">
            <div class="col-xs-12">
                <nav class="article-header__category article-header__category--deep">
                    <span class="article-header__category__upper">Search</span>
                    <span class="article-header__category__lower">Occurrences</span>
                </nav>
                <div class="search-header__description">
                    <span ng-if="occTable.hasData()">
                        {{occTable.occurrenceState.data.count | localNumber:occTable.occurrenceState.query.locale }} results
                    </span>
                </div>
                <div class="stripe-menu">
                    <span
                       class="gb-icon-menu stripe-menu__option stripe-menu__option is-active"
                       tooltip-placement="bottom"
                       uib-tooltip="Table"></span>
                    <a href="" ui-sref="occurrenceSearchGallery()"
                       class="gb-icon-photo stripe-menu__option"
                       tooltip-placement="bottom"
                       uib-tooltip="Gallery"></a>
                    <a href="" ui-sref="occurrenceSearchMap()"
                       class="gb-icon-map-marker stripe-menu__option"
                       tooltip-placement="bottom"
                       uib-tooltip="Map"></a>
                </div>
            </div>
        </div>
    </div>


    <div class="horizontal-stripe white-background">
        <ng-include src="'/templates/components/loader/loader.html'" ng-if="!occTable.hasData()"> </ng-include>
        <div class="occurrence-search__table__area" ng-if="occTable.hasData()">
            <div class="scrollable-y">
                <div class="table-container">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="text-capitalize" ng-repeat="field in ['scientificName', 'country', 'coordinates', 'basisOfRecord', 'month & year', 'dataset', 'issues', 'taxonRank', 'kingdom', 'phylum', 'class', 'order', 'family', 'genus', 'species']">{{field}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="result in occTable.occurrenceState.data.results" >
                                <td class="table-cell--wide">
                                    <a ng-href="{{result.key}}">{{result.scientificName}}</a>
                                </td>
                                <td class="table-cell--normal">
                                    <a ng-href="{{result.key}}">{{result.country}}</a>
                                </td>
                                <td class="table-cell--normal">
                                    <a ng-href="{{result.key}}">
                                        {{occTable.formatCoordinates(result.decimalLatitude, result.decimalLongitude)}}
                                    </a>
                                </td>
                                <td class="table-cell--normal">
                                    <a ng-href="{{result.key}}" translate="basisOfRecord.{{result.basisOfRecord}}"></a>
                                </td>
                                <td class="table-cell--narrow">
                                    <a ng-href="{{result.key}}">
                                        {{result.eventDate | amDateFormat:'MMMM YYYY'}}
                                    </a>
                                </td>
                                <td class="table-cell--wide">
                                    <a ng-href="{{result.key}}">{{result._dataset.title}}</a>
                                </td>
                                <td class="table-cell--narrow">
                                    <a ng-href="{{result.key}}">{{result.issues.length}}</a>
                                </td>

                                <td class="table-cell--narrow">
                                    <a ng-href="{{result.key}}" translate="taxonRank.{{result.taxonRank}}">{{result.taxonRank}}</a>
                                </td>

                                <td class="table-cell--narrow" ng-repeat="t in ['kingdom', 'phylum', 'class', 'order', 'family', 'genus']">
                                    <a ng-href="{{result.key}}">{{result[t]}}</a>
                                </td>

                                <td class="table-cell--wide">
                                    <a ng-href="{{result.key}}">{{result.species}}</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <uib-pagination
                                total-items="occTable.occurrenceState.data.count"
                                ng-model="occTable.currentPage"
                                max-size="occTable.maxSize"
                                items-per-page="occTable.limit"
                                class="pagination-sm"
                                boundary-link-numbers="false"
                                rotate="false"
                                ng-change="occTable.pageChanged()"
                                ng-show="occTable.occurrenceState.data.count > occTable.limit">
                        </uib-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
