.programmeProjects {
  .scrollable-y {
    border: 1px solid #ddd;
    background: white;
  }
  table {
    position: relative;
  }
  thead {
    position: sticky;
    top: 0;
    background: white;
    box-shadow: 0 0px 1px 1px #ddd;
  }
}