+isBelow($laptop) {
	.site_navbar .site_menu-main {
		a {
			display block
			padding vr-block(0.5) vr-block(1) vr-block(0.5) vr-block(2)
			line-height vr-block(1)
		}
		.site_menu-home {
			> * {
				box-shadow 0 1px 0 lighten($nav_drawer_bg, 5%) //used instead of border to keep the height
			}
		}
		.site_menu-home, .site_menu-1Level {
			> a {
				position relative
				&:before {
					speak none
					-webkit-font-smoothing antialiased
					-moz-osx-font-smoothing grayscale

					content $icon-string-home
					font-size vr-block(1)
					font-family gbificons
					position absolute
					left 10px
					top vr-block(0.5)
				}
			}
			a:hover, a.isActive {
				background-color rgba(0,0,0,0.15)
				/*color lighten($nav_drawer_color, 50%)*/
			}
			&.site_menu-get > a:before {
				content $icon-string-map
			}
			&.site_menu-share > a:before {
				content $icon-string-cloud-upload
			}
			&.site_menu-about > a:before {
				content $icon-string-info
			}
		}
		.site_menu-1Level{
			ul>li>a {
				color darken($nav_drawer_color, 20%)
				/*padding vr-block(0.25) vr-block(1) vr-block(0.25) vr-block(3)*/
			}
			ul>li>ul li>a {
				background darken($nav_drawer_bg, 8%)
				padding vr-block(0.25) vr-block(1) vr-block(0.25) vr-block(3)
			}
		}
		li {
			&.isCategory {
				>a {
					&:after {
						content '+'
						font-size (vr-block(1) / $perfect-fifth)
						font-family 'Helvetica'//gbificons
						position absolute
						right 10px
					}
				}
				> ul, >div>ul {
					position relative
					max-height 0
					overflow hidden
				}
				&.isExpanded {
					>a {
						&:after {
							content '–'
						}
					}
					> ul, >div>ul {
						transition max-height 1.3s
						max-height 1000px
					}
				}
			}
		}
	}
}



// LAPTOPS
+isAbove($laptop) {
	.site_menu-main {
		absolute(top left)
		.site_menu-home {
			>ul, >ul>li {
				float left
			}
		}
		.site_menu-home {
			> a {
				display inline-block
				float left
				width 0
				margin 0 vr-block(1.5)
				overflow hidden
				height vr-block(2.75)
				&:before {
					content $icon-string-logo
					display block
					width vr-block(3)
					text-align center
					absolute(top left)
					set-type(2)
					line-height vr-block(1)
					margin-top vr-block(1)
					font-family 'gbificons'
				}
			}
		}
		.site_menu-1Level {
			/*font-size 16px*/
			display inline-block
			set-type(0)
			>a {
				display inline-block
				padding 0 vr-block(1)
				line-height vr-block(2.75)
				height vr-block(2.75)
			}

		}
	}

	.site_navbar .site_menu-1Level {
		position relative

		>div {
			display none
		}
		> ul, div > ul {
			absolute()
			display none
			set-type()
			top vr-block(3)
			left 0
			li {
				background $navbar_dropdown_bg
			}
			li a {
				color #555
				padding 0 vr-block(1)
				display block
				overflow hidden
				width auto
				max-width vr-block(10)
				white-space nowrap
				text-overflow ellipsis
			}
		}
		&.isExpanded {
			> ul, >div>ul, >div {
				display block
			}
		}
		> ul {
			li:first-of-type {
			padding-top vr-block(0.5)
		}
			li:last-of-type {
				padding-bottom vr-block(0.5)
			}
		}
		&.isExpanded {
			&:before {
				content ''
				position absolute;
				width 900px
				height vr-block(1)
				left -300px
				top vr-block(2)
			}
			>a:after {
				content ''
				position absolute;
				width vr-block(15)
				height vr-block(3)
				right -(vr-block(15))
				top 0
				cursor default
			}
			
			&:after {
				position absolute
				bottom -(1 + vr-block(0.25))
				left vr-block(2)//50%
				margin-left -(vr-block(0.25) * 2)
				content ''
				triangle: 'up'(vr-block(0.25) * 2) $navbar_dropdown_bg
			}
		}
	}

	.site_menu-mega.site_menu-1Level{
		> div {
			fixed(left 0 top vr-block(3) right 0)
			/*max-width vr-block(40)*/
			background $navbar_dropdown_bg
			padding vr-block(0.5) vr-block(1) *$perfect-fourth
			> ul {
				position initial
				width 100%
				> li {
					lost-column 1 / 4 0 0
					max-width vr-block(12)
					> a {
						color $c_navbar_text
					}
				}
			}
		}
	}
}
