<div search-drawer filter="publisher.state" content-type="publishers" ng-class="{'is-active': publisher.showFilters}">
    <div class="site-drawer__section">

        <div class="search-bar filter-group">

            <form class="search-bar__term" ng-submit="publisher.search()">
                <input type="text"
                       id="siteSearch"
                       autocomplete="off"
                       ng-model="publisher.state.query.q"
                       placeholder="{{ 'search.search' | translate }}">
                <a href="" type="submit" class="gb-icon-search search-bar__search" ng-click="publisher.search()">
                    <span class="sr-only" translate="search.search"></span>
                </a>
            </form>

        </div>

        <div filter-enum filter-config="publisher.filters.countryCode" filter-state="publisher.state"></div>

    </div>
</div>

<div class="content__overlay hide-on-laptop" ng-click="publisher.showFilters = false" ng-if="publisher.showFilters"></div>

<div class="site-content">
    <div class="site-content__page">
        <div class="publisher-search-results light-background">
            <div class="wrapper-horizontal-stripes">
                <div class="horizontal-stripe--paddingless white-background search-header">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-12">
                                <nav class="article-header__category article-header__category--deep">
                                    <span class="article-header__category__upper" translate="search.header.searchPublishers"></span>
                                    <span class="article-header__category__lower" ng-if="publisher.hasData()" tx="search.nResults" tx-nr="publisher.state.data.count"></span>
                                    <span class="article-header__category__lower" ng-if="!publisher.hasData() && !publisher.state.failedRequest" translate="phrases.loading"></span>
                                    <span class="article-header__category__lower" ng-if="publisher.state.failedRequest" translate="phrases.failed"></span>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>

                <section class="horizontal-stripe--paddingless white-background">
                    <div class="container-fluid">
                        <div class="row">
                            <nav class="tabs">
                                <ul>
                                    <li class="tab" ng-class="{isActive: !publisher.state.query.advanced}">
                                        <span translate="search.allResultTypes"></span>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </section>


                <div class="horizontal-stripe light-background">
                    <ng-include src="'/templates/components/loader/loader.html'" ng-if="!publisher.hasData() && !publisher.state.failedRequest"></ng-include>
                    <div ng-if="publisher.hasData()">
                        <div ui-view ng-if="publisher.state.data.count > 0">

                        </div>
                        <div class="emptyInfo" ng-if="publisher.state.data.count === 0">
                            <h3 translate="phrases.noResultsMessage"></h3>
                        </div>
                    </div>
                    <div class="emptyInfo" ng-if="publisher.state.failedRequest">
                        <h3 translate="phrases.criticalErrorMsg"></h3>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="fab hide-on-laptop">
        <a href="" class="gb-button--brand" ng-click="publisher.showFilters = !publisher.showFilters" ng-if="!publisher.showFilters">
            <span><span class="gb-icon-filters"></span><span translate="search.filters"></span></span>
        </a>
    </div>
</div>