.filter-group--search {
    .dropdown-menu > li {
        .discreet {
            color #aaa
            font-weight 300
        }
        &.active {
            .discreet {
                color #8b9fa9
            }
        }
        > a {
            > div {
                white-space normal
            }
        }
    }
}