.dropdown-menu > li {
    .discreet {
        color #aaa
    }
    &.active {
        .discreet {
            color darken($navBar_background_color, 30)
        }
        > a .dropdown--expandOnFocus{
            white-space normal
        }

        .discreet, .classification-list.discreet span {
            color darken($navBar_background_color, 35)
            &:after {
                color darken($navBar_background_color, 20)
            }
        }

    }
    > a {
        > div {
            white-space normal
        }
    }
}