.filter-group--search {
	.dropdown-menu > li {
		.discreet {
			color #aaa
			font-weight light
		}
		&.active {
			.discreet {
				color #8b9fa9
			}
		}
		> a {
			> div {
				white-space normal
			}
		}
	}
}