<a ng-href="" class="seperator species-list seperator">
    <span ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
    <span class="small discreet" translate="taxonRank.{{match.model.rank}}">{{match.model.rank}}</span>
    <div class="small discreet classification-list">
        <span ng-repeat="taxa in ['kingdom', 'phylum', 'class', 'order', 'family', 'genus', 'species']"
              ng-if="match.model[taxa] && taxa != match.model.rank.toLowerCase()">
            {{match.model[taxa]}}
        </span>
    </div>
</a>