<div ui-view>
    <div class="horizontal-stripe--paddingless white-background">
        <div class="container--desktop">
            <div class="card-container--stats">

                {% include('./recordBreakdown/recordBreakdown.nunjucks') %}

                {% include('./countryCoverage/countryCoverage.nunjucks') %}

                {% include('./datasetBreakdown/datasetBreakdown.nunjucks') %}

                {% include('./news/news.nunjucks') %}

            </div>
        </div>
    </div>
</div>