.form-control {
    border none
    border-radius 0
    box-shadow none
    border 1px solid #ddd
    transition border-color 500ms ease
    background transparent
    &:focus {
        border-color $color_accent
        outline none
        box-shadow none
    }
}

.btn.flat {
    border-radius 0
    border none
    background-color transparent
    text-transform uppercase
    color $linkColor
}

.btn.flat.disabled, .flat.btn[disabled], fieldset[disabled] .btn.flat {
    color #aaa
}

.page--data {
    //font-weight 300
    //h1 {
    //    font-size 34px
    //}
}

.modal-content {
    box-shadow 0 3px 2px rgba(0,0,0,.2)
    border 1px solid rgba(0,0,0,.01)
}

.modal-dialog {
    margin-top 70px
}
+isAbove(600px) {
    .modal-dialog {
        margin-top 90px
    }
}
+isAbove($laptop) {
    .modal-dialog {
        margin-top 100px
    }
}