.form-control {
    border none
    border-radius 0
    box-shadow none
    border 1px solid #ddd
    transition border-color 500ms ease
    background transparent
    &:focus {
        border-color $color_accent
        outline none
        box-shadow none
    }
}