.search-results__list__item--publisher {
	@extends .search-results__list__item
	padding 40px 0

	//img {
	//	-webkit-filter: grayscale(100%);
	//	-webkit-transition: .2s ease-in-out;
	//	-moz-filter: grayscale(100%);
	//	-moz-transition: .2s ease-in-out;
	//	-o-filter: grayscale(100%);
	//	-o-transition: .2s ease-in-out;
	//}
	//&:hover {
	//	img {
	//		-webkit-filter: grayscale(0%);
	//		-webkit-transition: .2s ease-in-out;
	//		-moz-filter: grayscale(0%);
	//		-moz-transition: .2s ease-in-out;
	//		-o-filter: grayscale(0%);
	//		-o-transition: .2s ease-in-out;
	//	}
	//}



	//position relative
	//.search-results__counts {
	//	position absolute
	//	top 25px
	//	left -100px
	//	>div {
	//		display inline-block
	//		padding 15px
	//		text-align center
	//		.search-results__counts__bubble {
	//			margin auto
	//			width vrBlock(3)
	//			height vrBlock(3)
	//			text-align center
	//			line-height (vrBlock(3) - vrBlock(.5))
	//			border-radius 50%
	//			border vrBlock(.25) solid #77b6da
	//			font-weight bold
	//		}
	//		.search-results__counts__description {
	//			font-size 12px
	//		}
	//	}
	//}

}