//shared between elements and media queries
siteHeaderbar() {
	background $navbar_bg
	height $navbar_height
	border-bottom $navbar_borderWidth solid $navbar_BorderColor
	z-index 200
	color $navbar_textColor
}



//navigation layout
nav {
	position absolute
	top 0
	overflow-y auto
	-webkit-overflow-scrolling touch
	height 100%
	width $drawer-width
}

+isBelow($laptop) {
	nav {
		left -($drawer-width)
	}

	.siteCanvas {
		transition: left 500ms ease;
		position relative
		width 100%
		left 0
		&.hasActiveMenu {
			left $drawer-width
			.menu-link {
				display none
			}
			.close-link {
				display inline-block
			}
		}
	}
}

+isAbove($laptop) {
	header {
		display none
	}
	.SiteNav {
		&.isExpanded {
			>div>ul>li.isCategory.isExpanded>a {
				position relative
				&:after {
					position absolute
					top vr-block(2.5)
					left 50%
					margin-left -(vr-block(0.25) * 2)
					content ''
					triangle: 'up'(vr-block(0.25) * 2) $navbar_dropdown_bg
				}
			}
		}
		top 0
		left 0
		z-index 200
		height $navbar_height
		width 100%
		overflow visible
		position fixed
		>div>ul>li {
			display inline-block
			&.isCategory {
				> ul {
					top $navbar_height
					background $navbar_dropdown_bg
					position absolute
					padding vr-block(0.25) 0
					box-shadow 2px 3px 3px rgba(0,0,0,0.2)
					li {
						display block
						a {
							color $navbar_dropdown_color
							display block
							padding vr-block(0.25) vr-block(1)
							&:hover {
								background darken($navbar_dropdown_bg, 7%)
							}
						}
					}
				}
				/*&.isExpanded {*/
					/*>a {*/
						/*position relative*/
						/*&:after {*/
							/*position absolute*/
							/*top vr-block(2.75)*/
							/*left 50%*/
							/*margin-left -(vr-block(0.25) * 2)*/
							/*content ''*/
							/*triangle: 'up'(vr-block(0.25) * 2) $navbar_dropdown_bg*/
						/*}*/
					/*}*/
				/*}*/


				&.isMega {
					> ul {
						left 0
						right 0
						width 100% //500px
						padding vr-block(0.25) vr-block(3)
						> li {
							lost-column: 1 / 4
							> a {
								color $navbar_textColor
							}
							>ul {
								display block
							}
						}
					}
				}
			}
		}
		.ServiceMenu {
			>ul>li {
				position relative
				>ul {
					right 0
				}
			}
		}
		.MainMenu {
			display relative
			>ul, >a {
				float left
			}
			>ul>li>a:before {
				content ''
				content unset
			}
			>ul>li>a, >a {
				white-space nowrap
				display inline-block
				line-height ($navbar_height - $navbar_borderWidth)
				height ($navbar_height - $navbar_borderWidth)
				padding 0 vr-block(0.75)
			}
			>a {
				width vr-block(3)
				position relative
				span {
					position absolute
					left -9999px
				}
				&:before {
					content $icon-string-logo
					font-size vr-block(2)
					position absolute
					bottom vr-block(0.5)
				}
			}
		}
	}
}





//mobile navigation content
+isBelow($laptop) {
	.SiteNav{
		//set base colors
		background $nav_drawer_bg
		color $nav_drawer_color
		
		//all list items should have the same padding
		li>a, .MainMenu>a {
			display block
			padding vr-block(0.5) vr-block(1) vr-block(0.5) vr-block(2)
			line-height vr-block(1)
		}
		>div {
			//draw a thin line between sections
			> * {
				box-shadow 0 1px 0 lighten($nav_drawer_bg, 5%) //used instead of border to keep the height
			}
			
			//items with icons need additional styling
			a {
				position relative
				&:before {
					font-size vr-block(1)
					position absolute
					left 10px
					top vr-block(0.5)
				}
				
				//add an overlay instead of dark color since background changes
				&:hover, &.isActive {
					background-color rgba(0,0,0,0.15)
					/*color lighten($nav_drawer_color, 50%)*/
				}
			}
			>ul>li>ul>li {
				>a {
					color darken($nav_drawer_color, 20%)
					/*padding vr-block(0.25) vr-block(1) vr-block(0.25) vr-block(3)*/
				}
				>ul>li>a {
					background darken($nav_drawer_bg, 8%)
					padding vr-block(0.25) vr-block(1) vr-block(0.25) vr-block(3)
				}
				>ul>li>ul>li>a {
					background darken($nav_drawer_bg, 16%)
					padding vr-block(0.25) vr-block(1) vr-block(0.25) vr-block(4)
				}
				
			}
			li {
				&.isCategory {
					>a {
						&:after {
							content '+'
							font-size (vr-block(1) / $perfect-fifth)
							font-family 'Helvetica'//gbificons
							position absolute
							right 10px
						}
					}
					> ul, >div>ul {
						position relative
						max-height 0
						overflow hidden
					}
					&.isExpanded {
						>a {
							&:after {
								content '–'
							}
						}
						> ul, >div>ul {
							transition max-height 1.3s
							max-height 1000px
						}
					}
				}
			}
		}
	}
}
//nav content continues
+isAbove($laptop) {
	.SiteNav {
		siteHeaderbar()
	}
}



//navigation interaction

+isBelow($laptop) {
	.SiteNav .isCategory > ul {
		max-height 0
		overflow hidden
		margin 0
	}

	.SiteNav .isCategory.isExpanded {
		> ul {
			transition: max-height 500ms ease;
			max-height 500px
		}
	}
}

+isAbove($laptop) {
	.SiteNav .isCategory > ul {
		display none
	}
	.SiteNav>.ServiceMenu> ul {
		display block
	}

	.SiteNav.isExpanded .isCategory.isExpanded {
		> ul {
			display block
		}
	}
	/*.SiteNav--collapseMenu .isCategory.isExpanded {*/
		/*> ul {*/
			/*display none*/
		/*}*/
	/*}*/
}


actionIcon(){
	display inline-block
	padding vr-block(1.5) vr-block(1) vr-block(0.25) vr-block(1)
	relative()
	height vr-block(2.75)
	font-size (100 /$major-third) %
	line-height vr-block(1)
	&:before {
		display block
		width 100%
		text-align center
		absolute(top left)
		set-type(2)
		line-height vr-block(0)
		margin-top vr-block(1)
	}
}
a.actionIcon {
	actionIcon()
}






//service menu
+isBelow($laptop) {
	.ServiceMenu {
		.ServiceMenu__teaser {
			>a {
				display block
				height 100%
				width 100%
			}
			height vr-block(6)
			width 100%
			background url("/img/moth_pattern1.jpg")
			background-size cover
			position relative
			.ServiceMenu__teaser__message {
				line-height vr-block(1.5)
				padding 0 vr-block(0.5)
				font-size (100 /$major-second) %
				position absolute
				bottom 0
				background rgba(0,0,0,0.5)
				width 100%
				&:after {
					display block
					content '+'
					position absolute
					right vr-block(0.5)
					top 0
				}
			}
		}
		//interaction
		&.isExpanded {
			.ServiceMenu__teaser__message:after {
				content '-'
			}
		}
	}
}

//only beacuse ther isn't a js service to load user and such yet.
$ServiceMenu_teaser_pos_r = vr-block(0.5);
@keyframes fadeInOut {
	0% {
		opacity: 0;
		right $ServiceMenu_teaser_pos_r
	}
	20% {
		opacity: 0;
	}
	30% {
		opacity: 1;
	}
	84% {
		opacity: 1;
	}
	90% {
		right $ServiceMenu_teaser_pos_r
	}
	100% {
		opacity: 0;
		right -200px;
	}
}

+isAbove($laptop) {
	.ServiceMenu {
		position absolute
		right 0
		li {
			display inline-block
		}
		.ServiceMenu__teaser {
			position absolute
			top vr-block(3.5)
			width auto
			white-space nowrap
			padding vr-block(0.25) vr-block(1)
			opacity 0
			right -9999px;
			animation fadeInOut 5s
			background $Plum
			color $Mist
		}
		>ul>li>a {
			actionIcon()
		}
	}
}

//can there be multilayer menu and push on desktop
+isBelow($laptop) {
	.ServiceMenu{
		.ServiceMenu__search {
			display none
		}
	}
	.isOwnMenu {
		left -100%
		transition: left 500ms ease;
		position absolute
		top 0
		background pink
		width 100%
		height 100%
		> a {
			background #333
			display block //visual
			&:before {
				content 'back '
			}
		}
		&.isActive {
			left 0%
		}
	}
}

+isAbove($laptop) {
	.isOwnMenu {
		> ul {
			top $navbar_height
			right -300px
			transition: right 500ms ease;
			position absolute
			background pink
			width 300px
			height "calc(100vh - %s)" % $navbar_height
			> a {
				background #333
				display block //visual
				&:before {
					content 'back '
				}
			}
		}
		&.isActive > ul {
			right 0px
		}
	}
}



















main {
	position relative
	//position 0 simply to avoid reflows that could be expensive
	/*position absolute*/
	padding-top 0
	/*top $navbar_height*/
	width 100%
	/*height "calc(100vh - %s)" % $navbar_height*/
	height "calc(100% - %s)" % $navbar_height
	// overflow hidden
}
+isAbove($laptop) {
	main {
		padding-top $navbar_height
	}
}

.Site__contentArea {
	background $content_bg
	position relative //to be pushable by the filter drawer
	overflow hidden
	transition: right 500ms ease;
}
+isBelow($laptop) {
	.Site__contentArea {
		height: 100%
		right 0 //to make the transitition smooth we need a starting position
		
		.Site__contentArea__main {
			-webkit-overflow-scrolling touch
			overflow-y auto
			//overflow-x hidden
			height 100%
		}
	}

}
/*+isAbove($laptop) {*/
	/*.Site__contentArea__main {*/
		/*padding-left 85px*/
	/*}*/
/*}*/












//FILTERS

//use sibling elements

.Site__drawer {
	right 0
	width $drawer-width
	position absolute
	top 0px
	transition: right 500ms ease;
	height 100%//"calc(100vh - %s)" % $navbar_height
	right 0

	background pink
	overflow hidden
	> div {
		height 100%
		background #333
		color #ddd
		overflow-y auto
		-webkit-overflow-scrolling touch
	}
	&:target {
		~ .Site__contentArea {
			right $drawer-width
			overflow hidden
		}
	}
}





forceShowDrawer() {
	transition initial
	left 0
	~ .Site__contentArea {
		padding-left $drawer-width
	}
	&:target ~ .Site__contentArea {
		left 0
	}
}
+isAbove($laptop) {
	.Site__drawer {
		z-index 20
		right initial
		left -($drawer-width)
		transition: left 500ms ease;
		position fixed
		top $navbar_height
		&:target {
			right initial
			left 0
			/*~ .Site__contentArea {*/
				/*right initial*/
				/*left $drawer-width*/
			/*}*/
		}
		&.isLocked {
			forceShowDrawer()
		}
	}
	.Site__contentArea {
		transition: left 500ms ease;
		left 0
	}
}
+isAbove($desktop) {
	.Site__drawer {
		forceShowDrawer()
	}
}
