$menuBackgroundColor = $navBar_background_color //#76a576
//navbar
.rtl {
    .stickyNav {
        .gbif-logo {
            float right
        }
        &__actions {
            right auto
            left 0
        }
    }
}
.stickyNav {
    height $navBar_height
    position fixed
    width 100%
    z-index $zMenu
    left 0
    top 0
    //pretty
    font-size 1.125rem
    color $navBar_textColor
    background $navBar_background
    user-select none
    box-shadow 0 2px 2px rgba(0, 0, 0, .2)
    ul {
        padding 0
    }
    a {
        color inherit
        outline none
        &:focus {
            outline none
        }
        &:hover {
            text-decoration none
        }
    }
    &__container {
        position relative
        max-width 100%
        //pretty
        margin-left 1rem
        margin-right 1rem
    }
    .gbif-logo {
        float left
        position relative
        z-index 10
        //pretty
        margin-top 0.6rem
        svg {
            display inline-block
            width 2.3rem
            height 2.3rem
            .gbif-logo-svg {
                fill $navBar_textColor
            }
        }
    }
    &__actions {
        user-select none
        position absolute
        right 0
        z-index 10
        &__menu, &__action {
            font-size 1.85rem
            line-height $navBar_height
            width 2.5rem
            text-align center
            display inline-block
        }
        &__menu {
            display inline-block
        }
        &__login {
            display none
        }
        &__action {
            //display none
            position relative
            &--notification {
                &::after {
                    content ' '
                    display block
                    position absolute
                    width 10px
                    height 10px
                    background tomato
                    border-radius 50%
                    top 15px
                    right 5px
                    pointer-events: none
                }
                &.is-info {
                    &::after {
                        background #3c6d3c
                    }
                }
            }
        }
    }
}
body.hasTransparentMenu {
    padding-top 0
    .stickyNav {
        background transparent
        transition background 300ms ease
        box-shadow none
        &:hover {
            background rgba(0,0,0,0.2)
        }
        &.hasOffset {
            background $navBar_background
            box-shadow 0 2px 2px rgba(0, 0, 0, .2)
        }
    }
}

//navigation area
.mainNavigation {
    padding-top 3.125rem //TODO menu offset
    position fixed
    top 0
    left 0
    width 100%
    height 100%
    display block !important
    overflow auto
    visibility hidden //fade in
    opacity 0
    transition opacity 200ms ease-in
    overflow-x hidden
    //pretty
    background-color $menuBackgroundColor
    &.isActive {
        visibility visible
        opacity 1
        transition opacity 200ms ease-in
    }
}

.mobileMenu--active {
    .mainNavigation::before {
        content ''
        background-color $menuBackgroundColor
        width 100%
        height 3.125rem
        display block
        top 0
        left 0
        z-index 1
        position fixed
    }
}

.mainMenu {
    padding-left 0.75rem
    padding-right 0.75rem
    padding-top 3.625rem
    transform translate3d(0, 0, 0)
    transition transform 0.2s cubic-bezier(0, 0, 0.28, 1)
    a, a:focus {
        display block
        user-select none
    }
    h2 {
        font-size 1.2rem
        margin-bottom 1.25rem
        color darken($menuBackgroundColor, 20)
        letter-spacing 0.0225rem
        margin-top 3rem
        text-transform uppercase
    }
    &__parentItem {
        padding 0.875rem 0
        position relative
    }
    &__firstLevel {
        border-bottom 1px solid darken($menuBackgroundColor, 10)
    }
    &__columns {
        margin-bottom 0.625rem
    }
    &__childItem {
        a {
            padding 0.875rem 0
        }
        li {
            border-bottom 1px solid darken($menuBackgroundColor, 10)
        }
    }
    &__greenText {
        color darken($menuBackgroundColor, 20)
    }
}

.mainMenu .mainMenu__childGroup {
    display block
    overflow hidden
    max-height 0
    transform translate3d(100%, 0, 0)
}

.rtl {
    .mainMenu--hasChild .mainMenu__parentItem::after {
        right auto
        left 0
        transform rotate(90deg)
    }
    .mainMenu--childActive .mainMenu__parentItem {
        transform rotate(180deg)
    }
}
.mainMenu--hasChild .mainMenu__parentItem::after {
    @extends .iconFont
    transform rotate(-90deg)
    display inline-block
    font-size 1.5rem
    position absolute
    margin-top -0.1875rem
    top 50%
    right 0
    width 1.5rem
    height 1.5rem
    content $icon-string-angle-down
}

.mainMenu--childActive .mainMenu__parentItem {
    &::before {
        @extends .iconFont
        font-size 1.875rem
        content $icon-string-arrow-left-bold-circle-outline
    }
    &::after {
        content none
    }
}

//active
.rtl {
    .mainMenu .mainMenu--childActive {
        left auto 
        right 100%
    }
    .mainMenu .mainMenu__childGroup {
        transform translate3d(-100%, 0, 0)
    }
    .mainMenu--firstLevelActive .mainMenu {
        transform translate3d(100%, 0, 0)
    }
}
.mainMenu .mainMenu--childActive {
    position absolute
    left 100%
    top 0
    border-bottom 0
    width 100%
    padding-left 0.75rem
    padding-right 0.75rem
}

.mainMenu--childActive .mainMenu__parentItem {
    font-size: 0;
    position: absolute;
    top: 0.375rem;
    z-index: 1;
}

.mainMenu .mainMenu__childGroup {
    display block !important
    overflow hidden
    max-height 0
    transform translate3d(100%, 0, 0)
}

.mainMenu--firstLevelActive .mainMenu {
    transform translate3d(-100%, 0, 0)
    transition transform 0.2s cubic-bezier(0.28, 0, 1, 1)
    position relative
}

.mainMenu--hasChild.mainMenu--childActive .mainMenu__childGroup {
    max-height 200rem
    padding-top 2rem
    padding-bottom 6rem
    transform translate3d(0, 0, 0)
}

+isAbove($tablet) {
    .mainMenu {
        padding-left 1rem
        padding-right 1rem
    }

    .mainMenu > ul {
        width 33%
    }

    .mainMenu .mainMenu--childActive {
        padding-left 1rem
        padding-right 1rem
    }

    .mainMenu__childGroup {
        margin 0 (-($halfGutter))
    }
    .rtl {
        .mainMenu__columns {
            float right
        }
    }
    .mainMenu__columns {
        width 33%
        float left
        padding-left $halfGutter
        padding-right $halfGutter
    }
}

+isAbove($laptop) {
    .stickyNav {
        font-size $htmlFontSize
        ul {
            padding 0
        }
        ul li ul {
            color $bodyTextColor
        }
        &__actions {
            &__menu {
                display none
            }
            &__action {
                display inline-block
            }
            &__login {
                display inline
            }
        }
        .gbif-logo {
            margin-right 3rem
        }
    }
    .rtl {
        .stickyNav {
            .gbif-logo {
                margin-right 0
                margin-left 3rem
            }
        }
    }

    .mainMenu .mainMenu__childGroup {
        display none
    }

    .mainMenu__firstLevel {
        display inline-block
        border 0
    }

    .mainMenu--firstLevelActive .mainMenu {
        transform translate3d(0, 0, 0) !important
        position static
    }

    .mainNavigation {
        color inherit
        position static
        padding-top 0
        background-color transparent
        width auto
        overflow visible
        visibility visible
        opacity 1
        transition none
    }
    .mobileMenu--active .mainNavigation::before {
        content none
    }

    .mainMenu {
        //float left
        padding 0
        max-width $desktop
        margin auto
    }

    .mainMenu {
        > ul {
            width auto
        }
        h2 {
            font-size 0.9em
            color lighten($discreetInk, 20)
            margin 0
            padding 10px 0
            height 4em
            display none
        }
        &--hasGrandChild {
            h2 {
                display block
            }
        }
    }

    .mainMenu__childItem {
        li {
            border-bottom none
        }
        a {
            padding 0.5rem 1.1875rem
            margin 0 -1.1875rem
            &:hover {
                background #f2f2f2
            }
        }
    }
    .rtl {
        .mainMenu .mainMenu--childActive {
            right auto
        }
    }
    .mainMenu .mainMenu--childActive {
        padding 0
        width auto
        position relative
        left auto
    }

    .mainMenu__parentItem {
        padding 0 1rem
        line-height $navBar_height
        letter-spacing 0.02em
    }

    .mainMenu--hasChild .mainMenu__parentItem {
        &::after, &::before {
            content none
        }
    }

    .rtl .mainMenu--childActive .mainMenu__parentItem {
        transform none
    }
    
    .mainMenu--childActive .mainMenu__parentItem {
        position relative
        top auto
        font-size $htmlFontSize
        background-color darken($menuBackgroundColor, 5)
        color #fff !important
    }

    .mainMenu--hasChild.mainMenu--childActive .mainMenu__childGroup {
        overflow visible
        padding-top 0
        visibility visible
        opacity 1
        transition opacity 200ms cubic-bezier(0, 0, 0.5, 1)
        padding-bottom 0
    }

    .rtl .mainMenu .mainMenu__childGroup {
        left auto 
        right 0
    }
    .mainMenu .mainMenu__childGroup {
        margin 0 //
        transform translate3d(0, 0, 0)
        position absolute
        top 100%
        left 0
        background-color #fff
        box-shadow 0 0.1875rem 0.375rem 0 rgba(44, 62, 80, 0.25)
        border-radius 0 0 0.125rem 0.125rem
        display flex !important
        width auto
        visibility hidden
        opacity 0
        transition opacity 200ms cubic-bezier(0.5, 0, 1, 1)
    }

    .mainMenu__columns {
        padding 0.5rem 1.1875rem
        min-width 14rem
        max-width 17rem
        width auto
        border-right 1px solid rgba(190, 195, 200, 0.2)
        margin 0 !important
    }
}


.stickyNav__actions__login {
    font-size 12px
    text-align center
    overflow hidden
    line-height $navBar_height
    position relative
    top 1px
    .service-menu__button {
        padding 3px 5px
        width 100px
        background white
        color darken($navBar_background_color, 5)
        font-weight 500
        text-shadow none
        display inline-block
        padding 0 10px
        line-height 2em
        margin 0 10px
        border-radius 2px
        transition max-width 200ms ease
        overflow hidden
        text-overflow ellipsis
        white-space nowrap
    }
}