//SEARCH

//TODO is this used
.omnisearch-bar {
    position fixed
    //padding-top 4px
    width 100%
    background $searchBar_backgroundColor
    z-index 150
    box-shadow 0 2px 3px rgba(0, 0, 0, 0.2)
    max-height 0
    overflow hidden
    transition max-height 300ms ease
    &.is-active {
        max-height 200px
    }
    form {
        margin 10px auto
    }
    &__filters {
        margin 10px auto
        text-align center
        > div {
            margin -5px
        }
        a {
            margin 5px
        }
    }
}

.omnisearch-bar--static {
    position relative
}

+isAbove($desktop) {
    //.omnisearch-bar {
    //    form {
    //        margin-left 200px//$filterDrawerWidth + 20px
    //    }
    //    &__filters {
    //        margin-left 200px//$filterDrawerWidth + 20px
    //        text-align left
    //    }
    //}
}

.rtl {
    .search-box {
        input {
            padding-left vrBlock(1)
            padding-right 0
        }
        .search-box__submit {
            right auto
            left 0
        }
    }
}

.search-box {
    @extends .hoverBox
    background white
    color #444
    padding 12px 20px
    position relative
    max-width 100%
    input {
        border none
        padding-right vrBlock(1)
        width 100%
        overflow hidden
        text-overflow ellipsis
        &:focus {
            outline none
        }
        &::placeholder {
            color #ddd
            font-weight light
        }
    }
    .search-box__submit {
        position absolute
        right 0
        margin 8px 15px
        top 0
        font-size vrBlock(1.125)
    }
}

//layout
//TODO is this used at all
.search {
    position fixed
    top $navBar_height
    z-index 50
    width 100%
    height "calc(100% - %s)" % $navBar_height
    display none
    background $searchBg
    overflow hidden
    box-shadow 0 2px 2px rgba(0, 0, 0, 0.1)
    &.is-active {
        display block
        //+ .main {
        //	visibility hidden
        //}
    }
}

//.search-content {
//	overflow hidden
//	height 100%
//	-webkit-overflow-scrolling touch
//	overflow-y: auto;
//}

//content
.search-content {
    .search-form {
        width 100%
        max-width $contentWidth--normal
        margin auto
        margin vrBlock(0.25) auto
        padding 0 vrBlock(1)
        position relative
        input {
            width 100%
            height vrBlock(2)
            border none
            box-sizing border-box
            padding-right vrBlock(2)
            white-space nowrap
            overflow hidden
            text-overflow ellipsis
            background none
            color $searchInputColor
            font-size vrBlock(1)
            &:focus {
                outline none
            }
        }
        //&:after {
        //	content ' '
        //	display block
        //	width 100%
        //	border-bottom 1px solid #ccc
        //}
        button {
            outline none
            width vrBlock(1)
            height 100%
            background none
            position absolute
            font-size vrBlock(1.5)
            right vrBlock(1)
            top 0%
            float right
            border none
            &:before {
                display block
            }
        }
    }
}

+isAbove($laptop) {
    .search {
        overflow initial
        height auto
    }
}