<div class="container--narrow">
    <div class="row">
        <div class="col-xs-12">
            <ng-include src="'/templates/components/loader/loader.html'" ng-if="!resourceList.hasData()"></ng-include>
            <div ng-if="resourceList.hasData()">
                <p class="text-right">
                    <a ng-href="{{portal.urlPrefix}}/literature-tracking " class="m-b-1 discreet small" ng-if="resource.state.query.gbifDatasetKey || resource.state.query.publishingOrganizationKey" translate="help.citationExplainer"></a>
                </p>
                <div ng-repeat="result in resourceList.state.data.results">
                    <ng-include src="'/api/template/search/articleResult.html?v=' +     resourceList.BUILD_VERSION" ng-if="result.contentType == 'article'"></ng-include>
                    <ng-include src="'/api/template/search/eventResult.html?v=' +       resourceList.BUILD_VERSION" ng-if="result.contentType == 'event'"></ng-include>
                    <ng-include src="'/api/template/search/datauseResult.html?v=' +     resourceList.BUILD_VERSION" ng-if="result.contentType == 'dataUse'"></ng-include>
                    <ng-include src="'/api/template/search/newsResult.html?v=' +        resourceList.BUILD_VERSION" ng-if="result.contentType == 'news'"></ng-include>
                    <ng-include src="'/api/template/search/projectResult.html?v=' +     resourceList.BUILD_VERSION" ng-if="result.contentType == 'project'"></ng-include>
                    <ng-include src="'/api/template/search/programmeResult.html?v=' +   resourceList.BUILD_VERSION" ng-if="result.contentType == 'programme'"></ng-include>
                    <ng-include src="'/api/template/search/literatureResult.html?v=' +  resourceList.BUILD_VERSION" ng-if="result.contentType == 'literature'"></ng-include>
                    <ng-include src="'/api/template/search/toolResult.html?v=' +        resourceList.BUILD_VERSION" ng-if="result.contentType == 'tool'"></ng-include>
                    <ng-include src="'/api/template/search/documentResult.html?v=' +    resourceList.BUILD_VERSION" ng-if="result.contentType == 'document'"></ng-include>
                </div>

                <uib-pagination
                        total-items="resourceList.state.data.count"
                        ng-model="resourceList.currentPage"
                        max-size="resourceList.maxSize"
                        items-per-page="resourceList.limit"
                        class="pagination-sm"
                        boundary-link-numbers="false"
                        rotate="false"
                        ng-change="resourceList.pageChanged()"
                        ng-show="resourceList.state.data.count > resourceList.limit">
                </uib-pagination>
            </div>
        </div>
    </div>
</div>