<div class="container--narrow">
    <div class="row">
        <div class="col-xs-12">
            <ng-include src="'/templates/components/loader/loader.html'" ng-if="!resourceList.hasData()"></ng-include>
            <div ng-if="resourceList.hasData()">
                <p class="text-right">
                    <a ng-href="{{portal.urlPrefix}}/literature-tracking " class="m-b-1 discreet small" ng-if="resource.state.query.gbifDatasetKey || resource.state.query.publishingOrganizationKey" translate="help.citationExplainer"></a>
                </p>
                <p ng-if="resource.state.query.contentType == 'event'" class="text-right">

                    <a ng-href="webcal:{{ resourceList.dataApi }}newsroom/events/calendar/upcoming.ics" class="gb-button--discreet text-uppercase small"><span class="gb-icon-calendar"></span> <span translate="resource.subscribeToCalendar"></span></a>
                    <a ng-href="{{ resourceList.dataApi }}newsroom/events/upcoming.xml" class="gb-button--discreet text-uppercase small"><span class="gb-icon-rss"></span> Rss</a>

                </p>
                <p ng-if="resource.state.query.contentType == 'dataUse'" class="text-right">
                    <a ng-href="{{ resourceList.dataApi }}newsroom/uses/rss" class="gb-button--discreet text-uppercase small"><span class="gb-icon-rss"></span> Rss</a>

                </p>
                <p ng-if="resource.state.query.contentType == 'news'" class="text-right">
                    <a ng-href="{{ resourceList.dataApi }}newsroom/news/rss" class="gb-button--discreet text-uppercase small"><span class="gb-icon-rss"></span> Rss</a>

                </p>
                <div ng-repeat="result in resourceList.state.data.results">
                    <ng-include src="'/api/template/search/articleResult.html?v='+ resourceList.BUILD_VERSION +'&locale='+resourceList.locale" ng-if="result.contentType == 'article'"></ng-include>
                    <ng-include src="'/api/template/search/eventResult.html?v=' +       resourceList.BUILD_VERSION+'&locale='+resourceList.locale" ng-if="result.contentType == 'event'"></ng-include>
                    <ng-include src="'/api/template/search/datauseResult.html?v=' +     resourceList.BUILD_VERSION+'&locale='+resourceList.locale" ng-if="result.contentType == 'dataUse'"></ng-include>
                    <ng-include src="'/api/template/search/newsResult.html?v=' +        resourceList.BUILD_VERSION+'&locale='+resourceList.locale" ng-if="result.contentType == 'news'"></ng-include>
                    <ng-include src="'/api/template/search/projectResult.html?v=' +     resourceList.BUILD_VERSION+'&locale='+resourceList.locale" ng-if="result.contentType == 'project'"></ng-include>
                    <ng-include src="'/api/template/search/programmeResult.html?v=' +   resourceList.BUILD_VERSION+'&locale='+resourceList.locale" ng-if="result.contentType == 'programme'"></ng-include>
                    <ng-include src="'/api/template/search/literatureResult.html?v=' +  resourceList.BUILD_VERSION+'&locale='+resourceList.locale" ng-if="result.contentType == 'literature'"></ng-include>
                    <ng-include src="'/api/template/search/toolResult.html?v=' +        resourceList.BUILD_VERSION+'&locale='+resourceList.locale" ng-if="result.contentType == 'tool'"></ng-include>
                    <ng-include src="'/api/template/search/documentResult.html?v=' +    resourceList.BUILD_VERSION+'&locale='+resourceList.locale" ng-if="result.contentType == 'document'"></ng-include>
                </div>

                <uib-pagination
                        total-items="resourceList.state.data.count"
                        ng-model="resourceList.currentPage"
                        max-size="resourceList.maxSize"
                        items-per-page="resourceList.limit"
                        class="pagination-sm"
                        boundary-link-numbers="false"
                        rotate="false"
                        first-text="{{'stdTerms.first' | translate}}"
                        next-text="{{'stdTerms.next' | translate}}"
                        previous-text="{{'stdTerms.previous' | translate}}"
                        ng-change="resourceList.pageChanged()"
                        ng-show="resourceList.state.data.count > resourceList.limit">
                </uib-pagination>
            </div>
        </div>
    </div>
</div>