.searchCard {
    h2 {
        font-size 16px
        line-height 20px
        margin 0
    }
    &__type {
        padding 1px 5px;
        font-size 12px;
        //background: #f1f1f1;
        display inline-block
        float right
        color orange
    }

    &__img {
        width 128px
        float right
        border 1px solid #eee
        height 64px
        margin-left 5px
    }
}