<div class="container--narrow">
    <div class="row">
        <div class="col-xs-12">
            <div ng-repeat="result in resourceList.state.data.results">
                <ng-include src="'/api/template/search/eventResult.html?v={$ _BUILD_VERSION_ $}'" ng-if="result.contentType == 'event'"></ng-include>
                <ng-include src="'/api/template/search/datauseResult.html?v={$ _BUILD_VERSION_ $}'" ng-if="result.contentType == 'dataUse'"></ng-include>
                <ng-include src="'/api/template/search/newsResult.html?v={$ _BUILD_VERSION_ $}'" ng-if="result.contentType == 'news'"></ng-include>
                <ng-include src="'/api/template/search/projectResult.html?v={$ _BUILD_VERSION_ $}'" ng-if="result.contentType == 'project'"></ng-include>
                <ng-include src="'/api/template/search/programmeResult.html?v={$ _BUILD_VERSION_ $}'" ng-if="result.contentType == 'programme'"></ng-include>
                <ng-include src="'/api/template/search/literatureResult.html?v={$ _BUILD_VERSION_ $}'" ng-if="result.contentType == 'literature'"></ng-include>
                <ng-include src="'/api/template/search/toolResult.html?v={$ _BUILD_VERSION_ $}'" ng-if="result.contentType == 'tool'"></ng-include>
                <!--<div class="card m-b-1 searchCard">-->
                    <!--<div class="card__stripe">-->
                        <!--<div class="card__content">-->
                            <!--<span class="searchCard__type">{{result.contentType}}</span>-->
                            <!--<a class="inherit" ng-href="/{{result.contentType}}2/{{result.id}}/{{result._slug}}">-->
                                <!--<h2>-->
                                    <!--{{result.title}}-->
                                <!--</h2>-->
                            <!--</a>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="card__stripe">-->
                        <!--<div class="card__content">-->
                            <!--&lt;!&ndash;<div style="width:128px; float:right;margin-left:5px;background:#888">&ndash;&gt;-->
                            <!--&lt;!&ndash;<div class="teaser-map&#45;&#45;small">&ndash;&gt;-->
                            <!--&lt;!&ndash;<img src="//cartocdn-ashbu.global.ssl.fastly.net/timrobertson100/api/v1/map/3a222bf37b6c105e0c7c6e3a2a1d6ecc:1467147536105/0/0/0/0.png?cache_policy=persist">&ndash;&gt;-->
                            <!--&lt;!&ndash;<img ng-src="//api.gbif-uat.org/v2/map/occurrence/density/0/0/0.png?style=classic.poly&srs=EPSG%3A4326&bin=hex&hexPerTile=25&datasetKey=38b4c89f-584c-41bb-bd8f-cd1def33e92f">&ndash;&gt;-->

                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                            <!--&lt;!&ndash;</div>&ndash;&gt;-->

                            <!--<a href="/{{result.contentType}}2/{{result.id}}/{{result._slug}}"><img class="searchCard__img"-->
                                 <!--ng-src="{{ resourceList.imageCache }}128x64/{{ 'http:' + result.primaryImage.file.url | encodeURIComponent }}" ng-if="result.primaryImage.file.url">-->
                            <!--</a>-->
                            <!--<div>-->
                                <!--{{result._summary}}-->
                            <!--</div>-->
                            <!--<p class="discreet&#45;&#45;very smaller">-->
                                <!--Published by {{ result.publishingOrganizationTitle | limitTo:100 }}-->
                            <!--</p>-->
                            <!--<ul class="list-chips">-->
                                <!--<li>-->
                                    <!--<a ng-href="/resources/search?contentType={{ result.contentType }}">{{result.contentType}}</a>-->
                                <!--</li>-->
                                <!--<li>-->
                                    <!--<a ng-href="{$ gb.locales.urlPrefix $}/occurrence/search?dataset_key={{ result.key }}">{{ result.recordCount }} occurrences</a>-->
                                <!--</li>-->
                            <!--</ul>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            </div>
        </div>
    </div>
</div>
<!--<article class="wrapper-horizontal-stripes">-->


    <!--<div class="horizontal-stripe&#45;&#45;paddingless white-background search-header">-->
        <!--<div class="container-fluid">-->
            <!--<div class="row">-->
                <!--<div class="col-xs-12">-->
                    <!--<nav class="article-header__category article-header__category&#45;&#45;deep">-->
                        <!--<span class="article-header__category__upper">Search resources</span>-->
                        <!--<span class="article-header__category__lower" ng-if="resourceList.hasData()">-->
                            <!--{{resourceList.state.data.count | localNumber:resourceList.state.query.locale }} results-->
                        <!--</span>-->
                        <!--<span class="article-header__category__lower" ng-if="!resourceList.hasData()">-->
                            <!--Loading ...-->
                        <!--</span>-->
                    <!--</nav>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <!--<section class="horizontal-stripe&#45;&#45;paddingless white-background">-->
        <!--<div class="container-fluid">-->
            <!--<div class="row">-->
                <!--<nav class="tabs">-->
                    <!--<ul>-->
                        <!--<li class="tab isActive">-->
                            <!--<a href="" ui-sref="resourceSearchList({contentType:[]})">-->
                                <!--All-->
                            <!--</a>-->
                        <!--</li>-->

                        <!--<li class="tab">-->
                            <!--<a href="" ui-sref="resourceSearchList({contentType:['news']})">-->
                                <!--News-->
                            <!--</a>-->
                        <!--</li>-->

                        <!--<li class="tab">-->
                            <!--<a href="" ui-sref="resourceSearchList({contentType:['event']})">-->
                                <!--Events-->
                            <!--</a>-->
                        <!--</li>-->

                        <!--<li class="tab">-->
                            <!--<a href="" ui-sref="resourceSearchList({contentType:['document']})">-->
                                <!--Documents-->
                            <!--</a>-->
                        <!--</li>-->

                        <!--<li class="tab">-->
                            <!--<a href="" ui-sref="resourceSearchList({contentType:['project']})">-->
                                <!--Projects-->
                            <!--</a>-->
                        <!--</li>-->

                        <!--<li class="tab" uib-dropdown dropdown-append-to-body>-->
                            <!--<a href="" id="btn-append-to-body" type="button" uib-dropdown-toggle>-->
                                <!--More-->
                            <!--</a>-->
                            <!--<ul class="dropdown-menu dropdown-menu-right ng-cloak" uib-dropdown-menu role="menu"-->
                                <!--aria-labelledby="btn-append-to-body">-->
                                <!--<li role="menuitem"><a href="" ui-sref="resourceSearchList({contentType:['programme']})">Programmes</a></li>-->
                                <!--<li role="menuitem"><a href="" ui-sref="resourceSearchList({contentType:['literature']})">Literature</a>-->
                                <!--<li role="menuitem"><a href="" ui-sref="resourceSearchList({contentType:['tool']})">Tools</a>-->
                                <!--</li>-->
                            <!--</ul>-->
                        <!--</li>-->


                    <!--</ul>-->
                <!--</nav>-->
            <!--</div>-->
        <!--</div>-->
    <!--</section>-->


    <!--<div class="horizontal-stripe light-background">-->
        <!--&lt;!&ndash;<ng-include src="'/templates/components/loader/loader.html'" ng-if="!resourceList.hasData()"></ng-include>&ndash;&gt;-->
        <!--&lt;!&ndash;<div ng-if="resourceList.hasData()">&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="container&#45;&#45;narrow">&ndash;&gt;-->
        <!--&lt;!&ndash;{{resourceList.state}}&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->

        <!--<ng-include src="'/templates/components/loader/loader.html'" ng-if="!resourceList.hasData()"></ng-include>-->
        <!--<div ng-if="resourceList.hasData()">-->
            <!--<div class="container&#45;&#45;narrow">-->
                <!--<div class="row">-->
                    <!--<div class="col-xs-12">-->
                        <!--<div ng-repeat="result in resourceList.state.data.results">-->
                            <!--<div class="card m-b-1 searchCard">-->
                                <!--<div class="card__stripe">-->
                                    <!--<div class="card__content">-->
                                        <!--<span class="searchCard__type">{{result.contentType}}</span>-->
                                        <!--<h2>-->
                                            <!--<a ng-href="/{{result.contentType}}/{{result.id}}/{{result._slug}}">{{result.title}}</a>-->
                                        <!--</h2>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="card__stripe">-->
                                    <!--<div class="card__content">-->
                                    <!--&lt;!&ndash;<div style="width:128px; float:right;margin-left:5px;background:#888">&ndash;&gt;-->
                                        <!--&lt;!&ndash;<div class="teaser-map&#45;&#45;small">&ndash;&gt;-->
                                            <!--&lt;!&ndash;<img src="//cartocdn-ashbu.global.ssl.fastly.net/timrobertson100/api/v1/map/3a222bf37b6c105e0c7c6e3a2a1d6ecc:1467147536105/0/0/0/0.png?cache_policy=persist">&ndash;&gt;-->
                                            <!--&lt;!&ndash;<img ng-src="//api.gbif-uat.org/v2/map/occurrence/density/0/0/0.png?style=classic.poly&srs=EPSG%3A4326&bin=hex&hexPerTile=25&datasetKey=38b4c89f-584c-41bb-bd8f-cd1def33e92f">&ndash;&gt;-->

                                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                    <!--&lt;!&ndash;</div>&ndash;&gt;-->

                                        <!--<img class="searchCard__img"-->
                                             <!--ng-src="{{ resourceList.imageCache }}128x64/{{ 'http:' + result.primaryImage.file.url | encodeURIComponent }}" ng-if="result.primaryImage.file.url">-->
                                        <!--<p>-->
                                            <!--{{result._summary}}-->
                                        <!--</p>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</article>-->



<!--<div class="card m-b-1 card searchCard">-->
    <!--<div class="card__stripe">-->
        <!--<div class="card__content">-->
            <!--<span class="searchCard__type">{{result.contentType}}</span>-->
            <!--<h2>-->
                <!--<a ng-href="datause/83195/{&quot;en-GB&quot;:&quot;The adaptive role of seed oil content\n&quot;}"-->
                   <!--class="ng-binding"-->
                   <!--href="datause/83195/{&quot;en-GB&quot;:&quot;The adaptive role of seed oil content\n&quot;}">France</a>-->
            <!--</h2>-->
            <!--<p class="search-results__list__item__meta" style="-->
    <!--margin: 0;-->
    <!--font-size: 12px;-->
    <!--margin-top: 5px;-->
    <!--display: none;-->
<!--">Published by-->
                <!--<a class="ng-binding" href="../publisher/1928bdf0-f5d2-11dc-8c12-b8a03c50a862">SPN - Service du-->
                    <!--Patrimoine naturel, Muséum nation</a>-->
            <!--</p>-->

        <!--</div>-->
    <!--</div>-->
    <!--<div class="card__stripe">-->
        <!--<div class="card__content ng-binding">-->
            <!--<img src="/img/flags/FR.png" style="-->
    <!--max-width: 128px;-->
    <!--float: right;-->
    <!--border: 1px solid #eee;-->
    <!--/* padding: 5px; */-->
    <!--max-height: 64px;-->
<!--">-->
            <!--<div style="-->
    <!--width: 128px;-->
    <!--float: right;-->
    <!--display: none;-->
<!--">-->
                <!--<div class="teaser-map&#45;&#45;small">-->

                    <!--<img ng-src="//api.gbif.org/v1/map/density/tile.png?x=0&amp;y=0&amp;z=0&amp;palette=yellows_reds&amp;key=2435098&amp;type=TAXON&amp;resolution=4"-->
                         <!--src="//api.gbif.org/v1/map/density/tile.png?x=0&amp;y=0&amp;z=0&amp;palette=yellows_reds&amp;key=75956ee6-1a2b-4fa3-b3e8-ccda64ce6c2d&amp;type=DATASET&amp;resolution=4">-->
                <!--</div>-->
            <!--</div>-->
            <!--<p style="-->
    <!--display: none;-->
<!--"></p>-->
            <!--<div><p style="-->
    <!--margin-bottom: 0;-->
    <!--/* display: none; */-->
<!--">As a government department, Botswana National Museum is mandated to protect, preserve and promote Botswana’s cultural-->
                <!--and natural heritage for sustainab</p>-->
                <!--<p class="search-results__list__item__meta" style="-->
    <!--margin: 0;-->
    <!--font-size: 12px;-->
    <!--margin: 5px 0;-->
<!--">Endorsed by <a class="ng-binding" href="../publisher/1928bdf0-f5d2-11dc-8c12-b8a03c50a862">U.S. Geological Survey</a>-->
                <!--</p><span style="-->
    <!--padding: 1px 5px;-->
    <!--font-size: 12px;-->
    <!--background: #f1f1f1;-->
    <!--display: inline-block;-->
    <!--/* float: right; */-->
    <!--color: #636363;-->
    <!--/* border-right: 2px solid tomato; */-->
    <!--display: inline-block;-->
    <!--padding: 0 .17857142857125rem;-->
    <!--background: #f1f1f1;-->
    <!--border: 1px solid #ddd;-->
    <!--color: inherit;-->
    <!--text-decoration: none;-->
    <!--font-size: 12px;-->
<!--">2 datasets</span><span style="-->
    <!--padding: 1px 5px;-->
    <!--font-size: 12px;-->
    <!--background: #f1f1f1;-->
    <!--display: inline-block;-->
    <!--/* float: right; */-->
    <!--color: #636363;-->
    <!--/* border-right: 2px solid tomato; */-->
    <!--display: inline-block;-->
    <!--padding: 0 .17857142857125rem;-->
    <!--background: #f1f1f1;-->
    <!--border: 1px solid #ddd;-->
    <!--color: inherit;-->
    <!--text-decoration: none;-->
    <!--font-size: 12px;-->
    <!--margin-left: 2px;-->
<!--">Cameroon</span></div>-->

        <!--</div>-->
    <!--</div>-->
<!--</div>-->