.searchCard {
    h2 {
        font-size 16px
        line-height 20px
        margin 0
    }
    &__type {
        padding: 1px 5px;
        font-size: 12px;
        background: #f1f1f1;
        display: inline-block;
        float: right;
        color: #636363;
    }

    &__img {
        max-width 128px
        float right
        border 1px solid #eee
        max-height 64px
        margin-left 5px
    }
}