<article class="wrapper-horizontal-stripes networkKey">
    <div class="horizontal-stripe bare-background ng-cloak" ng-if="networkKey.datasets.count > 0">
        <span class="relative-anchor-offset"><a id="datasets"></a></span>
        <div class="container--normal">
            <p class="small discreet text-uppercase">
                Participating datasets
            </p>
            <div class="card">
                <div class="card__stripe">
                    <div class="stripeList" ng-show="networkKey.datasets.count > 0">
                        <ul>
                            <li ng-repeat="dataset in networkKey.datasets.results">
                                <a ng-href="/dataset/{{ dataset.key }}">
                                    <!--<div class="pull-right text-right">-->
                                        <!--<span class="numberBadge">-->
                                            <!--<span count="//api.gbif.org/v1/occurrence/search?datasetKey={{dataset.key}}" count-type>&nbsp;</span>-->
                                        <!--</span>-->
                                    <!--</div>-->
                                    <div class="title">
                                        {{ dataset.title }}
                                    </div>
                                    <div class="discreet small m-t-05 clearfix">
                                        <span>
                                            <span class="text-capitalize">{{ 'dataset.longType.' + dataset.type | translate }}.</span>
                                            <span>
                                                <span count="//api.gbif.org/v1/occurrence/search?datasetKey={{dataset.key}}" count-type>&nbsp;</span>
                                                Occurrences
                                            </span>
                                            <!--<span class="pull-right">-->
                                                <!--Updated <time am-time-ago="dataset.modified"></time>-->
                                            <!--</span>-->
                                        </span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="card__content m-l-1" ng-if="networkKey.datasets.count > networkKey.limit">
                        <uib-pagination
                                total-items="networkKey.datasets.count"
                                ng-model="networkKey.currentPage"
                                max-size="networkKey.maxSize"
                                items-per-page="networkKey.limit"
                                class="pagination-sm"
                                boundary-link-numbers="false"
                                rotate="false"
                                ng-change="networkKey.pageChanged()">
                        </uib-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>