<div class="filter-group rtl-bootstrap" ng-mouseover="vm.isHovered = true">
    <a href="" class="inherit" ng-click="vm.collapsed = !vm.collapsed">
        <h4>
            <span translate="{{vm.translationPrefix}}.{{vm.title}}">{{vm.title}}</span>
            <span class="gb-icon-angle-down pull-right" ng-if="vm.collapsed"></span>
            <span class="gb-icon-angle-up pull-right" ng-if="!vm.collapsed"></span>
        </h4>
    </a>

    <div class="filter-group__filter--facet" ng-class="{'filter-group__filter--collapsed': vm.collapsed}">
        <div class="is-padded">
            <div class="checkbox" ng-repeat="(key, option) in vm.options"
                 ng-if="vm.checkboxModel[key] || !vm.collapsed">
                <label>
                    <input type="checkbox" ng-model="vm.checkboxModel[key]" ng-change="vm.apply(option, checked)"
                           ng-disabled="vm.disabled">
                    <span class="filter-group__filter__name">
                        <span dir="auto" ng-class="{'filter-group__filter__name__title' : !vm.checkboxModel[key], 'discreet--very': !option.title}"
                              class="uppercase-first">{{(option.title) ? option.title : ('participationStatus.undefined' | translate) }}</span>
                        <span class="filter-group__filter__name__count" ng-if="vm.showFacetCount()">{{option.count | localNumber:vm.filterState.query.locale}}</span>
                    </span>
                </label>
            </div>
        </div>
    </div>
</div>

