.event {
    &__subtitle {
        >span {
            margin 0 10px
        }
    }
}

.article-header.horizontal-stripe {
    padding-bottom 2.142857142855rem
}

.article-header__button {
    margin 20px
}

.article-header__highlights {
    >div{
        >span {
            padding-right 5px
        }
        display inline-block
        margin 0 10px
    }
}