<div class="filter-group rtl-bootstrap" ng-mouseover="vm.isHovered = true">
    <a href="" class="inherit" ng-click="vm.filterConfig.expanded = !vm.filterConfig.expanded">
        <h4>
            <span translate="{{vm.filterConfig.title}}">{{vm.filterConfig.title}}</span>
            <span class="gb-icon-angle-down pull-right" ng-if="!vm.filterConfig.expanded"></span>
            <span class="gb-icon-angle-up pull-right" ng-if="vm.filterConfig.expanded"></span>
        </h4>
    </a>

    <div class="filter-group__filter--facet" ng-class="{'filter-group__filter--collapsed': !vm.filterConfig.expanded}">

        <div ng-if="vm.query.length > 0" class="is-padded overflow-hidden">
            <div class="checkbox" ng-repeat="key in vm.query">

                <!-- show selected filters. expand title of collapsed. show counts if expanded. consider moving this to a seperate directive -->
                <!--<label>-->
                    <!--<input type="checkbox" ng-model="vm.selected[key]" ng-change="vm.apply(option, checked)"-->
                           <!--ng-disabled="vm.disabled">-->
                    <!--<span class="filter-group__filter__name">-->
                        <!--<span class="uppercase-first filter-group__filter__name__title">{{key}}</span>-->
                        <!--<span class="filter-group__filter__name__count" ng-if="vm.showFacetCount()">{{option.count | localNumber:vm.filterState.query.locale}}</span>-->
                    <!--</span>-->
                <!--</label>-->

                <label>
                    <input type="checkbox" checklist-model="vm.query" checklist-value="key"
                           ng-change="vm.change(key, checked)">
                    <span class="filter-group__filter__name">
                        <div class="filter-group__filter__name__bar" ng-style="vm.getWidth(key)"
                             ng-if="vm.filterConfig.facets.hasFacets && !vm.filterConfig.facets.hideBar"></div>
                        <span dir="auto"
                              ng-class="{'filter-group__filter__name__title' : vm.filterConfig.expanded}"
                              xtranslate="{{vm.filterConfig.valueTranslationPrefix}}{{key}}">{{key}}</span>
                        <span class="filter-group__filter__name__count"
                              ng-if="vm.showFacetCount() && vm.filterState.data.facets">
                            {{vm.filterState.data.facets[vm.filterConfig.facets.facetKey].counts[key].count || 0 | localNumber:vm.filterState.query.locale}}
                        </span>
                    </span>
                </label>
            </div>
        </div>

        <!--<div class="is-padded">-->
            <!--<div class="checkbox" ng-repeat="(key, option) in vm.options"-->
                 <!--ng-if="vm.checkboxModel[key] || !vm.collapsed">-->
                <!--<label>-->
                    <!--<input type="checkbox" ng-model="vm.checkboxModel[key]" ng-change="vm.apply(option, checked)"-->
                           <!--ng-disabled="vm.disabled">-->
                    <!--<span class="filter-group__filter__name">-->
                        <!--<span ng-class="{'filter-group__filter__name__title' : !vm.checkboxModel[key]}"-->
                              <!--class="uppercase-first">{{option.title}}</span>-->
                        <!--<span class="filter-group__filter__name__count" ng-if="vm.showFacetCount()">{{option.count | localNumber:vm.filterState.query.locale}}</span>-->
                    <!--</span>-->
                <!--</label>-->
            <!--</div>-->
        <!--</div>-->

    </div>
</div>

