.map-legend {
    position absolute
    padding 0 20px 0 20px
    margin 0 auto
    bottom 0
    background-color rgba(173,203,220,0.2)
    box-shadow -1px -1px 2px 2px rgba(235,235,235,0.2)

    header {
        outline none
    }
    h4 {
        text-align center
        display inline-block
    }
    span {
        font-size 20px
    }
    ul {
        padding-left 0
        padding-bottom 10px
        text-align left
        height auto
        transition height 1s ease-out
        label {
            margin-left 8px
        }
        li {
            outline none
            >div {
                cursor pointer
            }
        }
    }
}

.map-legend-folded {
    @extend .map-legend
    ul {
        height 0
        overflow hidden
        padding-bottom 0
        transition height 1s ease-out
    }
}

+isAbove($toggle) {
    .map-legend {
        left 70px
    }
}

/*
.map-mapContainer-toggle {
    visibility hidden
}
+isAbove($tablet) {
    .map-mapContainer-toggle {
        visibility visible
    }
}
*/

.square-vp {
    display inline-block
    content " "
    width 20px
    height 10px
}
.square-vp--checked {
    @extend .square-vp
    background-color $votingParticipant
    border 1px solid $votingParticipantDimmed
}
.square-vp--unchecked {
    @extend .square-vp
    background-color $votingParticipantDimmed
    border 1px solid $votingParticipant
}

.square-acp {
    display inline-block
    content " "
    width 20px
    height 10px
}

.square-acp--checked {
    @extend .square-acp
    background-color $associateCountryParticipant
    border 1px solid $associateCountryParticipantDimmed
}
.square-acp--unchecked {
    @extend .square-acp
    background-color $associateCountryParticipantDimmed
    border 1px solid $associateCountryParticipant
}

.map-info-overlay {
    position absolute
    text-align left
    top 40px
    left 450px
    width 450px
    height 400px
    padding 0 20px
    border-radius 5px
    background-color $lightOverlayOpacity
    z-index 1000

    ul {
        padding-left 0
        li {
            font-size 18px
        }
    }
}

.map-info-overlay--none {
    display none
}

.info-pane__header {
    a {
        color $discreetInk
    }
}
.info-pane__digest {
    margin-bottom vrBlock(0.5)
}
