<div>
    <div id="map" class="svg-container"></div>
    <div id="infoPane"
    ng-class="infoPaneStatus ? 'map-info-overlay': 'map-info-overlay--none'">
        <a ng-href="/country/{{ISO2}}">
            <header style="background-image:url('//api.gbif.org/v1/image/unsafe/http%3A%2F%2Fcms.gbif-dev.org%2Fsites%2Fdefault%2Ffiles%2Fstyles%2Finline_header_image%2Fpublic%2Fgbif_scaled_contents%2Fdata_use%2F2017-January%2F83089%2FDatura_inoxia.jpg')">
                <h1 class="highlight" ng-if="vm.heads.participantInfo.name" ng-bind="vm.heads.participantInfo.name"></h1>
                <h1 class="highlight" ng-if="!vm.heads.participantInfo.name" translate="country.{{ISO2}}"></h1>
            </header>
        </a>
        <ul class="info-pane__header">
            <li ng-if="vm.heads.participantInfo.membershipType">
                <strong translate="directory.{{vm.heads.participantInfo.membershipType}}.one"></strong>
                <strong translate="theGbifNetwork.since"></strong>
                <strong ng-bind="vm.heads.participantInfo.membershipStart"></strong>
            </li>
            <li ng-if="vm.heads.HEAD_OF_DELEGATION.firstName">
                <span class="text-capitalize" translate="role.HEAD_OF_DELEGATION"></span>
                <strong ng-bind="vm.heads.HEAD_OF_DELEGATION.firstName"></strong>
                <strong ng-bind="vm.heads.HEAD_OF_DELEGATION.surname"></strong>
            </li>
            <li ng-if="vm.heads.NODE_MANAGER.firstName">
                <span class="text-capitalize" translate="role.NODE_MANAGER"></span>
                <strong ng-bind="vm.heads.NODE_MANAGER.firstName"></strong>
                <strong ng-bind="vm.heads.NODE_MANAGER.surname"></strong>
            </li>
        </ul>
        <ul class="info-pane__digest">
            <li ng-if="vm.endorsedPublisher > 0">
                <strong ng-bind="vm.endorsedPublisher"></strong>
                <span translate="theGbifNetwork.endorsedDataPublisher"
                      translate-values="{ NUMBER: vm.endorsedPublisherForm }"
                      translate-interpolation="messageformat"></span>
            </li>
            <li ng-if="vm.digest.counts.datasetFromCount">
                <strong ng-bind="vm.digest.counts.datasetFromCount | localNumber:gb.locale"></strong>
                <span translate="theGbifNetwork.occurrenceDatasetWith"
                      translate-values="{ NUMBER: vm.digest.counts.datasetFromCount}"
                      translate-interpolation="messageformat"></span>
                <strong ng-bind="vm.digest.counts.occurrenceFromCount | localNumber:gb.locale"></strong>
                <span translate="theGbifNetwork.record"
                      translate-values="{ NUMBER: vm.digest.counts.occurrenceFromCount}"
                      translate-interpolation="messageformat"></span>
            </li>
            <li ng-if="vm.digest.counts.checklistDatasetFromCount">
                <strong ng-bind="vm.digest.counts.checklistDatasetFromCount | localNumber:gb.locale"></strong>
                <span translate="theGbifNetwork.checklistDatasetWith"
                      translate-values="{ NUMBER: vm.digest.counts.checklistDatasetFromCount}"
                      translate-interpolation="messageformat"></span>
                <strong ng-bind="vm.digest.counts.checklistDatasetFromRecordCount | localNumber:gb.locale"></strong>
                <span translate="theGbifNetwork.record"
                      translate-values="{ NUMBER: vm.digest.counts.checklistDatasetFromRecordCount}"
                      translate-interpolation="messageformat"></span>
            </li>
            <li ng-if="vm.digest.counts.metadataDatasetFromCount">
                <strong ng-bind="vm.digest.counts.metadataDatasetFromCount | localNumber:gb.locale"></strong>
                <span translate="theGbifNetwork.metadataDataset"
                      translate-values="{NUMBER: vm.digest.counts.metadataDatasetFromCount}"
                      translate-interpolation="messageformat"></span>
            </li>
        </ul>
        <ul class="info-pane__digest">
            <li ng-if="vm.digest.counts.occurrenceContributingToCount">
                <span translate="theGbifNetwork.publishesDataCovering"></span><br/>
                <strong ng-bind="vm.digest.counts.occurrenceContributingToCount | localNumber:gb.locale"></strong>
                <span translate="theGbifNetwork.countriesTerritoriesAndIslands"></span>
            </li>
        </ul>
        <ul class="info-pane__digest">
            <li ng-if="vm.digest.counts.literatureAuthoredByCount">
                <strong ng-bind="vm.digest.counts.literatureAuthoredByCount"></strong>
                <span translate="theGbifNetwork.peerReviewedPublication"
                      translate-values="{NUMBER: vm.digest.counts.literatureAuthoredByCount}"
                      translate-interpolation="messageformat"></span>
            </li>
        </ul>
        <footer>

        </footer>
    </div>
    <div id="mapLegend" class="map-legend-toggle" ng-class="vm.expanded ? 'map-legend' : 'map-legend-folded'">
        <header ng-click="vm.expanded = !vm.expanded">
            <h4 translate="theGbifNetwork.legend"></h4>
            <span class="gb-icon-angle-up" ng-show="!vm.expanded"></span>
            <span class="gb-icon-angle-down" ng-show="vm.expanded"></span>
        </header>
        <ul>
            <li ng-click="vm.vpChecked = !vm.vpChecked; vm.toggleParticipant()">
                <div ng-class="vm.vpChecked ? 'square-vp--checked': 'square-vp--unchecked'"></div>
                <label translate="directory.voting_participant.one"></label>
            </li>
            <li ng-click="vm.acpChecked = !vm.acpChecked; vm.toggleParticipant()">
                <div ng-class="vm.acpChecked ? 'square-acp--checked':'square-acp--unchecked'"></div>
                <label translate="directory.associate_country_participant.one"></label>
            </li>
        </ul>
    </div>
</div>
