.hideInvalid.isInvalid {
    display none
}

.showBroken.isInvalid {
    background-image url("/img/brokenDoc.png")
    background-position center
    background-repeat no-repeat
    border 1px solid #ddd
    >img {
        display none
    }
}