<div class="horizontal-stripe--paddingless light-background seperator">
    <div class="container--normal">
        <div class="p-t-1">
            <div ng-if="userDownloads.loadingDownloads">
                <ng-include src="'/templates/components/loader/loader.html'"></ng-include>
            </div>
            <div ng-repeat="download in userDownloads.downloads.results">
                <a href="" class="gb-button--error m-b-05" ng-if="download.status == 'RUNNING' || download.status == 'PREPARING'" ng-click="userDownloads.cancelDownload(download.key)">Cancel download</a>
                <div class="card m-b-2">
                    <ng-include src="'/occurrence/download/' + download.key + '/card?locale=' + portal.LOCALE"></ng-include>
                </div>
            </div>

            <div ng-if="userDownloads.downloads && userDownloads.downloads.count > userDownloads.limit">
                <uib-pagination
                        total-items="userDownloads.downloads.count"
                        ng-model="userDownloads.currentPage"
                        max-size="userDownloads.maxSize"
                        items-per-page="userDownloads.limit"
                        class="pagination-sm"
                        boundary-link-numbers="false"
                        rotate="false"
                        first-text="{{'pagination.first' | translate}}"
                        next-text="{{'pagination.next' | translate}}"
                        previous-text="{{'pagination.previous' | translate}}"
                        ng-change="userDownloads.pageChanged()">
                </uib-pagination>
            </div>

            <div class="emptyInfo" ng-if="!userDownloads.loadingDownloads && userDownloads.downloads.count === 0">
                <h3 translate="profile.noDownloads"></h3>
                <div ng-bind-html="profile.suggestToSearchOccurrences | translate | md2html"></div>
            </div>

            <div class="emptyInfo" ng-if="!userDownloads.loadingDownloads && userDownloads.failedToLoadDownloads">
                <h3 translate="phrases.errorNotAuthorized"></h3>
                <p translate="phrases.errorTryToRefresh"></p>
            </div>

        </div>
    </div>
</div>
