<article class="wrapper-horizontal-stripes">

    <div class="horizontal-stripe--paddingless white-background search-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <nav class="article-header__category article-header__category--deep">
                        <span class="article-header__category__upper" translate="stdTerms.search"></span>
                        <span class="article-header__category__lower" translate="stdTerms.cms"></span>
                    </nav>
                    <div class="search-header__description" ng-if="cmsTable.hasData()">
                        <span ng-bind="cmsTable.state.data.count | localNumber:cmsTable.state.query.locale"></span>
                        <span translate="stdTerms.result"
                              translate-values="{NUMBER: cmsTable.state.data.count}"
                              translate-interpolation="messageformat"></span>
                        <!-- <span>page {{cmsTable.currentPage}} of {{cmsTable.totalPages}}</span> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="horizontal-stripe white-background">
        <ng-include src="'/templates/components/loader/loader.html'" ng-if="!cmsTable.hasData()"></ng-include>
        <div ng-if="cmsTable.hasData()">
            <div class="container--narrow">
                <div class="search-results__list row">
                    <div class="col-xs-12">

                        <article class="search-results__list__item cms-list-item--cms-search"
                                 ng-repeat="row in cmsTable.state.data.results">
                            <span class="search-results__list__item__tag">
                                <span translate="cms.contentType.{{row.type}}">{{row.type}}</span>
                                <span ng-if="row.literatureType" translate="cms.literatureType.{{row.literatureType}}"></span>
                            </span>
                            <img ng-if="row.images.length > 0"
                                 ng-src="{{cmsTable.imageCache}}{{row.images[0].styles.square_thumbnail | encodeURIComponent}}">
                            <div ng-if="row.authors.length > 0">
                                <span ng-repeat="author in row.authors | limitTo:6">{{ author.last_name }} {{ author.first_name | authorFirstName }}{{ $last ? '' : ', '}}</span>
                                <span ng-if="row.authors.length > 6">et al. </span>
                                <span ng-if="row.literatureYear.length !== 0">({{ row.literatureYear }})</span>
                            </div>

                            <h4 class="search-results__list__item__title">
                                <a ng-if="row.type !== 'dataset' && row.type !== 'literature' && row.type !== 'gbif_participant'" href="/{{ row.targetUrl }}" ng-bind-html="row.title | limitTo:150"></a>
                                <a ng-if="row.type == 'dataset' && row.type !== 'literature'" href="/dataset/{{ row.datasetUuid }}" ng-bind-html="row.title | limitTo:150"></a>
                                <a ng-if="row.type == 'literature' && row.hasOwnProperty('literatureUrl')" href="{{ row.literatureUrl }}" ng-bind-html="row.title | limitTo:150"></a>
                                <a ng-if="row.type == 'gbif_participant' && row.hasOwnProperty('participantIso2')" href="/country/{{ row.participantIso2 }}" ng-bind-html="row.title | limitTo:150"></a>
                                <span ng-if="row.type == 'literature' && !row.hasOwnProperty('literatureUrl')" ng-bind-html="row.title | limitTo:150"></span>
                            </h4>
                            <div class="search-results__list__item__citation" ng-if="row.type == 'literature'">
                                <span class="citation__journal-title" ng-bind="row.literatureSource"></span>
                                <span ng-if="row.literatureVolume.length !== 0">{{ row.literatureVolume }}</span>
                                <span ng-if="row.literatureIssue.length !== 0">({{ row.literatureIssue }})</span>
                                <span ng-if="row.literaturePages.length !== 0">{{ row.literaturePages }}</span>
                            </div>
                            <div class="search-results__list__item__summary"
                                 ng-show="row.summary.value !== undefined && row.type !== 'dataset'"
                                 ng-bind-html="row.summary.value"></div>
                            <div class="search-results__list__item__summary"
                                 ng-show="row.summary.value == undefined && row.type !== 'dataset'"
                                 ng-bind-html="row.summary | truncate:600"></div>

                            <div class="search-results__list__item__summary"
                                 ng-if="row.type === 'event'"
                                 ng-bind-html="row.summary ? row.summary : row.body | truncate:600"></div>

                            <div class="search-results__list__item__summary" ng-show="row.type == 'dataset'"
                                 ng-bind-html="row.body | truncate:600"></div>
                            <div class="search-results__list__item__summary" ng-show="row.type == 'literature'"
                                 ng-bind-html="row.abstract | truncate:600"></div>
                            <div class="search-results__list__item__summary" ng-show="row.type == 'gbif_participant'"
                                 ng-bind-html="row.history.en[0].value | truncate:600"></div>
                            <div class="search-results__list__item__keywords" ng-if="row.keywords.length > 0">
                                <span translate="cms.literature.keywords"></span>: <span ng-repeat="keyword in row.keywords">{{ keyword.name }}{{ $last ? '' : ', '}}</span>
                            </div>
                            <span ng-if="row.type == 'project'" ng-bind="row.projectId"></span>
                            <div ng-if="row.type !== 'literature' && row.type !== 'event'" class="search-results__list__item__time">{{ row.created * 1000 | date:'longDate' }}</div>
                            <div ng-if="row.type === 'event'" class="search-results__list__item__time">{{ row.dateText }}</div>
                        </article>

                        <uib-pagination
                                total-items="cmsTable.state.data.count"
                                ng-model="cmsTable.currentPage"
                                max-size="cmsTable.maxSize"
                                items-per-page="cmsTable.limit"
                                class="pagination-sm"
                                boundary-link-numbers="false"
                                rotate="false"
                                ng-change="cmsTable.pageChanged()"
                                ng-show="cmsTable.state.data.count > cmsTable.limit">
                        </uib-pagination>
                    </div>
                </div>


            </div>
        </div>
    </div>
</article>
