.sequenceMatcher {

   &__badge {
       max-width: 75px
       }
        &__summaryTable {
        tbody>tr>td {
            border-top 0px !important;
            padding-left 0px
            padding-bottom 0px
            padding-top 5px
            
        }

    }
  &__alignment {
            overflow: scroll
            word-wrap: normal
            &__small {
                font-size: 10px
              }
      }
   
    }


