.ipt {
    &__map-stats {
        background-color #5F9AE4 //#4d5258
        color white
        text-transform uppercase
        > div {
            padding vrBlock(1) 0
        }
    }
    &__map {
        height 220px
        position relative
        z-index 10
    }
}

+isAbove($tablet) {
    .ipt {
        &__map {
            height 420px
        }
    }
}