<aside id="userMenu" class="userMenu menubox ng-cloak" ng-class="{'is-active': vm.isActive}"
       click-outside="vm.isActive = false">
	<div class="menubox__wrapper">
        <a href="" ng-click="vm.close()" class="inherit noUnderline menubox__close gb-icon-close"></a>
		<div user-login ng-if="vm.isActive" class="menubox__content"></div>
	</div>
	    <script type="text/ng-template" id="gdprModal.html">
        <a href="" class="gb-icon-close_L inherit pull-right m-t-05 m-r-05" type="button" ng-click="$ctrl.cancel()"></a>
        <div class="gb-modal-header">
            <span class="modal-title body-text" id="modal-title">We have updated our privacy policy</span>
        </div>
        <div class="gb-modal-body" id="modal-body">
            <div class="gb-modal-body__content horizontal-stripe white-background">
                <p >
                   Please read the updated privacy policy <a ng-href="/terms/privacy-policy" target="_blank">here</a> 
                </p>
         
            </div>
        </div>
        </div>
        <div class="gb-modal-footer">
            <a href="" class="gb-button--flat pull-left" type="button" ng-click="$ctrl.cancel()">Cancel</a>
            <a href="" class="gb-button--primary" type="button" ng-click="$ctrl.ok()">Understood, and don't show me this again</a>
        </div>
    </script>
</aside>
