
.occurrenceMedia {
	margin auto
	padding 0 15px
	max-width $laptop
	columns 1 30px
	color #555
	font-size 12px
	.imgContainer {
		background #eee
		img {
			width 100%
			height 0
			padding-bottom 70%
			visibility hidden
			&.loaded {
				height auto
				padding-bottom 0
				visibility visible
			}
			&.failed {
				display none
			}
		}
	}
	.card {
		break-inside avoid-column
		margin-top 10px
		display inline-block
		width 100%
	}
	.card__content {
		padding vrBlock(0.5)
		overflow hidden
	}
	dl {
		margin 0
	}
	dd, dt {
		display inline
		word-break break-all
		word-wrap break-word
	}
	dt {
		text-transform capitalize
	}
	dt:after {
		content ':'
	}
	figcaption {
		color inherit
		p {
			max-width 100%
		}
		.details {
			display none
			&.show {
				display block
			}
		}
	}
}
.occurrenceMedia__dynamic {
	>.card {
		display none
		&.isShown {
			display inline-block
		}
	}
}

+isAbove(600px) {
	.occurrenceMedia {
		columns 2 30px
	}
}

+isAbove(900px) {
	.occurrenceMedia {
		columns 3 30px
	}
}

//$OccurrenceLargeGalleryLayout = (200px*5 + 4*30px )
+isAbove( $XL ) {
	.occurrenceMedia-wide {
		margin auto
		max-width $XL
		columns 5 30px
	}
}