.teaser-map {
	width 100%//256px
	height 0//128px
	padding-bottom 50%
	//border-radius 64px
	position relative
	overflow hidden
	img {
		position absolute
		top -33%//-48px
		width 100%
		padding 0
		margin 0
	}
}
.teaser-map--small {
	@extends .teaser-map
	width 128px
	height 64px
	border-radius 32px
	img {
		top -24px
	}
}

.teaser-map--smaller {
	@extends .teaser-map
	width 88px
	height 44px
	border-radius 22px
	img {
		top -16px
	}
}
