.card-columns {
	margin-left auto
	margin-right auto
	padding vrBlock(1)
	max-width 1666px
	//columns 2 30px
	display flex
	flex-wrap wrap
	>div {
		flex 0 0 auto
		padding 0 15px
		width 470px
	}
	.card {
		overflow hidden
		display inline-block
		break-inside avoid-column
		margin-top 10px
		display inline-block
		width 100%
		.card__content, .card__stribe {
			overflow hidden
		}
	}
}

.species-card__details {
	.card__stribe__content {
		>div {
			dl {
				margin 0
			}
		}
	}
	.tile>div {
		margin auto
	}
}
+isAbove($tablet) {
	.species-card__details {
		display flex
		.tile, .flag {
			flex 0 0 auto
		}
		.card__stribe__content {
			flex 1 1 auto
		}
	}
}
.species-overview-map {
	width 128px
	height 128px
	position relative
	overflow hidden
	img {
		position absolute
		top 0
		width 100%
		padding 0
		margin 0
	}
}

dl.inline {
	>div {
		dl {
		margin 0
		}
		dd, dt {
			display inline
			word-wrap break-word
		}
		dt {
			font-weight normal
			text-transform capitalize
		}
		dt:after {
			content ':'
		}
	}
}

a.inherit {
	color inherit
}