.badge {
    vertical-align baseline
}
.badge--error {
    background tomato
    color white
    font-weight inherit
}

.badge--warning {
    background #F5CC27
    color $bodyTextColor //darken(#756216, 50)
    font-weight inherit
}

.badge--info {
    background #aaa
    color white
    font-weight inherit
}

.badge--edited {
    background deepskyblue
    color $bodyTextColor //darken(#756216, 50)
    font-weight inherit
}

.badge--approved {
    background $olivine
    color $bodyTextColor //darken(#756216, 50)
    font-weight inherit
}

.badge--white {
    background white
    border 1px solid $bodyTextColor
    color $bodyTextColor
}


.badge-composite {
    display inline-block
    group()
    .badge {
        float left
    }
    .badge:first-of-type {
        border-radius 10px 0 0 10px
        display inline-block
    }
    .badge:last-of-type {
        border-radius 0 10px 10px 0
        display inline-block
    }
}
.badge-composite--error {
    @extends .badge-composite
    .badge {
        background tomato
        color white
        font-weight inherit
    }
    .badge:first-of-type {
        background darken(tomato, 10%)
        border-right 1px solid darken(tomato, 15%)
    }
    .badge:last-of-type {
        border-radius 0 10px 10px 0
        display inline-block
        border-left 1px solid lighten(tomato, 5%)
    }
}

.badge-composite--warning {
    @extends .badge-composite
    .badge {
        background #F5CC27
        color $bodyTextColor
        font-weight inherit
    }
    .badge:first-of-type {
        background darken(#F5CC27, 10%)
        border-right 1px solid darken(#F5CC27, 15%)
    }
    .badge:last-of-type {
        border-radius 0 10px 10px 0
        display inline-block
        border-left 1px solid lighten(#F5CC27, 5%)
    }
}

.badge-composite--info {
    @extends .badge-composite
    .badge {
        background #D3D3D3
        color $bodyTextColor
        font-weight inherit
    }
    .badge:first-of-type {
        background darken(#D3D3D3, 10%)
        border-right 1px solid darken(#D3D3D3, 15%)
    }
    .badge:last-of-type {
        border-radius 0 10px 10px 0
        display inline-block
        border-left 1px solid lighten(#D3D3D3, 5%)
    }
}
