.badge--error {
	background tomato
	color white
	font-weight inherit
}

.badge--warning {
	background #F5CC27
	color $bodyTextColor //darken(#756216, 50)
	font-weight inherit
}

.badge--info {
	background deepskyblue
	color $bodyTextColor //darken(#756216, 50)
	font-weight inherit
}

.badge--approved {
	background $olivine
	color $bodyTextColor //darken(#756216, 50)
	font-weight inherit
}

.badge--white {
	background white
	border 1px solid $bodyTextColor
	color $bodyTextColor
}