.badge--error {
	background tomato
	color white
	font-weight inherit
}

.badge--warning {
	background #F5CC27
	color $bodyTextColor //darken(#756216, 50)
	font-weight inherit
}

.badge--info {
	background #ccc
	color $bodyTextColor //darken(#756216, 50)
	font-weight inherit
}