<div dir="auto" class="rtl-bootstrap">
<h4 class="card-header text-center inline-block" translate="metrics.taxonomicOccDistribution">Taxonomic distribution of
    occurrences</h4>
<div class="chart-header-options inline-block pull-right">
    <a href="" class="gb-icon-sunburst inherit noUnderline" ng-click="occurrenceTaxonomyStats.api.asSunburst()"></a>
    <a href="" class="gb-icon-treemap inherit noUnderline" ng-click="occurrenceTaxonomyStats.api.asTreemap()"></a>
    <md-menu >
        <a href="" class="gb-icon-file-download  inherit noUnderline"
           ng-click="$mdMenu.open($event)"
        ></a>
        <md-menu-content width="2" ng-mouseleave="$mdMenu.close()">
            <md-menu-item>
                <md-button ng-click="occurrenceTaxonomyStats.api.png()">
                    PNG
                </md-button>
            </md-menu-item>

            <md-menu-item>
                <md-button  ng-click="occurrenceTaxonomyStats.api.svg()"> SVG
                </md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>
</div>
</div>
<div class="card" layout-fill layout-padding-gt-xs>
<div class="occ-taxonomy-content">
    <div ng-if="occurrenceTaxonomyStats.taxonomy.$resolved && occurrenceTaxonomyStats.taxonomy._error" class="emptyInfo--small">
    <h3 >Failed to load data ...</h3>
    </div>
    <div ng-if="occurrenceTaxonomyStats.taxonomy.$resolved && occurrenceTaxonomyStats.taxonomy.count === 0" class="emptyInfo--small">
        <h3 >No occurrences </h3>
    </div>

<div class="occ-taxonomy-overlay" ng-if="occurrenceTaxonomyStats.taxonomy._loading ">
    <div class="occ-taxonomy-overlay-content"  layout="row" layout-align="center center">
        <span flex></span><div layout="column" layout-align="center center">
        <div class="emptyInfo--small">
            <h3 ng-if="occurrenceTaxonomyStats.taxonomy._loading"><span translate="phrases.loading">Loading</span> ...</h3>
        </div>

    </div><span flex></span>
    </div>
</div>
    <div class="taxonomyStatsContainer">
    </div>

</div>
</div>