<div search-drawer filter="species.state" content-type="species" ng-class="{'is-active': species.showFilters}">
    <div class="site-drawer__section">
        <div class="search-bar search-bar filter-group">
            <form class="search-bar__term" ng-submit="species.search()">
                <input type="text"
                       id="siteSearch"
                       autocomplete="off"
                       ng-model="species.state.query.q"
                       placeholder="{{'search.search' | translate}}">
                <a href="" type="submit" class="gb-icon-search search-bar__search" ng-click="species.search()">
                    <span class="sr-only" translate="search.search"></span>
                </a>
            </form>
        </div>

        <div class="filter-group" ng-if="species.state.query.q">
            <div class="m-05 m-l-1">
                <span dir="auto" translate="speciesSearch.freeTextSearchFor" translate-values="{QUERY: species.state.query.q}"></span><br>
            <span dir="auto" translate="speciesSearch.limitSearchTo"></span>
                <select ng-model="species.state.query.qField">
                    <option value=""><em>{{ 'speciesSearch.limitResultsTo.all' | translate }}</em></option>
                    <option value="SCIENTIFIC" translate="speciesSearch.limitResultsTo.scientificNames"></option>
                    <option value="VERNACULAR" translate="speciesSearch.limitResultsTo.vernacularNames"></option>
                    <option value="DESCRIPTION" translate="speciesSearch.limitResultsTo.descriptions"></option>
                </select>
            </div>
        </div>

        <div filter-facet filter-config="species.filters.rank" filter-state="species.state"></div>

        <div filter-facet filter-config="species.filters.status" filter-state="species.state"></div>

        <div filter-facet filter-config="species.filters.highertaxonKey" filter-state="species.state"></div>

        <div filter-facet filter-config="species.filters.issue" filter-state="species.state"></div>

        <div filter-taxon filter-config="species.filters.dataset" filter-state="species.state"
             ng-if="species.state.query.advanced"></div>

        <div filter-taxon filter-config="species.filters.constituentKey" filter-state="species.state"
             ng-if="species.state.query.advanced"></div>

        <div filter-facet filter-config="species.filters.nameType" filter-state="species.state"
             ng-if="species.state.query.advanced"></div>

        <div filter-facet filter-config="species.filters.origin" filter-state="species.state"
             ng-if="species.state.query.advanced"></div>

        <div class="site-drawer__comment" ng-if="!species.state.query.advanced">
            <div translate="speciesSearch.youAreCurrentlySearchingInGBIFtaxonomy"></div>
            <div class="p-t-05">
                <a href="" class="gb-button--flat text-uppercase inherit" ng-click="species.state.query.advanced=true; species.toggleAdvanced()" translate="speciesSearch.SearchAcrossChecklists"></a>
            </div>
        </div>

    </div>
</div>


<div class="content__overlay hide-on-laptop" ng-click="species.showFilters = false" ng-if="species.showFilters"></div>

<div class="site-content">
    <div class="site-content__page">
        <div class="species-search-results light-background">
            <div class="wrapper-horizontal-stripes">
                <div class="horizontal-stripe--paddingless white-background search-header">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-12">
                                <nav class="article-header__category article-header__category--deep">
                                    <span class="article-header__category__upper" translate="search.header.searchSpecies"></span>
                                    <span class="article-header__category__lower" ng-if="species.hasData()" tx="search.nResults" tx-nr="species.state.data.count"></span>
                                    <span class="article-header__category__lower" ng-if="!species.hasData() && !species.state.failedRequest" translate="phrases.loading"></span>
                                    <span class="article-header__category__lower" ng-if="species.state.failedRequest" translate="phrases.failed"></span>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>

                <section class="horizontal-stripe--paddingless white-background">
                    <div class="container-fluid">
                        <div class="row">
                            <nav class="tabs">
                                <ul>
                                    <li class="tab" ng-class="{isActive: !species.state.query.advanced}">
                                        <a href="" ui-sref="speciesSearchList({advanced:undefined})" ui-sref-opts="{inherit: true}" translate="search.simple"></a>
                                    </li>

                                    <li class="tab" ng-class="{isActive: species.state.query.advanced}">
                                        <a href="" ui-sref="speciesSearchList({advanced:1})" ui-sref-opts="{inherit: true}" translate="search.advanced"></a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </section>


                <div class="horizontal-stripe light-background">
                    <ng-include src="'/templates/components/loader/loader.html'" ng-if="!species.hasData() && !species.state.failedRequest"></ng-include>
                    <div ng-if="species.hasData()">
                        <div ui-view ng-if="species.state.data.count > 0">

                        </div>
                        <div class="emptyInfo" ng-if="species.state.data.count === 0">
                            <h3 translate="phrases.noResultsMessage"></h3>
                        </div>
                    </div>
                    <div class="emptyInfo" ng-if="species.state.failedRequest">
                        <h3 translate="phrases.criticalErrorMsg"></h3>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="fab hide-on-laptop">
        <a href="" class="gb-button--brand" ng-click="species.showFilters = !species.showFilters" ng-if="!species.showFilters">
            <span><span class="gb-icon-filters"></span> <span translate="search.filters"></span></span>
        </a>
    </div>
</div>
