<div search-drawer filter="species.state" content-type="species">
    <div class="site-drawer__section">

        <div class="search-bar filter-group">

            <form class="search-bar__term" ng-submit="species.search()">
                <input type="text"
                       id="siteSearch"
                       autocomplete="off"
                       ng-model="species.state.query.q"
                       placeholder="Search for species">
                <a href="" type="submit" class="gb-icon-search search-bar__search" ng-click="species.search()">
                    <span class="sr-only">{$ __('stdTerms.search') $}</span>
                </a>
            </form>

        </div>

        <div class="filter-group text-center">
            <div class="gb-btn-group">
                <label ng-model="species.state.query.advanced" uib-btn-radio="false"
                       ng-change="species.toggleAdvanced()">Simple</label>
                <label ng-model="species.state.query.advanced" uib-btn-radio="true"
                       ng-change="species.toggleAdvanced()">Advanced</label>
            </div>
        </div>

        <div filter-facet filter-config="species.filters.rank" filter-state="species.state"></div>

        <div filter-facet filter-config="species.filters.status" filter-state="species.state"></div>

        <div filter-facet filter-config="species.filters.highertaxonKey" filter-state="species.state"></div>

        <div filter-facet filter-config="species.filters.issue" filter-state="species.state"></div>

        <div filter-facet filter-config="species.filters.datasetKey" filter-state="species.state"
             ng-if="species.state.query.advanced"></div>

        <div filter-facet filter-config="species.filters.constituentKey" filter-state="species.state"
             ng-if="species.state.query.advanced"></div>

        <div filter-facet filter-config="species.filters.nameType" filter-state="species.state"
             ng-if="species.state.query.advanced"></div>

        <div class="site-drawer__comment" ng-if="!species.state.query.advanced">
            <div>You are currently searching for species in the GBIF taxonomy. To search other checklists try advanced
                mode.
            </div>
            <div class="p-t-05">
                <a href="" class="inherit" ng-click="species.state.query.advanced=true; species.toggleAdvanced()">ADVANCED</a>
            </div>
        </div>

    </div>
</div>

<!--<div class="site-content">-->

    <!--<div class="site-content__page">-->
        <!--<div class="species-search-results">-->
            <!--<div ui-view>-->

            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<div class="site-content">
    <div class="site-content__page">
        <div class="species-search-results light-background">
            <div class="wrapper-horizontal-stripes">
                <div class="horizontal-stripe--paddingless white-background search-header">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-12">
                                <nav class="article-header__category article-header__category--deep">
                                    <span class="article-header__category__upper">Search species</span>
                        <span class="article-header__category__lower" ng-if="species.hasData()">
                            {{species.state.data.count | localNumber:species.state.query.locale }} results
                        </span>
                        <span class="article-header__category__lower" ng-if="!species.hasData() && !species.state.failedRequest">
                            Loading ...
                        </span>
                        <span class="article-header__category__lower" ng-if="species.state.failedRequest">
                            Failed
                        </span>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>

                <section class="horizontal-stripe--paddingless white-background">
                    <div class="container-fluid">
                        <div class="row">
                            <nav class="tabs">
                                <ul>
                                    <li class="tab" ng-class="{isActive: !species.state.query.advanced}">
                                        <a href="" ui-sref="speciesSearchList({advanced:undefined})" ui-sref-opts="{inherit: true}">
                                            GBIF Backbone
                                        </a>
                                    </li>

                                    <li class="tab" ng-class="{isActive: species.state.query.advanced}">
                                        <a href="" ui-sref="speciesSearchList({advanced:1})" ui-sref-opts="{inherit: true}">
                                            All checklists
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </section>


                <div class="horizontal-stripe light-background">
                    <ng-include src="'/templates/components/loader/loader.html'" ng-if="!species.hasData() && !species.state.failedRequest"></ng-include>
                    <div ng-if="species.hasData()">
                        <div ui-view ng-if="species.state.data.count > 0">

                        </div>
                        <div class="emptyInfo" ng-if="species.state.data.count === 0">
                            <h3>No results - try clearing your filters</h3>
                        </div>
                    </div>
                    <div class="emptyInfo" ng-if="species.state.failedRequest">
                        <h3>The request failed with a server error. That shouldn't happen :(</h3>
                    </div>
                </div>
            </div>

        </div>


    </div>
</div>
