#toast-container#toast-container {
    .toast.toast.toast.toast {
        background-image none!important
        padding vrBlock(1)
        opacity 0.9
    }
    .toast-error {
        background-color tomato
        .gb-button--primary {
            margin-top vrBlock(1)
            background white
            color tomato
        }
    }
}