.SearchResults__section {
	.gallery {
		background #F7F7F7
		white-space nowrap
		overflow hidden
		overflow-x overlay
		height 128px
		// display flex
		img, object {
			height 128px
			flex 0 0 auto
			display inline
		}
	}
}
    