.classification-list {
    a:after, span:after {
        font-style normal
        content ' \276f ' // ❯
        font-size 80%
        color #ccc
        display inline-block
        padding 0 3px
    }
    span:last-of-type:after, a:last-of-type:after {
        display none
    }
    &.discreet {
        span, a {
            color $discreetInk
            &:hover {
                color $discreetInk
            }
        }
    }
    .genus, .species {
        font-style italic
    }
}

// .rtl {
//     .classification-list {
//         a:after, span:after {
//             content ' \276e ' // ❮
//         }
//     }
// }