<div class="gb-map-wrapper" ng-click="vm.interactionWithMap()">
    <div class="map-controls light-background">
        <a href="" class="button gb-icon-drop" ng-click="vm.toggleStyle()" ng-class="{'is-active': vm.controls.style}"></a>
        <a href="" class="button gb-icon-funnel" ng-click="vm.toggleFilter()" ng-class="{'is-active': vm.controls.filters}"></a>
        <a href="" class="button gb-icon-butterfly" ng-click="vm.toggleProjection()" ng-class="{'is-active': vm.controls.projection}"></a>
        <a href="" ng-href="/occurrence/search?{{vm.getExploreQuery()}}" class="button gb-icon-microscope"></a>
    </div>
    <div class="map-controls-area" ng-show="vm.controls.style">
        <div>
            <p>
                Style your map.
            </p>
            <p>Coming soon</p>
        </div>
    </div>
    <div class="map-controls-area" ng-show="vm.controls.filters">
        <div>
            <div class="form-group">
                <div>
                    <div class="checkbox" ng-repeat="(bor, val) in vm.basisOfRecord">
                        <label><input type="checkbox" name="basisOfRecord" ng-model="vm.basisOfRecord[bor]" ng-change="vm.updateMap()"><span class="text-capitalize" translate="basisOfRecord.{{bor}}"></span></label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="map-controls-area" ng-show="vm.controls.projection">
        <div>
            <p>
                Earth is round, your screen is flat. Choose a projection.
            </p>
            <p>Coming soon</p>
            <!--p id="position"></p>
            <div class="form-group">
                <div>
                    <label class="radio-inline">
                        <input type="radio" name="srs" id="srs3857" value="EPSG:3857" ng-model="vm.projection.epsg" ng-change="vm.updateProjection()"> Mercator
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="srs" id="srsWGS84" value="EPSG:4326" ng-model="vm.projection.epsg" ng-change="vm.updateProjection()"> WGS84
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="srs" id="srs3575" value="EPSG:3575" ng-model="vm.projection.epsg" ng-change="vm.updateProjection()"> Arctic
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="srs" id="srs3031" value="EPSG:3031" ng-model="vm.projection.epsg" ng-change="vm.updateProjection()"> Antarctic
                    </label>
                    {{vm.projection.epsg}}
                </div>
            </div-->
        </div>
    </div>
    <div class="gb-map-container" ng-click="vm.toggleControls()" ng-scroll="vm.toggleControls()">
        <div class="globe-context">
            <canvas class="globe"></canvas>
        </div>
        <div class="map-area"></div>
    </div>
    <div class="time-slider time-slider__card">
        {{vm.clicked}}
        <div class="gb-btn-group time-slider__buttons">
            <label ng-model="vm.allYears" uib-btn-radio="true"
                   ng-change="vm.updateMap()">All time</label>
            <label ng-model="vm.allYears" uib-btn-radio="false"
                   ng-change="vm.updateMap()"><span class="time-slider__years"></span></label>
        </div>
        <div class="time-slider__container">
            <div class="time-slider__slider" ng-class="{'is-active': !vm.allYears}"></div>
        </div>
    </div>

</div>