$home_overlay_opacity = 0.3
$dark_overlay_opacity = 0.4
$home_overlay_color_from = rgba(0, 0, 0, $home_overlay_opacity)
$home_overlay_color_to = rgba(0, 0, 0, 0)
$dark_overlay_color = rgba(0, 0, 0, $dark_overlay_opacity)

.confirmUser {
    min-height 100vh
    padding-top 100px
    background-color $navBar_background_color
    background-image linear-gradient(to right, $home_overlay_color_from, $home_overlay_color_to), url("//api.gbif.org/v1/image/unsafe/1500x750/http:%2F%2Fimages.contentful.com%2Fq553fnlofhvs%2Fu42ztYDTy0swCYeC8iOwe%2F565d6151d833ef85881292ae03879d9b%2FWhite_Leadtree_Leucaena_leucocephala.jpg")
    background-size cover
    background-position center
    padding-top: 100px
    .card {
        margin auto
        max-width 400px
    }
}


.imageWithCaption {
    position relative
    &__caption {
        font-size 12px
        position absolute
        right 0
        bottom 0
        padding 5px 10px
        color rgba(255, 255, 255, 0.5)
        a {
            color inherit
            text-decoration underline
        }
        &:hover {
            color white
            background rgba(0, 0, 0, 0.3)
        }
    }
}

