.contacts-nav__wrapper {
    .contacts-nav {
        display none
    }
}

+isAbove($laptop) {
    .contacts-nav__wrapper {
        float left
        position relative

        .contacts-nav {
            display block

            .nav-chapters {
                padding 8px 20px 15px
                height 100%
            }
            .nav-chapter {
                position relative
                margin-left 6px
                padding 0 0 8px
                a {
                    padding-left 10px
                    margin-left -10px
                    display block
                    line-height 1rem
                    border-left 2px solid transparent
                    color inherit
                }
                &.active {
                    a {
                        border-left 2px solid grey
                    }
                }
            }
            .h4 {
                margin-bottom 0
            }
        }
        .contacts-nav--bottom {
            top auto
            bottom 0
        }
        .contacts-nav--fixed {
            position fixed
            top $navBar_height
        }
    }
}

.contacts__table {
    > div {
        padding 0 15px
    }
    table.table {
        thead, tbody, tr, th, td {
            display block
        }
        thead tr th {
            position absolute
            text-transform capitalize
            top -9999px
            left -9999px
        }
        tr {
            border-top 1px solid #ccc
        }
        tbody {
            tr {
                th, td {
                    border none
                    border-bottom 1px solid #eee
                    position relative
                    display inline-block
                    width 100%
                }
            }
        }
    }
}

+isAbove($tablet) {
    .contacts__table {
        
        .table-container--contacts {
            max-width 600px
            margin 0 auto
            padding-left 100px
        }
        
        table.table {
            font-size 13px
            display table
            thead {
                display table-header-group
            }
            tbody {
                display table-row-group
            }
            tr {
                display table-row
                border-top none
            }
            th {
                display table-cell
            }
            thead tr {
                th {
                    font-weight bold
                    position relative
                    white-space nowrap
                    top 0
                    left 0
                    
                    a {
                        display inline-block
                        color inherit
                        padding-right 0
                        white-space normal
                    }
                    a:hover {
                        text-decoration none
                    }
                    div {
                        display inline-block
                        font-size 18px
                        width 18px
                        margin-top -8px
                        height 20px
                        vertical-align middle
                    }
                }
            }
            tbody {
                tr {
                    td {
                        border-bottom none
                        display table-cell
                        width auto
                        vertical-align middle
                    }
                    td:first-of-type {
                        width 250px
                        min-width 250px
                    }
                }
                tr:nth-of-type(even) {
                    background alpha($alternativeTableRow, 1)
                }
            }
        }
    }
}

+isAbove(900px) {
    .contacts__table {
        .table {
            thead tr {
            }
            tbody tr {
            }
        }
    }
}

.contacts__item {
    position relative
    address {
        margin-bottom 5px
    }
    > address, > i {
        position relative
    }
    > i {
        font-size 60px
        margin-right 20px
        float none
        position absolute
        color #ededed
        top 0
        right 0
    }
    .contact__heading {
        cursor pointer
    }
    .contact__body {
        overflow-y hidden
        max-height 0 /* approximate max height */
        transition-property all
        transition-duration .5s
        transition-timing-function cubic-bezier(0, 1, 0.5, 1)
        margin-bottom 5px
    }
    .contact__body.contact--show {
        max-height 120px
    }
}

.contact {
    &__mail, &__phone {
        overflow hidden
        text-overflow ellipsis
        white-space nowrap
        width 100%
        display inline-block
        float left
    }
}