.mapWidget {
  &__mapWrapper {
    position relative
  }
  &__controls {
    border-top 1px solid rgba(0, 0, 0, 0.2)
    background white
  }
  &__inlineOption, &__options {
    display inline-block
  }
  &__options {
    float right
    > div {
      > a {
        color lighten($discreetInk, 30)
        display inline-block
        font-size 22px
        width 30px
        line-height 30px
        height 30px
        margin-top 7px
        text-align center
      }
    }
  }
  &__control {
    position absolute
    padding 10px
    max-height 100%
    max-width 100%
    overflow auto
    bottom 0
    right 0
    > div {
      background white
      border 1px solid rgba(0, 0, 0, 0.2)
      border-radius 3px
      padding 10px
      .gb-radio {
        > label {
          display block
        }
      }
    }
  }
}