.mapWidget {
    overflow initial
    background darken($lightBackground, 5)
    position relative
    &__mapArea {
        position relative
        z-index 10
    }
    .mapPopups {
        z-index 60
    }
    &.fullscreen.fullscreen.fullscreen {
        position fixed
        z-index $zSiteOverlay
        height auto
        top 0//$navBar_height
        bottom 0
        width 100%
        left 0
        right 0
        .mapWidget__mapWrapper, .mapWidget__mapArea {
            height calc(100vh - 40px)
            padding-bottom 0 !important
        }
        .mapWidget__spacer {
            display none
        }
    }
    &.isSmall {
        .mapWidget__options, .mapWidget__inlineOption {
            width 100%
            display inline-block
        }
        .time-slider__container {
            margin-left 20px
        }
        .mapWidget__control {
            padding 0
            overflow auto
            bottom 0
            left 0
            top 0
            >div {
                min-height 100%
                min-width 100%
            }
        }
    }
    &__mapButtons {
        position absolute
        z-index 20
        left 0.5rem
        top 0.5rem
        background #aaa
        >a {
            background #fff
            font-size 22px
            display block
            text-decoration none
            text-align center
            height 24px
            width 24px
            line-height 22px
            background-color rgba(0,60,136,.5)
            border 1px solid #aaa
            background white
            color #444
            &:hover {
                background #efefef
            }
            &.smallIcon {
                font-size 14px
            }
            &.is-active {
                color $navBar_background_color
            }
        }
        
    }
    &__drawButtons {
        position absolute
        z-index 20
        right 0.5rem
        top 0.5rem
        background #aaa
        >a {
            background #fff
            font-size 22px
            display block
            text-decoration none
            text-align center
            height 24px
            width 24px
            line-height 22px
            background-color rgba(0,60,136,.5)
            border 1px solid #aaa
            background white
            color #444
            &:hover {
                background #efefef
            }
            &.smallIcon {
                font-size 14px
            }
            &.is-active {
                color $navBar_background_color
            }
        }
        
    }
    &__progress {
        position absolute
        bottom 0
        left 0
        height 3px
        background deepskyblue
        width 0
        transition width 250ms
        max-width 100%
        z-index 15
    }
    &__mapWrapper {
        position relative
        z-index 5
    }
    &__inlineOption, &__options {
        display inline-block
    }
}

.time-slider__card {
    display inline-block
    //border 1px solid rgba(0, 0, 0, 0.2)
    //border-radius 3px
    font-size 12px
    .time-slider__buttons, .time-slider__container {
        display inline-block
        padding 5px
        color #bbb
    }
    .time-slider__container {
        padding 2px 20px 2px 0 //from tweaking the numbers to align.
    }
    .time-slider__slider {
        width 150px
    }
}

.fixedSizes {
    .mapWidget {
        .mapWidget__spacer {
            width 100%
            height 0
            padding-bottom 70%
        }
        .mapWidget__mapWrapper {
            position relative
            .mapWidget__mapArea {
                position absolute
                top 0
                right 0
                left 0
                bottom 0
            }
        }
        &.isLarge {
            .mapWidget__spacer {
                width 100%
                height 0
                padding-bottom 40%
            }
        }
    }
}

.fitSize {
    .mapWidget {
        height 100%
        width 100%
        .mapWidget__mapWrapper{
            height calc(100% - 40px)
        }
        .mapWidget__mapArea {
            height 100%
        }
        .mapWidget__spacer {
            display none
        }
    }
    &--noBar {
        .mapWidget {
            .mapWidget__mapWrapper {
                height 100%
            }
        }
    }
}

.fitContainer {
    .mapWidget {
        height 100%
        width 100%
        .mapWidget__mapWrapper{
            height 100%
        }
        .mapWidget__mapArea {
            height 100%
        }
        .mapWidget__spacer {
            display none
        }
    }
    &--noBar {
        .mapWidget {
            .mapWidget__mapWrapper {
                height 100%
            }
        }
    }
}

//.ol-control {
//    button {
//        background-color white
//        color $bodyTextColor
//        &:hover, &:focus {
//            background #efefef
//        }
//    }
//    background-color transparent
//    padding 0
//    border-radius 0
//}


.mapWidget {
    md-checkbox {
        margin-bottom 12px
    }
    &__help {
        position absolute
        margin 10px
        padding 10px
        color white
        background #444
        z-index 20
        bottom 0
        right 0
    }
    &__info {
        position absolute
        opacity 0.5
        background #444
        color white
        bottom 0
        left 0
        z-index 15
        padding 3px 5px
        font-size 12px
        transition opacity 200ms ease
        &:hover {
            opacity 1
        }
    }
}

.mapWidget__controlsArea {
    z-index 70
    border-top 1px solid rgba(0, 0, 0, 0.2)
    background white
    height 40px
    &__toggleArea {
        float right
        margin 0 10px
        height 40px
        >a {
            font-size 18px
            line-height 40px
            width 30px
            text-align center
            display inline-block
            &.is-active {
                color $navBar_background_color
            }
        }
        >span {
            top -3px
            position relative
            left -5px
        }
    }
    &__section {
        max-height calc(100vh - 7rem)
        display flex
        flex-direction column
        box-shadow 1px 2px 3px 3px rgba(0,0,0,.1)
        &__content {
            flex 1 1 auto
            overflow auto
            >div {
                padding 10px
            }
        }
        &__header {
            flex 0 0 auto
            padding 10px
            margin 0
            text-align center
        }
    }
}

.mapWidget.isSmall {
    .mapWidget__controlsArea {
        &__overlay {
            z-index $zPageOverlay
            position fixed
            top 0
            bottom 0
            left 0
            right 0
            background rgba(0,0,0,0.3)
        }
        &__popup {
            position fixed
            top 6rem
            width 100%
            background white
            z-index ($zPageOverlay + 1)
            left 0
            overflow auto
        }
    }
}
+isAbove(400px) {
    .mapWidget.isSmall {
        .mapWidget__controlsArea {
            &__popup {
                width 400px
                left calc(50% - 200px)
            }
        }
    }
}

.mapWidget.isLarge {
    .mapWidget{
        md-checkbox, md-radio-button {
            margin-bottom 12px
        }
    }
    .mapWidget__controlsArea {
        &__section {
            position absolute
            bottom 40px
            right 0
            width 250px
            max-width 50%
            background white
            z-index 50
            margin 10px
            .options {
                >* {
                    display block
                    padding 5px 10px
                }
            }
            &--bar {
                position static
                margin 0
                height 40px
                width auto
                display inline-block
                background transparent
                >div {
                    padding 0
                }
            }
        }
        &__tabs {
            display none
        }
    }
}

.rtl {
    .mapWidget {
        &.isSmall {
            .time-slider__container {
                margin-left 0
                margin-right 20px
            }
            .mapWidget__control {
                left auto
                right 0
            }
        }
        &__mapButtons {
            left auto
            right 0.5rem
        }
        &__drawButtons {
            right auto
            left 0.5rem
        }
    }

    .mapWidget {
        &__help {
            left 0
            right auto
        }
        &__info {
            left auto
            right 0
        }
    }

    .mapWidget__controlsArea {
        &__toggleArea {
            float left
            >span {
                left auto
                right -5px
            }
        }
    }

    .mapWidget.isSmall {
        .mapWidget__controlsArea {
            &__popup {
                left auto
                right 0
            }
        }
    }

    .mapWidget.isLarge {
        .mapWidget__controlsArea {
            &__section {
                right auto
                left 0
            }
        }
    }
}