<div class="mapWidget" element-query="vm.styleBreaks" ng-class="{fullscreen: vm.fullscreen}" ng-style="vm.widgetContextStyle">
    <div class="mapWidget__mapWrapper">
        <div class="mapWidget__spacer"></div>
        <div class="mapWidget__mapArea"></div>
        <div class="mapWidget__progress"></div>
        <div class="mapWidget__mapButtons">
            <a href="" ng-click="vm.zoomIn()">+</a>
            <a href="" ng-click="vm.zoomOut()">-</a>
            <a href="" ng-click="vm.toggleFullscreen()" ng-class="{'gb-icon-fullscreen': !vm.fullscreen, 'gb-icon-fullscreen-exit': vm.fullscreen}"></a>
        </div>
        <div class="mapWidget__help" ng-if="vm.activeControl == vm.controls.OCCURRENCES">
            <span translate="map.clickToSearchArea"></span>
        </div>
        <div class="mapWidget__info">
            <span translate="map.generatedDateAgo" translate-values="{DATE_AGO: ((vm.capabilities.generated || '2017-05-01') | momentFromNow:gb.locales.current)}"></span>
            <span dir="ltr">© <a href="https://www.openstreetmap.org/copyright" class="inherit">OpenStreetMap</a> contributors, © <a href="https://openmaptiles.org/" class="inherit">OpenMapTiles</a>, <a ng-href="{{vm.URL_PREFIX}}/citation-guidelines" class="inherit">GBIF</a>.</span>
        </div>
    </div>
    <div class="mapWidget__controlsArea">
        <div class="mapWidget__controlsArea__toggleArea">
            <span>
                <a class="gb-button--discreet" ng-if="vm.getProjection() !== 'EPSG_4326' || vm.viewBboxWidth >= 180" ng-href="{{vm.URL_PREFIX}}/occurrence/search?{{vm.getExploreQuery()}}" translate="map.explore">Explore</a>
                <a class="gb-button--discreet" ng-if="vm.getProjection() === 'EPSG_4326' && vm.viewBboxWidth < 180" ng-href="{{vm.URL_PREFIX}}/occurrence/search?{{vm.getExploreQuery()}}" translate="map.exploreArea">Explore area</a>
            </span>
            <a href="" class="button gb-icon-filters" ng-click="vm.toggleControl(vm.controls.FILTERS)"
               ng-class="{'is-active': vm.activeControl == vm.controls.YEAR}" ng-if="vm.styleBreaks.current == 0"></a>
            <a href="" class="button gb-icon-filters" ng-click="vm.toggleControl(vm.controls.BOR)"
               ng-class="{'is-active': vm.activeControl == vm.controls.BOR}" ng-if="vm.styleBreaks.current > 0"></a>
            <a href="" class="button gb-icon-format-paint" ng-click="vm.toggleControl(vm.controls.STYLE)"
               ng-class="{'is-active': vm.activeControl == vm.controls.STYLE}"></a>
            <a href="" class="button gb-icon-earth" ng-click="vm.toggleControl(vm.controls.PROJECTION)"
               ng-class="{'is-active': vm.activeControl == vm.controls.PROJECTION}"></a>
            <a href="" class="button gb-icon-select" ng-click="vm.toggleControl(vm.controls.OCCURRENCES)"
               ng-class="{'is-active': vm.activeControl == vm.controls.OCCURRENCES}"></a>
            <!--<a href="" class="button gb-icon-more2" ng-click="vm.toggleControl(vm.controls.PROJECTION)"-->
            <!--ng-class="{'is-active': vm.activeControl == vm.controls.PROJECTION}"></a>-->
        </div>
        <div class="mapWidget__controlsArea__overlay" ng-show="vm.styleBreaks.current > 0 || vm.activeControl >= 10" ng-click="vm.activeControl = undefined"></div>
        <div class="mapWidget__controlsArea__popup" ng-show="vm.styleBreaks.current > 0 || vm.activeControl">
            <div class="mapWidget__controlsArea__content">



                <div ng-class="{'mapWidget__controlsArea__section': vm.styleBreaks.current == 0}" ng-show="vm.styleBreaks.current > 0 || vm.activeControl == vm.controls.FILTERS">

                    <div class="mapWidget__controlsArea__section__header" ng-if="vm.styleBreaks.current == 0">
                        <a href="" class="gb-icon-close inherit menubox__close" ng-click="vm.activeControl = undefined"></a>
                        <h4 translate="map.filters">Filters</h4>
                    </div>
                    <div ng-class="{'mapWidget__controlsArea__section__content': vm.styleBreaks.current == 0}">
                        <div class="time-slider time-slider__card">
                            <div class="gb-btn-group time-slider__buttons">
                                <label dir="ltr" ng-if="vm.singleYearSpan" uib-btn-radio="true" ng-model="vm.allYears"><span translate="map.year">Year</span> {{ vm.singleYearSpan }}</label>
                                <label ng-model="vm.allYears" uib-btn-radio="true"
                                       ng-change="vm.updateFilters()" ng-if="!vm.singleYearSpan" translate="map.anyYear"></label>
                                <label dir="ltr" ng-model="vm.allYears" uib-btn-radio="false" ng-if="!vm.singleYearSpan"
                                       ng-change="vm.updateFilters()"><span class="time-slider__years"></span></label>
                            </div>
                            <div class="time-slider__container">
                                <div class="time-slider__slider" ng-class="{'is-active': !vm.allYears}"></div>
                            </div>
                        </div>
                        <div ng-if="vm.styleBreaks.current == 0">
                            <div class="mapWidget__checkbox" ng-repeat="(bor, val) in vm.basisOfRecord">
                                <md-checkbox ng-model="vm.basisOfRecord[bor]" aria-label="{{bor}}" ng-change="vm.updateFilters()" class="md-primary">
                                    <span translate="basisOfRecord.{{bor}}"></span>
                                </md-checkbox>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="mapWidget__controlsArea__section" ng-if="vm.activeControl == vm.controls.STYLE">
                    <div class="mapWidget__controlsArea__section__header">
                        <a href="" class="gb-icon-close inherit menubox__close" ng-click="vm.activeControl = undefined"></a>
                        <h4 translate="map.style">Style</h4>
                        <div>
                            <nav class="discreetTabs">
                                <ul>
                                    <li ng-class="{isActive: vm.styleTab != 'CREATE'}">
                                        <a href="" class="inherit noUnderline" ng-click="vm.styleTab = 'SELECT'; vm.setStyle(vm.style)" translate="map.select">Select</a>
                                    </li>
                                    <li ng-class="{isActive: vm.styleTab == 'CREATE'}">
                                        <a href="" class="inherit noUnderline" ng-click="vm.styleTab = 'CREATE'; vm.composeCustomStyle()" translate="map.custom">Custom</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="mapWidget__controlsArea__section__content">
                        <div ng-if="vm.styleTab == 'CREATE'">
                            <div>
                                <md-input-container>
                                    <label translate="map.baseMap">Base map</label>
                                    <md-select ng-model="vm.selectedBaseMap" ng-change="vm.composeCustomStyle()" class="md-no-underline">
                                        <md-option ng-repeat="basemap in vm.basemaps" ng-value="basemap">
                                            {{'map.basemap.' + basemap.name | translate }}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                            <div>
                                <md-input-container>
                                    <label translate="map.binning">Binning</label>
                                    <md-select ng-model="vm.selectedBinning" ng-change="vm.composeCustomStyle()" class="md-no-underline">
                                        <md-option ng-repeat="bin in vm.binningOptions" ng-value="bin">
                                            {{'map.bin.' + bin.name | translate }}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                            <div>
                                <md-input-container>
                                    <label translate="map.chooseColors">Colors</label>
                                    <md-select ng-model="vm.selectedColor" ng-change="vm.composeCustomStyle()" class="md-no-underline">
                                        <md-option ng-repeat="colors in vm.colorOptions | filter:{ type: vm.selectedBinning.type }" ng-value="colors">
                                            {{'map.colors.' + colors.name | translate }}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                        </div>
                        <div ng-if="vm.styleTab != 'CREATE'">
                            <md-radio-group ng-model="vm.style" class="md-primary" ng-change="vm.setStyle(vm.style)">
                                <md-radio-button ng-repeat="option in vm.styleOptions"
                                                 ng-value="option">{{'map.predefined.' + option | translate }}<br/>
                                </md-radio-button>
                            </md-radio-group>
                        </div>
                    </div>
                </div>

                <div class="mapWidget__controlsArea__section"  ng-if="vm.activeControl == vm.controls.BOR">
                    <div class="mapWidget__controlsArea__section__header">
                        <a href="" class="gb-icon-close inherit menubox__close" ng-click="vm.activeControl = undefined"></a>
                        <h4 translate="filterNames.basisOfRecord">Basis of record</h4>
                    </div>
                    <div class="mapWidget__controlsArea__section__content">
                        <div>
                            <div class="mapWidget__checkbox" ng-repeat="(bor, val) in vm.basisOfRecord">
                                <md-checkbox ng-model="vm.basisOfRecord[bor]" aria-label="{{bor}}" ng-change="vm.updateFilters()" class="md-primary">
                                    <span translate="basisOfRecord.{{bor}}"></span>
                                </md-checkbox>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                <div class="mapWidget__controlsArea__section" ng-if="vm.activeControl == vm.controls.PROJECTION">
                    <div class="mapWidget__controlsArea__section__header">
                        <a href="" class="gb-icon-close inherit menubox__close" ng-click="vm.activeControl = undefined"></a>
                        <h4 translate="map.projection">Projection</h4>
                    </div>
                    <div class="mapWidget__controlsArea__section__content">
                        <div>
                            <md-radio-group ng-model="vm.activeProjection" class="md-primary" ng-change="vm.setProjection(vm.activeProjection)">
                                <md-radio-button value="{{vm.projections.ARCTIC}}" class="md-primary"><span translate="projections.ARCTIC"></span></md-radio-button>
                                <md-radio-button value="{{vm.projections.PLATE_CAREE}}" class="md-primary"><span translate="projections.PLATE_CAREE"></span></md-radio-button>
                                <md-radio-button value="{{vm.projections.MERCATOR}}" class="md-primary"><span translate="projections.MERCATOR"></span></md-radio-button>
                                <md-radio-button value="{{vm.projections.ANTARCTIC}}" class="md-primary"><span translate="projections.ANTARCTIC"></span></md-radio-button>
                            </md-radio-group>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>