<div class="mapWidget fixedSizes" element-query="vm.styleBreaks" ng-class="{fullscreen: vm.fullscreen}" ng-style="vm.widgetContextStyle">
    <div class="mapWidget__mapWrapper">
        <div class="mapWidget__mapArea"></div>
        <div class="mapWidget__progress"></div>
        <div class="mapWidget__mapButtons">
            <a href="" ng-click="vm.toggleFullscreen()" ng-class="{'gb-icon-fullscreen': !vm.fullscreen, 'gb-icon-fullscreen-exit': vm.fullscreen}"></a>
        </div>
    </div>
    <div class="mapWidget__controls clearfix">
        <div class="mapWidget__options">
            <span>
                <a class="gb-button--discreet" ng-if="vm.getProjection() !== 'EPSG_4326' || vm.viewBboxWidth >= 180" ng-href="/occurrence/search?{{vm.getExploreQuery()}}">Explore</a>
                <a class="gb-button--discreet" ng-if="vm.getProjection() === 'EPSG_4326' && vm.viewBboxWidth < 180" ng-href="/occurrence/search?{{vm.getExploreQuery()}}">Explore area</a>
            </span>
            <div class="">
                <a href="" class="button gb-icon-clock" ng-click="vm.toggleControl(vm.controls.YEAR)"
                   ng-class="{'is-active': vm.activeControl == vm.controls.YEAR}" ng-if="vm.styleBreaks.current === 0"></a>
                <a href="" class="button gb-icon-drop" ng-click="vm.toggleControl(vm.controls.STYLE)"
                   ng-class="{'is-active': vm.activeControl == vm.controls.STYLE}"></a>
                <a href="" class="button gb-icon-funnel" ng-click="vm.toggleControl(vm.controls.BOR)"
                   ng-class="{'is-active': vm.activeControl == vm.controls.BOR}"></a>
                <a href="" class="button gb-icon-butterfly" ng-click="vm.toggleControl(vm.controls.PROJECTION)"
                   ng-class="{'is-active': vm.activeControl == vm.controls.PROJECTION}"></a>
            </div>
        </div>
        <div class="mapWidget__control" ng-if="vm.activeControl == vm.controls.PROJECTION">
            <div>
                <a href="" class="gb-icon-close inherit menubox__close" ng-click="vm.activeControl = undefined"></a>
                <h4>Projection</h4>
                <div class="gb-radio">
                    <label class="radio" ng-model="vm.activeProjection" uib-btn-radio="vm.projections.ARCTIC" ng-change="vm.setProjection(vm.projections.ARCTIC)">
                        <span class="gb-radio__indicator"><span></span></span>
                        <span class="gb-radio__name">Arctic</span>
                    </label>
                    <label class="radio" ng-model="vm.activeProjection" uib-btn-radio="vm.projections.PLATE_CAREE" ng-change="vm.setProjection(vm.projections.PLATE_CAREE)">
                        <span class="gb-radio__indicator"><span></span></span>
                        <span class="gb-radio__name">Plate Carrée</span>
                    </label>
                    <label class="radio" ng-model="vm.activeProjection" uib-btn-radio="vm.projections.MERCATOR" ng-change="vm.setProjection(vm.projections.MERCATOR)">
                        <span class="gb-radio__indicator"><span></span></span>
                        <span class="gb-radio__name">Mercator</span>
                    </label>
                    <label class="radio" ng-model="vm.activeProjection" uib-btn-radio="vm.projections.ANTARCTIC" ng-change="vm.setProjection(vm.projections.ANTARCTIC)">
                        <span class="gb-radio__indicator"><span></span></span>
                        <span class="gb-radio__name">Antarctica</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="mapWidget__control" ng-if="vm.activeControl == vm.controls.BOR">
            <div>
                <a href="" class="gb-icon-close inherit menubox__close" ng-click="vm.activeControl = undefined"></a>
                <h4>Basis of record</h4>
                <div class="form-group">
                    <div>
                        <div class="checkbox" ng-repeat="(bor, val) in vm.basisOfRecord">
                            <label><input type="checkbox" name="basisOfRecord" ng-model="vm.basisOfRecord[bor]"
                                          ng-change="vm.updateFilters()"><span class="text-capitalize"
                                                                               translate="basisOfRecord.{{bor}}"></span></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mapWidget__control" ng-if="vm.activeControl == vm.controls.STYLE">
            <div>
                <a href="" class="gb-icon-close inherit menubox__close" ng-click="vm.activeControl = undefined"></a>
                <h4>Style</h4>
                <div class="gb-radio">
                    <label class="radio" ng-model="vm.style" uib-btn-radio="option"
                           ng-change="vm.setStyle(option)" ng-repeat="option in vm.styleOptions"><span class="gb-radio__indicator"><span></span></span><span
                            class="gb-radio__name">{{option | prettifyEnum}}</span></label>
                </div>
            </div>
        </div>
        <div class="mapWidget__inlineOption" ng-show="vm.styleBreaks.current > 0 || vm.activeControl == vm.controls.YEAR" ng-class="{mapWidget__control: vm.styleBreaks.current == 0}">
            <div class="time-slider time-slider__card">
                <div ng-if="vm.styleBreaks.current == 0">
                    <a href="" class="gb-icon-close inherit menubox__close" ng-click="vm.activeControl = undefined"></a>
                    <h4>Year filter</h4>
                </div>
                <!--<div class="switch-group">-->
                    <!--<a class="switch" ng-click="vm.allYears = !vm.allYears" role="checkbox" aria-checked="{{vm.allYears}}" ng-class="{isActive: vm.allYears}"></a>-->
                    <!--<span>Any year</span>-->
                <!--</div>-->
                <div class="gb-btn-group time-slider__buttons">
                    <label ng-model="vm.allYears" uib-btn-radio="true"
                           ng-change="vm.updateFilters()">Any year</label>
                    <label ng-model="vm.allYears" uib-btn-radio="false"
                           ng-change="vm.updateFilters()"><span class="time-slider__years"></span></label>
                </div>
                <div class="time-slider__container">
                    <div class="time-slider__slider" ng-class="{'is-active': !vm.allYears}"></div>
                </div>
            </div>
        </div>

        <div class="mapPopups" ng-if="vm.activeControl == vm.controls.OCCURRENCES">
            <div class="mapPopup" ng-class="{isLoading: vm.mapMenu.isLoading}">
                <div class="mapPopup__header">
                    <h4>
                        <span ng-if="!vm.mapMenu.isLoading && vm.mapMenu.occurrences.count == 0">No occurrences</span>
                        <span ng-if="!vm.mapMenu.isLoading && vm.mapMenu.occurrences.count > 0">Occurrences in area</span>
                        <span ng-if="vm.mapMenu.isLoading">
                            Searching for occurrences in area <span class="loading"></span>
                        </span>
                        <a href="" class="gb-icon-close_L inherit pull-right"
                           ng-click="vm.activeControl = undefined"></a>
                    </h4>
                </div>
                <div class="mapPopup__results seperator" ng-if="!vm.mapMenu.isLoading">
                    <div class="emptyInfo" ng-if="vm.mapMenu.occurrences.count == 0">
                        <p>Data in GBIF are curated and updated continously. In some cases that mean that a point on the map has since been removed. This map was last updated <span>{{(vm.capabilities.lastUpdated || '2017-05-01') | amDateFormat:'DD MMM YYYY' }}</span></span></p>
                    </div>
                    <ul ng-if="vm.mapMenu.occurrences.count > 0">
                        <li ng-repeat="occurrence in vm.mapMenu.occurrences.results"
                            class="occurrence-list-item seperator--b clearfix">

                            <div class="occurrence-list-item__header discreet">
                                <div class="imageGallery__img img-round-thumb"
                                     ng-if="occurrence._image">
                                    <img ng-src="{{ occurrence._image.identifier | imgCache:50:50 }}" gallery-image>
                                </div>
                                <a ng-href="/occurrence/{{occurrence.key}}" class="occurrence-list-item__name" ng-if="occurrence.scientificName">{{occurrence.scientificName}}</a>
                                <a ng-href="/occurrence/{{occurrence.key}}" class="occurrence-list-item__name text-error" ng-if="!occurrence.scientificName">Unkown species</a>
                                <!--<span class="small discreet text-capitalize" translate="taxonRank.{{occurrence.taxonRank}}">{{occurrence.taxonRank}}</span>-->
                                <div class="small discreet classification-list">
                                            <span ng-repeat="taxa in ['kingdom', 'phylum', 'class', 'order', 'family', 'genus', 'species']"
                                                  ng-if="occurrence[taxa] && taxa != occurrence.taxonRank.toLowerCase()">
                                                {{occurrence[taxa]}}
                                            </span>
                                </div>
                            </div>
                        </li>
                        <li class="occurrence-list-item text-center p-t-1 p-b-1" ng-if="vm.mapMenu.occurrences.results.length < vm.mapMenu.occurrences.count">
                            <a ng-href="/occurrence/search?{{vm.getClickedQuery()}}" class="gb-button--discreet">More</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
    </div>
</div>