.block_media {
  &__content {
    padding-bottom: 64px;
    font-size: 16px;
    line-height: 1.8em;
    &__mediaArea {
      text-align: center
    }
    > div {
      padding: 16px;
      img {
        max-width: 100%;
        width: 480px;
      }
    }
  }
  &__textContent {
    max-width: 480px;
    margin: auto;
  }
}

+isBelow(768px) {
  .block_media {
    &__mediaArea  {
      text-align: center;
    }
  }
}
+isAbove(768px) {
  .block_media {
    &__content {
      display: flex;
      margin: 0 -8px
      > div {
        flex: 1 1 50%;
        margin: 0 8px;
        img {
          padding: 0;
        }
      }
    }
    &__textContent {
      margin: inherit;
    }
  }
  .block-reverse {
    &.block_media {
      .block_media__content {
        flex-direction: row-reverse;
      }
    }
  }
}

+isAbove(1000px) {
  .block_media {
    &__content {
      line-height: 1.6em;
    }
  }
}