/*
Intended use as information in top right corner of a stripe - an example is seen on the occurrence page where it is stated when the occurrence was last updated.
It requires the stripe you wan't to place it in is relative positioned.
*/
.stripe-comment-wrapper {
    position relative
}

.stripe-comment {
    display none
}

+isAbove($tablet) {
    .stripe-comment {
        display block
        position absolute
        top 0
        right 0
        margin 0.5rem 1rem
        color #ccc
        text-align right
        font-size 0.85rem
        z-index 20
    }
    .rtl {
        .stripe-comment {
            left 0
            right auto
        }
    }
}