<div class="filter-group filter-group--search rtl-bootstrap">
    <a href="" class="inherit" ng-click="vm.filterConfig.expanded = !vm.filterConfig.expanded">
        <h4>
            <span translate="{{vm.filterConfig.titleTranslation}}">Translation missing</span>
            <span class="gb-icon-angle-down pull-right" ng-if="!vm.filterConfig.expanded"></span>
            <span class="gb-icon-angle-up pull-right" ng-if="vm.filterConfig.expanded"></span>
        </h4>
    </a>

    <div class="filter-group__filter" ng-class="{'filter-group__filter--collapsed': !vm.filterConfig.expanded}">

        <div ng-if="vm.query && !vm.filterConfig.expanded" class="is-padded overflow-hidden">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-click="vm.query = undefined; vm.apply();" checked="true">
                    <span class="filter-group__filter__name" translate="filters.ternary.yes"
                          ng-if="vm.query === 'true'">yes</span>
                    <span class="filter-group__filter__name" translate="filters.ternary.no"
                          ng-if="vm.query === 'false'">no</span>
                </label>
            </div>
        </div>

        <div class="is-padded overflow-hidden" ng-if="vm.filterConfig.expanded">
            <div class="gb-btn-group m-t-05 m-b-05">
                <label ng-model="vm.query" uib-btn-radio="" ng-change="vm.apply()" translate="filters.ternary.all">All</label>
                <label ng-model="vm.query" uib-btn-radio="'true'" ng-change="vm.apply()" translate="filters.ternary.yes">Yes</label>
                <label ng-model="vm.query" uib-btn-radio="'false'" ng-change="vm.apply()" translate="filters.ternary.no">No</label>
            </div>
            <p translate="{{vm.filterConfig.descriptionTranslation}}" ng-if="vm.filterConfig.descriptionTranslation"></p>
        </div>

    </div>
</div>

