.gb-form {
  margin 10px auto

  select {
    -webkit-appearance none

    border-radius: 0;
    width 100%
    padding 3px 0
    border none
    border-bottom 1px solid #ccc

    &:focus {
      outline none
      border-bottom 1px solid #888
    }
  }
}
