<div class="horizontal-stripe--paddingless light-background seperator">
    <div class="container--normal">

        <div class="clearfix" ng-if="!userProfile.disableEditing">
            <div class="switch-group pull-right">
                <p class="small" ng-if="!userProfile.inEditMode" translate="profile.startEditing"></p>
                <p class="small" ng-if="userProfile.inEditMode" translate="profile.stopEditing"></p>
                <input id="speciesLookupDiscardInCsv" type="checkbox" ng-model="userProfile.inEditMode"
                       aria-label="Edit" ng-change="userProfile.editModeChanged()"/>
                <label for="speciesLookupDiscardInCsv" class="switch"></label>
            </div>
        </div>

        <div class="card card--spaced">
            <div class="card__stripe card__content">
                <div>
                    <form class="gb-form" name="userProfile.profileForm" ng-submit="userProfile.updateProfile()">
                        <fieldset>
                            <div class="row">
                                <div class="col-xs-12 col-sm-6">
                                    <div class="gb-form__group">
                                        <label>
                                            <span translate="profile.firstName"></span>
                                            <input type="text" name="firstName" ng-model="userProfile.profile.firstName"
                                                   ng-disabled="!userProfile.inEditMode">
                                        </label>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <div class="gb-form__group">
                                        <label>
                                            <span translate="profile.lastName"></span>
                                            <input type="text" name="lastName" ng-model="userProfile.profile.lastName"
                                                   ng-disabled="!userProfile.inEditMode">
                                        </label>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-6">
                                    <div class="gb-form__group">
                                        <label>
                                            <span translate="profile.email"></span>
                                            <input type="text" ng-pattern="userProfile.emailPattern" name="email"
                                                   required ng-model="userProfile.profile.email" ng-disabled="true">
                                        </label>
                                        <div ng-messages="userProfile.profileForm.email.$error" class="text-error small"
                                             role="alert" ng-show="userProfile.profileFormInvalid">
                                            <div ng-message="required" translate="profile.emailRequired"></div>
                                            <div ng-message="pattern" translate="profile.invalidEmail"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <div class="gb-form__group">
                                        <label>
                                            <span translate="profile.country"></span>
                                            <input type="text"
                                                   required
                                                   name="country"
                                                   ng-class="{isInvalid: userProfile.invalidCountry}"
                                                   autocomplete="off"
                                                   ng-model="userProfile.profile.settings.country"
                                                   typeahead-input-formatter="userProfile.formatTypehead(userProfile.searchSuggestions, userProfile.profile.settings.country)"
                                                   uib-typeahead="suggestion.key as suggestion.title for suggestion in userProfile.searchSuggestions | filter:$viewValue | limitTo:8"
                                                   typeahead-on-select="userProfile.typeaheadSelect($item, $model, $label, $event)"
                                                   typeahead-no-results="userProfile.invalidCountry"
                                                   typeahead-select-on-blur="true"
                                                   typeahead-editable="false"
                                                   typeahead-focus-first="true"
                                                   ng-disabled="!userProfile.inEditMode">
                                        </label>
                                        <div ng-messages="userProfile.profileForm.country.$error"
                                             class="text-error small" role="alert"
                                             ng-show="userProfile.profileFormInvalid">
                                            <div ng-message="required" translate="profile.countryRequired"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <div class="clearfix" ng-if="userProfile.inEditMode">
                            <p class="pull-right">
                                <span ng-if="userProfile.profileFormInvalid" class="small text-error" translate="profile.invalidProfileUpdate">
                                    
                                </span>
                                <button class="pull-right text-uppercase gb-button--flat" type="submit" translate="profile.save">
                                </button>
                            </p>
                        </div>
                    </form>
                </div>


                <div ng-if="userProfile.inEditMode">
                    <form class="gb-form m-t-3" name="userProfile.passwordForm"
                          ng-submit="userProfile.changePassword()">
                        <fieldset>
                            <div class="row">
                                <div class="col-xs-12 col-sm-6">
                                    <div class="gb-form__group">
                                        <label>
                                            <span translate="profile.newPassword"></span>
                                            <input type="password" required name="newPassword" ng-minlength="6"
                                                   ng-maxlength="256" ng-model="userProfile.newPassword">
                                        </label>
                                        <div ng-messages="userProfile.passwordForm.newPassword.$error"
                                             class="text-error small" role="alert"
                                             ng-show="userProfile.passwordFormInvalid">
                                            <div ng-message="required" translate="profile.passwordRequired"></div>
                                            <div ng-message="minlength" translate="profile.passwordLength"></div>
                                            <div ng-message="maxlength" translate="profile.passwordMaxLength"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <div class="gb-form__group">
                                        <label>
                                            <span translate="profile.repeatNewPassword"></span>
                                            <input type="password" required name="repeatedPassword"
                                                   ng-pattern="userProfile.repeatPattern(userProfile.newPassword)"
                                                   ng-model="userProfile.repeatedPassword">
                                        </label>
                                        <div class="text-error small" role="alert"
                                             ng-show="userProfile.repeatedPassword !== userProfile.newPassword">
                                            <div translate="profile.passwordsNotIdentical"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-6">
                                    <div class="gb-form__group">
                                        <label>
                                            <span translate="profile.currentPassword"></span>
                                            <input type="password" required name="oldPassword" required
                                                   ng-model="userProfile.oldPassword">
                                        </label>
                                        <div ng-messages="userProfile.passwordForm.newPassword.$error"
                                             class="text-error small" role="alert"
                                             ng-show="userProfile.passwordFormInvalid">
                                            <div ng-message="required" translate="profile.passwordRequired"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-6">
                                    <button class="pull-right m-t-1 text-uppercase gb-button--flat" type="submit" translate="profile.changePassword"></button>
                                </div>

                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
            <div class="card__stripe card__stripe--light ng-cloak">
                <div class="card__content">
                    <p ng-if="userProfile.provider && userProfile.errorMessage" class="small text-error">
                        <span translate="profile.connect.failed.{{userProfile.provider}}"></span><br/>
                        <span translate="profile.error.{{userProfile.errorMessage}}"></span>
                    </p>

                    <a href="/auth/google/connect" class="gb-button--google"
                       ng-if="userProfile.profile.connectedAcounts && !userProfile.profile.connectedAcounts.google"><i></i><span
                            class="gb-button--google__label" translate="profile.connectWithProvider" translate-values="{PROVIDER: 'Google'}">Connect with Google</span></a>
                    <a href="/auth/facebook/connect" class="gb-button--facebook"
                       ng-if="userProfile.profile.connectedAcounts && !userProfile.profile.connectedAcounts.facebook"><i></i><span
                            class="gb-button--facebook__label" translate="profile.connectWithProvider" translate-values="{PROVIDER: 'Facebook'}">Connect with Facebook</span></a>
                    <a href="/auth/github/connect" class="gb-button--github"
                       ng-if="userProfile.profile.connectedAcounts && !userProfile.profile.connectedAcounts.github"><i></i><span
                            class="gb-button--facebook__label" translate="profile.connectWithProvider" translate-values="{PROVIDER: 'Github'}">Connect with Github</span></a>
                    <a href="/auth/orcid/connect" class="gb-button--orcid"
                       ng-if="userProfile.profile.connectedAcounts && !userProfile.profile.connectedAcounts.orcid"><i></i><span
                            class="gb-button--facebook__label" translate="profile.connectWithProvider" translate-values="{PROVIDER: 'ORCiD'}">Connect with ORCiD</span></a>
                    <div ng-if="userProfile.inEditMode">
                        <a href="/auth/google/disconnect" class="gb-button--google m-t-05"
                           ng-if="userProfile.inEditMode && userProfile.profile.connectedAcounts.google"><i></i><span
                                class="gb-button--google__label" translate="profile.disconnectWithProvider" translate-values="{PROVIDER: 'Google'}">Disconnect Google</span></a>
                        <a href="/auth/facebook/disconnect" class="gb-button--facebook m-t-05"
                           ng-if="userProfile.inEditMode && userProfile.profile.connectedAcounts.facebook"><i></i><span
                                class="gb-button--facebook__label" translate="profile.disconnectWithProvider" translate-values="{PROVIDER: 'Facebook'}">Disconnect Facebook</span></a>
                        <a href="/auth/github/disconnect" class="gb-button--github m-t-05"
                           ng-if="userProfile.inEditMode && userProfile.profile.connectedAcounts.github"><i></i><span
                                class="gb-button--facebook__label" translate="profile.disconnectWithProvider" translate-values="{PROVIDER: 'Github'}">Disconnect Github</span></a>
                        <a href="/auth/orcid/disconnect" class="gb-button--orcid m-t-05"
                           ng-if="userProfile.inEditMode && userProfile.profile.connectedAcounts.orcid"><i></i><span
                                class="gb-button--facebook__label" translate="profile.disconnectWithProvider" translate-values="{PROVIDER: 'ORCiD'}">Disconnect ORCiD</span></a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>