.shorten {
    .shorten__collapsable {
        display none
    }
    ng-transclude > span:after {
        content $ellipsis
    }
    .is-expanded {
        .shorten_first {
            display: none
        }
        .shorten__collapsable {
            display inline
        }
        ng-transclude > span:after {
            content none
        }
    }
    .shorten__more {
        color #aaa
    }
}