$_linkColor = #009FD4

.SearchResults__section-comment {
	a {
		color $_linkColor
		&:hover {
			text-decoration underline
		}
	}
}

.SearchResults__section {
	.card__occurrences {
		background #F5F5F5
		border 1px solid #ddd
		border-width 1px 0 1px 0
		padding vr-block(0.25) vr-block(1)
		>span {
			//font-weight normal
			a {
				color $_linkColor
				&:hover {
					text-decoration underline
				}
			}
		}
		>.occurrenceTable {
			padding vr-block(0.25) 0
			margin 0 (- vr-block(0.5) )
			.table {
				box-shadow 0 1px 3px rgba(0,0,0,0.3)
			}
		}
	}

	.occurrenceTable {
		table {
			margin 0
		}
		.table__content {
			overflow auto
		}
		.table {
			background white
			th {
				color #666
				font-weight normal
			}
			th, td {
				padding vr-block(0.125) vr-block(0.25)
				white-space nowrap
				&:first-of-type {
					padding-left vr-block(0.5)
				}
				&:last-of-type {
					padding-right vr-block(0.5)
				}
				a {
					display block
					width 100%
					min-height vr-block(1)
					text-decoration none
				}
			}
			tbody {
				tr:nth-of-type(even) {
					//background #ddd
				}
				tr:nth-of-type(odd) {
					background #efefef
				}
				tr:hover {
					background #ddd
				}
			}
		}
		.SearchResults__section__more {
			border-top 1px solid #ddd
			background white
		}
	}

	
}


+isBelow($laptop) {
	.SearchResults__section.compact {
		.card__expand {
			display block
		}
		.card .isCollapsable {
			display none
		}
	}
}



