<div class="site-content">
    <div class="site-content__page">
        <div class="publisherKey light-background">
            <div class="wrapper-horizontal-stripes" ng-if="installationKey.installation.$resolved">

                <div class="horizontal-stripe article-header white-background p-b-1">
                    <div class="container">
                        <div class="row">
                            <header class="col-xs-12">
                                <nav class="article-header__category">
                                    <span class="article-header__category__upper" translate="installation.installation"></span>
                                </nav>
                                <h1 ng-class="{'text-error': installationKey.installation.deleted}">
                                    {{ installationKey.installation.title }}
                                </h1>
                                <p class="text-error text-center" ng-if="installationKey.installation.deleted"  translate="phrases.deletedOnDate" translate-values="{DATE: (installationKey.installation.deleted | momentFormat:'D MMMM YYYY') }">
                                    <!--This publisher was deleted on DATE-->
                                </p>
                            </header>
                        </div>
                    </div>
                </div>

                <section class="horizontal-stripe--paddingless white-background" ng-if="installationKey.installation.homepage.length > 0">
                    <div class="container--normal">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="tabs__wrapper">
                                    <nav class="tabs tabs--noBorder">
                                        <ul>
                                            <li class="tab isActive">
                                                <span translate="installation.about"></span>
                                            </li>
                                            <li class="tab">
                                                <a ng-href="{{ installationKey.installation.homepage[0] }}">
                                                    <span class="gb-icon-link"></span>
                                                    <span translate="installation.homepage"></span>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="horizontal-stripe--paddingless p-t-1 seperator">
                    <div class="container--normal">
                        <div class="card card--spaced m-b-1">
                            <div class="card__content">
                                <div ng-bind-html="installationKey.installation.description"></div>
                                <dl class="inline m-t-05">
                                    <div ng-if="installationKey.installation.type">
                                        <dt translate="installation.installationType"></dt>
                                        <dd translate="installationType.{{installationKey.installation.type}}">
                                        </dd>
                                    </div>
                                    <div ng-if="installationKey.publisher.$resolved">
                                        <dt translate="installation.hostedBy"></dt>
                                        <dd><a ui-sref="publisherKey({ key: installationKey.publisher.key})">{{installationKey.publisher.title}}</a>
                                        </dd>
                                    </div>
                                    <div ng-if="installationKey.installation.created">
                                        <dt translate="installation.registered"></dt>
                                        <dd>{{ installationKey.installation.created | momentFormat:'D MMMM YYYY' }}</dd>
                                    </div>
                                    <div ng-if="installationKey.installation.endpoints.length > 0">
                                        <dt translate="installation.endpoints"></dt>
                                        <dd>
                                            <ul class="inline-bullet-list">
                                                <li ng-repeat="endpoint in installationKey.installation.endpoints">
                                                    <a ng-href="{{endpoint.url}}">{{endpoint.url}}</a>
                                                </li>
                                            </ul>
                                        </dd>
                                    </div>
                                </dl>
                            </div>
                        </div>
                        <div class="m-b-1" ng-if="installationKey.installation._computedValues.contributors.all.length > 0">
                            <h4 class="card-header" tx="counts.nContacts" tx-nr="installationKey.installation._computedValues.contributors.all.length"></h4>
                            <div class="contactsCard card card--spaced">
                                <contact contact-info="contact" ng-repeat="contact in installationKey.installation._computedValues.contributors.all"></contact>
                            </div>
                        </div>
                        <div class="m-b-1" ng-if="installationKey.servedDatasets.count > 0">
                            <span class="relative-anchor-offset"><a id="servedDatasets"></a></span>
                            <h4 class="card-header" 
                                translate="counts.nDatasets" 
                                translate-values="{ NUMBER_FORMATED: (installationKey.servedDatasets.count | localNumber), NUMBER: installationKey.servedDatasets.count }">
                                
                            </h4>

                            <div>
                                <div ng-show="installationKey.servedDatasets.count > 0">

                                    <div ng-repeat="result in installationKey.servedDatasets.results">
                                        <ng-include
                                                src="'/api/template/search/datasetResult.html?v=' + installationKey.BUILD_VERSION"></ng-include>
                                    </div>

                                </div>
                                <div ng-if="installationKey.servedDatasets.count > installationKey.limit">
                                    <uib-pagination
                                            total-items="installationKey.servedDatasets.count"
                                            ng-model="installationKey.currentPage"
                                            max-size="installationKey.maxSize"
                                            items-per-page="installationKey.limit"
                                            class="pagination-sm"
                                            boundary-link-numbers="false"
                                            rotate="false"
                                            ng-change="installationKey.pageChanged()">
                                    </uib-pagination>
                                </div>
                            </div>

                        </div>

                    </div>
                </section>


            </div>
            <div class="wrapper-horizontal-stripes" ng-if="!installationKey.installation.$resolved">
                <div class="emptyInfo">
                    <h3>Hang on while we find the installation</h3>
                </div>
            </div>
        </div>
        <!--<ng-include src="'/api/template/site/footer.html?v=' + publisherKey.BUILD_VERSION"></ng-include>-->
    </div>
</div>
