.contactsCard {
    position relative
    display flex
    justify-content flex-start
    flex-wrap wrap
    >* {
        flex 0 0 auto
        width 300px
        margin 10px
        padding 5px
    }
    &__name {
        >div {
            display inline-block
        }
    }
}
contact:target {
    background #eee
}

.orcid-small {
    margin-right 4px
}