<div class="container--narrow">
    <div class="row">
        <div class="col-xs-12">
            <ng-include src="'/templates/components/loader/loader.html'" ng-if="!publisherList.hasData()"></ng-include>
            <div ng-if="publisherList.hasData()">
                <div ng-repeat="result in publisherList.state.data.results">
                    <ng-include src="'/api/template/search/publisherResult.html?v=' + publisherList.BUILD_VERSION"></ng-include>
                </div>

                <uib-pagination
                        total-items="publisherList.state.data.count"
                        ng-model="publisherList.currentPage"
                        max-size="publisherList.maxSize"
                        items-per-page="publisherList.limit"
                        class="pagination-sm"
                        boundary-link-numbers="false"
                        rotate="false"
                        first-text="{{'pagination.first' | translate}}"
                        next-text="{{'pagination.next' | translate}}"
                        previous-text="{{'pagination.previous' | translate}}"
                        ng-change="publisherList.pageChanged()"
                        ng-show="publisherList.state.data.count > publisherList.limit">
                </uib-pagination>
            </div>
        </div>
    </div>
</div>
