<div class="container--narrow">
    <div class="row">
        <div class="col-xs-12">
            <ng-include src="'/templates/components/loader/loader.html'" ng-if="!publisherList.hasData()"></ng-include>
            <div ng-if="publisherList.hasData()">
                <div ng-repeat="result in publisherList.state.data.results">
                    <ng-include src="'/api/template/search/publisherResult.html?v=' + publisherList.BUILD_VERSION"></ng-include>
                </div>

                <uib-pagination
                        total-items="publisherList.state.data.count"
                        ng-model="publisherList.currentPage"
                        max-size="publisherList.maxSize"
                        items-per-page="publisherList.limit"
                        class="pagination-sm"
                        boundary-link-numbers="false"
                        rotate="false"
                        first-text="{{'stdTerms.first' | translate}}"
                        next-text="{{'stdTerms.next' | translate}}"
                        previous-text="{{'stdTerms.previous' | translate}}"
                        ng-change="publisherList.pageChanged()"
                        ng-show="publisherList.state.data.count > publisherList.limit">
                </uib-pagination>
            </div>
        </div>
    </div>
</div>


<!--<article class="wrapper-horizontal-stripes">-->

    <!--<div class="horizontal-stripe&#45;&#45;paddingless white-background search-header">-->
        <!--<div class="container-fluid">-->
            <!--<div class="row">-->
                <!--<div class="col-xs-12">-->
                    <!--<nav class="article-header__category article-header__category&#45;&#45;deep">-->
                        <!--<span class="article-header__category__upper">Search</span>-->
                        <!--<span class="article-header__category__lower">Publishers</span>-->
                    <!--</nav>-->
                    <!--<div class="search-header__description">-->
                        <!--<span ng-if="publisherTable.hasData()">-->
                            <!--{{publisherTable.state.data.count | localNumber:publisherList.state.query.locale }} results-->
                        <!--</span>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->


    <!--<div class="horizontal-stripe white-background">-->
        <!--<ng-include src="'/templates/components/loader/loader.html'" ng-if="!publisherTable.hasData()"></ng-include>-->
        <!--<div ng-if="publisherTable.hasData()">-->
            <!--<div class="container&#45;&#45;narrow">-->
                <!--<div class="search-results__list row">-->
                    <!--<div class="col-xs-12">-->

                        <!--&lt;!&ndash;<article class="search-results__list__item&#45;&#45;publisher" ng-repeat="row in publisherTable.state.data.results">&ndash;&gt;-->
                        <!--&lt;!&ndash;<div>&ndash;&gt;-->
                        <!--&lt;!&ndash;<h4>{{row.title}}</h4>&ndash;&gt;-->
                        <!--&lt;!&ndash;<p class="search-results__list__item__meta">Endorsed by&ndash;&gt;-->
                        <!--&lt;!&ndash;<a class="" href="../participant/{{ row.publishingOrganizationKey }}">Somewhere</a>&ndash;&gt;-->
                        <!--&lt;!&ndash;</p>&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;<div class="search-results__counts">&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;<div>&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;<div class="search-results__counts__bubble">891</div>&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;<div class="search-results__counts__description">&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;Checklists&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;<div>&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;123 records&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;</div>&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;</div>&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;</div>&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;<div>&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;<div class="search-results__counts__bubble">891</div>&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;<div class="search-results__counts__description">&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;Checklists&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;<div>&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;123 records&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;</div>&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;</div>&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;</div>&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;<div>&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;<div class="search-results__counts__bubble">891</div>&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;<div class="search-results__counts__description">&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;Checklists&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;<div>&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;123 records&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;</div>&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;</div>&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;</div>&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;</div>&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;<div>&ndash;&gt;-->
                        <!--&lt;!&ndash;<img style="max-width: 150px;max-height: 60px;" src="{{row.logoUrl}}">&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                        <!--&lt;!&ndash;</article>&ndash;&gt;-->

                        <!--<article class="search-results__list__item&#45;&#45;publisher"-->
                                 <!--ng-repeat="row in publisherTable.state.data.results">-->
                            <!--<div>-->
                                <!--<div>-->
                                    <!--<a href="../publisher/{{ row.key }}" class="search-results__list__item__logo"-->
                                       <!--ng-if="row.logoUrl">-->
                                        <!--<div class="">-->
                                            <!--<img ng-src="{{ row.logoUrl }}" onError="this.style.display = 'none'">-->
                                        <!--</div>-->
                                    <!--</a>-->
                                    <!--<h4 class="search-results__list__item__title">-->
                                        <!--<a href="/publisher/{{ row.key }}">{{ row.title }}</a>-->
                                    <!--</h4>-->
                                    <!--<div class="search-results__list__item__meta">-->
                                        <!--<dl class="inline">-->
                                            <!--<div ng-if="row._endorsingNodeKey.title">-->
                                                <!--<dt>endorsed by</dt>-->
                                                <!--<dd>-->
                                                    <!--{{ row._endorsingNodeKey.title }}-->
                                                <!--</dd>-->
                                            <!--</div>-->
                                            <!--<div>-->
                                                <!--<dt>published datasets</dt>-->
                                                <!--<dd>-->
                                                    <!--{{ row.numPublishedDatasets }}-->
                                                <!--</dd>-->
                                            <!--</div>-->
                                            <!--<div ng-if="row.country">-->
                                                <!--<dt>country</dt>-->
                                                <!--<dd translate="country.{{ row.country }}">-->
                                                    <!--{{ row.country }}-->
                                                <!--</dd>-->
                                            <!--</div>-->
                                        <!--</dl>-->
                                    <!--</div>-->

                                    <!--&lt;!&ndash;<p class="search-results__list__item__meta" ng-if="row._endorsingNodeKey.title">&ndash;&gt;-->
                                    <!--&lt;!&ndash;Endorsed by: {{ row._endorsingNodeKey.title }}&ndash;&gt;-->
                                    <!--&lt;!&ndash;</p>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<p class="search-results__list__item__meta">&ndash;&gt;-->
                                    <!--&lt;!&ndash;<a ui-sref="occurrenceSearchTable({publishing_org: row.key})">&ndash;&gt;-->
                                    <!--&lt;!&ndash;{{ row.numPublishedDatasets }} pubslied datasetes not translated&ndash;&gt;-->
                                    <!--&lt;!&ndash;</a>&ndash;&gt;-->
                                    <!--&lt;!&ndash;</p>&ndash;&gt;-->

                                    <!--&lt;!&ndash;<div class="search-results__counts" ng-if="row.numPublishedDatasets > 0">&ndash;&gt;-->
                                    <!--&lt;!&ndash;<div>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<div class="search-results__counts__bubble"> {{ row.numPublishedDatasets }}</div>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<div class="search-results__counts__description">&ndash;&gt;-->
                                    <!--&lt;!&ndash;<span translate="stdTerms.dataset" ng-if="row.numPublishedDatasets == 1">dataset</span>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<span translate="stdTerms.datasets" ng-if="row.numPublishedDatasets > 1">datasets</span>&ndash;&gt;-->
                                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</article>-->

                        <!--<uib-pagination-->
                                <!--total-items="publisherTable.state.data.count"-->
                                <!--ng-model="publisherTable.currentPage"-->
                                <!--max-size="publisherTable.maxSize"-->
                                <!--items-per-page="publisherTable.limit"-->
                                <!--class="pagination-sm"-->
                                <!--boundary-link-numbers="false"-->
                                <!--rotate="false"-->
                                <!--ng-change="publisherTable.pageChanged()"-->
                                <!--ng-show="publisherTable.state.data.count > publisherTable.limit">-->
                        <!--</uib-pagination>-->


                    <!--</div>-->
                <!--</div>-->


            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</article>-->
