.countryCoverage {
    &__count {
        > div {
            text-align center
            &:first-of-type {
                > * {
                    font-size 80px
                    font-weight 300
                }
            }
        }
    }
}