$home_overlay_opacity = 0.3
$dark_overlay_opacity = 0.4
$home_overlay_color_from = rgba(0, 0, 0, $home_overlay_opacity)
$home_overlay_color_to = rgba(0, 0, 0, 0)
$dark_overlay_color = rgba(0, 0, 0, $dark_overlay_opacity)

.confirmUser {
    min-height 100vh
    padding-top 100px
    background-color $navBar_background_color
    background-image linear-gradient(to right, $home_overlay_color_from, $home_overlay_color_to), url("//api.gbif.org/v1/image/2G6sGzY0UqkPoS1z8bar_fug55Y=/1500x750/http%3A//images.ctfassets.net/uo17ejk9rkwj/w3amXCuuXI2MI4ac6Eesa/28ddf7e71815437df1cf88f413855603/White_Leadtree_Leucaena_leucocephala.jpg")
    background-size cover
    background-position center
    padding-top: 100px
    .card {
        margin auto
        max-width 400px
    }
}


.imageWithCaption {
    position relative
    &__caption {
        font-size 12px
        position absolute
        right 0
        bottom 0
        padding 5px 10px
        color rgba(255, 255, 255, 0.5)
        a {
            color inherit
            text-decoration underline
        }
        &:hover {
            color white
            background rgba(0, 0, 0, 0.3)
        }
    }
}
